<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},~{::style},_)">
    <title>Lovappy Admin | Content Management</title>

    <link th:href="@{/css/adminLTE/manageusers.css}" rel="stylesheet" type="text/css">
    <style>
        .box-body.table-responsive.no-padding table tr td:nth-child(n + 5) {
            min-width: 10px !important;
        }

        .table th{
            text-align: center !important;
        }
    </style>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<!--/*@thymesVar id="user" type="com.realroofers.lovappy.service.user.dto.UserDto"*/-->

<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Users Management
                <!--<small>Optional description</small>-->
            </h1>
            <ul class="nav nav-tabs">
                <li class="active"><a th:href="@{/lox/users}">Manage Users</a></li>
                <li><a th:href="@{/lox/users/lastlogin}">Last Login/ Date Joined</a></li>
                <li><a th:href="@{/lox/users/purchases}">Purchases</a></li>
                <li><a th:href="@{/lox/users/complaints}">Complaints</a></li>


                <div class="container">
                    <div class="row"
                         th:replace="admin/fragments/search :: search (searchText=${searchText}, actionUrl='/lox/users')">

                    </div>
                </div>
            </ul>
            <div >
                <h4> User Roles:   A = Admin      B = Blogger     E = Ambassador    M = Musician    D = Developer R = Retailer BR = Brand</h4>


            </div>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Filter By:  </h3>
                    <select id="rolesSelector" onchange="getval(this);">
                        <option value="ALL"  th:selected="${role} == 'ALL'">All Users Roles</option>
                        <option value="ADMIN" th:selected="${role} == 'ADMIN'">Admin</option>
                        <option value="AUTHOR" th:selected="${role} == 'AUTHOR'">Blogger</option>
                        <option value="USER" th:selected="${role} == 'USER'">User</option>
                        <option value="AMBASSADOR" th:selected="${role} == 'AMBASSADOR'">Ambassador</option>
                        <option value="MUSICIAN" th:selected="${role} == 'MUSICIAN'">Musician</option>
                        <option value="DEVELOPER" th:selected="${role} == 'DEVELOPER'">Developer</option>
                    </select>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr style="text-align: center;">
                            <th width="5%">

                                <form th:action="@{/lox/users}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="userId" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="role" th:value="${role}" type="hidden">
                                    <button type="submit" class="headerBtn">Id</button>

                                </form>

                            </th>
                            <th width="30%">

                                <form th:action="@{/lox/users}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="email" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="role" th:value="${role}" type="hidden">
                                    <button type="submit" class="headerBtn">Email</button>

                                </form>

                            </th>

                            <th width="10%">Location</th>
                            <th width="10%">Roles</th>
                            <th width="10%">
                                <form th:action="@{/lox/users}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="createdOn" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="role" th:value="${role}" type="hidden">
                                    <button type="submit" class="headerBtn">Join Date</button>

                                </form>

                            </th>
                            <th width="10%">

                                <form th:action="@{/lox/users}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="emailVerified" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="role" th:value="${role}" type="hidden">
                                    <button type="submit" class="headerBtn">Verification</button>

                                </form>
                            </th>
                            <th width="5%">

                                <form th:action="@{/lox/users}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="loginsCount" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="role" th:value="${role}" type="hidden">
                                    <button type="submit" class="headerBtn">Logins</button>

                                </form>
                            </th>
                            <th width="10%">

                                <form th:action="@{/lox/users}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="lastLogin" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="role" th:value="${role}" type="hidden">
                                    <button type="submit" class="headerBtn">Last Login</button>

                                </form>

                            </th>
                            <th width="5%"></th>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td > <a th:href="@{/lox/users/__${user.ID}__}" class="btn btn-primary btn-xs" th:text="${user.ID}"></a></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a th:if="${user.userProfile.address != null}" class="btn btn-primary btn-xs showMap" data-toggle="modal"
                                   th:data-target="'#modalShowMap'+${user.ID}"
                                   th:attr="data-id=${user.ID}, data-lat=${user.userProfile.address.latitude},data-lng=${user.userProfile.address.longitude}">
                                    Show Map
                                </a>
                                <div class="modal fade" th:id="'modalShowMap'+${user.ID}"
                                     aria-labelledby="modalShowMap"
                                     role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title"><span
                                                >Show Location</span></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div th:id="'google-maps-container'+${user.ID}"
                                                         style="height: 450px; width: 100%;"></div>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-default"
                                                        data-dismiss="modal">
                                                    CLOSE
                                                </button>
                                            </div>

                                        </div>
                                        </form>
                                    </div>
                                </div>

                            </td>
                            <td th:text="${user.getAbbRoles()}"></td>
                            <td th:text="${user.createdOn}"></td>
                            <td><a th:unless="${user.emailVerified}" th:id="'btn_'+${user.ID}" th:onclick="'resendVerificationEmail(\'' + ${user.ID}+ '\');'" href="#"
                                   class="btn btn-success btn-xs">Resend Email</a></td>
                            <td th:text="${user.numberOfLogins}"></td>
                            <td th:text="${#dates.format(user.lastLogin, 'MM/dd/yyyy')}"></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->

                <!--pagination-->
                <div th:replace="admin/fragments/pagination :: pagination (pageContent=${users}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->
<!--<script src="../../../static/js/maps/gender.js" th:src="@{/js/maps/gender.js}" type="text/javascript"></script>-->
<script src="../../../static/js/adminLTE/manage_users.js" th:src="@{/js/adminLTE/manage_users.js}"
        type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var google_key = [[${google_key}]];
    var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&key=" + [[${google_key}]];

    (function () {
        var a = document.createElement('script');
        a.type = 'text/javascript';
        a.async = true;
        a.defer = true;
        a.src = google_url;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(a, s);
    })();


function getval(sel)
{ window.location.href = baseUrl + "/lox/users?role=" + sel.value;
}
    function resendVerificationEmail(id) {
        $("#btn_"+id).text('Please Wait !!');
        $("#btn_"+id).addClass('btn-warning');
        $("#btn_"+id).removeClass('btn-success');
        $.ajax({
            url: baseUrl + "/api/v1/user/verification/resend/"+id,
            type: "GET",
            success: function (data) {
                $("#btn_"+id).text('Resend Email');
                $("#btn_"+id).addClass('btn-success');
                $("#btn_"+id).removeClass('btn-warning');
                toastr.success("Email sent successfuly !!");
            },
            error: function (data) {
                $("#btn_"+id).text('Resend Email');
                $("#btn_"+id).addClass('btn-success');
                $("#btn_"+id).removeClass('btn-warning');
                toastr.error("Failed to send Email !!");
            }
        });
        return false;
    }

    /*]]>*/
</script>


</body>
</html>
