<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Review Users</title>

    <link th:href="@{/css/adminLTE/manageusers.css}" rel="stylesheet" type="text/css">

</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<!--/*@thymesVar id="user" type="com.realroofers.lovappy.service.user.dto.UserDto"*/-->
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Review Users
                <!--<small>Optional description</small>-->
            </h1>
            <ul class="nav nav-tabs">
                <li class="active"><a th:href="@{/lox/users/review}">Review Users</a></li>
                <div class="container">
                    <div class="row"
                         th:replace="admin/fragments/search :: search (searchText=${searchText}, actionUrl='/lox/users/review')">

                    </div>
                </div>
            </ul>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users</h3>
                </div>

                <div class="alert alert-success" id="success-alert" style="display:none"> Successfully Updated
                    (Approved/Rejected) Photos
                </div>
                <div class="alert alert-fail" id="fail-alert" style="display:none"> Could not Update Photos</div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" cellpadding="2" cellspacing="0">
                        <tbody>
                        <tr>
                            <th style="width: 10px">
                                <form th:action="@{/lox/users/review}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="searchText" th:value="${searchText}" type="hidden">
                                    <input name="filter" value="user.userId" type="hidden">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <button type="submit" class="headerBtn">ID</button>
                                </form>
                            </th>

                            <!--th></th -->
                            <th style="width: 30px" >Audio</th>
                            <th style="width: 10px" >
                                <form th:action="@{/lox/users/review}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfListeners" type="hidden"   >
                                    <button type="submit" class="headerBtn">Total Listeners</button>

                                </form>
                            </th>

                            <th style="width: 10px">
                                <form th:action="@{/lox/users/review}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfMaleListeners" type="hidden"   >
                                    <button type="submit" class="headerBtn">Male Listeners</button>

                                </form>
                            </th>
                            <th style="width: 10px">
                                <form  th:action="@{/lox/users/review}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfFemaleListeners" type="hidden"   >
                                    <button type="submit"  class="headerBtn">Female Listeners</button>

                                </form>
                            </th>
                            <th>Photo Visibility</th>
                            <th>Show in Home</th>
                            <th>Profile Photo</th>


                            <!-- Added -->
                            <th>Hands Photo</th>
                            <th>Feet Photo</th>
                            <!-- End Added -->
                            <th>Leg Photo</th>
                        </tr>
                        <tr th:each="user : ${users}" th:id="'row'+${user.userId}">
                            <td > <a th:href="@{/lox/users/__${user.userId}__}" class="btn btn-primary btn-xs" th:text="${user.userId}"></a> </td>


                            <td>
                                <div class="user-images clearfix">
                                    <div class="col-12">
                                        <div th:if="${user.lovstamp.audioFileCloud != null && user.lovstamp.audioFileCloud.url!=null}">
                                            <div class="mediPlayer">
                                                <audio class="listen" controls="controls" preload="none">
                                                    <source th:if="${user.lovstamp.audioFileCloud != null}"
                                                            th:src="${user.lovstamp.audioFileCloud.url}" type="audio/mp3"/>
                                                    Your browser does not support the audio element.
                                                </audio>
                                            </div>
                                        </div>
                                        <div th:unless="${user.lovstamp.audioFileCloud != null && user.lovstamp.audioFileCloud.url!=null}">
                                            Audio File not found !
                                        </div>
                                    </div>
                                    <div class="col-12" style="border-top: 1px solid #f4f4f4;bottom: 0;left: 0;">
                                        <fieldset>
                                            <div class="col-6">

                                                <label for="radio1">
                                                    Approved

                                                    <input type="radio" th:id="'approveprofileaudio'+${user.userId}"
                                                           th:if="${user.lovstamp.audioFileCloud != null}"
                                                           th:checked="${user.lovstamp.audioFileCloud.approved} == true"
                                                           th:name="'profileaudio'+${user.userId}" value="1">
                                                    <input type="radio" th:id="'approveprofileaudio'+${user.userId}"
                                                           th:if="${user.lovstamp.audioFileCloud == null}"
                                                           th:name="'profileaudio'+${user.userId}" value="1">
                                                </label>

                                            </div>
                                            <div class="col-6">
                                                <label for="radio1">
                                                    Rejected
                                                    <input type="radio" th:id="'rejectprofileaudio'+${user.userId}"
                                                           th:if="${user.lovstamp.audioFileCloud != null}"
                                                           th:checked="${user.lovstamp.audioFileCloud.rejected} == true"
                                                           th:name="'profileaudio'+${user.userId}" value="0">
                                                    <input type="radio" th:id="'rejectprofileaudio'+${user.userId}"
                                                           th:if="${user.lovstamp.audioFileCloud == null}"
                                                           th:name="'profileaudio'+${user.userId}" value="0">
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </td>
                            <td th:text="${user.lovstamp.numberOfListeners}"></td>

                            <td th:text="${user.lovstamp.numberOfMaleListeners}"></td>
                            <td  th:text="${user.lovstamp.numberOfFemaleListeners}"></td>
                            <td th:text="${user.profileVisibility}? 'Public' : 'Private'"></td>
                            <td >

                                <button  th:attr="data-id=${user.lovstamp.id},data-status=${user.lovstamp.showHome}?'HIDE' : 'SHOW'" type="button" th:class="${user.lovstamp.showHome} ? 'btn-home btn btn-success':'btn-home btn btn-danger'"
                                >
                                    [[${user.lovstamp.showHome} ? 'Hide' : 'Show']] <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                </button>
                            </td>
                            <td>
                                <div class="user-images clearfix">
                                    <div class="col-6">
                                        <img th:src="@{${user.getProfilePhotoCloudFileUrl()}}"
                                             alt="Skipped foot photo"/>
                                    </div>
                                    <div class="col-6">
                                        <fieldset>
                                            <div class="col-12">
                                                <label for="radio2">
                                                    Approved
                                                    <input type="radio" th:id="'approveprofilephoto'+${user.userId}"
                                                           th:checked="${user.profilePictureFile.approved} == true"
                                                           th:name="'profilephoto'+${user.userId}" value="1"
                                                           th:if="${user.profilePhotoCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'approveprofilephoto'+${user.userId}"
                                                           th:checked="${user.profilePictureFile.approved} == true"
                                                           th:name="'profilephoto'+${user.userId}" value="1"
                                                           th:if="${user.profilePhotoCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <label for="radio2">
                                                    Rejected
                                                    <input type="radio" th:id="'rejectprofilephoto'+${user.userId}"
                                                           th:checked="${user.profilePictureFile.rejected} == true"
                                                           th:name="'profilephoto'+${user.userId}" value="0"
                                                           th:if="${user.profilePhotoCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'rejectprofilephoto'+${user.userId}"
                                                           th:checked="${user.profilePictureFile.rejected} == true"
                                                           th:name="'profilephoto'+${user.userId}" value="0"
                                                           th:if="${user.profilePhotoCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </td>


                            <td>
                                <div class="user-images clearfix">
                                    <div class="col-6">
                                        <img th:src="@{${user.getHandsCloudFileUrl()}}"
                                             alt="Skipped foot photo"/>
                                    </div>
                                    <div class="col-6">
                                        <fieldset>
                                            <div class="col-12">
                                                <label for="radio3">
                                                    Approved
                                                    <input type="radio" th:id="'approvehandsphoto'+${user.userId}"
                                                           th:checked="${user.handsCloudFile.approved} == true"
                                                           th:name="'handsphoto'+${user.userId}" value="1"
                                                           th:if="${user.handsCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'approvehandsphoto'+${user.userId}"
                                                           th:checked="${user.handsCloudFile.approved} == true"
                                                           th:name="'handsphoto'+${user.userId}" value="1"
                                                           th:if="${user.handsCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <label for="radio3">
                                                    Rejected
                                                    <input type="radio" th:id="'rejecthandsphoto'+${user.userId}"
                                                           th:checked="${user.handsCloudFile.rejected} == true"
                                                           th:name="'handsphoto'+${user.userId}" value="0"
                                                           th:if="${user.handsCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'rejecthandsphoto'+${user.userId}"
                                                           th:checked="${user.handsCloudFile.rejected} == true"
                                                           th:name="'handsphoto'+${user.userId}" value="0"
                                                           th:if="${user.handsCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user-images clearfix">
                                    <div class="col-6">
                                        <img th:src="@{${user.getFeetCloudFileUrl()}}"
                                             alt="Skipped foot photo"/>
                                    </div>
                                    <div class="col-6">
                                        <fieldset>
                                            <div class="col-12">
                                                <label for="radio1">
                                                    Approved
                                                    <input type="radio" th:id="'approvefeetphoto'+${user.userId}"
                                                           th:checked="${user.feetCloudFile.approved} == true"
                                                           th:name="'feetphoto'+${user.userId}" value="1"
                                                           th:if="${user.feetCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'approvefeetphoto'+${user.userId}"
                                                           th:checked="${user.feetCloudFile.approved} == true"
                                                           th:name="'feetphoto'+${user.userId}" value="1"
                                                           th:if="${user.feetCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <label for="radio2">
                                                    Rejected
                                                    <input type="radio" th:id="'rejectfeetphoto'+${user.userId}"
                                                           th:checked="${user.feetCloudFile.rejected} == true"
                                                           th:name="'feetphoto'+${user.userId}" value="0"
                                                           th:if="${user.feetCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'rejectfeetphoto'+${user.userId}"
                                                           th:checked="${user.feetCloudFile.rejected} == true"
                                                           th:name="'feetphoto'+${user.userId}" value="0"
                                                           th:if="${user.feetCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user-images clearfix">
                                    <div class="col-6">
                                        <a th:class="'upload-image-wrapper '"><img
                                                th:src="@{${user.getLegsCloudFileUrl()}}"
                                                alt="Skipped foot photo"/></a>
                                    </div>
                                    <div class="col-6">
                                        <fieldset>
                                            <div class="col-12">
                                                <label for="radio1">
                                                    Approved
                                                    <input type="radio" th:id="'approvelegsphoto'+${user.userId}"
                                                           th:checked="${user.legsCloudFile.approved} == true"
                                                           th:name="'legsphoto'+${user.userId}" value="1"
                                                           th:if="${user.legsCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'approvelegsphoto'+${user.userId}"
                                                           th:checked="${user.legsCloudFile.approved} == true"
                                                           th:name="'legsphoto'+${user.userId}" value="1"
                                                           th:if="${user.legsCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <label for="radio2">
                                                    Rejected
                                                    <input type="radio" th:id="'rejectlegsphoto'+${user.userId}"
                                                           th:checked="${user.legsCloudFile.rejected} == true"
                                                           th:name="'legsphoto'+${user.userId}" value="0"
                                                           th:if="${user.legsCloudFileExists() == false}"
                                                           th:disabled="true">
                                                    <input type="radio" th:id="'rejectlegsphoto'+${user.userId}"
                                                           th:checked="${user.legsCloudFile.rejected} == true"
                                                           th:name="'legsphoto'+${user.userId}" value="0"
                                                           th:if="${user.legsCloudFileExists() == true}"
                                                           th:disabled="false">
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </td>
                            <!--<td th:if="${user.userProfile.getLastReviewed(user.audioFileCloud) != null}" th:text="${#dates.format(user.userProfile.getLastReviewed(user.audioFileCloud), 'MM/dd/YYYY')}"></td>-->
                            <!--<td th:unless="${user.userProfile.getLastReviewed(user.audioFileCloud) != null}" th:text="${'Not Reviewed'}"></td>-->
                        </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->

                <!--pagination-->
                <div th:replace="admin/fragments/pagination :: pagination (pageContent=${users}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->
<!--<script src="../../../static/js/maps/gender.js" th:src="@{/js/maps/gender.js}" type="text/javascript"></script>-->
<script src="../../../static/js/adminLTE/manage_users.js" th:src="@{/js/adminLTE/manage_users.js}"
        type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var google_key = [[${google_key}]];
    var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&key=" + [[${google_key}]];

    (function () {
        var a = document.createElement('script');
        a.type = 'text/javascript';
        a.async = true;
        a.defer = true;
        a.src = google_url;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(a, s);
    })();

    /*]]>*/
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script th:src="@{/js/jquery.fakecrop.js}" src="../../static/js/jquery.fakecrop.js" type="text/javascript"></script>
<script th:src="@{/js/communication-utils.js}" src="../../static/js/communication-utils.js"
        type="text/javascript"></script>


<!-- ./wrapper -->
<script src="../../../static/js/adminLTE/radio/radio.js" th:src="@{/js/adminLTE/radio/radio.js}" type="text/javascript"></script>


</body>
</html>