<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Content Management</title>


    <link th:href="@{/css/adminLTE/manageusers.css}" rel="stylesheet" type="text/css">
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<!--/*@thymesVar id="user" type="com.realroofers.lovappy.service.user.dto.UserDto"*/-->
<!--/*@thymesVar id="lovdrop" type="com.realroofers.lovappy.service.lovdrop.dto.LovdropDto"*/-->

<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                User Details
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">

                        <h4>General Information</h4>
                        <hr/>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${user.email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${user.firstName}">
                            </div>
                        </div>
                        <!-- Birth Date -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Birth Date</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled
                                       th:value="${#dates.format(user.userProfile.birthDate, 'MM/dd/yyyy')}">
                            </div>
                        </div>

                        <!-- Gender -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled
                                       th:value="${user.userProfile.gender}">
                            </div>
                        </div>

                        <!-- Height -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Height</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled
                                       th:value="${user.userProfile.heightFt + ', ' + user.userProfile.heightIn}">
                            </div>
                        </div>

                        <!-- Languages -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Languages</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled
                                       th:value="${user.userProfile.getSpeakingLanguagesAbb()}">
                            </div>
                        </div>

                        <!-- Subscription Type -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Subscription Type</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled
                                       th:value="${user.userProfile.subscriptionType}">
                            </div>
                        </div>
                        <!-- Subscription Type -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Skills</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled
                                       th:value="${user.userProfile.skills}">
                            </div>
                        </div>
                        <!-- Lovdrop -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lovappy</label>

                            <div class="col-sm-10">
                                <video th:if="${lovdrop != null}" controls="" style="height: 35px;width: 500px;">
                                    <source th:src="${lovdrop.audioFileCloud.url}" type="audio/mp3">
                                </video>
                            </div>
                        </div>

                        <!-- Location -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Location</label>

                            <div class="col-sm-10">
                                <input th:if="${user.userProfile.address != null}"  class="form-control col-sm-2" disabled
                                       th:value="${user.userProfile.address.country + ', '
                                                        + user.userProfile.address.state + ', '
                                                        + user.userProfile.address.city
                                                        + ' ('+user.userProfile.address.longitude + ', '
                                                        + user.userProfile.address.latitude + ')'}">
                            </div>
                        </div>


                        <h4>Images</h4>
                        <hr/>


                        <!-- Images -->
                        <div class="form-group">
                            <label class="col-lg-1 control-label">Hands</label>

                            <div class="col-lg-3">
                                <img th:src="@{${user.userProfile.getHandsCloudFileUrl()}}" style="width: 200px;">
                            </div>

                            <label class="col-lg-1 control-label">Feet</label>
                            <div class="col-lg-3">
                                <img th:src="@{${user.userProfile.getFeetCloudFileUrl()}}" style="width: 200px;">
                            </div>

                            <label class="col-lg-1 control-label">Legs</label>
                            <div class="col-lg-3">
                                <img th:src="@{${user.userProfile.getLegsCloudFileUrl()}}" style="width: 200px;">
                            </div>

                        </div>

                        <!-- Images -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Profile Picture</label>

                            <div class="col-sm-11">
                                <img th:src="@{${user.userProfile.getProfilePhotoCloudFileUrl()}}"
                                     style="width: 200px;">
                            </div>

                        </div>


                        <h4>Preferences</h4>
                        <hr/>

                        <!-- Personalities -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Personalities</label>

                            <!-- Hanging -->
                            <img th:if="${user.userProfile.personalities['outdoorsyORindoorsy'] == 'outdoorsy'}"
                                 th:src="@{/images/icons/preference_icons/hanging_outdoorsy.png}" alt="">
                            <img th:if="${user.userProfile.personalities['outdoorsyORindoorsy'] == 'indoorsy'}"
                                 th:src="@{/images/icons/preference_icons/hanging_indoorsy.png}" alt="">


                            <!-- Spending -->
                            <img th:if="${user.userProfile.personalities['frugalORbigspender'] == 'frugal'}"
                                 th:src="@{/images/icons/preference_icons/money_frugal.png}" alt="">
                            <img th:if="${user.userProfile.personalities['frugalORbigspender'] == 'big_spender'}"
                                 th:src="@{/images/icons/preference_icons/money_big_spender.png}" alt="">


                            <!-- Waking -->
                            <img th:if="${user.userProfile.personalities['morningpersonORnightowl'] == 'morning_person'}"
                                 th:src="@{/images/icons/preference_icons/waking_morning_person.png}" alt="">
                            <img th:if="${user.userProfile.personalities['morningpersonORnightowl'] == 'night_owl'}"
                                 th:src="@{/images/icons/preference_icons/waking_night-owl.png}" alt="">


                            <!-- Waking -->
                            <img th:if="${user.userProfile.personalities['extrovertORintrovert'] == 'extrovert'}"
                                 th:src="@{/images/icons/preference_icons/personality_extrovert.png}" alt="">
                            <img th:if="${user.userProfile.personalities['extrovertORintrovert'] == 'introvert'}"
                                 th:src="@{/images/icons/preference_icons/personality_introvert.png}" alt="">
                        </div>


                        <!-- Lifestyles -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lifestyles</label>

                            <!-- Pets -->
                            <div class="col-sm-10">

                                <img th:if="${user.userProfile.lifestyles['catORdog'] == 'dog'}"
                                     th:src="@{/images/icons/preference_icons/prefer_dogs.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['catORdog'] == 'cat'}"
                                     th:src="@{/images/icons/preference_icons/prefer_cat.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['catORdog'] == 'both_pets'}"
                                     th:src="@{/images/icons/preference_icons/prefer_both_pets.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['catORdog'] == 'no_pets'}"
                                     th:src="@{/images/icons/preference_icons/prefer_no_pets.png}" alt="">


                                <!-- Habits -->
                                <img th:if="${user.userProfile.lifestyles['drinker'] == 'drinker'}"
                                     th:src="@{/images/icons/preference_icons/habit_drinker.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['smoker'] == 'smoker'}"
                                     th:src="@{/images/icons/preference_icons/habit_smoker.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['user'] == 'user'}"
                                     th:src="@{/images/icons/preference_icons/habit_user.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['no-habit'] == 'no-habit'}"
                                     th:src="@{/images/icons/preference_icons/habit_none.png}" alt="">


                                <!-- Neighborhood -->
                                <img th:if="${user.userProfile.lifestyles['ruralORurbanORsuburban'] == 'rural'}"
                                     th:src="@{/images/icons/preference_icons/neighborhood_rural.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['ruralORurbanORsuburban'] == 'urban'}"
                                     th:src="@{/images/icons/preference_icons/neighborhood_urban.png}" alt="">
                                <img th:if="${user.userProfile.lifestyles['ruralORurbanORsuburban'] == 'suburban'}"
                                     th:src="@{/images/icons/preference_icons/neighborhood_suburban.png}" alt="">

                            </div>

                        </div>

                        <!-- Statuses -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Statuses</label>

                            <div class="col-sm-10">

                                <span th:if="${user.userProfile.statuses['employed'] == 'Y'}"
                                      class="label label-success">Employed</span>
                                <span th:if="${user.userProfile.statuses['employed'] == 'N'}"
                                      class="label label-danger">Not Employed</span>

                                <span th:if="${user.userProfile.statuses['risktaker'] == 'Y'}"
                                      class="label label-success">Risk Taker</span>
                                <span th:if="${user.userProfile.statuses['risktaker'] == 'N'}"
                                      class="label label-danger">Not a Risk Taker</span>

                                <span th:if="${user.userProfile.statuses['believeingod'] == 'Y'}"
                                      class="label label-success">Believe In God</span>
                                <span th:if="${user.userProfile.statuses['believeingod'] == 'N'}"
                                      class="label label-danger">Do Not Believe In God</span>

                                <span th:if="${user.userProfile.statuses['wantkids'] == 'Y'}"
                                      class="label label-success">Want Kids</span>
                                <span th:if="${user.userProfile.statuses['wantkids'] == 'N'}"
                                      class="label label-danger">Do Not Want Kids</span>

                                <span th:if="${user.userProfile.statuses['havekids'] == 'Y'}"
                                      class="label label-success">Have Kids</span>
                                <span th:if="${user.userProfile.statuses['havekids'] == 'N'}"
                                      class="label label-danger">Do Not Have Kids</span>

                            </div>
                        </div>


                        <input id="userId" type="hidden" th:value="${user.ID}">

                    </div>
                    <!-- /.box-body -->
                </form>
            </div>

            <!-- Survey Answers -->
            <div class="box box-info">

                <div class="box-header with-border">
                    <h3 class="box-title">Survey Answers</h3>
                </div>

                <!--/*@thymesVar id="survey" type="com.realroofers.lovappy.service.survey.dto.UserSurveyDto"*/-->
                <form th:if="${survey != null}" class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group" th:each="qqq : ${survey.surveyQuestionAnswer}">
                            <label class="col-sm-2 control-label" th:text="${qqq.question.title}"></label>

                            <div class="col-sm-10">
                                <input class="form-control" disabled th:value="${qqq.answer.title}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Manage Roles -->
            <div class="box box-info">

                <div class="box-header with-border">
                    <h3 class="box-title">Manage Roles</h3>
                </div>

                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Author</label>

                            <div class="col-sm-10">
                                <input id="authorRole" type="checkbox"
                                       th:checked="${not user.roles.?[name == 'AUTHOR'].isEmpty()}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Musician</label>

                            <div class="col-sm-10">
                                <input id="musicianRole" type="checkbox"
                                       th:checked="${not user.roles.?[name == 'MUSICIAN'].isEmpty()}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Event Ambassador</label>

                            <div class="col-sm-10">
                                <input id="eventRole" type="checkbox"
                                       th:checked="${not user.roles.?[name == 'EVENT_AMBASSADOR'].isEmpty() and user.ambassadorApproved}">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="box-footer">
                    <button id="btn-save" type="button" class="btn btn-success">
                        Save <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                    </button>
                </div>
            </div>

            <!-- Manage Suspend -->
            <div class="box box-info">

                <div class="box-header with-border">
                    <h3 class="box-title">Manage Suspend User</h3>
                </div>

                <div class="form-group">
                    <!-- Rounded switch -->

                    <p id="pauseText" th:text="${user.paused}?'Paused': 'Pause' " class="suspend">Pause</p>
                    <label class="switch">

                        <input type="checkbox" id="toggle-paused" th:checked="${user.paused}">
                        <span class="slider round"> </span>
                    </label>
                    <!-- Rounded switch -->

                    <p id="banText" class="suspend" th:text="${user.banned}?'Banned': 'Ban' ">Ban</p>
                    <label class="switch">

                        <input type="checkbox" id="toggle-banned" th:checked="${user.banned}">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript" src="../../static/js/adminLTE/user_profile.js"
        th:src="@{/js/adminLTE/user_profile.js}"></script>

</body>
</html>
