.quantity {
  position: relative;
  width: 180px;
  margin: auto;
  left: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.custom-couner .quantity input {
  width: calc(100% - 100px);
  height: 42px;
  line-height: 1.65;
  float: inherit;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-left: 0;
  border: 1px solid #eee;
  border-radius: 0;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 50px;
  text-align: center;
  color: #333;
  font-size: 21px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 41px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: #90a2b0;
  color: white;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 100%;
  left: 0;
  background: #90a2b0;
  color: white;
  top: 0;
}

.add-credit .main-content {
    margin-left: 0;
    width: calc(100% - 320px);
    padding: 30px 20px 0 20px;
    position: relative;
    text-align: center;
        margin: auto;
}

.custom-couner {
    margin-bottom: 20px;
}

.credit-title {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.add-credit .main-content .credit-title h2 {font-family: 'Nexa Bold', sans-serif;font-size: 21px;}

.credit-title h2 span {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    line-height: 30px;
}

.credit-title h3 {
    text-transform: uppercase;
    font-family: 'Nexa Bold', sans-serif;
}

.add-credit .main-content p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 50px;
}

.add-credit .main-content h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.add-credit .main-content h1 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Nexa Bold', sans-serif;
}

.my-account.add-credit h6 {
    margin: 0;
    font-size: 14px;
}

.credit-to-user {
    margin-bottom: 25px;
}

.credit-to-user img {
    height: 20px;
    vertical-align: middle;
}

.credit-to-user span {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Nexa Bold', sans-serif;
}