section.landing-section {
    background: url(../../images/adslanding1.jpg);
    padding: 20px 15px;
 }

section.landing-section.newslanding {
    background: url(../../images/adslanding2.jpg);
   padding: 20px 15px;
}

section.landing-section.adsmusic {
    background: url(../../images/adslanding3.jpg);
   padding: 20px 15px;
}

section.landing-section.main {
    background: url(../../images/adslanding5.jpg);
   padding: 20px 15px;
}

section.landing-section.comedy {
    background: url(../../images/adslanding4.jpg);
   padding: 20px 15px;
}

section.landing-section.audiobook {
    background: url(../../images/adslanding7.jpg);
   padding: 20px 15px;
}


.go-to-vlog > a:hover {
    background: #bb2727;
    color: white;
}

.go-to-vlog > a {
    background: #ec743b;
    text-decoration: none;
    padding: 7px 10px;
    display: block;
    max-width: 310px;
    margin: auto;
    font-size: 20px;
    color: #fef8ad;
    box-shadow: 0px 2px 0px #9e1919;
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Nexa Bold', sans-serif;
    letter-spacing: 0.03em;
    margin-left: 10px;
    transition: all 0.4s;
}

.content-left b {
        font-family: 'Nexa Bold', sans-serif;
}

.radio-list .box {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 1px solid #8c8c8c;
    height: 342px;
}

.radio-list .box-c:nth-child(6n) {
    margin-right: 0;
}

.go-to-vlog label {
    text-transform: uppercase;
    font-family: 'Nexa Bold', sans-serif;
}

.go-to-vlog {
    position: relative;
    z-index: 1;
    margin: 100px 0 20px 0;
    float: right;
}

.radio-list .box .box-img {
    height: 200px;
    position: relative;
    overflow: hidden;
    background-position: center!important;
    background-size: 206px 200px !important;
    background-repeat: no-repeat!important;
}

.radio-list .box .box-img:after {
    content: "";
    -webkit-box-shadow: 0 0 182px 122px rgba(0,0,0,.64);
    box-shadow: 0 0 312px 75px rgba(0,0,0,.64);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

.radio-list .box .user-id img {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.radio-list .box .box-img p {
    position: absolute;
    text-align: center;
    min-height: 30px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* background: black; */
    width: 80%;
    left: 50%;
    padding: 4px;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index: 199;
}

.radio-list .box .box-img span.news {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: #f96868;
    padding: 1px 2px;
    font-size: 11px;
    font-weight: bold;
}

.lovappy-icon {
    position: absolute;
    top: 8px;
    left: 30px;
    display: none!important;
}

.radio-list .box .box-img i.fa-play-circle-o, i.fa-pause-circle-o {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #f96868;
    font-size: 23px;
    cursor: pointer;
    z-index: 10;
}


.radio-list .box .main-content .user-status img {
    width: 20px;
    vertical-align: middle;
}

.radio-list .box .main-content {
    text-align: center;
    padding: 1px 0 6px 0;
    background-color: #f5d285;
    height: 140px;
    border: 5px solid transparent;
    position: relative;
}

.radio-list .box .main-content.active {
    border: 5px solid white;
}

.radio-star {
    position: absolute;
    left: 5px;
    bottom: 0px;
}

.radio-list .box .main-content .user-status a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    border: 1px solid #ec4c54;
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    cursor: default;
    position: relative;
}

.radio-list .box .main-content .view-profile a:hover {
    color: #316cb0;
}

.radio-list .box .main-content .user-status {
    margin-bottom: 4px;
}

.radio-list .box .main-content .user-status a span {
    position: absolute;
    background: white;
    bottom: 40px;
    left: -200%;
    display: none;
    min-width: 100px;
    border-radius: 3px;
}

.radio-list .box .main-content .user-status a:hover span {
    display: block;
}

.radio-list .box .main-content .user-status a span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
}

.radio-list .box .main-content .view-profile a {
    color: #465b6c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Nexa Bold', sans-serif;
}

.radio-list .box .main-content .lovdrop-actions img {
    height: 15px;
    cursor: pointer;
    margin-right: 6px;
    /* box-shadow: 1px 1px 3px 1px #f9f9f9; */
}

.radio-list .box .main-content .lovdrop-actions img:hover {
    /* box-shadow: 1px 1px 3px 1px #f9f9f9; */
    /* height: 20px; */
}


.radio-list .box .main-content .lovdrop-actions {
    margin-bottom: 6px;
}

.radio-list .box .main-content .radio-play {
    background: #f94b4c;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.radio-list .box .main-content .radio-play i {
    color: white;
    width: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    display: inline-block;
}

.radio-list .box .main-content .radio-play span {
    color: white;
    display: inline-block;
}

.radio-list .box .user-id {
    font-size: 12px;
    color: #8c8c8c;
}

.radio-list .ads {
    width: 208px;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 1px solid #8c8c8c;
    position: relative;
}

.radio-list .ads .box-img {
    height: 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}

.radio-list .ads .box-img span.news {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: #f96868;
    padding: 1px 2px;
    font-size: 11px;
    font-weight: bold;
}

.radio-list .ads .box-img i.fa-play-circle-o, i.fa-pause-circle-o {
    position: absolute;
    right: 0;
    bottom: 9px;
    color: #f96868;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}


.podcast-list.radio-list
 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    background: #f3f3f3;
    padding: 40px 0 0 0;
    margin-bottom: 40px;
}

.podcast-list.radio-list ul li {
    display: inline-block;
    margin: 0 25px;
    vertical-align: top;
}

.radio-skip {
    background: #b9d8ea;
    border: 1px solid #333;
    display: inline-block;
    padding: 0px 14px 0px 14px;
    border-radius: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 15px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
}

.podcast-content h2 {
    text-align: center;
    padding: 0 15px;
    padding-top: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.podcast-list.radio-list
 .ads-circle {
    position: absolute;
    bottom: 10px;
    font-size: 27px;
    color: #f96868;
    left: 0;
    right: 0;
}

.go-to-vlog > a.yellow-btn {
    background: #fef8ad;
}

.go-to-vlog > a.yellow-btn:hover {
    background: #b3a800;
    box-shadow: none;
}

section.advertise-landing ul {
    padding: 0;
    list-style: none;
    background: #f3f3f3;
    padding: 20px 0;
    margin-bottom: 30px;
    text-align: center;
}

section.advertise-landing ul li {width: 15.6667%;text-align: center;min-width: 188px;margin-bottom: 20px;display: inline-block;}

section.advertise-landing h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 15px;
}

section.ads-main-post .col-6 {
    width: 50%;
    float: left;
    padding: 30px;
}

section.ads-main-post img {
    max-width: 100%;
}

section.ads-main-post h2 {
    font-size: 20px;
}

section.ads-main-post ul {
    padding: 0;
}

@media (max-width: 767px) {
    section.ads-main-post .col-6 {
        width: 100%;
        float: left;
        padding: 30px;
    }

}