.ambassador-form {
    max-width: 767px;
    margin: auto;
    padding: 0 15px;
}

.ambassador-form label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}

.ambassador-form input {
    width: 100%;
}

.ambassador-form .ambassador-upload {
    margin-top: 40px;
}

.ambassador-hero-image img {
    width: 100%;
}

div#id-upload-container img {
    max-width: 100%;
}

.ambassador-hero-image p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    max-width: 797px;
    padding: 0px 30px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #4ac79b;
    text-align: center;
}

.ambassador-confirm input {
    width: auto;
}

.ambassador-confirm a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.ambassador-hero-image.ambassador-info p {
    text-align: left;
    max-width: 100%;
    padding: 5px 15px;
    width: 100%;
}

.ambassador-confirm button {
    background: #cd6b60;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 200;
}

.ambassador-confirm {
    text-align: center;
    margin: 20px 0;
}
.user-confirm {
    text-align: center;
    margin: 20px 0;
}
.ambassador-form input {
    width: 100%;
    border: 1px solid #4ac79b;
}

.ambassador-confirm input {
    width: auto;
}


/* vendor registration */

.form-container {
    max-width: 992px;
    margin: auto;
}

.form-container form .col-md-6 {
    width: 45%;
    float: left;
}

.col-md-6.first-child {
    margin-right: 10%;
}

.form-container label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.form-container input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #4ac89b;
}

.custom-upload {
    background: #ec743b;
    width: 180px;
    margin: auto;
    border-radius: 50%;
    font-size: 20px;
    padding: 30px 30px;
    color: white;
    line-height: 26px;
    cursor: pointer;
    text-transform: uppercase;
}

.form-container h2 {
    margin-top: 30px;
}

.form-things a {
    border: 1px solid #4ac89b;
    color: #4ac89b;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.add-location button {
    background: #4ac89b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 200;
}

.sub-btn {
    text-align: center;
}

button.submit-form {
    width: 50%;
    background: #4ac89b;
    padding: 15px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.03em;
    border-radius: 5px;
}

div#ambassador-terms ul {
    padding: 0;
    list-style: none;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

div#ambassador-terms ul
 li {
    margin-bottom: 14px;
}