body {
	margin: 0;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
* {box-sizing:border-box;}

.container {
	max-width: 1200px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;

}
.lovapy-cover {
	width: 100%;
	background: url('../../images/blogBG.png');
	background-size: cover;
	position: relative;
	margin-bottom: 43px;
	padding: 180px 0;
}

.lovapy-cover.auth {
    position: relative;
}

.lovapy-cover.auth:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.lovapy-cover.auth > div {
    position: relative;
    z-index: 999;
}

.ambassador-confirm button {
    background: #ec743b !important;
}

.lovapy-cover.cover-music {
	background: url('../../images/music/music-upload-cover.jpg');
	background-size: cover;
}

.lovapy-cover.cover-author {
	background: url('../../images/blog/blogsubmit.png');
}


.vendor-cover {
	background: url('../../images/brand_header.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 100px black;
}

.user-notification {
	max-width: 992px;
	margin: auto;
	padding: 0 15px;
	margin-bottom: 25px;
	padding-top: 20px;
}

.user-notification h2 {
	font-family: 'Nexa Bold', sans-serif;
	text-transform: uppercase;
}

.ambassor-registration h1 {
	font-size: 50px;
	color: #cd6f56;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 40px;
	margin: auto;
	text-shadow: 1px 1px 1px #ccc;
}
.mini-content {
	margin-bottom: 43px;
}
.mini-content p {
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	max-width: 992px;
	margin: auto;
}

.upload-image {
	text-align: center;
	max-width: 50%;
	padding: 0px 15px 0;
	margin-top: 50px;
	margin: 50px auto 0;
}

.upload-image .border {
	border: 1px solid #5a819e;
	width: 70%;
	margin: auto;
	margin-bottom: 15px;
}

span.noticeNumber {
    position: absolute;
    bottom: -11px;
    font-size: 10px;
    color: #8a8a8a;
    letter-spacing: 0.03em;
}

.upload-image label {
	width: 100%;
	display: block;
}

.upload-image input#upload {
	display: none;
}
.upload-image p a {
	font-weight: bold;
	color: black;
	text-decoration: none;

}

.upload-image button {
	width: 240px;
	background: #ec743b;
	color: white;
	padding: 9px 0;
	font-size: 20px;
	border-radius: 5px;
	border: 0;
	font-family: 'Nexa Light', sans-serif;
	margin-bottom:  15px;
	font-size: 17px;
}

.upload-image h2 {
    color: #5a819e;
    margin-bottom: 10px;
}

.upload-image .upload {
    margin-bottom: 20px;
}

.upload-image label {
    margin-bottom: 20px;
}

.sign-in {
	width: 100%;
	margin: auto;
	max-width: 600px;
	/* display: flex; */
	margin-bottom: 30px;
}

.sign-in a {
	display: block;
	width: 90%;
	margin-top: 35px;
}

.sign-in a:first-child {
	background: #3b5c92;
	margin-right: 10%;
	text-decoration: none;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 9px;
	width:  240px;
	margin: auto;
	margin-bottom:  15px;
}

.sign-in a:last-child {
	background: #cf5d45;
	text-decoration: none;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 9px;
	margin-top: 0;
	width: 240px;
	margin: 0 auto 0!important;
}



/*author registration */

.blog-help {
    max-width: 992px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 25px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.blog-help ul {
    list-style: decimal;
    padding-left: 15px;
}

.blog-help ul li {
    margin-bottom: 10px;
}

.blog-help ul li ul {
    margin-top: 15px;
}

.blog-help h2 {
    font-family: 'Nexa Bold', sans-serif;
    text-transform: uppercase;
}

.first-step.clearfix ul {
    max-width: 940px;
    padding: 0 15px;
    margin: auto;
}

.first-step.clearfix ul li {
    list-style: none;
    padding: 0 30px;
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.first-step.clearfix ul li input {
    width: 100%;
    font-family: 'Nexa Light', sans-serif;
    font-size: 15px;
}

.vendor-title {
    max-width: 936px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 20px;
    text-align: center;
}

.vendor-title h2 {
    margin-bottom: 10px;
    font-family: 'Nexa Bold', sans-serif;
    text-transform: uppercase;
}

.second-step ul {
    max-width: 940px;
    padding: 0 15px;
    margin: auto;
}

.second-step ul li {
    list-style: none;
    padding: 0 30px;
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.second-step ul li input {
    width: 100%;
    font-family: 'Nexa Light', sans-serif;
    font-size: 15px;
}

.second-step {
    margin-top: 30px;
}

.vendor-buttons {
    max-width: 880px;
    margin: auto;
    padding: 0 15px;
}

.upload-store label {
    text-transform: uppercase;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 12px;
    display: block;
}

.upload-photo button {
    background: #465a65;
    color: white;
    font-family: 'Nexa Light', sans-serif;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    padding: 0 20px;
    width: 140px;
}

.upload-photo {
    float: left;
}

.download-button {
    float: right;
}

.download-button
 button {
    background: transparent;
    color: white;
    font-family: 'Nexa Light', sans-serif;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    padding: 0 20px;
    width: 140px;
    vertical-align: text-bottom;
    border: 1px solid #465a65;
    color: #465a65;
    margin-left: 10px;
}

.vendor-cover .ambassor-registration h1 {
    text-shadow: 2px 2px 1px black;
}

/* vendor registration */
.vendor-cover {
    padding-top: 200px;
    padding-bottom: 200px;

}
.vendor-cover .ambassor-registration p {
    color: white;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 1px black;
    font-size: 18px;
    line-height: 25px;
}
.lovapy-vendor  {
    padding-bottom: 50px;
    padding-top: 30px;
}
.radio-right-pos.full-width {
    width: 50%;
    margin-top: 50px;
}
.lovapy-vendor p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
}
.lovapy-vendor span {
    font-weight: bold;
}
.vendor-call p {
    color: #ccc;
}
.vendor-call input {
    color: black;
}
.registration-field ul {
    padding: 0;
}
.vendor-call .continue button {
    color: white;
    background: blue;
    width: 50px;
}

.vendor-call label {
    display: inline-block;
    width: 35%;
    margin: 0;
}

.vendor-call {
    margin: 15px 0;
}

.vendor-call p {
    margin-bottom: 15px;
}

.lovapy-vendor img {
    max-width: 936px;
    margin: auto;
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-top: 30px;
}

.blog-help .img img {
    max-width: 100%;
}

.retailer-registration-buttons {
    text-align: center;
}

.retailer-registration-buttons .btn {
    font-family: 'Nexa Light', sans-serif;
    padding: 10px 10px;
    border: 1px solid #999;
    color: #999;
    font-size: 14px;
    margin: 0 5px;
    width: 200px;
    line-height: 20px;
}

.retailer-submit
 .btn {
    font-family: 'Nexa Light', sans-serif;
    background: #4ac79b;
    color: white;
    margin: 20px 0;
}

.retailer-submit {
    text-align: center;
}

.vendor-submit {
    text-align: center;
    margin: 30px 0;
}

.first-step.clearfix ul li.full-width {
    width: 100%;
    display: flex;
}

.upload-image p {
    margin-bottom: 10px;
    font-weight: bold;
}

li.full-width .radio {
    width: 100%;
    float: left;
    margin: 0;
    margin-bottom: 30px;
}

form#reg-form {
    position: relative;
    overflow-x: hidden;
}

li.full-width p {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Nexa Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 0 40px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.first-step.clearfix ul li.full-width input {
    width: auto;
}

.first-step.clearfix ul li.full-width label {
    width: 100%;
    display: block;
    text-align: left;
}

.lovapy-vendor .col-6 {
    width: 50%;
}

.lovapy-vendor .vendor-box {
    display: flex;
    flex-flow: wrap;
}

.lovapy-vendor .ui.form .inline.field label {
    width: 200px;
}

.lovapy-vendor .container .vendor-box .ui.form .inline .field label:before {}

.lovapy-vendor .container .vendor-box .ui.form .inline .field label:before {
    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: none;
    z-index: 2;
    width: 0.6666em;
    height: 0.6666em;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
    border-width: 1px 1px 0px 0px;
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
    top: 50%;
    right: 0%;
    bottom: auto;
    left: auto;
    background: #E8E8E8;
}

.lovapy-vendor .container .vendor-box .ui.form .inline .field label {
    width: 187px;
    font-family: 'Nexa Light', sans-serif;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 0.5833em 0.833em;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
    font-weight: 400;
    margin-right: 20px;
    position: relative;
}

.lovapy-vendor .container .vendor-box .ui.form .inline .field .ui.search {
    width: 100%;
}

.lovapy-vendor .vendor-box h3 {text-align: center;margin-bottom: 0px;font-size: 14px;font-family: 'Nexa Bold', sans-serif;letter-spacing: 0.04em;}

.lovapy-vendor .vendor-box img {
    border: 0;
}

.vendor-box-right {
    text-align: center;
}

.clearfix.vendor-box.vendor-upload-image {
    margin-top: 40px;
}

/* end of vendor registration */



@media (max-width: 991px) {
    form#reg-form {
        padding: 0 15px;
    }
}
@media (max-width: 767px) {

    .sign-in {
        padding: 0 15px;
    }
    .first-step.clearfix ul li {
        width: 100%;
    }
    .second-step ul li {
        width: 100%;
    }
    .upload-photo {
        float: left;
        width: 100%;
        text-align: center;
        margin: 15px 0 0;
    }
    .download-button {
        float: right;
        width: 100%;
        text-align: center;
    }
    .download-button button {
        margin: 15px auto 15px;
        display: block;
    }
    .upload-store label {
        text-align: center;
    }
    .first-step.clearfix ul li.full-width {
        width: 100%;
        display: flex;
        flex-flow: wrap;
    }
    .upload-image {
        text-align: center;
        max-width: 100%;
        padding: 0px 15px 0;
        margin-top: 50px;
    }
    .radio-right-pos.full-width {
        width: 100%;
        margin-top: 50px;
    }
}

@media (max-width: 479px) {
    .sign-in {
        /* padding: 0 15px; */
        /* flex-flow: wrap; */
    }
    .sign-in a {
        display: block;
        width: 100%;
        margin-top: 35px;
    }
}