section.Careers_Landing {
    text-align: center;
    padding: 90px 15px 133px;
    color: white;
    position: relative;
    background: url(../../images/careers/careers_hero.jpeg) no-repeat center;
}

section.Careers_Landing h1 {
    position: relative;
    z-index: 10;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Nexa Bold', sans-serif;
}

section.Careers_Landing h3 {
    position: relative;
    z-index: 10;
    margin-bottom: 70px;
    font-size: 30px;
    letter-spacing: 0.03em;
}

.addnew {
    padding: 15px;
}

.addnew .header {
    padding: 15px 20px;
    text-align: center;
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 20px;
}

button.btn.btnSubmit {
    background: #5a819e;
    color: white;
    transition: all .4s;
    font-family: 'Nexa Light', sans-serif;
}

button.btn.btnSubmit:hover {
    background: #ec743b;
    color: #fef8ad;
}

button.btn.btnCancel {
    color: #ec743b;
    border: 1px solid #ec743b;
}

div#positionModal .content {
    border-bottom: 1px solid #5a819e;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.moreBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.addnew .box-list .box-list-left {}

.addnew .box-list .box-list-left {
    display: flex;
    align-items: normal;
}

.addnew .box-list .box-list-left h3 {
    margin: 0;
}

.addnew .box-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.addnew .box-list .box-list-right h4 {
    margin: 0;
}

.addnew .box-list .box-list-right a {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    background: #5a819e;
    color: white;
    float: right;
    padding: 10px 18px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

section.Careers_Landing p {
    position: relative;
    z-index: 10;
    font-size: 21px;
}

section.Careers_Landing:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

section.Careers_Content .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

section.Careers_Content h2 {
    text-align: center;
}

section.Careers_Content ul {
    padding: 0;
    list-style: none;
}

section.Careers_Content.Careers_DetailContent {text-align: center;line-height: 21px;}

section.Careers_Content.Careers_DetailContent button {
    background: #ec743b;
    color: white;
    font-family: 'Nexa Light', sans-serif;
    line-height: 24px;
    margin-top: 20px;
}

h4.ui.dividing.header {
    margin-bottom: 30px;
}

section.Careers_Content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.Careers_Content ul li h4 {
    margin: 0;
    font-family: 'Nexa Bold', sans-serif;
    text-transition: uppercase;
}

section.Careers_Content ul li p {
    margin: 0;
}

section.Careers_Content ul li button {
    background: #5a819e;
    color: white;
    padding: 5px 20px;
    margin-top: 8px;
}

section.Careers_Content ul li {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}


section.Careers_Content.Careers_DetailContent ul li {
    margin: 0;
}

section.Careers_Content.Careers_DetailContent {
    margin-bottom: 30px;
}

section.Careers_Content.careers-list ul li:hover {
    background: #eee;
}

.four.wide.field.edication-history label {
    margin-top: 30px;
}

section.Careers_Content.careers-list ul:nth-child(even) li {
    background: #eee;
}
.four.wide.field.edication-history {
    border-right: 1px solid #ec743b;
}

.four.wide.field.edication-history a {
    text-decoration: none;
    display: block;
    text-align: right;
    color: #ec743b;
    text-transform: uppercase;
    margin-top: 40px;
}

.four.wide.field.edication-history {
    padding-bottom: 30px;
}

.twelve.wide.field.employment-history .ui.checkbox {
    margin-bottom: 14px;
}

.twelve.wide.field.employment-history a {
    text-decoration: none;
    display: block;
    text-align: right;
    color: #ec743b;
    text-transform: uppercase;
    margin-top: 40px;
}

.twelve.wide.field.employment-history {
    border-right: 1px solid #ec743b;
}

html .ui.dividing.header {
    padding-bottom: 0.21428571rem;
    border-bottom: 1px solid #ec743b;
}

.career-apply-submit {
    text-align: center;
}

.career-apply-submit button {
    margin: 15px 0;
    color: white;
    background: #5a819e;
    transition: all .4s;
    font-family: 'Nexa Light', sans-serif;
}

.career-apply-submit button:hover {
    background: #ec743b;
    color: #fef8ad;
}


.four.wide.column .ui.checkbox {
    margin-bottom: 10px;
    display: block;
}

.ui.modal.confirmterms.transition.visible.active {
    text-align: center;
}

div#edicationHistory .modal-content {
    padding: 15px;
}

div#edicationHistory .modal-container {
    padding: 15px;
    max-width: 450px;
    margin: auto;
}

div#edicationHistory .modal-container .ui label {
    margin: 30px 0 10px 0;
}

div#edicationHistory .modal-container .saveBtn {
    text-align: center;
}

div#edicationHistory .modal-container .saveBtn button {
    background: #5a819e;
    color: white;
    transition: all .4s;
    font-family: 'Nexa Light', sans-serif;
    letter-spacing: 0.05em;
}

div#edicationHistory .modal-container .saveBtn button:hover {
    background: #ec743b;
    color: #fef8ad;
}

/* employmentEducation */

div#employmentEducation .modal-content {
    padding: 15px;
}

div#employmentEducation .modal-container {
    padding: 15px;
    max-width: 100%;
    margin: auto;
}

div#employmentEducation .modal-container .ui label {
    margin: 30px 0 10px 0;
}

div#employmentEducation .modal-container .saveBtn {
    text-align: center;
}

div#employmentEducation .modal-container .saveBtn button {
    background: #5a819e;
    color: white;
    transition: all .4s;
    font-family: 'Nexa Light', sans-serif;
    letter-spacing: 0.05em;
}

div#employmentEducation .modal-container .saveBtn button:hover {
    background: #ec743b;
    color: #fef8ad;
}

sup.requiredField {
    font-size: 20px;
    color: red;
    vertical-align: middle;
}

.educationStatus ul {
    padding: 0;
    list-style: none;
}

section.Careers_Content .educationStatus ul li {
    display: block;
    padding: 10px 0;
}

form.moreButton-Careers {
    text-align: right;
}

section.Careers_Content .educationStatus ul li h3 {
    margin-bottom: 5px;
    font-family: 'Nexa Bold', sans-serif;
}


@media (max-width: 550px) {
    section.Careers_Content ul li {
        display: block;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
}

