.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.header-nav ul {
    padding: 0;
    list-style: none;
    background: #bbbbbb;
}

.header-nav ul li {
    display: inline-block;
    width: 33.333%;
    text-align: center;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 22px 0;
}

.header-nav ul li.active {
    background: #ec743b;
}

.header-nav {
    margin: 30px 0;
}

.registration-form ul {
    padding: 0;
    list-style: none;
}

.registration-form ul li
 label {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
}

.registration-form ul li .choose-options {
    display: inline-flex;
    vertical-align: middle;
    width: 80px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}

.registration-form ul li .choose-options.active {
    border-bottom: 1px solid #ccc;
}

.registration-form ul li:after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 30px;
}

.registration-form ul li .choose-options img {
    width: auto;
    height: 40px;
    margin: auto;
}

.registration-form ul li {
    margin-bottom: 60px;
}

.registration-form ul li .choose-options:nth-child(2) {
    border-right: 1px solid #ccc;
}

.ppt {
    display: block;
}

.box-right {
    display: inline-grid;
    vertical-align: middle;
}

.count-events {
    display: inline-block;
}

.count-events .qtyminus {
    background: #00aeef;
    color: white;
    padding: 8px 17px;
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.count-events .qty {
    display: inline-block;
    border-radius: 0;
    border: 1px solid #00aeef;
    padding: 18.5px 10px;
    text-align: center;
}

.count-events .qtyplus {
    float: right;
    padding: 8px 17px;
    background: #00aeef;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.registration-form ul li
 .upload {
    display: inline-block;
    vertical-align: middle;
}

.registration-form ul li
 label span {
    font-size: 14px;
}

.registration-form ul li
 .upload input {
    display: none;
}

.registration-form ul li
 .upload label {
    width: auto;
    cursor: pointer;
}

.continue input[type=submit] {
    background: #ec743b;
    display: block;
    width: 140px;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}

.choose-options label input {
    /*display: none;*/
}

.choose-options label input {
    visibility: hidden;
    position: absolute;
}

.choose-options label span {
    display: block;
}

.choose-options label input {
    visibility: hidden;
    position: absolute;
}

.choose-options label span {
    display: block;
}

.datap1 {}

.datap1 .datepicker {position: absolute!important;top: 38px;opacity: 0; visibility: hidden;}

li.datap1 {
    position: relative;
}

.datap1 .box-right:hover .datepicker {
    opacity: 1;
    visibility: visible;
}


.datap2 .datepicker {position: absolute!important;top: 38px;opacity: 0; visibility: hidden;}

li.datap2 {
    position: relative;
}

.datap2 .box-right:hover .datepicker {
    opacity: 1;
    visibility: visible;
}