section.hero {
    text-align: center;
    padding: 15vh 15px 15vh;
    background: url('../../images/faq/background.jpeg');
    background-size: cover;
    background-position: center;
}

section.hero h2 {
    margin-bottom: 10px;
    color: white;
    font-family: 'Nexa Bold', sans-serif;
    text-transform: uppercase;
    font-size: 33px;
    letter-spacing: 0.03em;
    text-shadow: 1px 1px 1px #333;
}

section.hero p {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 30px;
    text-shadow: 1px 2px 5px #333;
    font-family: 'Nexa Bold', sans-serif;
}

section.faq-container ul li.active h2 i {
    transform: rotate(90deg);
}

section.hero p a {
    color: white;
}

section.faq-container ul li ul {
    display: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

section.faq-container ul {
    padding: 0;
    list-style: none;
}

section.faq-container ul li ul {
    padding-left: 30px;
    list-style-type: disc;
}

section.faq-container ul li ul li h3 {
    margin-bottom: 10px;
    font-family: 'Nexa Bold', sans-serif;
}

section.faq-container ul li ul li {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}

section.faq-container h2 {
    margin-bottom: 20px;
}

section.faq-container {
    padding: 20px 0;
}

section.faq-container h2
 i {
    cursor: pointer;
}

section.faq-container ul
 li {
    margin-bottom: 40px;
}