.fb-button{
   background-color: #3b5b93;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    border-radius: 8px;
    width: 32%
}


.google-button{
    background-color: #cf5d45;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    border-radius: 8px;
    width: 32%
}


section#homepage-plans {
    margin-top: 0;
}

div#homepage-prime-plan {
    background: url(../../images/prime_bg.png) no-repeat center;
    border-right: 5px solid #ec743b;
    border-bottom: 6px solid #ec743b;
}

div#homepage-lite-plan {
    background: url(../../images/lite_bg.png) no-repeat center;
    margin-left: 0;
    border-bottom: 5px solid #4ed7a5;
}

div#homepage-lite-plan, div#homepage-prime-plan {
    background-size: 100% 100%;
    padding: 100px 0;
}

.plans img {
    width: 85%;
}

@media (min-width: 550px) {
    .plans {
        width: 50% !important;
    }
}
.section-title-blog {
    background-color: #4ed7a5;
    border-bottom: 5px solid #4ed7a5;
     background-size: 100% 100%;
}

.second-blog {
    background: url(../images/wed_pic.png) no-repeat center;
    background-size: 100% 100%;
    border-right: 2px solid #4ed7a5;
    border-left: 2px solid #4ed7a5;
    border-bottom: 5px solid #4ed7a5;
}

.third-blog {
    background: url(../images/rings.png) no-repeat center;
    background-size: 100% 100%;
    border-right: 5px solid #4ed7a5;
    border-bottom: 5px solid #4ed7a5;
}

.fourth-blog {
    background: url(../images/heart.png) no-repeat center;
    background-size: 100% 100%;
    border-left: 2px solid #4ed7a5;
    border-right: 2px solid #4ed7a5;



}

.fifth-blog {
    background: url(../images/lips.png) no-repeat center;
    background-size: 100% 100%;
    border-right: 5px solid #4ed7a5;
}

.sixth-blog {
    background: url(../images/stand.png) no-repeat center;
    background-size: 100% 100%;
    border-right: 5px solid #4ed7a5;
}

section#homepage-featured-blog span {
    font-size: 36px;
    font-weight: bold;
    color: black!important;
    text-shadow: 1px 1px 5px white;
}

section#homepage-featured-blog span a {
    color: #000000;
    text-decoration: none;
}

section#homepage-featured-blog .columns {
    padding: 0;
    margin-left: 0;
    height: 250px;
    padding-top: 80px;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat;
}

a.how-its-work {
    display: block;
    text-decoration: none;
    color: #333;
    background: #ffc200;
    width: 200px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 7px;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

a.how-its-work img {
    max-width: 40px;
    float: left;
    margin-right: 6px;
}

.lovdrop-user-top p {
    height: 150px;
    padding: 26px 5px 10px 5px;
    font-size: 14px;
    text-align: justify;
    line-height: 17px;
    margin: 0;
    width: 100%;
}

.lovdrop-user-top {
    border-bottom: 1px solid #222;
    position: relative;
}

.lovdrop-user-top span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 50px;
    width: 50px;
    background: #fa4a4a;
    border-radius: 50%;
    cursor: pointer;
}

.lovdrop-user-top span img {
    width: 30px;
    height: 30px;
    left: 11px;
    position: relative;
    top: 11px;
}

.lovdrop-user-top img {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
}

.lovdrop-user-top h3 {
    top: -6px;
    z-index: 999;
    background: #fc7272;
    max-width: 70%;
    margin: auto;
    font-size: 13px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 9px;
    font-family: 'Nexa Light', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
}

section#homepage-features {
    margin-top: 30px;
}

section#homepage-features
 h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

section#homepage-features .last-column {
    border: 0;
}

section#homepage-featured-blog {
    margin-top: 0;
}

section#homepage-featured-blog ol a {
    text-decoration: none;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ec743b;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.field .option {
    display: inline-block;
    margin: 0 10px;
}

.field {
    margin: 30px 0;
}

@media (min-width: 550px) {
    .fourth-blog, .second-blog, .section-title-blog {
        width: 33.33% !important;
    }
}

@media (max-width: 767px){
    section#homepage-features .four {
        margin: 0;
    }
}
@media (min-width: 550px) {
    section#homepage-featured-blog .columns {
        width: 33%;
    }
}

span.features-boxes {
    color: #cbcaca;
    font-size: 32px;
}

div.feature-box-with-border {
    border-right: 1px solid #cbcaca;
}

@media (max-width: 550px) {
    div.feature-box-with-border {
        border: none;
    }
    .section-title-blog{
        width: 100% !important;
    }
}
