.contenidovid {
    width: 100%;
    margin: 0 auto;
    float:left;
    background-color: white;
}

.video-wrapper {
    position: relative;
    height: 300px;
    float: left;
    width: 30%;
    margin: 1%;
}

.video-wrapper-narrow {
    padding-bottom: 40%;
}

iframe,object,embed,video,.videoWrapper,.video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-js, img.vjs-poster {
    width: 100% !important;
    height: 100% !important; //these need !important because IE wants to set height/width to 100px
max-width: 100%;
}