.wrapper{
    padding: 0em 1em;
}

.icons-group{
    margin: 1em 0em 1em 0em;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 2em 0em;
}

.half-group{
    width: 49.8%;
}

.right-legend{
    text-align: right;
}

.icons-group legend{
    font-size: 24px;
    padding: 0em 0.5em;
    text-transform: uppercase;
}
.bottom-legend{
    position: absolute;
    bottom: -12px;
    right: 5px;
    background: white;
}

.top-legend{
    position: absolute;
    top: -12px;
    right: 5px;
    background: white;
}

.icon-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40px;
}

.half-group .icon-item{
    width: 48% !important;
}

.half-group .icon-item p{
    width: 70%;
}

.icon-item img{
    height: 30px;
    margin-right: 1em;
}

.icon-item p{
    width: 40%;
}

@media all and (max-width: 1100px){
    .half-group{
        width: 49.7%;
    }
}

@media all and (max-width: 820px){
    .half-group{
        width: 100%;
    }
    .icon-item{
        width: 49%;
    }
    .icon-item p {
        width: 60%;
    }
}