img {
    max-width: 100%;
}
.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
}

section.info-sec.infographic-section-four.clearfix {}

section.info-sec.infographic-section-four.clearfix img.info-absolute {
    right: 330px;
    top: -130px;
}

.couples-infographic section.info-sec.infographic-section-four.clearfix {
    padding-top: 80px;
}

section.info-sec.infographic-section-five.clearfix img.info-absolute {
    top: -150px;
    z-index: 1000;
    right: -70px;
}

section.infographic-section-seven .info-absolute {
    left: 24%;
    position: absolute;
    top: -90px;
    z-index: 1000;
}

section.infographic-header {
    text-align: center;
    background: #333333;
    padding: 30px 0;
    position: relative;
}

section.infographic-header
 img {
    display: grid;
    margin: auto;
    max-width: 100%;
}

section.infographic-header
 img:first-child {
    margin-bottom: 20px;
}

section.infographic-header p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

section.infographic-header:after {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #333;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

section.info-sec:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    margin: auto;
}

section.info-sec.infographic-section-two {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.look-for-love {
    position: absolute;
    right: 0;
    left: 0;
    width: 120px;
    height: 120px;
    margin: auto;
    border: 2px solid #333;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    padding-top: 33px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    color: #f74b4b;
    background: white;
    top: 31px;
}

section.info-sec.infographic-section-three {
    position: relative;
    text-align: center;
    padding: 90px 0 30px 0;
    background: url('../../images/infographic/section2-bg.jpg');
}

section.info-sec.infographic-section-three .connection {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

img.mini-logo {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    margin: auto;
}

section.info-sec.infographic-section-four.clearfix {
    position: relative;
    text-align: center;
    padding: 30px 0;
}

section.share-music {
    position: relative;
    background: #3c465f;
    text-align: center;
    padding: 20px 0;
    z-index: 1;
}

section.share-music h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

section.share-music p {
    color: white;
}

section.share-music:after {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3c465f;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

section.info-sec.infographic-section-five {
    position: relative;
    text-align: center;
    padding: 90px 0;
}

section.info-sec.infographic-section-five .middle-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 40px;
}

section.send-gift {
    background: #fdc20e;
    position: relative;
    text-align: center;
    padding: 30px 0;
    z-index: 1;
}

section.send-gift h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

section.send-gift p {
    font-weight: bold;
    font-size: 18px;
}

section.send-gift:after {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fdc20e;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

section.info-sec.infographic-section-six img {
    position: relative;
    z-index: 10;
}

section.info-sec.infographic-section-six {
    position: relative;
    text-align: center;
    padding: 30px 0px;
}

section.infographic-section-seven {
    background: #3c465f;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

section.infographic-section-eight .info-absolute {
    position: absolute;
    bottom: 30px;
}

section.infographic-section-eight {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

body.couples-infographic
 a {
    text-decoration: none;
}

.how-work-main a {
    text-decoration: none;
    color: #333333;
}

section.infographic-last-section {
    padding: 50px 0;
    background: #333333;
}

/* how this main page */

.info-container .box1 {
    background: url('../../images/how-this-work/how1.jpg');
}

.info-container .box2 {
    background: url('../../images/how-this-work/how2.jpg');
}

.info-container {
    position: relative;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.info-container .box1, .info-container .box2 {
    width: 50%;
    position: relative;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-container .box1 .info, .info-container .box2 .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    margin: auto;
    height: 100px;
    text-align: center;
    color: white;
    z-index: 100;
}


.info-container .box1 .info h1, .info-container .box2 .info h1 {
    margin-bottom: 0px;
    text-transform: uppercase;
    height: 70px;
}

.info-container .box1 .info p, .info-container .box2 .info p {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 13px;
    margin-bottom: 20px;
}

.info-container .box1 .info a, .info-container .box2 .info a {
    background: #39b54a;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.info-container .box1:after, .info-container .box2:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
}

.info-container .box1:hover:after, .info-container .box2:hover:after {
    background: transparent;
}


.info-container h2 {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 35px;
}

.info-container .box1.active:after {
    background: transparent
}

.info-container .box2.active:after {
    background: transparent
}
/* end of how this main page */

.info-sec img.info-absolute {
    position: absolute;
    left: 0;
    right: -200px;
    top: -110px;
    text-align: center;
    margin: auto;
}

body.couples-infographic section.info-sec.infographic-section-two.clearfix {
    padding: 120px 0 20px 0;
}


@media (max-width: 1200px) {
    section.info-sec.infographic-section-five .middle-img {
        max-width: 250px;
    }
}

@media (max-width: 991px) {
    section.info-sec.infographic-section-five.clearfix .col-md-6:first-child {
        text-align: left;
        padding-left: 10px;
    }

    section.info-sec.infographic-section-five.clearfix .col-md-6 {
        text-align: right;
        padding-right: 15px;
    }
    img.info-absolute {
        max-width: 140px;
    }
    .info-container .box1 .info, .info-container .box2 .info {
        bottom: 130px;
    }
}

@media (max-width: 767px) {
    section.infographic-header img {
        max-width: 50%;
    }
    section.info-sec.infographic-section-three .connection {
        max-width: 160px!important;
        top: -30px;
    }
    section.info-sec.infographic-section-three.clearfix img {
        max-width: 100px;
    }
    section.info-sec.infographic-section-five {
        position: relative;
        text-align: center;
        padding: 140px 0 70px 0;
    }
    section.info-sec.infographic-section-five .middle-img {
        max-width: 120px;
        top: 10px;
    }
    section.send-gift p {
        font-weight: bold;
        font-size: 16px;
    }
    section.infographic-section-eight .info-absolute {
        position: absolute;
        bottom: 30px;
        right: 0;
    }
    .info-sec img.info-absolute {
        position: absolute;
        left: 0;
        right: -40px;
        top: -110px;
        text-align: center;
        margin: auto;
    }
    .info-container .box1, .info-container .box2 {
        width: 100%;
    }
}

@media (max-width: 479px) {
    .info-container .box1 .info h1, .info-container .box2 .info h1 {
        margin-bottom: 0px;
        text-transform: uppercase;
        height: 70px;
        font-size: 21px;
    }
}