section.hero-section h1 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    color: white;
    letter-spacing: 0.05em;
    font-size: 35px;
}

section.hero-section {
    position: relative;
    min-height: 400px;
    background-size: cover!important;
}

section.info-content ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

section.info-content ul
 li {
    width: 33.333%;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 30px;
}

section.info-content ul
 li img {
    max-width: 90%;
    margin-bottom: 10px;
    height: 250px;
    object-fit: cover;
}

section.info-content {
    margin-top: 0;
    padding: 100px 0;
}

section.info-content ul li a {
    text-decoration: none;
    color: #333;
}

h2.commingSoon {
    text-align: center;
    font-size: 60px;
    font-family: 'Nexa Bold', sans-serif;
    text-transform: uppercase;
    margin: 0;
    /* z-index: 9999; */
    /* position: relative; */
    /* color: white; */
}