.playing-bar{
    background: #f0f0f0;
    margin: 0px;
    padding: 0px 65px;
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 8px 0px;
    line-height: 40px;
}

.playing-bar a{
    display: inline-block;
    float: right;
    margin: 0px 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.playing-bar a:hover{
    text-decoration: underline;
}

.playing-bar img{
    display: inline-block;
    height: 16px;
    vertical-align: top;
    float: right;
}

img.like-like {
    position: relative;
    top: 12px;
}

.playing-bar .playing-drop{
    display: inline-block;
}

.playing-drop p{
    display: inline-block;
    width: auto;
    margin: 0px 10px;
    vertical-align: bottom;
    font-weight: bold;
}
.playing-drop p:last-child{
    color: black;
}
.likes-main {
    padding: 0 65px;
}

.playing-drop img{
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    float: none;
}

.likes-counter a{
    display: inline-block;
    border-radius: 5px;
    width: 120px;
    padding: 0 7px;
    text-align: left;
    margin-top: 0;
    line-height: 44px;
    cursor: pointer;
}
.likes-counter a:hover{
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 3px 1px;
}

.likes-counter a.green-box {
    background: #5a819e;
}

.likes-counter a.red-box {
    background: #ec743b;
}

.likes-counter a p:last-child{
    background: white;
    display: inline-block;
    float: right;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 27px;
    position: relative;
    top: 9px;
}
.likes-counter {
    margin: 40px 0 20px 0;
}
.likes-counter a p:first-child{
    color: white;
    display: inline-block;
    width: auto;
}
.likes-counter a.green-box p:last-child {
    color: #455a64;
}
.likes-counter a.red-box p:last-child{
    color: #ec743b;
}

.liked-drops{
    margin-bottom: 10px;
}

.drop-slice{
    overflow: hidden;
    background: #ececec;
    margin: 5px 0px;
    border-radius: 5px;
}

.drop-slice .like-user img{
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.drop-slice .like-user p{
    display: inline-block;
    width: auto;
}

.drop-slice-play img, .drop-slice-icons img{
    width: 32px;
    vertical-align: middle;
    padding: 5px;
    margin-right: 5px;
}

.drop-slice-play img{
    cursor: pointer;
}

a.view-like-profile{
    float: right;
    text-decoration: none;
    color: white;
    background: #ec743b;
    padding: 5px 26px;
    height: 35px;
    font-weight: 200;
    cursor: pointer;
    line-height: 29px;
    margin: 0;
    letter-spacing: 0.05em;
}

 a.view-like-profile:hover{
     background: #d03a3a;
 }


//pagination section
 .pagination {
     display: inline-block;
     margin: 1em;
 }

 .pagination a {
     color: black;
     text-align: center;
     display: inline-block;
     padding: 8px 16px;
         margin: 0 0 20px 0;
     text-decoration: none;
 }

 .pagination a.active {
     background-color: red;
     color: white;
     border-radius: 25px;
 }

 .pagination a:hover:not(.active) {
     background-color: #ddd;
     border-radius: 5px;
 }
