.page-title{

}
.gray-bar{
    margin-bottom: 0;
    border: none;
    background-color: #cbcaca;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-top: 135px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
}

.fixed-bar{
    position: fixed;
    top: 65px;
}

p.playing-user-info{
    font-size: 12px;
    margin: 0px;
    line-height: initial;
}

.wrapper{
    margin-top: 190px !important;
    padding: 1em 0em;
}

.gray-bar img.on-air{
    height: 40px;
}

.gray-bar div{
    height: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.user-info-drop div{
}

.user-info{
    justify-content: center;
}

img.lovdrop-gender{
    width: 1.5em;
    margin: 0px .5em;
}

.dark-play-bar{
    background: black;
    margin: 0px 10px;
}

.dark-play-bar:first-child{
    justify-content: center;
}

img.play-btn-icon{
    height: 20px;
    margin: 0px 5px;
    cursor: pointer;
}

.play-progress{
    color: #39ee6b;
    background: #39ee6b;
    height: 20px;
    position: relative;
    display: block;
    vertical-align: top;
    margin-top: -10px;
}

.play-progress-container{
    position: relative;
    color: #39ee6b;
}

.play-progress-container span{
    position: absolute;
    bottom: 0px;
    font-size: 10px;
}
.play-progress-container span#timer{
    left: 0px;
}
.play-progress-container span#duration{
    right: 0px;
}

.bar-profile-actions{
    float: right;
    justify-content: center;
}
.bar-profile-actions a, .bar-profile-actions img{
    margin: 0px 0.5em;
    height: 20px;
    text-decoration: none;
    color: black;
}

/*LOVDROPS LIST*/
.lov-drop-container{
    margin: 1em 0.2%;
    border: solid #89c3ff 1px;
    border-radius: 5px;
    position: relative;
    max-height: 180px;
    /*overflow: hidden;*/
}

.gray-filter div{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}



.lov-drop-container img.lov-drop-img{
    display: block;
    margin: auto;
}

.lov-drop-container img.like-lovdrop-list{
    position: absolute;
    left: 5px;
    top: 5px;
}

span.like-lovdrop-list img {
    height: 12px;
    float: left;
}
.lov-drop-container img.block-lovdrop-list{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}
.lov-drop-container .share-lovdrop-list{
    position: absolute;
    right: 5px;
    top: 20px;
    cursor: pointer;
}

.lov-drop-container-info{
    text-align: center;
}
.lov-drop-container-info p{
    display: inline;
}

.view-lovdrop-profile-available{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.view-lovdrop-profile-available a{
    color: black;
}

.share-content{
    text-align: center;
}

.share-content h3{
    font-weight: bold;
    margin: 0px;
}

.share-content p{
    font-size: 2em;
    margin-bottom: 2em;
}

.share-content a{
    display: inline-block;
    text-decoration: none;
    margin: 0px 1em;
}

.share-content a img{

}

@media screen and (max-width: 900px) {
    .dark-play-bar{
        float: right;
        margin-right: 0px;
    }

    .bar-profile-actions{
        float: none;
        margin: auto;
        background: #cbcaca;
        width: 100%;
        justify-content: center;
        box-shadow: inset rgba(0, 0, 0, 0.09) 0px 4px 11px 1px;
    }

    img.play-btn-icon{
        height: auto;
        width: 15%;
    }

    .user-info-drop{
        width: 92%;
    }
}