.message-landing .row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.message-landing .col {
    width: 50%;
}

.box1 {
    background: url("../../images/message/2.jpeg");
    background-size: cover;
}

.box2 {
    background: url("../../images/message/3.jpeg");
    background-size: cover;
}

.box3 {
    background: url("../../images/message/4.jpeg");
    background-size: cover;
}

.message-landing .row {
    margin: 0;
}

.message-landing .col {
    height: 650px;
}

.message-landing .col .box {
    height: 50%;
}

.message-text {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.message-landing {
    position: relative;
}

.message-text h2 {
    vertical-align: middle;
    font-size: 50px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Nexa Bold', sans-serif;
}

.message-text h2 img {
    vertical-align: middle;
    max-width: 270px;
}

.message-landing .row {
    position: relative;
}

.message-landing .row:after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.message-text h3 {
    color: white;
    text-shadow: 1px 1px 1px #888;
    font-size: 24px;
    max-width: 550px;
    margin: auto;
    line-height: 40px;
}

.register-now {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Nexa Bold', sans-serif;
    position: relative;
    left: 0;
    margin-top: 80px;
}

.register-now a {
    color: #fef8ad;
    background: #5a819e;
    padding: 17px;
    display: inline-block;
    margin: 0 45px;
    border-radius: 4px;
}