.musician-profile {
    display: flex;
}

.musician-profile .col {
    padding: 25px 15px;
    flex-basis: 30%;
}

.musician-profile .col:last-child {
    margin-top: 55px;
    flex-basis: 40%;
}

.musician-profile .col img {max-width: 280px;}