.music-counter a{
    display: inline-block;
    border-radius: 5px;
    width: auto;
    padding: 0 7px;
    text-align: left;
    margin-top: 0;
    line-height: 44px;
    cursor: pointer;
}
.music-counter a:hover{
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 3px 1px;
}

.music-counter a.green-box {
    background: #5a819e;
}

.music-counter a.red-box {
    background: #ec743b;
}

.music-counter a p:last-child{
    background: white;
    display: inline-block;
    float: right;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    position: relative;
    top: 9px;
    margin-left: 5px;
}
.music-counter {
    margin: 0px 0 20px 0;
}
.music-counter a p:first-child{
    color: white;
    display: inline-block;
    width: auto;
}
.music-counter a.green-box p:last-child {
    color: #455a64;
}
.music-counter a.red-box p:last-child{
    color: #ec743b;
}


.song-drops{
    margin-bottom: 10px;
    padding-right: 20px;
}

.drop-slice{
    overflow: hidden;
    background: #ececec;
    margin: 5px 0px;
    border-radius: 5px;
}

.drop-slice .song-user img{
    display: inline-block;
    width: 30px;
    background: white;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.drop-slice .song-user p{
    display: inline-block;
    width: auto;
}

.drop-slice-play img, .drop-slice-icons img{
    width: 32px;
    vertical-align: middle;
    padding: 5px;
    margin-right: 5px;
}

.drop-slice-play img{
    cursor: pointer;
}

a.view-song-profile{
    float: right;
    text-decoration: none;
    color: white;
    background: #ec743b;
    padding: 5px 26px;
    height: 35px;
    font-weight: 200;
    cursor: pointer;
    line-height: 29px;
    margin: 0;
    letter-spacing: 0.05em;
}

 a.view-song-profile:hover{
     background: #d03a3a;
 }

a.respond-song{
    float: right;
    text-decoration: none;
    color: white;
    background: #5a819e;
    padding: 5px 10px;
    height: 35px;
    font-weight: 200;
    cursor: pointer;
    line-height: 29px;
    margin: 0;
    letter-spacing: 0.05em;
}

 a.respond-song:hover{
     background: #0d619e;
 }

/* pagination */

.pagination li a {
    text-decoration: none;
    color: #888;
}

.pagination li.active {
    background: #ec743b;
}

.pagination li.active a {
    color: white;
}

.pagination-box ul li:first-child {
    border-left: 1px solid #b8b8b8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination-box ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* end of paginaton */
.pagination-box {
    margin: 20px 0;
    text-align: center;
    border-radius: 4px;
}

.pagination-box ul {
    padding: 0;
    list-style: none;
    max-width: 460px;
    margin: 20px auto 40px;
    width: 100%;
    text-align: center;
}

.pagination-box ul li {
    border-right: 1px solid #b8b8b8;
    padding: 6px 13px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    margin: 0;
    float: left;
    height: 34px;
    line-height: 27px;
    color: #b8b8b8;
    font-weight: bold;
}
