.terms h2 {
    color: #2a2a2a;
    font-size: 24px;
    font-family: 'Nexa Bold', sans-serif;
}

.terms .box h3 {
    color: #455a64;
    font-size: 22px;
    font-family: 'Nexa Bold', sans-serif;
}

.terms .box {
    padding: 0 15px;
}

.terms .box h4 {
    color: #2a2a2a;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Nexa Bold', sans-serif;
    margin-bottom: 10px;
}

.terms .box p {
    color: #2a2a2a;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 23px;
}

.songwriter-info .box {
    padding: 0 15px;
}

.box-payment ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

.box-payment ul li {
    display: inline-block;
    width: 220px;
    padding: 0 15px;
}

.box-payment ul li a {
    background: #455a64;
    color: white;
    width: 100%;
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Nexa Bold', sans-serif;
}

.box-payment {
    text-align: center;
    margin-top: 30px;
    background: #efefef;
    padding: 25px 0 60px;
    max-width: 1050px;
    margin: 30px auto 20px;
}

.songwriter-info h2 {
    font-family: 'Nexa Bold', sans-serif;
}

.songwriter-info p {
    margin-bottom: 10px;
}

a.terms-link {
    display: block;
    color: #455a64;
    font-size: 22px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .box-payment ul li {
        margin-bottom: 15px;
    }
}