body{
    font-family: "Nexa Light";
}

.wrapper{
    margin-bottom: 100px;
}

.input-area{
    /*display: flex;
    align-items: flex-end;
    flex-flow: row wrap;*/
}

.input-area p{
    display: inline-block;
}

.lov-input{
    margin: 0px 1em;
    text-align: center;
    font-family: "Nexa Light";
    width: 90px;
    /*padding-bottom: 0.1em !important;*/
}

#distance{
    margin: 0em 1em;
    width: 100px;
}

.wrapper {
    padding: 1em 2em!important;
}

.filter-btn{
    margin: 1em 0em;
}

#range-slider{
    width: 265px;
}

.gm-style img {
    max-width: none;
    width: auto!important;
}

.myMap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myMap .row.input-area.my-map-zip {
    display: flex;
    align-items: center;
}

.myMap .row.input-area.my-map-zip input {
    margin-bottom: 0;
}

.myMap .row.input-area {
    margin: 0;
}

.myMap h1 {
    position: relative;
    top: 16px;
    font-size: 32px;
}

@media only screen and (max-width: 1080px) {
    .myMap {
        flex-flow: wrap;
    }

    .myMap h1 {
        width: 100%;
    }

    .myMap .row {
        width: 100%;
        margin: 5px 0!important;
    }
}