/*For my-profile.html page*/
.lov-modal-content div:first-child {
    width: 20%;
    min-width: 200px;
}
.preferences-icons{
    text-align: center;
    display: inline-block;
    width: 100%;
}
.preferences-icons span{
    display: inline-block;
    vertical-align: middle;
}

.preferences-icons img{
    margin: 0px 1em;
    width: 40px;
}

.questions-area{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.questions-area span{
    margin: 0 0px;
    width: auto;
    margin-bottom: 5px;
    display: inline-block;
}

.questions-area span p{
    display: inline;
    line-height: 20px;
    vertical-align: super;
}

.questions-area span img{
    display: inline-block;
    height: 20px;
    margin: 0px 0.5em;
}

.edit-area {
    box-shadow: none;
    position: relative;
    width: 50%;
    float: left;
    padding: 0;
    margin-right: 0%;
    border: 0;
    min-height: 210px;
    padding: 0 10px;
}


.edit-area:hover .edit-icon{
    display: block;
}

.edit-area img.edit-icon{
    margin: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    cursor: pointer;
}

.uni-select input{
    visibility: hidden;
}
.uni-select a {
    text-decoration: none;
    color: #212121;
    margin-right: 20px;
    display: inline-flex;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    min-height: 62px;
    align-items: center;
    justify-content: center;
}
.uni-select a:before {
    content: "";
    height: 80%;
    width: 1px;
    position: absolute;
    right: -30px;
    background: gray;
}
.uni-select span:last-child a:before {
    content: "";
    width: 0;
}
.uni-select img{
     height: 32px;
     /*margin-bottom: 24px;*/
     width: auto;
}
.uni-select p{
    width: 100% !important;
    margin: 0px !important;
}

.profile-height.clearfix {
    text-align: center;
    margin: 0;
    width: 20%;
}
.profile-info.clearfix {
    margin: 0;
    width: 30%;
}
.preferences-container {
    width: 50%;
}
.preference-full-container {
    display: inline-flex;
    margin: 15px 0;
}
.profile-height-con {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
}
.profile-height img {
    display: inline-block;
    vertical-align: middle;
    max-width: 55px;
}
.profile-height-con span {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-top: 4px;
}
.profile-height-cont {
    display: inline-block;
    vertical-align: middle;
}

.multi-select p{
    width: 100% !important;
    margin: 0px !important;
}
.multi-select input{
    visibility: hidden;
}
.multi-select a{
    text-decoration: none;
    color: #212121;
    margin-right: 20px;
    display: inline-block;
    width: 120px;
    text-align: center;
}
.multi-select img{
    width: 32px;
}

.hover-upload{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    display: none;
    background: white;
    opacity: 0.5;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.hover-upload p{
    padding-top: 40%;
}

.item{
    margin: 0px !important;
    font-size: 15px !important;
    width: 100% !important;
}

.multiple{
    padding: 0px 10px !important;
    margin: 0px !important;
    width: 100% !important;
    max-width: 400px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
    height: auto !important;
}

button#submit-btn {
    background: #ec743b;
    text-transform: uppercase;
    font-weight: normal;
    padding: 11px 10px;
    font-size: 14px;
}

button#back-button {
    background: #000;
    text-transform: uppercase;
    font-weight: normal;
    padding: 11px 10px;
    font-size: 14px;
}
.grid-4{
    width: 33% !important;
}
.recording-timer{
    text-align: center;
    font-size: 2em;
}
.recording-actions{
    padding-top: 5% !important;
    text-align: left !important;
}

.recording-actions button{
    font-weight: normal;
    color: white !important;
}

.show-record{
    width: 100% !important;
}

.recording .language{
    font-size: 1.5em;
}

.recording .language{
    width: 100% !important;
}

.recording .language select{
    padding: 10px 5px;
    height: auto;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    text-align: left;
}

#record_new_lovdrop{
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-decoration: none;
    color: white;
    background: gray;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    width: 95%;
    text-align: center;
}
#record_new_lovdrop:hover{
    background: black;

}

.language.grid-12 label {
    display: block;
}

.language.grid-12 {
    text-align: left;
    padding: 0;
}

.recordedList i {
    color: #ec743b;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.recordedList a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #5a819e;
    font-family: 'Nexa Bold', sans-serif;
    margin-left: 10px;
    font-size: 17px;
}

.recordedList {
    font-family: 'Nexa Bold', sans-serif;
}

.recordedList {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.questionDaily {
    width: 80%;
}

div#record-lovdrop .content {
    padding: 0;
}

form#record-lovdrop-form {
    padding: 0 15px;
}

.record-btn-container.grid-12 {
    width: 20%;
}

div#round-button-circle {
    background: transparent;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    overflow: inherit;
}

div#round-button-circle a {
    padding: 0;
}

div#round-button-circle .round.button-div {
    padding: 0;
}

div#round-button-circle .round-button-div {
    padding: 0;
}

div#round-button-circle .round-button-div i {
    font-size: 40px;
    display: block;
    float: inherit;
    height: 70px;
    max-height: inherit;
    line-height: 70px;
    width: 70px;
    color: #ec743b;
    border: 1px solid #ec743b;
    border-radius: 50%;
}

div#record-btn {
    width: auto;
}

.questionDaily div h3 {
    margin: 0;
    font-size: 19px;
    font-family: 'Nexa Bold', sans-serif;
}

.questionDaily div label {
    font-size: 18px;
}

div#round-button-circle .round-button-div #record-btn-text {
    display: block;
    position: relative;
    top: 10px;
    color: #ec743b;
    font-family: 'Nexa Bold', sans-serif;
}

.profile-voice {
    position: relative;
}

.profile-images .dailyResponses {
    position: absolute;
    top: 0;
    background: #fef8ad;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 6px 3px 4px 3px;
    border: 1px solid #ec743b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #5a819e;
}

.profile-images .dailyResponses i {
    color: #ec743b;
}

a.responsesBtn {
    display: block;
    text-decoration: none;
    margin-top: 24px;
    font-family: 'Nexa Bold', sans-serif;
    color: #5a819e;
    position: relative;
}

.recording.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* lifestyle */

.personality-content {
    width: 180px;
}
.uni-select a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1a1a1a;
    content: "";
    transition: width 0.2s;
}

.uni-select a:hover:after {
    width: 100%;
    content: "";
}
.grid-4.navigation-steps.reg-section-title {
    background: #455A64;
    padding: 30px 0;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-right: 8px solid white;
}
.grid-4.navigation-steps.reg-section-title-active {
    background: #ec743b;
    padding: 30px 0;
    font-size: 20px;
    color: white;
    font-weight: 900;
    border-right: 8px solid white;
}
/* end of lifestyle */


@media (max-width: 991px) {
    .profile-images {
        width: 100%;
        padding: 0 20px;
    }
    .profile-images img{
        height: 165px;
    }
    .profile-images div{
        height: 165px;
     }
     .preference-full-container {
         display: flex;
         margin: 15px 0;
         flex-flow: row wrap;
     }
     .profile-height.clearfix {
         text-align: center;
         margin: 0;
         width: 30%;
     }
     .profile-info.clearfix {
         margin: 0;
         width: 70%;
     }
     .preferences-container {
         width: 97%;
         margin: auto;
     }
     .lov-panel-header {
         padding: 11px;
     }
     .lov-panel-header h3 {
         margin: 0px;
         font-size: 1.5em;
     }
}

@media (max-width: 767px) {
    .edit-area {
            width: 96%;
            margin-right: 0;
            min-height: 102px;
            margin: 0 auto 20px;
            float: none;
    }
    .edit-area:last-child {
        margin: 0 auto 20px;
    }
    .questions-area span {
        margin: 5px;
        width: 39%;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .profile-height.clearfix {
        width: 100%;
    }
    .profile-info.clearfix {
        width: 100%;
        padding: 0 20px;
    }
    .preferences-icons {
        text-align: left;
    }
    .questions-area {
        text-align: left;
    }
    .questions-area span {
        width: 142px;
    }
    .questions-area span p {
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
        font-size: 15px;
    }
    .questions-area span img {
        height: 13px;
    }
    .edit-area p {
        min-height: 30px;
        line-height: 30px;
        font-size: 17px!important;
    }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 40px;
}
.suspend{
margin-left:40px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #32CD32;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.uni-select span {
    display: inline-block;
    width: 155px;
    vertical-align: middle;
}

.multi-select span {
    display: inline-block;
    width: 155px;
}

.row.lov-modal-content {
}

.multi-select span input {
    position: absolute;
}

.slider.round:before {
  border-radius: 50%;
}

.seekingLove{
float: left;
list-style-type: none;
    margin-left: 30px;
}

@media (max-width: 479px) {
    .uni-select span {
        width: 48%;
    }
    .multi-select span {
        width: 48%;
        margin-bottom: 15px;
    }
}
