.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.patent p {
    text-indent: 50px;
}

.patent h4 {
    text-align: right;
    margin-top: 40px;
}

.patent h1 {
    text-align: center;
    font-family: 'Nexa Bold', sans-serif;
}

.patent h2 {
    text-align: center;
    margin: 40px 0;
}

.patent p {
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 18px;
}