body{
    background: #f4f4f4;
}

.wrapper{
    padding-top: 70px;
}

.pricing-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: 0;
    display: block;
    align-items: center;
    padding: 70px 0 70px 0;
    justify-content: center;
    text-align: center;
}

.pricing-cover h1{
    display: block;
    margin: 0;
    color: #d8d6d6;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    position: relative;
    margin-bottom: 20px;
}
.pricing-cover {
    position: relative;
    margin-top: 0px;
}
.pricing-cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.26);
}
.overview-line{
    height: 1px;
    width: 15%;
    background: #d8d6d6;
    display: inline-block;
}
.wrapper.plans-features-list ul li img {
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.pricing-cover p {
    display: block;
    color: white;
    max-width: 530px;
    margin: auto;
}

/*.plan-free {
    width: 90%;
    margin: auto;
    padding: 25px 0;
    text-align: center;
    background: red;
    background: -webkit-linear-gradient(-90deg, red, yellow);
    background: -o-linear-gradient(-90deg, red, yellow);
    background: -moz-linear-gradient(-90deg, red, yellow);
    background: linear-gradient(90deg, #35e9a0, #60d7bc);
    margin-top: 50px;
    margin-bottom: 50px;
}
.plan-free a {
    color: white;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
}
.plan-price {
    width: 90%;
    margin: auto;
    padding: 25px 0;
    text-align: center;
    background: red;
    background: -webkit-linear-gradient(-90deg, red, yellow);
    background: -o-linear-gradient(-90deg, red, yellow);
    background: -moz-linear-gradient(-90deg, red, yellow);
    background: linear-gradient(90deg, #e94646, #e57644);
    margin-top: 50px;
    margin-bottom: 50px;
}
.plan-price a {
    color: white;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
}*/
.plan-free {
    width: 60%;
    margin: auto;
    padding: 0em;
    text-align: center;
    background: -o-linear-gradient(-90deg, red, yellow);
    background: -moz-linear-gradient(-90deg, red, yellow);
    margin-top: 50px;
    background: #ccc;
    border-radius: 5px;
    transition: all 0.4s;
}
.plan-free:hover {
    background: #4ed7a5;
}
.plan-free a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 1em 0em;
}
.plan-price {
    width: 60%;
    margin: auto;
    padding: 0em;
    text-align: center;
    background: -o-linear-gradient(-90deg, red, yellow);
    background: -moz-linear-gradient(-90deg, red, yellow);
    margin-top: 50px;
    background: #ccc;
    border-radius: 5px;
    transition: all 0.4s;
}
.plan-price:hover {
    background: #ec743b;
}
span.red-text {
    font-weight: bold;
    font-size: 23px;
}
.plan-price a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1em 0em;
    display: inline-block;
}
.plan-box{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    min-height: 350px;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 17px 0px;
    position: relative;
}
.plan-con {
    width: 40%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0em 4.9%;
    margin-bottom: 30px;
}

.box-header img.header-bg{
    width: 100%;
}

.box-header h3 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 33px 0;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 40px;
}

.plan-specs{
    padding: 1em;
    text-align: center;
    padding: 40px 0 20px 0;
    position: relative;
}

span.plan-spec-slice{
    display: inline-flex;
    width: 65%;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
}
.coming-soon {
    position: absolute;
    bottom: -5px;
    right: 0;
}
span.plan-spec-slice img{
    display: inline-block;
    width: 10%;
}

span.plan-spec-slice p{
    display: inline-block;
    width: 80%;
    padding-left: 1em;
    text-align: left;
    font-size: 18px;
    color: #888888;
}


/* new pricing */

.plans-features-list ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.plans-features-list {
    max-width: 992px;
    margin: 20px auto;
    width: 100%;
}

.plans-features-list ul
 li {
    display: flex;
}

.plans-features-list ul
 li span {
    width: 40%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    color: #888;
}


.plans-features-list ul
 li:first-child span {
     border-right: 1px solid #ccc;
     border-bottom: 0;
     border-top: 1px solid #ccc;
     padding: 15px 0;
 }

.plans-features-list ul
 li:first-child span:first-child {
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    text-align: left;
}

.plans-features-list ul li span:first-child {
    text-align: left;
    width: 20%;
}
.plans-features-list ul li:first-child span:nth-child(2) {
    background: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 23px;
}

.plans-features-list ul li:first-child span:nth-child(3) {
    background: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    border-left: 1px solid #fff;
    font-weight: bold;
    font-size: 23px;
}
.plans-btn-reg {
    display: flex;
}

.plans-btn-reg > div {
    width: 40%;
}

.plans-btn-reg > div:first-child {
    width: 20%;
}

.plans-container {
    max-width: 767px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
    margin-top: -20px;
    position: relative;
    text-align: center;
}

.plans-container .box {
    max-width: 337px;
    margin: 0 25px;
    min-width: 250px;
    background: white;
    box-shadow: 13px 23px 17px rgba(191, 185, 185, 0.52);
    vertical-align: top;
    padding: 20px;
    /* float: left; */
    margin: 0em 1em;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    min-height: 300px;
    min-width: 326px;
}

.plans-container .box h2 {
    text-align: center;
    color: #2a2a2a;
    font-family: 'Nexa Bold', sans-serif;
    margin-bottom: 20px;
}

.plans-container .box h3 {
    font-family: 'Nexa Bold', sans-serif;
    font-size: 15px;
    margin-bottom: 0;
}

.plans-container .box ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.plans-container .box ul li {
    padding: 13px 0 17px 0;
    font-size: 14px;
    position: relative;
}

.plans-container .box.prime h2 {
    color: #ec743b;
}

.plans-container .box.prime h3 {
    color: #ec743b;
}

.plans-container .box ul li span {
    color: white;
    background: #ec743b;
    font-size: 10px;
    position: absolute;
    right: 0;
    padding: 1px 5px;
}

.box.prime span {
    position: absolute;
    right: -6px;
    top: 7px;
    padding: 0.2em;
    color: white;
    font-size: 0.8em;
}

/*.plans-container .box:before {
    background: url("../../images/pricing/rectanle1.png");
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 3px;
    height: 100%;
    background-repeat: no-repeat;
}*/

/*.plans-container .box.prime:before {
    background: url("../../images/pricing/rectangle2.png");
    content: "";
    background-repeat: no-repeat;
}*/
/* end of new pricing */

.box.prime span.left-bg {
    position: absolute;
    background-color: #ec743b;
    width: 3px;
    height: 50%;
    left: 0;
    top: 0px;
}

@media (max-width: 1200px) {
    .plan-con {
        width: 40%;
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0em 4.3%;
    }
}

@media (max-width: 991px) {
    .box-header h3 {
        padding: 25px 0;
        font-size: 30px;
    }
    span.plan-spec-slice {
        width: 95%;
    }
}
@media (max-width: 767px) {
    .pricing-cover {
        height: 200px;
    }
    .plan-con {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .wrapper {
        padding: 70px 30px;
    }
    .plans-features-list ul li:first-child span:nth-child(3) {
        font-size: 16px;
    }
    .plans-features-list ul li:first-child span:nth-child(2) {
        font-size: 16px;
    }
    .plan-free a {
        font-size: 11px;
    }
    .plan-price a {
        font-size: 11px;
    }
    .plans-container .box {
        max-width: 400px;
        margin: 0 auto 15px;
        background: white;
        box-shadow: 13px 23px 17px rgba(191, 185, 185, 0.52);
        padding: 20px;
        float: inherit;
        position: relative;
    }
    .pricing-cover p {
            padding: 0 15px;
        }
}

@media (max-width: 479px) {
    .pricing-cover h2 {
        font-size: 18px;
    }
    .box-header h3 {
        padding: 19px 0;
        font-size: 26px;
    }
    .plan-free {
        width: 90%;
        margin: auto;
        padding: 16px 0;
        text-align: center;
        margin-top: 30px;
    }
    .plan-price {
        width: 90%;
        margin: auto;
        padding: 16px 0;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .plans-container .box {
        max-width: 300px;
        margin-bottom: 40px;
    }
    .plans-container {
        margin-top: 0;
    }

}