.play-progress-container {
    width: 100%;
    float: inherit;
    display: inherit;
}

.play-progress-container {
    height: 26px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-left: 0;
    position: relative;
}

.play-progress-container span {
    position: absolute;
    top: 6px;
    font-size: 14px;
    color: #ec743b;
}

div.progress-bg {
    display: block;
    width: calc(100% - 130px);
    height: 2px;
    margin-top: 35px;
    margin: 0px auto 0;
    background: #5a819e;
}

ul.recorded {
    list-style: none;
    max-width: 790px;
    padding: 0 40px;
}

ul.recorded li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.date {
    font-size: 12px;
    width: 80px;
    position: relative;
    top: -6px;
}

span#duration {
    left: inherit;
    right: 17px;
}

span#timer {
    left: 17px;
}

.volumen {
    position: relative;
    top: -6px;
    display: flex;
}

.volumen i {
    margin: 0 5px;
}

.editDelete {
    display: flex;
    align-items: center;
    position: relative;
    top: -6px;
}

.editDelete a {
    text-decoration: none;
    padding: 0 9px;
}

.editDelete a:first-child {
    color: #5a819e;
}

.editDelete a:last-child {
    color: #ec743b;
}

div#progress {
    position: relative;
}

div#progress:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5a819e;
    right: 0;
    top: -4px;
    left: -5px;
}

.backToProfile {
    padding: 20px 40px;
}

.backToProfile a {
    text-decoration: none;
    color: #5a819e;
}

h2 {
    padding: 0 40px;
    font-family: 'Nexa Bold', sans-serif;
}

.recordedList i {
    color: #ec743b;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.recordedList a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #5a819e;
    font-family: 'Nexa Bold', sans-serif;
    margin-left: 10px;
    font-size: 17px;
}

.recordedList {
    font-family: 'Nexa Bold', sans-serif;
}

.recordedList {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.questionDaily {
    width: 80%;
}

div#record-lovdrop .content {
    padding: 0;
}

form#record-lovdrop-form {
    padding: 0 15px;
}

.record-btn-container.grid-12 {
    width: 20%;
}

div#round-button-circle {
    background: transparent;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    overflow: inherit;
}

div#round-button-circle a {
    padding: 0;
}

div#round-button-circle .round.button-div {
    padding: 0;
}

div#round-button-circle .round-button-div {
    padding: 0;
}

div#round-button-circle .round-button-div i {
    font-size: 40px;
    display: block;
    float: inherit;
    height: 70px;
    max-height: inherit;
    line-height: 70px;
    width: 70px;
    color: #ec743b;
    border: 1px solid #ec743b;
    border-radius: 50%;
}

div#record-btn {
    width: auto;
}

.questionDaily div h3 {
    margin: 0;
    font-size: 19px;
    font-family: 'Nexa Bold', sans-serif;
}

.questionDaily div label {
    font-size: 18px;
}

div#round-button-circle .round-button-div #record-btn-text {
    display: block;
    position: relative;
    top: 10px;
    color: #ec743b;
    font-family: 'Nexa Bold', sans-serif;
}

.profile-voice {
    position: relative;
}

.profile-images .dailyResponses {
    position: absolute;
    top: 0;
    background: #fef8ad;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 6px 3px 4px 3px;
    border: 1px solid #ec743b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #5a819e;
}

.profile-images .dailyResponses i {
    color: #ec743b;
}

.recording.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
