.press-hero {
    min-height: 400px;
    text-align: center;
    background: url('../../images/press.jpeg');
    display: flex;
    flex-flow: wrap;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.press-hero p.right {
    text-align: right;
    max-width: 100%;
    padding: 0 30px;
    width: 100%;
}

.press-hero p {
    max-width: 1170px;
    margin: auto;
    color: white;
    position: relative;
    line-height: 22px;
}

.press-hero h1 {
    width: 100%;
    position: relative;
    z-index: 9999;
    color: white;
}

.press-content {
    background: #f2f2f2;
}

.press-content {
    display: flex;
    padding: 15px 30px;
}

.sidebar {
    width: 360px;
    background: white;
    padding: 15px 10px;
}

.press-content .content {
    width: calc(100% - 360px);
    padding-left: 25px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sidebar ul li {
    margin-bottom: 35px;
}

.press-content .content .box {
    background: white;
    margin-bottom: 15px;
    position: relative;
    min-height: 415px;
}

.press-content .content .box-12 {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.press-content .content .box-7 {
    width: calc(55% - 7.5px);
}

.press-content .content .box-5 {
    width: calc(45% - 7.5px);
}

.press-content .content .box img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.press-content .content .box-12 img {
    width: 65%;
    height: 100%;
}

.press-content .content .box-12 .content_info {
    width: 35%;
    padding-left: 15px;
}

.press-content .content .box h4 {
    color: #5a819e;
    font-family: 'Nexa Bold', sans-serif;
    margin-bottom: 15px;
}

.press-content .content .box .content_info {
    padding: 15px;
}

.press-content .content .box p {
    margin: 10px 0 50px 0;
    line-height: 22px;
}

.press-content .content .box span {
    display: block;
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    color: #656a70;
    font-family: 'Nexa Bold', sans-serif;
}

.press-hero:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
}