.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
section.hero {
    position: relative;
    padding: 120px;
}

section.hero h1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
    margin: auto;
    height: 35px;
    text-align: center;
    font-family: 'Nexa Bold', sans-serif;
}

.filter-by ul {
    padding: 0;
    list-style: none;
    display: inline-block;
}

.filter-by ul li {
    display: inline-block;
    margin: 10px;
}

.filter-by span {
    display: inline-block;
    font-weight: bold;
}

.filter-by ul li a {
    text-decoration: none;
    color: #222;
    padding: 0 10px;
    border-bottom: 1px solid transparent;
}

.filter-by ul li.active a {
    border-bottom: 1px solid #222;
}

section.profile-photos
 .col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

section.profile-photos
 .col-6:first-child {
    border-right: 2px solid #222;
    padding-left: 0;
}

section.profile-photos
 .clearfix ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

section.profile-photos
 .clearfix ul li {
    width: 33.333%;
    text-align: center;
}

section.profile-photos
 .clearfix ul li .box {
    max-width: 155px;
    margin: auto;
    position: relative;
    border: 2px solid #898989;
    margin-bottom: 10px;
    border-radius: 7px;
    height: 147px;
}

section.profile-photos
 .clearfix ul li .box .play-stop {
    position: absolute;
    bottom: 0;
    left: 0;
}

section.profile-photos
 .clearfix ul li .box .play-stop .play {
    float: left;
    background: #fd7172;
    width: 30px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    height: 20px;
    line-height: 23px;
}

section.profile-photos .clearfix ul li.ads .play-stop {
    display: none;
}

section.profile-photos
 .clearfix ul li .box .play-stop .time {
    float: left;
    background: #ececef;
    width: 30px;
    height: 20px;
    line-height: 23px;
    font-size: 12px;
}

section.profile-photos
 .clearfix ul li .box .gold {
    position: absolute;
    bottom: -13px;
    left: 0;
    display: none;
    right: 0;
    margin: auto;
    color: #f7941d;
}

section.profile-photos
 .clearfix ul li .box img {
    display: block;
    width: 100%;
    object-position: center;
    object-fit: scale-down;
    max-height: 150px;
}

section.profile-photos
 .clearfix ul li.active
 .gold {
    display: block;
}

section.profile-photos
 .clearfix ul li.active
 .box {
    border: 2px solid #f7941d;
}

section.profile-photos
 .col-6:last-child {
    padding-right: 0;
}

section.profile-photos.container h3 {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.info-box {
    position: fixed;
    z-index: 1000;
    width: 290px;
    border: 2px solid black;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-60%, -50%);
    left: 50%;
    top: 50%;
    display: none;
}

.info-box .close {
    background: white;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    right: -15px;
    top: -15px;
    cursor: pointer;
}

.info-box.active {
    display: block
}

body.active:after {
    background: rgba(0, 0, 0, 0.57);
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
}

.info-box .img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.info-box .category {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
    background: #fd6e70;
    text-align: center;
    top: -16px;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    padding: 6px;
}

.info-box .user-info img {max-width: 30px;vertical-align: middle;display: inline-block;}

.info-box .user-info span {
    display: inline-block;
    vertical-align: middle;
}

.info-box .user-info {
    text-align: center;
    padding-top: 20px;
}

.info-box .bg {
    background: white;
}

.info-box .user-link {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 13px 0 6px;
    color: #8dc0db;
    font-size: 20px;
}

.info-box .icons i {
    display: inline-block;
    vertical-align: middle;
    color: #aeaeae;
    margin-right: 13px;
}

.info-box .icons img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.info-box .icons {
    text-align: center;
}

.info-box .play-stop {
    text-align: center;
    margin-top: 10px;
    display: flex;
    width: 90px;
    margin: 10px auto 10px;
}

.info-box .play-stop .play {
    background: #fb7375;
    color: white;
    padding: 4px 15px;
    width: 45px;
    height: 26px;
    cursor: pointer;
}

.info-box .play-stop .time {
    background: #ebebeb;
    padding: 3px 10px;
    width: 45px;
    height: 26px;
    line-height: 26px;
}

.info-box .user-id {
    background: #d0d0d0;
    text-align: center;
    color: #2284cd;
    padding: 4px 0 3px 0;
    font-weight: bold;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 22px;
}

@media (max-width: 991px) {
    section.profile-photos .clearfix ul li {
        width: 50%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    section.profile-photos .clearfix ul li {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 479px) {
    section.profile-photos.container h3 {
        font-size: 14px;
    }
}