.upload_icons_area {
    position: relative;
    display: flex;
}

.upload_icon {
    display: block;
    position: relative;
    margin: 0px 0.1%;
    height: 181.1px;
    cursor: pointer;
    width: 100%;
}

.upload_icon a.upload-image-wrapper{
    display: block;
    width: 100%;
    height: 181.1px;
    overflow: hidden;
    padding: 1px;
}

.upload_icon a img {
    width: 100%;
    height: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #455A64;
}

.real-image {
    display: block;
    border-radius: 5px;
    margin: 0px 0.1%;
}

.triangle-icon {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -14px;
    left: 0;
    display: none;
    bottom: inherit!important;
    width: 100%;
    height: 2px;
    top: -12px;
    background: red;
}

.upload_hidden_message {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: none;
}

.upload_hidden_message:hover {
    /*position: absolute;*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
    /*background: rgba(255, 255, 255, 0.24);*/

}

.grp-actions {
    width: 25%;
    float: right;
}

.wrapper-mini {
    width: 75%;
    float: left;
}

.register-nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    border-bottom: 2px solid #8b8b8b;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.register-nav ul li {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.upload_hidden_message p {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    height: 70%;
    width: 70%;
    margin-top: 15%;
    background: rgba(251, 75, 75, 0.61);
    border-radius: 50%;
    color: white;
    padding: 10%;
    cursor: pointer;
}

#letsGo {
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 10px;*/
    margin-left: 1em;
}

.active-submit {
    display: block;
    margin-top: 60px;
    height: 50px;
    line-height: 50px;
    width: 120px;
    border: 1px solid #ec743b;
    border-radius: 10px;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    background: #ec743b;
    cursor: pointer;
    outline: 0;
}

.active-submit:hover {
    box-shadow: rgba(0, 0, 0, 0.23) 0px 1px 1px 1px;
}

.skipp_foot {
    width: 100%;
    background: #465a65;
    height: 100%;
    color: white;
}

.skipp_foot span {
    transform: translateX(0%);
    display: block;
    padding: 0 15px;
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 21px;
}

.inactive-submit {
    display: block;
    margin-top: 66px;
    height: 50px;
    line-height: 50px;
    width: 120px;
    border: 1px solid #ec743b;
    border-radius: 0;
    color: white;
    font-size: 19px;
    text-decoration: none;
    background: #fc444e;
    cursor: pointer;
    outline: 0;
}

div#record-container img {
    border: 2px solid #455A64;
}

#upload-profile-pic .preview-file {
    width: calc(100% - 206px);
}

div#upload-profile-pic .upload-action ul {
    padding: 0;
    text-align: left;
}

.back-submit {
    display: block;
    margin-top: 60px;
    height: 50px;
    line-height: 50px;
    width: 120px;
    border: 1px solid #ec743b;
    border-radius: 10px;
    color: #ec743b;
    font-size: 22px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    outline: 0;
}

div.upload-container .action-button.skip-upload-button {
    background: white!important;
    border: 1px solid #fb4b4e;
    color: #fb4b4e;
    font-size: 11px;
    width: 90px;
    height: 25px!important;
    line-height: 25px!important;
    padding: 0!important;
}

.flex {
    display: flex;
}

.upload-main-area .replace-box {
    width: 206px;
    text-align: center;
    float: left;
}

.upload-main-area .preview-file {
    float: left;
}

.upload-container {
    margin: 1em 0em;
    overflow: hidden;
    clear: both;
    display: flex;
    border: 2px solid #fb4949;
}

.upload-desc-area {
    background: #f8f7fc;
    text-align: center !important;
    padding: 20px 20px;
    width: 100%;
    max-width: 270px;
    text-align: center;
    line-height: 20px;
}

.bac-reg-btn a {
    background: #000;
    text-transform: uppercase;
    font-weight: normal;
    padding: 11px 10px;
    font-size: 14px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.bac-reg-btn {
    margin-bottom: 20px;
}

.upload-desc-area p {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.upload-desc-area p.success_upload {
    font-size: 2em;
    text-align: left;
    color: gray;
    line-height: 1em;
}

.upload-desc-area ul {
    padding: 0px;
    margin: 1em;
    text-align: left !important;
}

div.upload-container div.upload-action {
    padding-top: 10px;
}

#samples-list {
    list-style: none;
}

div.upload-container div.select-file-button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#samples-list a.list-link {
    color: black;
    text-decoration: none;
    width: 90px;
    display: inline-block;
}

#samples-list li {
    padding: 0.5em 0em 0.1em 0em;
    border-bottom: 1px solid #89c3ff;
}

#samples-list img {
    width: 10px;
}
.recording{
    font-family: "Lucida Sans", sans-serif !important;
}
.upload-main-area {
    background: #f8f7fc;
    margin: 0px !important;
    width: 100%;
    padding: 15px 0px;
    color: black;
}

.upload-main-area p {
    display: block;
    color: black;
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 18px;
}

.language {
    padding: 0px 10px !important;
    text-align: center !important;;
}

.record-btn-container {
    text-align: center !important;
}

#record-btn{
    height: 70px !important;
    width: 70px !important;
    font-size: 12px;
}
#round-button-circle{
    border: 2px solid #cfdcec !important;
}
.recording-timer {
    padding: 0px;
}

.recording-timer span {
    text-align: center;
    display: block;
    font-size: 2em;
    color: gray;
}



.recording-actions {
    text-align: center !important;
}

.white-area {
    background: #f8f7fc;
    float: right !important;
    padding: 15px 20px;
    width: 100%;
    max-width: 270px;
    text-align: center;
    line-height: 20px;
}

.preview-file{
    overflow: hidden;
}

@media (max-width: 1200px) {
    .wrapper-mini {
        width: 100%;
        float: left;
    }
    .grp-actions {
        width: 100%;
        float: right;
    }
    .grp-actions button {
        margin-left: 0!important;
        margin-bottom: 10px!important;
    }
}

@media (max-width: 991px) {
    .row.upload_icons_area.clearfix .grid-2 {
    width: 33.333%;
    margin: auto;
    margin-bottom: 20px;
    max-width: 200px;
    float: none;
    display: inline-block;
    }
    .upload_icons_area {
        position: relative;
        text-align: center;
    }
    .upload_hidden_message p {
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
        height: 140px;
        width: 150px;
        margin-top: 10%;
        background: rgba(251, 75, 75, 0.61);
        border-radius: 50%;
        color: white;
        padding: 10%;
        cursor: pointer;
    }
    div.upload-container .grid-2 {
        width: 100%;
    }
    div.upload-container .grid-3 {
        width: 25%;
    }
    div.upload-container .grid-7 {
        width: 75%;
        padding: 15px 0;
    }
    .flex {
        display: flex;
        flex-flow: wrap;
    }
    .upload-desc-area {
        background: #f8f7fc;
        text-align: center !important;
        padding: 20px 20px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        line-height: 20px;
    }
    .white-area {
        background: #f8f7fc;
        float: right !important;
        padding: 15px 20px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        line-height: 20px;
    }
}
@media (max-width: 767px) {
        .row.upload_icons_area.clearfix .grid-2 {
            width: 50%;
            margin: auto;
            margin-bottom: 20px;
            max-width: 200px;
            float: none;
            display: inline-block;
        }
        div.upload-container .grid-2 {
                width: 100%;
            }
            div.upload-container .grid-3 {
                width: 100%;
            }
            div.upload-container .grid-7 {
                width: 100%;
                padding: 15px 0;
            }
        .upload-desc-area {
            min-height: 150px;
        }
        .page-title h2, .page-title h1 {
            font-size: 24px;
            margin: 0;
            font-weight: bold;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
        }
        .upload_icons_area {
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }
        .upload_icon {
            display: block;
            position: relative;
            margin: 0px 0.1%;
            height: 181.1px;
            cursor: pointer;
            width: 49%;
        }
        span.triangle-icon {
            display: none!important;
        }
        .register-nav {
            display: none!Important;
        }
        .upload_icons_area {
            position: relative;
            text-align: center;
            margin-top: 30px;
        }
    }

@media (max-width: 479px) {
    .row.upload_icons_area.clearfix .grid-2 {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        max-width: 200px;
        float: none;
        display: inline-block;
    }
}