#main{
display: table-row;
}

#sideleft {
 padding-left:1.5em;
  display:table-cell;
  padding-top: 0.5em;
  color:white;
  float:left;
}

#sideright {
 color:white;
 display: table-cell;
 vertical-align:top;
 padding-top: 0.5em;
}
#right-span {
    font-weight: bold;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    float: right;
    width: 400px;
    text-align: left;
    background: #4ac89b;
    font-size: 45px;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}
div#sideleft h5 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: justify!important;
    padding: 0 20px 0 0;
}

@media (max-width: 767px) {
    div#homepage-reg-form {
        padding: 0 20px;
    }
}
@media (max-width: 800px) {

#right-span {

   width: 100%;

}
}
