.row{
    overflow: hidden;
}

.navigation-steps-area{
    text-align: center;
    overflow: hidden;
}

.navigation-steps{
    text-align: center !important;
    display: inline-block;
    margin: 0px .1%;
}
.cm_height_area{
    display: none;
}
#height-seeking-preference label{
    color: #ec743b;
}
#height-seeking-preference input[type=text]{
    width: 90px;
    padding: 9px 5px;
}

#progress-circle .row{
    text-align: center;
}

.lov-button{
    background: #ec743b;
    color: white;
    font-size: 1em;
}

section#lets-start-form-content .row {
    margin-bottom: 40px;
}

#seeking-someone .uni-select a {
    min-height: 40px;
}

#seeking-someone .uni-select a p {
    position: relative;
    top: 5px;
}

div#seeking-someone .gender-text span {
    position: relative;
    top: -10px;
}

.gender-answer {
    display: inline-block;
    /* margin-bottom: 40px; */
    vertical-align: middle;
}

.gender-text {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
}

.gender-answer select {
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 767px) {
    .gender-text {
        display: inline-block;
        width: 100%!important;
        margin-bottom: 20px;
    }
    body .uni-select a {
        width: 100%!important;
    }
    .gender-answer {
        margin-bottom: 10px;
        width: 100%!important;
    }
    a#musician {
        background: #4392F1;
        text-decoration: none;
        color: white;
        padding: 10px 10px;
        border-radius: 5px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Nexa Light', sans-serif;
        display: block;
        margin: 15px auto 15px;
        float: inherit;
        width: 100%;
    }
    a#ambassador {
        background: #455a64;
        text-decoration: none;
        color: white;
        padding: 10px 10px;
        border-radius: 5px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Nexa Light', sans-serif;
        display: block;
        margin: 15px auto 15px;
        float: inherit;
        width: 100%;
    }
    a#author {
        background: #4ac89b;
        text-decoration: none;
        color: white;
        padding: 10px 10px;
        border-radius: 5px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Nexa Light', sans-serif;
        display: block;
        margin: 15px auto 15px;
        float: inherit;
        width: 100%;
    }
    button#submit-gender {
        background: #ec743b;
        text-transform: uppercase;
        font-weight: normal;
        padding: 10px 10px;
        font-size: 16px;
        font-family: 'Nexa Light', sans-serif;
        width: 100%;
    }
    .grid-4.navigation-steps.reg-section-title-active {
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
        padding: 15px !Important;
    }
    .grid-4.navigation-steps.reg-section-title {
        font-size: 12px !important;
        padding: 10px 0 !important;
        width: 100%!important;
        margin-bottom: 10px;
    }
    #last-address-search {
        text-align: center;
        width: calc(100% - 43px)!important;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        font-size: 13px;
    }
    div#seeking-someone .gender-text {
        margin-top: 10px;
    }
    .uni-select a:before {
        display: none;
    }
    .uni-select {
        width: 100%;
    }
    #lets-start-form-content .grid-4 {
        width: 100% !important;
        margin-bottom: 20px;
    }
    #lets-start-form-content .grid-6 {
        width: 100%;
        margin: 0px 0.5%;
    }
}