html{
    background: url("../../images/forgot-pass-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper{
    margin-top: 120px;
}

.forget-box{
    float: right;
    width: 400px;
}

.forget-box-title{

}

.forget-box-title h2{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px !important;
    text-align: center;
}

.forget-box-details{
    background: rgba(73, 178, 134, 0.68);
    padding: 1em;
    text-align: center;
}

.forget-box-details p{
   color: white;
}

.forget-box-details input[type=email]{
    width: 90%;
    border: silver solid 1px;
    border-radius: 5px;
    padding: 0.2em 0.5em;
}

.forget-box-details span{
    display: block;
}

.forget-box-details span a{
    text-decoration: none;
    color: white;
}

.btn-red-lg{
    display: block;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .forget-box{
        float: none;
        margin: auto;
    }
}