.send-message-main {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: auto;
}
.send-message-main .send-box {
    width: 20%;
    text-align: center;
}
.send-message-main .send-box.record-content {
    width: 40%;
}
.send-message-container .col-12 {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
.send-box.record-content p {
    color: white;
    padding: 29px;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
}
span.send-message-text {
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
    line-height: 25px;
}
span.send-message-title {
    display: block;
    text-align: center;
}
.round-button-circle-red {
    background: #fa4a4a;
    width: 92px;
    height: 92px;
    padding: 0;
    border: 0;
    line-height: 14px;
}
.round-button-div {
    display: block;
    float: left;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 0;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
span#record-btn-text {
    font-weight: 200;
    color: white;
}
#timer {
    font-weight: 200;
    color: white;
}

.send-message-container {
    margin-bottom: 40px;
}