.wrapper{
    padding: 0em 1em;
}

.brief-desc{
    margin: 1em 0em 3em 0em;
    font-size: 1.5em;
    text-align: justify;
}

label{
    font-weight: bold;
    margin: 5px 0px;
    display: block;
}

label.question{
    font-size: 20px;
}

.ui.grid{
    margin: 0px !important;
}

.ui.grid > .column:not(.row){
    padding: 0em;
}

.submit-row{
    padding: 1em 0em;
    text-align: center;
}

input[type=submit]{
    display: inline-block;
    width: 80%;
}