.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.button {
    background-color: #e9e9e9;
    border: none;
    padding: 8px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.sub-menu {
    background-color: #6b7b82;
    width: 100%;
    height: 45px;
}

.sub-menu .button {
    float: right
}

.search-box {
    float: right;
    margin-top: 5px;
    height: 35px !important;
}

.content {
    margin: 1em;
}

ul {
    list-style: none outside none
}

#product-list {
    clear: both;
    margin: 0;
    padding: 0
}

.rsw ul {
    list-style: none outside none
}

.search-result {
    position: relative;
    padding: 9px 0;
    margin: 0;
    left: 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #ddd;
    color: #767676
}

#product-list > .search-result:first-child {
    border-top-color: #ddd
}

#product-list > .answers:first-of-type {
    border-top: 1px solid #ddd
}

#product-list {
    border-bottom: 1px solid #ddd
}

.product-pic {
    width: 33%;
    max-width: 225px;
    max-height: 225px;
    margin: 0 2% 3px 0
}

.p-pic, .p-pic:hover {
    border-radius: 3px;
    border: 1px solid #e4e4e4
}

.p-pic:hover {
    border: 1px solid #aaa
}

.product-list-title, .product-list-subtitle {
    padding: 0;
    width: auto;
    overflow: hidden;
    font-weight: normal
}

h3.product-list-title {
    word-wrap: break-word;
    margin: 0;
    font-size: 20px;
    line-height: 1.25;
    position: relative;
    top: -2px;
    margin-bottom: -2px;
    color: #2050b8;
}

.product-list-subtitle {
    margin-top: 5px;
    font-size: 13px;
    line-height: 15px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.product-pic .img {
    margin: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 225px;
    display: block;
    text-align: center
}

.product-list-prices {
    font-size: 13px;
    width: 28%;
    padding: 16px 1% 0 0
}

.product-list-price {
    font-size: 20px;
    color: #333;
    line-height: 1.1;
    padding-bottom: 1px
}

.product-location{
    margin-top: 20px;
}

.search-result, .search-result {
    margin-top: 2px
}

.left {
    float: left;
}

.product-list-description {
    font-size: 13px;
    color: black;
    padding-top: 7px;
}

.sold-out {
    color: #ca5454fa;
    font-weight: bold;
    font-size: 12px;
    padding-top: 3px;
}

.bottomright {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    margin: 7px;
    right: 0;
}

.product-submission-option {
    padding: 40px 0;
    text-align: center;
}

.product-submission-option
 p {
    font-size: 19px;
}

.product-submission-option
 .ui h2 {
    margin-top: 40px;
    font-family: 'Nexa Bold', sans-serif;
    margin-bottom: 0;
}

.product-submission-option .ui p {
    margin-bottom: 30px;
}

.product-submission-option
 .ui img {
    max-width: 100%;
}

.product-submission-option
 h4 {
    margin: 20px 0;
}


.product-submission-option
 h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.sub-menu form .ui .ui.sel1.fluid.normal.dropdown.selection {
        padding: 0 10px !important;
        line-height: 38px;
        height: 38px;
        font-size: 13px;
        min-width: 150px;
        text-align: left;
        border: 0;
        border-left: 1px solid #eee;
}

.ui.action.input.sales-detail-product input {
    border: 0;
    border-radius: 0;
}

.sub-menu form .ui .ui.sel1.fluid.normal.dropdown.selection .dropdown {
    font-size: 16px;
    top: 23px;
    right: 20px;
}