.col-6 {
    width: 50%;
    float: left;
}

.flex-row {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.sales-products img {
    max-width: 150px;
    height: auto;
    margin-right: 10px;
}

.sales-products {
    border: 1px solid #555;
    margin-top: 15px;
}

.ui.floating.dropdown.labeled.icon.button {
    float: right;
    top: 3px;
    padding: 12px;
}

.ui.floating.dropdown.labeled.icon.button .transition {
    left: -50%;
}

.sales-products .col-6:nth-of-type(1) {
    border-right: 1px solid #555;
}

.sales-products .col-6 {
    padding: 15px;
    border-bottom: 1px solid #555;
}

.sales-products .col-6:last-child {
    border-bottom: 0;
}

.sale-prod-content h2 {
    font-family: 'Nexa Bold', sans-serif;
}

.sale-prod-content h3 {
    font-family: 'Nexa Light', sans-serif;
}

.sale-prod-content h3 b {
    font-family: 'Nexa Bold', sans-serif;
}

.sub-menu {
    background-color: #6b7b82;
    width: 100%;
    height: 45px;
    padding: 0 5px 0 0px;
}

#tabs .content {
    margin: 0;
}

.brand-account h2 {
    font-family: 'Nexa Light', sans-serif;
    margin-top: 30px;
}

.brand-account h3 {
    font-family: 'Nexa Bold', sans-serif;
    margin-bottom: 10px;
}

.brand-account .brand-logo .logo-text {
    background: #465a65;
    width: 150px;
    font-size: 31px;
    text-align: center;
    padding: 39px 0;
    color: white;
    display: inline-block;
    vertical-align: middle;
    height: 150px;
}

.brand-account .brand-logo a {
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
    color: #00adef;
}

.locations-list ul {
    padding: 0 20px;
    list-style: none;
}

.locations-list ul
 li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
}

.locations-list ul li h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Nexa Bold', sans-serif;
}

.locations-list ul {
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 15px;
    width: 90%;
    margin: auto;
}

.locations-list ul li i {
    color: red;
    position: absolute;
    right: 0;
    top: 9px;
    cursor: pointer;
}

.locations-list ul li p {
    font-size: 12px;
    font-weight: bold;
}

#location-modal {
    padding: 20px 15px;
}

div#location-modal
 iframe {
    margin-bottom: 20px;
}

#location-modal .actions {
    border: 0;
    background: transparent;
}