.hero .main-image {
    max-width: 100%;
    display: block;
}

.hero-content {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 0 30px;
    height: 100%;
}

.hero-content h4 {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.hero {
    position: relative;
}

.hero-content h3 {
    font-size: 2em;
    color: white;
    margin-top: 40px;
}

.hero-content h2 {
    font-size: 3em;
    color: #ec743b;
    font-weight: bold;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.hero-content p {
    color: white;
    font-size: 2em;
}

.hero-content img {
    max-width: 100%;
}

.video-content {
    display: flex;
    flex-flow: wrap;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.video-content .left {
    width: 40%;
    padding: 15px;
    border-right: 1px solid #eee;
    background: #eee;
}

.video-content .right {
    width: 60%;
}

.video-content .right .box1 {
    border-bottom: 1px solid #eee;
    background: #ec743b;
    padding: 15px;
    color: white;
}

.video-content .right .box2 {
    padding: 15px;
}

.video-content .right .box1 .other-features {
    display: flex;
    flex-flow: wrap;
}

.video-content .right .box1 .other-features ul {
    width: 50%;
    margin: 0;
    padding-left: 20px;
}

.video-content .right .box1 .other-features p {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.video-content .right .box1 .other-features ul li {
    margin-bottom: 10px;
}

.video-content .right .box1 .communicate li {
    margin-bottom: 10px;
}

.box1 h2 {
    text-align: center;
    margin: 15px;
}

.box1 p {
    text-align: left;
    line-height: 22px;
    letter-spacing: 0.03em;
}

.left p {
    margin-bottom: 10px;
    line-height: 22px;
}

.left ul {padding-left: 19px;margin-bottom: 10px;}

.left ul li {
    padding: 11px 0;
    letter-spacing: 0.03em;
}

.right .box2 ul {
    padding-left: 20px;
    margin-top: 10px;
}

.right .box2 ul li {
    padding: 5px 0;
    font-family: 'Nexa Bold', sans-serif;
}

.response {
    background: #455A64;
    padding: 15px 15px;
    text-align: center;
}

.response p {
    color: white;
    line-height: 22px;
}

.response p a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.video-content b {
    font-family: 'Nexa Bold', sans-serif;
}

@media (max-width: 991px) {
    .video-content .right {
        width: 100%;
    }
    .video-content .left {
        width: 100%;
    }
    .hero-content h2 {
        font-size: 2em;
    }
    .hero-content img {
        max-width: 60%;
    }
}
@media (max-width: 767px) {
    .hero .main-image {
            max-width: 100%;
            display: block;
            object-fit: cover;
            min-height: 420px;
        }
}