<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Content Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<!--/*@thymesVar id="ad" type="com.realroofers.lovappy.service.ads.dto.AdDto"*/-->

<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ad Details
                <!--<small>Optional description</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">

                        <h4>Ad Properties</h4>
                        <hr/>

                        <!-- Media Type -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Media Type</label>

                            <div class="col-sm-10">
                                <textarea class="form-control col-sm-2" disabled th:text="${ad.mediaType}"></textarea>
                            </div>
                        </div>

                        <!-- Text -->
                        <div class="form-group" th:if="${ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).TEXT
                                                            || ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).AUDIO}">
                            <label class="col-sm-2 control-label">Text</label>

                            <div class="col-sm-10">
                                <textarea class="form-control col-sm-2" disabled th:text="${ad.text}"></textarea>
                            </div>
                        </div>

                        <!-- Text Color -->
                        <div class="form-group" th:if="${ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).TEXT
                                                            || ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).AUDIO}">
                            <label class="col-sm-2 control-label">Text Color</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.textColor}">
                            </div>
                        </div>

                        <!-- Background -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Background Color</label>

                            <div class="col-sm-10">
                                <div th:if="${ad.backgroundColor != null}" class="color-circle"
                                     th:style="'width: 50px; height: 50px; border-radius: 50%;background-color: ' + ${ad.backgroundColor}">
                                </div>
                            </div>
                        </div>
                        <!-- Background -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Background Image</label>

                            <div class="col-sm-10">
                                <img th:if="${ad.backgroundFileCloud.url != null && !ad.featured}" th:src="${ad.getBackgroundFileCloudUrl()}"
                                     style="border-radius: 10px; width: 200px; height: 198px;">
                                <img th:if="${ad.backgroundFileCloud.url != null && ad.featured}" th:src="${ad.getFeaturedAdBackgroundFileCloudUrl()}"
                                     style="border-radius: 10px; width: 200px; height: 342px;">
                            </div>
                        </div>


                        <h4>General Information</h4>
                        <hr/>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.email}">
                            </div>
                        </div>

                        <!-- Type -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.adType.name()}">
                            </div>
                        </div>

                        <!-- Length -->
                        <div class="form-group" th:if="${ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).VIDEO
                                                            || ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).AUDIO}">
                            <label class="col-sm-2 control-label">Length (seconds)</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.length}">
                            </div>
                        </div>

                        <!-- Audio File -->
                        <div class="form-group" th:if="${ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).AUDIO}">
                            <label class="col-sm-2 control-label">Audio File</label>

                            <div class="col-sm-10">
                                <video controls="" style="height: 35px;width: 500px;">
                                    <source th:src="${ad.mediaFileCloud.url}" type="audio/mp3">
                                </video>
                            </div>
                        </div>

                        <!-- Video File -->
                        <div class="form-group" th:if="${ad.mediaType == T(com.realroofers.lovappy.service.ads.support.AdMediaType).VIDEO}">
                            <label class="col-sm-2 control-label">Video File</label>

                            <div class="col-sm-10">

                                <iframe th:if="${ad.getVideoProvider().name()=='YOUTUBE'}" width="700" height="500" th:src="${ad.getMediaFileUri()}">
                                </iframe>
                                <video th:unless="${ad.getVideoProvider().name()=='YOUTUBE'}" width="700" height="500" controls>
                                    <source th:src="${ad.getMediaFileUri()}" >
                                </video>
                            </div>
                        </div>

                        <!-- Url -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Url</label>

                            <div class="col-sm-10">
                                <a th:href="${ad.url}" th:text="${ad.url}" target="_blank"></a>
                            </div>
                        </div>

                        <!-- Featured -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Featured</label>
                            <div class="col-md-10">
                                <input type="checkbox" th:field="*{ad.featured}"/>
                            </div>
                        </div>


                        <h4>Target Audience</h4>
                        <hr/>

                        <!-- Gender -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.gender}">
                            </div>
                        </div>

                        <!-- Age Range -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Age Range</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.ageRange.from + ' - ' + ad.ageRange.to}">
                            </div>
                        </div>

                        <!-- Language -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Language</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" disabled th:value="${ad.language.name}">
                            </div>
                        </div>


                        <!-- Audience Preferences -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Audience Preferences</label>

                            <!-- Pets -->
                            <div class="col-sm-10">

                                <img th:if="${ad.preferences['catORdog'] == 'dog'}"
                                     th:src="@{/images/icons/preference_icons/prefer_dogs.png}" alt="">
                                <img th:if="${ad.preferences['catORdog'] == 'cat'}"
                                     th:src="@{/images/icons/preference_icons/prefer_cat.png}" alt="">
                                <img th:if="${ad.preferences['catORdog'] == 'both_pets'}"
                                     th:src="@{/images/icons/preference_icons/prefer_both_pets.png}" alt="">
                                <img th:if="${ad.preferences['catORdog'] == 'no_pets'}"
                                     th:src="@{/images/icons/preference_icons/prefer_no_pets.png}" alt="">


                                <!-- Habits -->
                                <img th:if="${ad.preferences['drinker'] == 'drinker'}"
                                     th:src="@{/images/icons/preference_icons/habit_drinker.png}" alt="">
                                <img th:if="${ad.preferences['smoker'] == 'smoker'}"
                                     th:src="@{/images/icons/preference_icons/habit_smoker.png}" alt="">
                                <img th:if="${ad.preferences['user'] == 'user'}"
                                     th:src="@{/images/icons/preference_icons/habit_user.png}" alt="">
                                <img th:if="${ad.preferences['no-habit'] == 'no-habit'}"
                                     th:src="@{/images/icons/preference_icons/habit_none.png}" alt="">


                                <!-- Neighborhood -->
                                <img th:if="${ad.preferences['ruralORurbanORsuburban'] == 'rural'}"
                                     th:src="@{/images/icons/preference_icons/neighborhood_rural.png}" alt="">
                                <img th:if="${ad.preferences['ruralORurbanORsuburban'] == 'urban'}"
                                     th:src="@{/images/icons/preference_icons/neighborhood_urban.png}" alt="">
                                <img th:if="${ad.preferences['ruralORurbanORsuburban'] == 'suburban'}"
                                     th:src="@{/images/icons/preference_icons/neighborhood_suburban.png}" alt="">


                                <!-- Hanging -->
                                <img th:if="${ad.preferences['outdoorsyORindoorsy'] == 'outdoorsy'}"
                                     th:src="@{/images/icons/preference_icons/hanging_outdoorsy.png}" alt="">
                                <img th:if="${ad.preferences['outdoorsyORindoorsy'] == 'indoorsy'}"
                                     th:src="@{/images/icons/preference_icons/hanging_indoorsy.png}" alt="">


                                <!-- Spending -->
                                <img th:if="${ad.preferences['frugalORbigspender'] == 'frugal'}"
                                     th:src="@{/images/icons/preference_icons/money_frugal.png}" alt="">
                                <img th:if="${ad.preferences['frugalORbigspender'] == 'big_spender'}"
                                     th:src="@{/images/icons/preference_icons/money_big_spender.png}" alt="">


                                <!-- Waking -->
                                <img th:if="${ad.preferences['morningpersonORnightowl'] == 'morning_person'}"
                                     th:src="@{/images/icons/preference_icons/waking_morning_person.png}" alt="">
                                <img th:if="${ad.preferences['morningpersonORnightowl'] == 'night_owl'}"
                                     th:src="@{/images/icons/preference_icons/waking_night-owl.png}" alt="">


                                <!-- Waking -->
                                <img th:if="${ad.preferences['extrovertORintrovert'] == 'extrovert'}"
                                     th:src="@{/images/icons/preference_icons/personality_extrovert.png}" alt="">
                                <img th:if="${ad.preferences['extrovertORintrovert'] == 'introvert'}"
                                     th:src="@{/images/icons/preference_icons/personality_introvert.png}" alt="">

                            </div>

                        </div>


                        <h4>Target Area</h4>
                        <hr/>

                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Longitude</th>
                                <th>Latitude</th>
                                <th>Radius (mile)</th>
                            </tr>
                            <tr th:each="area : ${ad.targetAreas}">
                                <td th:text="${area.address.city}"></td>
                                <td th:text="${area.address.state}"></td>
                                <td th:text="${area.address.country}"></td>
                                <td th:text="${area.address.longitude}"></td>
                                <td th:text="${area.address.latitude}"></td>
                                <td th:text="${area.address.lastMileRadiusSearch}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <input id="adId" type="hidden" th:value="${ad.id}">

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                        <span th:if="${ad.status.name() == 'APPROVED'}" class="label label-success">Approved</span>
                        <span th:if="${ad.status.name() == 'REJECTED'}" class="label label-danger">Rejected</span>
                        <span th:if="${ad.status.name() == 'DISABLED'}" class="label bg-navy">Disabled</span>

                        <br/>
                        <br/>

                        <th:block th:if="${ad.status.name() == 'PENDING'}">
                            <button id="btn-approve" type="button" class="btn btn-success">
                                Approve <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                            </button>
                            <button id="btn-reject" type="button" class="btn btn-danger">
                                Reject <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                            </button>
                        </th:block>

                        <th:block th:if="${ad.status.name() == 'APPROVED'}">
                            <button id="btn-disable" type="button" class="btn bg-navy">
                                Disable <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                            </button>
                        </th:block>

                        <th:block th:if="${ad.status.name() == 'DISABLED'}">
                            <button id="btn-enable" type="button" class="btn btn-info">
                                Enable <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                            </button>
                        </th:block>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function() {
        var actionBtns = $(".box-footer").find("button");

        $("#btn-approve").click(function () {
            actionBtns.prop("disabled", true);
            $(this).find("i").show();
            changeStatus("approve", actionBtns);
        });

        $("#btn-reject").click(function () {
            actionBtns.prop("disabled", true);
            $(this).find("i").show();
            changeStatus("reject", actionBtns);
        });

        $("#btn-disable").click(function () {
            actionBtns.prop("disabled", true);
            $(this).find("i").show();
            changeStatus("disable", actionBtns);
        });

        $("#btn-enable").click(function () {
            actionBtns.prop("disabled", true);
            $(this).find("i").show();
            changeStatus("enable", actionBtns);
        });
    });

    function changeStatus(status, actionBtns) {
        $.ajax({
            url: baseUrl + "lox/ads/" + status,
            type: "POST",
            data: {id: $("#adId").val()},
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                actionBtns.prop("disabled", false);
                actionBtns.find("i").hide();
                console.log(data);
            }
        });
    }
</script>

</body>
</html>
