<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Content Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ads Management
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ads</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>

                                <form th:action="@{/lox/ads}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="id" type="hidden"   >
                                    <button type="submit" class="headerBtn">ID</button>

                                </form>

                                </th>
                            <th>
                                <form th:action="@{/lox/ads}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="adType" type="hidden"   >
                                    <button type="submit" class="headerBtn">Type</button>

                                </form>
                                </th>

                            <th>
                                <form th:action="@{/lox/ads}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="mediaType" type="hidden"   >
                                    <button type="submit" class="headerBtn">Media Type</button>

                                </form>
                            </th>
                            <th>

                                <form th:action="@{/lox/ads}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="email" type="hidden"   >
                                    <button type="submit" class="headerBtn">Email</button>

                                </form>
                            </th>
                            <th>
                                <form th:action="@{/lox/ads}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="length" type="hidden"   >
                                    <button type="submit" class="headerBtn">Length (seconds)</button>

                                </form>
                                </th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="ad" type="com.realroofers.lovappy.service.ads.dto.AdDto"*/-->
                        <tr th:each="ad : ${ads.getContent()}">
                            <td th:text="${ad.id}"></td>
                            <td th:text="${ad.adType}"></td>
                            <td th:text="${ad.mediaType}"></td>
                            <td th:text="${ad.email}"></td>
                            <td th:text="${ad.length}"></td>
                            <td th:switch="${ad.status.name()}">
                                <span th:case="'PENDING'" class="label label-warning" th:text="${ad.status}"></span>
                                <span th:case="'APPROVED'" class="label label-success" th:text="${ad.status}"></span>
                                <span th:case="'REJECTED'" class="label label-danger" th:text="${ad.status}"></span>
                                <span th:case="'DISABLED'" class="label bg-navy" th:text="${ad.status}"></span>
                            </td>
                            <td><a th:href="@{/lox/ads/__${ad.id}__}" class="btn btn-primary btn-xs">Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--pagination-->
                <div th:replace="admin/fragments/pagination :: pagination (pageContent=${ads}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

</body>
</html>
