<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,~{::style})">
    <title>Lovappy Admin | Content Management</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/cropper.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/ads-bg.css}">

    <style>
        .color-circle:hover {
            opacity: 0.8;
        }

        .color-circle:hover i {
            display: block !important;
        }

        .modal-dialog {
            width: 80% !important;
        }
    </style>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ad Backgrounds Management
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Background Images</h3>
                    <button id="btn-upload-background" type="button" class="btn btn-success pull-right">
                        Upload Background <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                    </button>
                    <input type="file" class="hidden-file" id="upload-background-input" style="display: none;"/>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li style="width: auto;" th:each="image : ${images}">
                            <!--/*@thymesVar id="image" type="com.realroofers.lovappy.service.ads.dto.AdBackgroundImageDto"*/-->
                            <img th:src="${image.imageFileCloud.url}"
                                 style="border-radius: 10px; width: 100px; height: 100px;">
                            <br/>
                            <button type="button" class="btn btn-danger btn-delete-image" th:attr="data-id=${image.id}"
                                    style="margin-top: 5px;">
                                Delete <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                            </button>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Background Colors</h3>
                    <button id="btn-add-color-modal" type="button" class="btn btn-success pull-right">Add Color</button>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li style="width: auto;" th:each="color : ${colors}">
                            <!--/*@thymesVar id="color" type="com.realroofers.lovappy.service.ads.dto.AdBackgroundColorDto"*/-->
                            <div class="color-circle" th:attr="data-id=${color.id}"
                                 th:style="'cursor: pointer;width: 50px; height: 50px; border-radius: 50%;background-color: ' + ${color.color}">
                                <i class="fa fa-times fa-6"
                                   style="display: none; font-size: 3em; position: relative; top: 10%;"></i>
                            </div>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div id="modal-add-color" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Color</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Select Color</label>

                                <div class="col-sm-8">
                                    <input id="colorCodeInput" type="color" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn-add-color" type="button" class="btn btn-primary">
                        Add <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div th:replace="fragments/image-uploader :: admin-upload-modal">
    </div>

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script src="../../../static/js/cropper.min.js" th:src="@{/js/cropper.min.js}"></script>
<script src="../../../static/js/image-cropper/radio-image-cropper.js"
        th:src="@{/js/image-cropper/radio-image-cropper.js}"></script>
<script>
    $(document).ready(function () {

        // var uploadImageBtn = $("#btn-upload-background");
        // uploadImageBtn.click(function () {
        //     $("#upload-background-input").click();
        // });

        $('#btn-upload-background').on('click', function (e) {
            e.preventDefault();
            $('#upload-modal').modal('show');
            openTab('tab1');
        });

        $('#upload-button').click(function () {
            $('#inputImage').click();
        });

        $('#change-image').click(function () {
            $('#inputImage2').click();
        });


        $("#btn-add-color-modal").click(function () {
            $("#modal-add-color").modal("show");
        });


        // $("#upload-background-input").on('change', function () {
        //     uploadImageBtn.prop("disabled", true);
        //     uploadImageBtn.find("i").show();
        //
        //     var formData = new FormData();
        //     formData.append('image', this.files[0]);
        //
        //     $.ajax({
        //         url: baseUrl + "lox/ads/background/image",
        //         type: "POST",
        //         enctype: 'multipart/form-data',
        //         processData: false,
        //         contentType: false,
        //         cache: false,
        //         data: formData,
        //         success: function (data) {
        //             location.reload();
        //         },
        //         error: function (jqXHR, textStatus, errorThrown) {
        //             uploadImageBtn.prop("disabled", false);
        //             uploadImageBtn.find("i").hide();
        //
        //             if (jqXHR.status === 400)
        //                 console.log(jqXHR.responseJSON);
        //             else if (jqXHR.status === 401)
        //                 window.location.href = baseUrl + "lox/login";
        //         }
        //     });
        // });

        $(".btn-delete-image").click(function () {
            var btn = $(this);
            var id = btn.data("id");

            btn.prop("disabled", true);
            btn.find("i").show();

            $.ajax({
                url: baseUrl + "lox/ads/background/image/delete",
                type: "POST",
                data: {id: id},
                success: function () {
                    btn.closest("li").remove();
                },
                error: function (data) {
                    btn.prop("disabled", false);
                    btn.find("i").hide();
                    console.log(data);
                }
            });
        });

        //Add Color
        $("#btn-add-color").click(function () {
            var saveBtn = $(this);
            saveBtn.prop("disabled", true);
            saveBtn.find("i").show();

            $.ajax({
                url: baseUrl + "lox/ads/background/color",
                type: "POST",
                data: {
                    color: $("#colorCodeInput").val()
                },
                success: function () {
                    saveBtn.prop("disabled", false);
                    saveBtn.find("i").hide();
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                    saveBtn.prop("disabled", false);
                    saveBtn.find("i").hide();
                }
            });
        });

        $(".color-circle").click(function () {
            var $this = $(this);
            var id = $this.data("id");

            $.ajax({
                url: baseUrl + "lox/ads/background/color/delete",
                type: "POST",
                data: {id: id},
                success: function () {
                    $this.closest("li").remove();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    });

    function uploadFile() {
        var uploadImageBtn = $("#upload-image");

        $('#image1').cropper('getCroppedCanvas',{ fillColor: '#FFFFFF' }).toBlob(function (blob) {

            $(".btn").prop("disabled", true);
            uploadImageBtn.find("i").show();
            var formData = new FormData();

            formData.append('image', blob);

            $('#image2').cropper('getCroppedCanvas',{ fillColor: '#FFFFFF' }).toBlob(function (blob2) {

                formData.append('featured_image', blob2);
                $.ajax({
                    url: baseUrl + "lox/ads/background/image",
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: formData,
                    success: function (data) {
                        $('#upload-modal').modal('hide');
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $(".btn").prop("disabled", false);
                        uploadImageBtn.find("i").hide();

                        if (jqXHR.status === 400)
                            console.log(jqXHR.responseJSON);
                        else if (jqXHR.status === 401)
                            window.location.href = baseUrl + "lox/login";
                    }
                });
            });
        });
    }

</script>

</body>
</html>
