<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'music_landing', true)">
    <title th:text="'Lovappy | '+${music.title}">Lovappy | Music Detail</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.rateyo.min.css" th:href="@{/css/jquery.rateyo.min.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/slick.css" th:href="@{/css/jquery.mCustomScrollbar.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/music.css"
          th:href="@{/css/web_pages/music.css}">


    <link rel="stylesheet" type="text/css" href="../../static/css/square-payment-form.css"
          th:href="@{/css/square-payment-form.css}">
</head>
<body>

<!--/*@thymesVar id="music" type="com.realroofers.lovappy.service.music.dto.MusicDto"*/-->

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>



<!--<section class="hero-image detail-hero" th:style="'background-image:url(' + @{/images/music/detail-hero.jpg} + ');'">
    <div class="container">
        <h1>Browse music</h1>
        <p>Make Them Feel Special Send Them Music</p>
        <p>Just For <span>$1.99/Song</span></p>
    </div>
</section>-->


<div class="song-type">
    <div class="container">
        <!--<ul>-->
            <!--<li><a href="#">New song</a></li>-->
            <!--<li class="active"><a href="#">Traditional song</a></li>-->
            <!--<li><a href="#">Popular by Lovappy</a></li>-->
            <!--<li><a href="#">Featured LovAppy artist</a></li>-->
        <!--</ul>-->
    </div>
</div>


<section class="music-detail">
    <div id="delete-music" class="ui modal" data-edit="delete-music">
        <i class="close icon"></i>
        <div class="header" th:text="#{music-detail.delete-song}">
            Delete Song!
        </div>
        <div class="content delete-article-modal">
            <div class="row">
                <h3 th:text="#{music-detail.delete-question}">Are you sure you want to delete this Song?</h3>
            </div>
        </div>

        <div class="actions">
            <div class="ui button btn-close-modal" th:text="#{music-detail.no}">No</div>
            <a id="deleteMusic" class="ui button green" href="javascript:void(0)" th:text="#{music-detail.yes}">Yes</a>
        </div>
    </div>
    <div class="container clearfix">
        <a th:if="${isOwner}" href="#" th:href="@{/music/__${music.id}__/edit}" class="edit-music"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a th:if="${isOwner}"  id="deleteSong" href="#"   class="delete-music"><i class="fa fa fa-trash-o" data-edit="delete-music" aria-hidden="true">

        </i>
        </a>
        <div class="col-md-5">
            <img src="../../static/images/music/music-detail.jpg" th:src="${music.coverImageUrl}" alt="Song Name">
            <div class="music-timeline clearfix">
                <span id="timer">0:00</span>
                <div class="time-line">
                    <span id="progress"></span>
                </div>
                <span id="duration"></span>
            </div>
            <div class="prev-play-next">
                <i id="btn-backward" class="fa fa-fast-backward" aria-hidden="true"></i>
                <i id="btn-play" class="fa fa-play" ></i>
                <!--<i id="btn-pause" class="fa fa-pause" aria-hidden="true"></i>-->
                <i id="btn-forward" class="fa fa-fast-forward" aria-hidden="true"></i>
            </div>
            <div class="music-nav-menu music-section detail-search">
                <ul>
                    <li th:if="${#authorization.expression('hasAuthority(''MUSICIAN'')')}" class="upload-music-list">
                        <label class="upload-music">
                            <a th:href="@{/music/upload}"  th:disabled=="${#authorization.expression('hasAuthority(''MUSICIAN'')')==false}">
                                <span> <i class="fa fa-upload"></i><!--Upload your own music--></span>
                            </a>

                        </label>
                    </li>
                    <li class="clearfix">
                        <form th:replace="music/fragments :: search-music (searchText = ${searchText},filter = ${filter}, genreId=${genreId})"> </form>
                    </li>
                    <!--<i class="fa fa-info upload-song-info" aria-hidden="true"></i>-->
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="song-title-detail clearfix">
                <div class="song-name">
                    <h3 th:text="${music.title}">burning gold</h3>
                    <h4  th:text="#{music-detail.by}+' '+ ${music.artistName}">by Christina Perri</h4>
                </div>
                <div class="song-status">
                    <ul>
                        <li th:if="${showReceivedMusic}" ><img src="../../static/images/music/song-img1.jpg" th:src="@{'/images/music/song-notice.png'}" alt="Song Notice"></li>
                        <li th:unless="${hideDownload}"><a id="downloadMusic" href="#"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> [[#{music-detail.download}]]</a></li>
                        <li th:if="${showBuyLink}"><a id="buy-btn" href="#"><i class="fa" aria-hidden="true"></i> [[#{music-detail.buy}]]</a></li>
                        <li th:if="${showSendMusic}"><a id="sendMusic" href="#"><i class="fa" aria-hidden="true"></i> [[#{music-detail.send}]]</a></li>
                        <li th:if="${showSendBuyLink}"><a id="showSendBuyLink" href="#"><i class="fa" aria-hidden="true"></i>[[#{music-detail.buy-send}]]</a></li>
                        <li th:if="${showAlreadySendMsg}"><p th:text="#{music-detail.already-sent}">* You already sent it to this user!</p></li>
                        <li th:if="${showNoteLimit}"><p th:text="#{music-detail.reach-limit}" >*You have reached download limit!</p></li>
                        <br>
                        <br>
                        <!-- LIKE -->
                        <li id="like" class="rating">
                            <div id="rateYo" class="rateYo"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 th:if="${!#strings.isEmpty(musicExchange.lyrics)}" th:text="#{music-detail.receive-highlight}">This user has highlighted lyrics for you!</h1>
            <div class="song-content">
                <div id="lyrics-content" class="content"  th:attr="highlighted=${showSendMusic or showSendBuyLink}" th:utext="${#strings.replace(musicExchange.lyrics, T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Square Payment Form-->
<div th:replace="templates/squareform :: sqform"></div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script src="../../static/js/slick.min.js" th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" type="text/javascript"></script>

<script src="../../static/js/jquery.rateyo.min.js" th:src="@{/js/jquery.rateyo.min.js}"></script>
<script src="../../static/js/vendor/jquery/jquery.highlight.js" th:src="@{/js/vendor/jquery/jquery.highlight.js}"></script>


<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

         if([[${music.previewFileUrl}]]!=null)
        var musicUrl = [[${music.fileUrl}]];
        var musicID = [[${music.id}]];
        var rating = [[${music.rating}]]===null?0:[[${music.rating}]];
        var alreadyRated = [[${music.alreadyRated}]];
        var sendToUserId = [[${sendToUser}]]
        var squareAppID = [[${squareAppID}]];
        var isLoggedIn = [[${#authorization.expression('isAuthenticated()')}]];
        var calcPriceUrl = baseUrl + "api/v1/music/price";
        console.log([[${lyricsReceived}]]);
        if([[${lyricsReceived}]]!=null)
        $("#lyrics-content").html([[${lyricsReceived}]]);
        /*]]>*/


    </script>
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script src="../../static/js/square-payment.js" th:src="@{/js/square-payment.js}" type="text/javascript"></script>
<script src="../../static/js/web_pages/music/music.js" th:src="@{/js/web_pages/music/music.js}"></script>
<script src="../../static/js/web_pages/music/music-received-details.js" th:src="@{/js/web_pages/music/music-received-details.js}"></script>

</body>
</html>