<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'music_landing', false)">
    <title>Lovappy | Music Upload</title>
    <meta name="viewport" content="width=device-width"/>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/music.css"
          th:href="@{/css/web_pages/music.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/web_pages/music_terms.css}"/>
    <style></style>
</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>


<div class="terms">
    <div class="container">
        <h2 th:text="#{songwriters-terms.title}">Singers Songwriters</h2>
        <div class="box">
            <h3 th:text="#{songwriters-terms.mini-title}">Terms and Conditions</h3>
            <h4 th:text="#{songwriters-terms.sub-title}">Lorem Ipsum</h4>
            <p th:text="#{songwriters-terms.des1}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h4 th:text="#{songwriters-terms.sub-title}">Lorem Ipsum</h4>
            <p th:text="#{songwriters-terms.des2}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h4 th:text="#{songwriters-terms.sub-title}">Lorem Ipsum</h4>
            <p th:text="#{songwriters-terms.des3}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
</body>
</html>