<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'music-uploads', false)">
    <title>Lovappy | Music Upload</title>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/music.css"
          th:href="@{/css/web_pages/music.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <style></style>


</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="hero-image hero-image-upload"
         th:style="'background-image:url(' + @{/images/music/music-upload-cover.jpg} + ');'">
    <div class="container">
        <h1 th:text="#{upload-music.title}">Upload Your Music</h1>
        <p th:text="#{upload-music.description}">Make Them Feel Special, <br>Send Shem Music</p>
    </div>
</section>

<form th:if="${#authorization.expression('hasAuthority(''MUSICIAN'')')}" id="music-submit-form" name="music-submit-form"
      th:object="${musicSubmit}" action="api/v1/music" method="post" enctype="multipart/form-data" charset="UTF-8">
    <section class="upload-section">
        <div class="container">
            <p class="mini-description" th:text="#{upload-music.mini-description}">Select an .mp3 file to upload and be
                sure to include your song’s lyrics and song/album art.
                All submissions will be available for sale pending approval.</p>
            <div class="upload-box">
                <div class="clearfix">
                    <div class="upload-img">
                        <input type="file" name="coverPhoto" class="hidden-file" id="upload-music-cover">
                        <img id="coverPhoto" src="../../static/images/music/sheet-music.png"
                             th:src="@{/images/music/sheet-music.png}" alt="Sheet Music">
                        <p th:text="#{upload-music.upload-song-album}">Upload Song or Album Art</p>
                    </div>
                    <div class="upload-btn">
                        <label for="upload-music-btn">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span th:text="#{upload-music.song-file}">Song File</span>
                        </label>
                        <input type="file" name="file" style="opacity: 0;" id="upload-music-btn" required>
                        <input type="text" th:field="*{title}" th:placeholder="#{upload-music.add-title.placeholder}"
                               class="upload-music-name" required>
                        <input type="text" th:field="*{artistName}"
                               th:placeholder="#{upload-music.add-artist.placeholder}" class="upload-music-name"
                               required>
                        <select type="text" id="ppt" required th:field="*{genreId}">

                            <option th:each="genre : ${genres}"
                                    th:class="${genre.id}==0?disabled:not(disabled)"
                                    th:style="${genre.id}==0? 'display: none':'display: block'"
                                    th:value="${genre.id}==0?'':${genre.id}"
                                    th:selected="*{genreId}==${genre.id}"
                                    th:text="${genre.title}"/>
                        </select>
                        <select th:field="*{decade}" required>
                            <option value="1920">Pre 1920s</option>
                            <option value="1930">1930s</option>
                            <option value="1940">1940s</option>
                            <option value="1950">1950s</option>
                            <option value="1960">1960s</option>
                            <option value="1970">1970s</option>
                            <option value="1980">1980s</option>
                            <option value="1990">1990s</option>
                            <option value="2000">2000s</option>
                            <option value="2010">2010s</option>
                        </select>
                    </div>
                </div>
                <div class="text-area-box">
                    <textarea name="lyrics" id="" placeholder="Type or paste your lyrics here." cols="30" rows="10"
                              th:field="*{lyrics}"></textarea>
                </div>
            </div>
        </div>
    </section>

    <section class="upload-music-detail">
        <h3><b th:text="#{upload-music.song-advertised}">Do you want your song advertised?</b><br><span
                th:text="#{upload-music.featured}">If yes, your song may also be featured</span> <br><span
                th:text="#{upload-music.lovappy-podcast}">in the LovAppy podcast.</span></h3>
        <div class="advertised-song">
            <label for="advertise1">
                <input type="radio" id="advertise1" name="advertised" value="true" th:value="true"
                       th:field="*{advertised}">
                <span th:text="#{upload-music.yes-please}">Yes, Please!</span>
            </label>
            <label for="advertise2">
                <input type="radio" id="advertise2" name="advertised" value="false" th:value="false" checked
                       th:field="*{advertised}">
                <span th:text="#{upload-music.no-thanks}">No, Thanks</span>
            </label>
            <p>Your song will be evaluated for quality to ensure it
                is within our parameters. <a href="#" class="terms-modal">Click here</a> to read our
                parameters.</p>
            <label for="confirm" class="confirm-song">
                <input type="checkbox" id="confirm" value="false" th:value="false" required th:field="*{confirmed}">
                <span th:text="#{upload-music.copyright}">I confirm that I have full copyright rights
            to this song.</span>
            </label>
            <button id="musicSubmitBtn" name="submit" type="submit"><span th:text="#{upload-music.submit}">Submit</span>
                <i class="fa fa-spinner fa-spin" style="display: none;"></i></button>
        </div>
        <div id="progress" class="ui progress success" style="display: none">
            <div class="bar"></div>
            <div id="percent" class="label">0%</div>
        </div>

        <div id="status"></div>
    </section>
</form>
<div th:unless="${#authorization.expression('hasAuthority(''MUSICIAN'')')}"
     style="text-align:center; padding:140px; font-size: 250%;">
    <span th:text="#{upload-music.permission}">You don't have the permission to access this page!</span>
</div>

<div class="ui modal" id="vendor-terms">
    <i class="close icon"></i>
    <div class="header">
        Parameters!
    </div>
    <div class="content ">
        <div th:each="term:${musicParameters}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div id="btnClose" class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../static/js/web_pages/music/music-submit.js" th:src="@{/js/web_pages/music/music-submit.js}"></script>

</body>
</html>