<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Radio Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Radio Management
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Radio</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <form th:action="@{/lox/lovstamp}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="user.userId" type="hidden"   >
                                    <button type="submit" class="headerBtn">User ID</button>

                                </form>

                            </th>
                            <th>
                               Audio File
                            </th>
                            <th>
                                <form th:action="@{/lox/lovstamp}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfListeners" type="hidden"   >
                                    <button type="submit" class="headerBtn">Total Listeners</button>

                                </form>
                            </th>

                            <th>
                                <form th:action="@{/lox/lovstamp}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfMaleListeners" type="hidden"   >
                                    <button type="submit" class="headerBtn">Male Listeners</button>

                                </form>
                            </th>
                            <th>
                                <form th:action="@{/lox/lovstamp}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfFemaleListeners" type="hidden"   >
                                    <button type="submit" class="headerBtn">Female Listeners</button>

                                </form>
                            </th>
                            <th>
                                <form th:action="@{/lox/lovstamp}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="numberOfUpdates" type="hidden"   >
                                    <button type="submit" class="headerBtn"># Updates</button>

                                </form>
                            </th>
                            <th>
                                <form th:action="@{/lox/lovstamp}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="user.userProfile.isAllowedProfilePic" type="hidden"   >
                                    <button type="submit" class="headerBtn">Profile Picture</button>

                                </form>

                                </th>
                            <th>Show in Home</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="music" type="com.realroofers.lovappy.service.music.dto.MusicDto"*/-->
                        <tr th:each="radio : ${radios.getContent()}">
                            <td><a th:href="@{/lox/users/__${radio.user.ID}__}" class="btn btn-primary btn-xs" th:text="${radio.user.ID}">>Details</a></td>
                            <td >
                                <video controls="" style="height: 35px;width: 500px;">
                                    <source th:src="${radio.audioFileCloud.url}" type="audio/mp3">
                                </video>

                            </td>

                            <td th:text="${radio.numberOfListeners}"></td>

                            <td th:text="${radio.numberOfMaleListeners}"></td>
                            <td th:text="${radio.numberOfFemaleListeners}"></td>
                            <td th:text="${radio.numberOfUpdates}"></td>
                            <td th:text="${radio.user.userProfile.getAllowedProfilePic()}? 'Public' : 'Private'"></td>
                            <td >

                                <button  th:attr="data-id=${radio.id},data-status=${radio.showHome}?'HIDE' : 'SHOW'" type="button" th:class="${radio.showHome} ? 'btn-home btn btn-success':'btn-home btn btn-danger'"
                                >
                                    [[${radio.showHome} ? 'Hide' : 'Show']] <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--pagination-->
                <div th:replace="admin/fragments/pagination :: pagination (pageContent=${radios}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->
<script src="../../../static/js/adminLTE/radio/radio.js" th:src="@{/js/adminLTE/radio/radio.js}" type="text/javascript"></script>

</body>
</html>
