<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},~{::meta},'radio', false)">
    <meta></meta>
    <title>Lovappy | Lovappy Radio</title>

    <link href="../../static/css/web_pages/lovdrop_temp.css" th:href="@{/css/web_pages/lovdrop_temp.css}"
          rel="stylesheet" type="text/css">
    <link href="https://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">

    <style type="text/css">
        .grayscale-img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }

        #no-match-message {
            display: none;
            font-size: 1.3em;
            margin: 20px 0 50px 0;
            text-align: center;
            border-bottom: 1px dotted;
            border-top: 1px dotted;
            padding: 5px;
        }

        .lovdrop-container span {
            position: absolute;
            top: 20%;
            left: 37%;
            height: 50px;
            width: 50px;
            background: #fa4a4a;
            border-radius: 50%;
            cursor: pointer;
        }

        .lovdrop-container span img {
            width: 30px;
            height: 30px;
            left: 11px;
            position: relative;
            top: 11px;
            display: block;
            object-fit: cover;
        }
    </style>


</head>

<body>

<!--/*@thymesVar id="filter" type="com.realroofers.lovappy.service.lovdrop.dto.LovdropFilterDto"*/-->
<!--/*@thymesVar id="info" type="com.realroofers.lovappy.service.user.dto.GenderAndPrefGenderDto"*/-->

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>


<!--<div class="page-title">
    <h2>Lovappy Radio</h2>
</div>-->

<div th:replace="like/fragments :: like-modal">
</div>
<div th:replace="fragments/block-form :: block-modal">
</div>
<div th:replace="fragments/block-form :: flag-modal">
</div>

<div class="gray-bar ">
    <div class="container jp_container_N">


        <div class="song-nav">
            <!--<img id="backBtn" src="../../static/images/lovdrop-playbar/rewind-btn.png"
                 th:src="@{/images/lovdrop-playbar/rewind-btn.png}" alt="Rewing" class="play-btn-icon">
            <img id="playBtn" src="../../static/images/lovdrop-playbar/play-btn.png"
                 th:src="@{/images/lovdrop-playbar/play-btn.png}" alt="Play btn" class="play-btn-icon">
            <img id="nextBtn" src="../../static/images/lovdrop-playbar/forward-btn.png"
                 th:src="@{/images/lovdrop-playbar/forward-btn.png}" alt="forward" class="play-btn-icon">-->
            <i id="backBtn" class="fa fa-step-backward" aria-hidden="true"></i>
            <i id="playBtn" class="fa fa-play active" aria-hidden="true"></i>
            <!--<i class="fa fa-pause in-active" aria-hidden="true"></i>-->
            <i id="nextBtn" class="fa fa-step-forward" aria-hidden="true"></i>
        </div>
        <div class="dark-play-bar">
            <div class="dark-con">
                <div class="play-progress-container">
                    <span id="timer">00:00</span>
                    <span id="duration">00:00</span>
                    <div class="progress-bg ">
                        <div class="play-progress" id="progress"></div>
                    </div>
                </div>

                <div class="bar-profile-actions">
                    <div>
                        <i th:title="#{radio.like}" id="like-btn" class="fa fa-heart like-lovdrop"></i>
                    </div>
                    <div>
                        <i th:title="#{radio.block}" id="block-btn" class="fa fa-ban"></i>
                    </div>
                    <div class="share-square">
                        <i th:title="#{radio.modal.share.title}" id="share-btn" class="fa fa-share-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="radio-view-profile" style="display: none;">
            <img id="user-info-img" th:src="@{/images/userprofile.jpg}" alt="User profile photo"
                 style="width:28px; height: 28px; object-fit: unset;"/>
            <div class="radio-user-info">
                <ul>
                    <li><a id="user-info-age" href="#">30</a></li>
                    <li><a id="user-info-state" href="#">NJ</a></li>
                    <li><a id="user-info-language" href="#">EN</a></li>
                </ul>
                <a href="javascript:void(0);" id="view-profile-link">View Profile</a>
            </div>
        </div>

    </div>
</div>
<p id="errorResultMessage">The below results are slightly out of the range of your preferences. You can adjust the
    filters to get different results.</p>

<div class="radio-full">

    <div class="mini-con clearfix">
        <!--    <div class="road-stamp road-stamp-radio">
            Radio Stamp
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
            Lovappy Profile
        </div>-->
        <div class="filter-by" th:unless="${#authorization.expression('isAuthenticated()')}">
            <h4 th:text="#{radio.filter}">FILTER BY:</h4>
            <ul>
                <li class="active"><a href="#" class="filterByGender" th:attr="data-gender='BOTH'"
                                      th:text="#{radio.filter.all}">ALL</a></li>
                <li><a href="#" class="filterByGender" th:attr="data-gender='MALE'"
                       th:text="#{radio.filter.male}">MEN</a></li>
                <li><a href="#" class="filterByGender" th:attr="data-gender='FEMALE'" th:text="#{radio.filter.female}">WOMEN</a>
                </li>
            </ul>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="lovappy-radio-filters">

            <div class="filter-icon filter-btn">
                <i class="fa fa-sliders" aria-hidden="true"></i>
                [[#{radio.filter.login}]]
            </div>
        </div>
    </div>
    <!-- filter -->
    <div class="wrapper filter-full-main">
        <div class="filter-area">
            <button type="button" id="clear-form" class="btn-red-lg" value="RESET" th:text="#{radio.filter.reset}">
                RESET
            </button>
            <form id="filter-form" method="post" th:object="${filter}">
                <div class="filter-options">

                </div>

                <!--location-->
                <div class="clearfix razmak">
                    <div class="grid-4">
                        <label class="lov-label" th:text="#{radio.filter.userId}">User ID</label>
                        <div class="search-user-id">
                            <input type="text" th:field="*{userId}">
                        </div>
                    </div>
                    <div class="grid-8" id="filter-location-area">
                        <label for="filter-location-input" class="lov-label"
                               th:text="#{radio.filter.location}">Location</label>
                        <input disabled name="filter-location-input" id="filter-location-input">

                        <input type="hidden" id="latitude-hidden" th:field="*{withinRadius.latitude}"/>
                        <input type="hidden" id="longitude-hidden" th:field="*{withinRadius.longitude}"/>
                        <input type="hidden" id="radius-hidden" th:field="*{withinRadius.radius}"/>

                        <button id="show-map-btn" class="btn-red-lg" type="button">
                            <img src="../../static/images/icons/location.png" th:src="@{/images/icons/location.png}"
                                 alt="Location"/>
                        </button>
                    </div>
                </div>
                <!--age, gender, height-->
                <div class="clearfix razmak">
                    <div class="grid-4">
                        <label class="lov-label" th:text="#{radio.filter.age}">Age</label>
                        <div>
                            <select id="filter-age-from" th:field="*{ageFrom}" data-text="From Age">
                                <option value="" th:text="#{radio.filter.age.from}">From</option>
                                <option th:each="i : ${#numbers.sequence( 18, 99)}" th:value="${i}" th:text="${i}">
                            </select>
                            <select id="filter-age-to" th:field="*{ageTo}" data-text="To Age">
                                <option value="" th:text="#{radio.filter.age.to}">To</option>
                                <option th:each="i : ${#numbers.sequence( 18, 99)}" th:value="${i}" th:text="${i}">
                            </select>
                        </div>
                    </div>
                    <div class="grid-4 filter-padding">
                        <label class="lov-label" th:text="#{radio.filter.gender}">Gender</label>
                        <div>
                            <select id="filter-gender" th:field="*{gender}" data-text="Gender">
                                <option value=""></option>
                                <option th:value="MALE" th:text="#{radio.filter.gender.male}">Male</option>
                                <option th:value="FEMALE" th:text="#{radio.filter.gender.female}">Female</option>
                                <option th:value="BOTH" th:text="#{radio.filter.gender.both}">Both</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-4">
                        <label class="lov-label" th:text="#{radio.filter.height}">Height</label>
                        <div>
                            <select id="filter-height" data-text="Height" th:field="*{height}">
                                <option value=""></option>
                                <option th:value="SHORTER" th:text="#{radio.filter.height.shorter}">Both</option>
                                <option th:value="TALLER" th:text="#{radio.filter.height.taller}">Both</option>
                                <option th:value="SAME" th:text="#{radio.filter.height.same}">Both</option>
                                <option th:value="DOESNTMATTER" th:text="#{radio.filter.height.doesntmatter}">Both
                                </option>
                            </select>
                        </div>
                    </div>

                </div>

                <!--penis, breasts, butts-->
                <div class="clearfix razmak" style="    clear: both;">
                    <div class="grid-4">
                        <label class="lov-label" th:text="#{radio.filter.pens-size}">Penis Size Matter</label>
                        <div>
                            <select id="filter-penis" th:field="*{penisSizeMatter}" data-text="Penis Size Matter">
                                <option value=""></option>
                                <option value="true" th:text="#{radio.filter.pens-size.yes}">Yes</option>
                                <option value="false" th:text="#{radio.filter.pens-size.no}">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-4 filter-padding">
                        <label class="lov-label" th:text="#{radio.filter.breast-size}">Breasts Size</label>
                        <div>
                            <select id="filter-breast" th:field="*{breastsSize}" data-text="Breast Size">
                                <option value=""></option>
                                <option th:value="SMALL" th:text="#{radio.filter.breast-size.small}">small</option>
                                <option th:value="MEDIUM" th:text="#{radio.filter.breast-size.medium}">medium</option>
                                <option th:value="LARGE" th:text="#{radio.filter.breast-size.large}">large</option>
                                <option th:value="DOESNTMATTER" th:text="#{radio.filter.breast-size.doesntmatter}">
                                    doesntmatter
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="grid-4">
                        <label class="lov-label" th:text="#{radio.filter.butt-size}">Butts Size</label>
                        <div>
                            <select id="filter-butt" th:field="*{buttsSize}" data-text="Butt Size">
                                <option value=""></option>
                                <option th:value="SMALL" th:text="#{radio.filter.butt-size.small}">small</option>
                                <option th:value="MEDIUM" th:text="#{radio.filter.butt-size.medium}">medium</option>
                                <option th:value="LARGE" th:text="#{radio.filter.butt-size.large}">large</option>
                                <option th:value="DOESNTMATTER" th:text="#{radio.filter.butt-size.doesntmatter}">
                                    doesntmatter
                                </option>

                            </select>
                        </div>
                    </div>
                </div>

                <!--language-->
                <div class="ui grid search-id" style="overflow: visible; clear: both;">
                    <div class="eight wide column">
                        <label class="lov-label" th:text="#{radio.filter.languages}">Languages</label>
                        <div id="languages-select" class="ui fluid dropdown selection multiple" tabindex="0">
                            <input id="filter-languages" type="hidden" th:field="*{languages}">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                            <div class="default text" th:text="#{radio.filter.languages}">Languages</div>
                            <div class="menu transition hidden" tabindex="-1" th:remove="all-but-first">
                                <div class="item" th:each="lang : ${languages}"
                                     th:attr="data-value=${lang.abbreviation}"
                                     th:text="${lang.name + ' (' + lang.abbreviation + ')'}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui grid filter-checkbox">
                    <div class="row">
                        <div class="ui checkbox">
                            <input type="checkbox" th:field="*{statuses['employed']}" th:value="Y" data-text="Employed">
                            <label th:text="#{radio.filter.employed}">Employed</label>
                        </div>
                        <div class="ui checkbox">
                            <input type="checkbox" th:field="*{statuses['risktaker']}" th:value="Y"
                                   data-text="Risk Taker">
                            <label th:text="#{radio.filter.risktaker}">Risk Taker</label>
                        </div>
                        <div class="ui checkbox">
                            <input type="checkbox" th:field="*{statuses['believeingod']}" th:value="Y"
                                   data-text="Religious or Spiritual">
                            <label th:text="#{radio.filter.religious-spiritural}">Religious or Spiritual</label>
                        </div>
                        <div class="ui checkbox">
                            <input type="checkbox" th:field="*{statuses['wantkids']}" th:value="Y"
                                   data-text="Want Kids">
                            <label th:text="#{radio.filter.want-kids}">Want Kids</label>
                        </div>

                        <div class="ui checkbox">
                            <input type="checkbox" th:field="*{statuses['havekids']}" th:value="Y" data-text="Has Kids">
                            <label th:text="#{radio.filter.has-kids}">Has Kids</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pets box">
                            <label class="lov-label" th:text="#{radio.filter.pets}">Pets</label>
                            <div class="ui grid">
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="dog"
                                           data-text="Pets: Dogs">
                                    <label th:text="#{radio.filter.pets.dogs}">Dogs</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="cat"
                                           data-text="Pets: Cats">
                                    <label th:text="#{radio.filter.pets.cats}">Cats</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="both"
                                           data-text="Pets: Both">
                                    <label th:text="#{radio.filter.pets.both}">Both</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="no_pets"
                                           data-text="Pets: No Pets">
                                    <label th:text="#{radio.filter.pets.none}">None</label>
                                </div>
                            </div>
                        </div>
                        <div class="habits box">
                            <label class="lov-label" th:text="#{radio.filter.habits}">Habits</label>
                            <div class="ui grid">
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['drinker']}" th:value="drinker"
                                           data-text="Habit: Drinker">
                                    <label th:text="#{radio.filter.habits.drinker}">Drinker</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['smoker']}" th:value="smoker"
                                           data-text="Habit: Smoker">
                                    <label th:text="#{radio.filter.habits.smoker}">Smoker</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['user']}" th:value="user"
                                           data-text="Habit: User">
                                    <label th:text="#{radio.filter.habits.user}">User</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['no-habit']}" th:value="no-habit"
                                           data-text="Habit: None">
                                    <label th:text="#{radio.filter.habits.none}">None</label>
                                </div>
                            </div>
                        </div>

                        <div class="neighbordhood box">
                            <label class="lov-label" th:text="#{radio.filter.neighborhood}">Neighborhood</label>
                            <div class="ui grid">
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['ruralORurbanORsuburban']}"
                                           th:value="rural" data-text="Neighborhood: Rural">
                                    <label th:text="#{radio.filter.neighborhood.rural}">Rural</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['ruralORurbanORsuburban']}"
                                           th:value="urban" data-text="Neighborhood: Urban">
                                    <label th:text="#{radio.filter.neighborhood.urban}">Urban</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['ruralORurbanORsuburban']}"
                                           th:value="suburban" data-text="Neighborhood: Suburban">
                                    <label th:text="#{radio.filter.neighborhood.suburban}">Suburban</label>
                                </div>
                            </div>
                        </div>

                        <div class="political box">
                            <label class="lov-label" th:text="#{radio.filter.political-opinion}">Political
                                Opinion</label>
                            <div class="ui grid">
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                           th:value="conservative" data-text="Political Opinion: Conservative">
                                    <label th:text="#{radio.filter.political-opinion.conservative}">Conservative</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                           th:value="independent" data-text="Political Opinion: Independent">
                                    <label th:text="#{radio.filter.political-opinion.independent}">Independent</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                           th:value="liberal" data-text="Political Opinion: Liberal">
                                    <label th:text="#{radio.filter.political-opinion.liberal}">Liberal</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                           th:value="no_opinion" data-text="Political Opinion: No Opinion">
                                    <label th:text="#{radio.filter.political-opinion.none}">No Opinion</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row personality-types">
                        <div class="personality-types-filter">
                            <label class="lov-label" th:text="#{radio.filter.personality-types}">Personality
                                Types</label>
                        </div>
                        <!--<label class="lov-label"></label>-->
                        <div class="box">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['frugalORbigspender']}"
                                       th:value="frugal" data-text="Frugal">
                                <label th:text="#{radio.filter.personality-types.frugal}">Frugal</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['frugalORbigspender']}"
                                       th:value="big_spender" data-text="Big Spender">
                                <label th:text="#{radio.filter.personality-types.big-spender}">Big Spender</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['morningpersonORnightowl']}"
                                       th:value="morning_person" data-text="Morning Person">
                                <label th:text="#{radio.filter.personality-types.morning-person}">Morning Person</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['morningpersonORnightowl']}"
                                       th:value="night_owl" data-text="Night Owl">
                                <label th:text="#{radio.filter.personality-types.night-owl}">Night Owl</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['extrovertORintrovert']}"
                                       th:value="extrovert" data-text="Extrovert">
                                <label th:text="#{radio.filter.personality-types.extrovert}">Extrovert</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['extrovertORintrovert']}"
                                       th:value="introvert" data-text="Introvert">
                                <label th:text="#{radio.filter.personality-types.introvert}">Introvert</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['outdoorsyORindoorsy']}"
                                       th:value="outdoorsy" data-text="Personality: Outdoorsy">
                                <label th:text="#{radio.filter.personality-types.outdoorsy}">Outdoorsy</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['outdoorsyORindoorsy']}"
                                       th:value="indoorsy" data-text="Personality: Indoorsy">
                                <label th:text="#{radio.filter.personality-types.indoorsy}">Indoorsy</label>
                            </div>
                        </div>
                        <!--<label class="lov-label"></label>-->

                    </div>


                    <div class="row zodiac-signs">
                        <div class="zodiac-signs-filter">
                            <label class="lov-label" th:text="#{radio.filter.zodiac-signs}">Zodiac Signs</label>
                        </div>
                        <!--<label class="lov-label"></label>-->
                        <div class="box">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="aries" data-text="Aries">
                                <label th:text="#{radio.filter.zodiac-signs.aries}">Aries</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="cancer" data-text="Cancer">
                                <label th:text="#{radio.filter.zodiac-signs.cancer}">Cancer</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="libra" data-text="Libra">
                                <label th:text="#{radio.filter.zodiac-signs.libra}">Libra</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="capricorn" data-text="Capricorn">
                                <label th:text="#{radio.filter.zodiac-signs.capricorn}">Capricorn</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="taurus" data-text="Taurus">
                                <label th:text="#{radio.filter.zodiac-signs.taurus}">Taurus</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="leo" data-text="Leo">
                                <label th:text="#{radio.filter.zodiac-signs.leo}">Leo</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="scorpio" data-text="Scorpio">
                                <label th:text="#{radio.filter.zodiac-signs.scorpio}">Scorpio</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="aquarius" data-text="Aquarius">
                                <label th:text="#{radio.filter.zodiac-signs.aquarius}">Aquarius</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="gemini" data-text="Gemini">
                                <label th:text="#{radio.filter.zodiac-signs.gemini}">Gemini</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="virgo" data-text="Virgo">
                                <label th:text="#{radio.filter.zodiac-signs.virgo}">Virgo</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="sagittarius" data-text="Sagittarius">
                                <label th:text="#{radio.filter.zodiac-signs.sagittarius}">Sagittarius</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{zodiacsigns}"
                                       th:value="pisces" data-text="Pisces">
                                <label th:text="#{radio.filter.zodiac-signs.pisces}">Pisces</label>
                            </div>
                        </div>
                        <!--<label class="lov-label"></label>-->

                    </div>
                </div>
                <div class="row">
                    <input type="submit" id="filter-submit" class="btn-red-lg" value="Search"
                           th:value="#{radio.filter.search}"/>
                </div>
            </form>
        </div>
    </div>

    <div id="radioPlayer" style="display:none">
        <!--<span class="close-radio">x</span>-->
    </div>
    <!--<video src="https://www.googleapis.com/download/storage/v1/b/lovappy-ads-video-testing/o/1514481590349.mp4?generation=1514481640633905&alt=media" webkit-playsinline playsinline data-video="https://www.googleapis.com/download/storage/v1/b/lovappy-ads-video-testing/o/1514481590349.mp4?generation=1514481640633905&alt=media"-->
    <!--loop  id="video" class="video" style="width: 300px">-->
    <!--</video>-->
    <div id="lovdrop-list" class="radio-list"><!-- radio-list-->

    </div><!-- radio-list-->

</div>

<div class="home-load-more">
    <button id="load-more-btn" class="ui button color-bg-dark" style="display: none;" th:text="#{radio.load-more}">load
        more
    </button>
</div>

<div class="ui modal" data-edit="share-drop">
    <i class="close icon"></i>
    <div class="header" th:text="#{radio.modal.share.title}">
        Share
    </div>
    <div class="content">
        <div class="row share-content">
            <h3 th:text="#{radio.modal.share.subject}">Share this!</h3>
            <p th:text="#{radio.modal.share.body}">Share this with your friends!</p>
            <div class="row">
                <a id="share-btn-facebook" target="_blank">
                    <img src="../../static/images/icons/social_media/facebook.png"
                         th:src="@{'/images/icons/social_media/facebook.png'}" alt="Facebook">
                </a>
                <a id="share-btn-twitter" target="_blank">
                    <img src="../../static/images/icons/social_media/twitter.png"
                         th:src="@{'/images/icons/social_media/twitter.png'}" alt="Twitter">
                </a>
                <a id="share-btn-google" target="_blank">
                    <img src="../../static/images/icons/social_media/google.png"
                         th:src="@{'/images/icons/social_media/google.png'}" alt="Google">
                </a>
                <a id="share-btn-tumblr" target="_blank">
                    <img src="../../static/images/icons/social_media/tumblr.png"
                         th:src="@{'/images/icons/social_media/tumblr.png'}" alt="Tumblr">
                </a>
            </div>
            <div class="row">
                <!--<a href="javascript:void(0);" target="_blank">
                    <img src="../../static/images/icons/social_media/instagram.png" th:src="@{'/images/icons/social_media/instagram.png'}">
                </a>-->
                <a id="share-btn-pinterest" target="_blank">
                    <img src="../../static/images/icons/social_media/pinterest.png"
                         th:src="@{'/images/icons/social_media/pinterest.png'}" alt="Pinterest">
                </a>
                <a id="share-btn-reddit" target="_blank">
                    <img src="../../static/images/icons/social_media/reddit.png"
                         th:src="@{'/images/icons/social_media/reddit.png'}" alt="Reddit">
                </a>
                <a id="share-btn-email">
                    <img src="../../static/images/icons/social_media/email.png"
                         th:src="@{'/images/icons/social_media/email.png'}" alt="Email" data-edit="share-email-radio">
                </a>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{radio.modal.share.close}">Close</div>
    </div>
</div>
<!--share email Modal-->
<form id="shareEmailForm" th:object="${emailShare}" class="ui modal" data-edit="share-email-radio">
    <i class="close icon"></i>
    <div class="header" th:text="#{radio.modal.email.title}">
        Share LovStamp via email
    </div>

    <div class="content share-article-modal">
        <div id="share-modal-content" class="row">

            <div class="grid-6">
                <label for="email" th:text="#{radio.modal.email.your}">Your email</label>
                <input type="email" id="email" th:field="*{email}" required/>
            </div>
            <div class="grid-6">
                <label for="name" th:text="#{radio.modal.email.name}">Name</label>
                <input type="text" id="name" th:field="*{name}" required/>
            </div>
            <div class="grid-6">
                <label for="shareWithEmail" th:text="#{radio.modal.email.sharewith}">Share with</label>
                <input type="email" id="shareWithEmail" th:field="*{shareWithEmail}" required/>
            </div>
            <input id="shareUrl" type="hidden" name="shareUrl"/>
            <div class="grid-6">
                <label for="recipientName" th:text="#{radio.modal.email.recipientName}">Recipient Name</label>
                <input type="text" id="recipientName" th:field="*{recipientName}" required/>
            </div>

        </div>
    </div>

    <div class="actions" style="float:right">
        <div class="ui button btn-close-modal" th:text="#{radio.modal.email.cancel}">Cancel</div>
        <button type="submit" id="emailShareBtn" class="ui button green" th:text="#{radio.modal.email.share}">Share
        </button>
    </div>
</form>

<!-- Edit Location Modal -->
<div class="ui modal" id="location-modal">
    <div class="header" th:text="#{radio.location}">
        Location
    </div>
    <div class="content">

        <div class="row input-area my-map-zip">
            <!--<p>Zip Code</p>-->
            <input id="last-address-search" type="text" class="lov-input" th:placeholder="#{radio.location.placholder}"
                   th:value="${info.location.zipCode}"/>
            <div id="btn-search-map" class="ui button small blue" th:text="#{radio.go}">Go</div>
        </div>
        <div class="row input-area">
            <p th:text="#{radio.location.within}">Within a </p>
            <input id="last-mile-radius-search" type="text" size="10" value="300" class="lov-input"
                   th:value="${info.location.lastMileRadiusSearch}">
            <p th:text="#{radio.location.radius}"> mile radius</p>
        </div>
        <input type="range" id="range-slider" min="10" max="300"
               oninput="$('#last-mile-radius-search').val($('#range-slider').val());">
        <div class="row">
            <div id="google-maps-container" style="height: 450px; width: 100%;"></div>
        </div>

        <input id="gender" type="hidden" th:value="${info.gender}"/>
        <input id="prefGender" type="hidden" th:value="${info.prefGender}"/>
        <input id="zipCode" type="hidden" name="location.zipCode" th:value="${info.location.zipCode}"/>
        <input id="country" type="hidden" name="location.country" th:value="${info.location.country}"/>
        <input id="state" type="hidden" name="location.state" th:value="${info.location.state}"/>
        <input id="province" type="hidden" name="location.province" th:value="${info.location.province}"/>
        <input id="city" type="hidden" name="location.city" th:value="${info.location.city}"/>
        <input id="streetNumber" type="hidden" name="location.streetNumber"
               th:value="${info.location.streetNumber}"/>
        <input id="fullAddress" type="hidden" name="location.fullAddress"
               th:value="${info.location.fullAddress}"/>
        <input id="latitude" type="hidden" name="location.latitude" th:value="${info.location.latitude}"/>
        <input id="longitude" type="hidden" name="location.longitude" th:value="${info.location.longitude}"/>

    </div>

    <div class="actions">
        <div id="set-location-btn" class="ui button btn-close-modal" th:text="#{radio.modal.ok}">OK</div>
    </div>
</div>

<input type="hidden" id="surveyAnswerStatus"
       th:value="${#session == null ? '' : #session.getAttribute('surveyStatus')}"/>

<input type="hidden" id="musicResponseStatus"
       th:value="${music == null ? '' : '1'}"/>

<input type="hidden" id="memberId"
       th:value="${music?.musicExchange?.toUser?.ID}"/>

<input type="hidden" id="musicResponseID"
       th:value="${music?.id}"/>

<!-- Survey Modal -->
<div class="ui modal" id="userSurveyModal">
    <i class="close icon"></i>
    <div class="content survey-content">
        <h2 th:text="#{radio.survey.header}">Survey</h2>
        <p th:text="#{radio.survey.subject}">Before someone sends you a song or gift, help us figure out what you
            like!</p>

        <!--<div class="ui button btn-close-modal red ">Save</div>-->
        <div>
            <a th:href="@{/registration/survey}" class="ui button white" th:text="#{radio.survey.answer-now}">Answer
                Now</a>
            <a class="ui button white btn-close-modal" th:text="#{radio.skip}">Skip</a>
            <a onclick="dontShowSurvey(); return;" class="ui button white " th:text="#{radio.survey.dontshow}">Don't
                Show Again</a>
        </div>

    </div>
</div>

<!-- Video private Modal -->
<div class="ui modal" id="privateVideoModel">
    <i class="close icon" id="videoClose"></i>
    <div class="content">
        <video id="video" class="video-js" autoplay controls preload="auto" width="640" height="480"
               data-setup="{}">
            <source id="videoMP4" src="" type='video/mp4'>
            <source id="videowebm" src="" type='video/webm'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>

    </div>
</div>

<div class="ui modal" id="response-user">
    <!--<i class="close icon"></i>-->
    <div class="header">
        <i class="close icon" onclick="updateAsSeen()"></i>
    </div>
    <div class="content">
        <h2>Response from user #<span th:text="${music?.musicExchange?.toUser?.ID}"></span></h2>
        <span>
            <img th:if="${music?.musicExchange?.toUser?.userProfile?.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                 src="../../static/images/female_icon.png" th:src="@{/images/female_icon.png}"
                 class="catalog-header-img" alt="Female icon"/>
        <img th:if="${music?.musicExchange?.toUser?.userProfile?.gender == T(com.realroofers.lovappy.service.user.support.Gender).MALE}"
             src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" class="catalog-header-img"
             alt="Boy icon"/>
        </span>
        <span th:text="${music?.musicExchange?.toUser?.userProfile?.age + ' / ' + music?.musicExchange?.toUser?.userProfile?.address?.city + ', '
                    + music?.musicExchange?.toUser?.userProfile?.address?.stateShort + ' / ' + music?.musicExchange?.toUser?.userProfile?.speakingLanguagesAbb}">23 / New York, NY / EN</span></a>
        <h1>"<span th:text="${music?.response}"></span>"</h1>
        <h3>You sent: <br> <b th:text="${music?.musicExchange?.music?.title}">Song title</b> - <span th:text="${music?.musicExchange?.music?.artistName}">artist name</span></h3>
        <div class="response-btn">
            <button onclick="updateAsSeen(true)">Send another song</button>
            <button onclick="updateAsSeen(false)">No thanks</button>
        </div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script src="https://vjs.zencdn.net/6.2.7/video.js"></script>
<script type="text/javascript" th:src="@{/js/vendor/jquery/jplayer/jquery.jplayer.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/jquery/jplayer/jplayer.playlist.min.js}"></script>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>

<script src="../../static/js/maps/gender.js" th:src="@{/js/maps/gender.js}" type="text/javascript"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&key=" + [[${google_key}]];
    var loggedIn = [[${loggedIn}]];
    var blockedUsersIDs = [[${blockedUsersIDs}]];
    var likedUserIds = [[${likedUserIds}]];
    var shareBaseUrl = [[${T(com.realroofers.lovappy.web.util.CommonUtils).getBaseURL(#httpServletRequest)}]];
    var language = [[${#locale}]];
    var ageText = [[#{radio.age}]];
    var locationText = [[#{radio.location}]];
    var languageText = [[#{radio.language}]];
    var skipText = [[#{radio.skip}]];
    var likeText = [[#{radio.like}]];
    var unLikeText = [[#{radio.unLike}]];
    var unblockText = [[#{radio.unblock}]];
    var blockText = [[#{radio.block}]];
    var viewProfileText = [[#{radio.view-profile}]];
    /*]]>*/
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown')
            .dropdown()
        ;
        $.LoadingOverlay("hide", true);
    });

</script>
<script th:src="@{/js/communication-utils.js}" src="../../static/js/communication-utils.js"
        type="text/javascript"></script>
<script src="../../static/js/web_pages/radio/lovappy-radio.js" th:src="@{/js/web_pages/radio/lovappy-radio.js}"
        type="text/javascript"></script>
<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 59) { // this refers to window
            $('.gray-bar').addClass('active');
        }
        else {
            $('.gray-bar').removeClass('active');
        }
    });

    $('#song-popup ul li:nth-child(1)').click(function () {
        $('#response-user').modal('show');
    });


    var musicExchangeId;

    if ($('#musicResponseStatus').val() == "1" && loggedIn) {
        $('#response-user').modal('show');
        musicExchangeId = $('#musicResponseID').val();
    }

    function updateAsSeen(sendNew) {
        var url = baseUrl + "api/v1/music/inbox/"+musicExchangeId+"/response/seen";

        $.ajax({
            url: url,
            method: "POST",
            success: function (data) {
                if(sendNew){
                    window.location.href = baseUrl +"/music/send/user/"+$('#memberId').val();
                }else {
                    location.reload();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 400)
                    showNotifyErrorMessages(jqXHR.responseJSON);
                else if (jqXHR.status === 401)
                    window.location.href = baseUrl + "login";

            }
        });
    }
</script>
</body>
</html>