<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},~{::style},~{::meta})">
    <meta name="robots" CONTENT="noindex">

    <title>Lovappy | My Map</title>
    <style></style>
    <link th:href="@{/css/web_pages/my-map.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link href="../../static/css/web_pages/lovdrop_radio_new.css" th:href="@{/css/web_pages/lovdrop_radio_new.css}"
          rel="stylesheet" type="text/css">


    <style>
    </style>

</head>
<body>

<!--/*@thymesVar id="info" type="com.realroofers.lovappy.service.user.dto.GenderAndPrefGenderDto"*/-->

<header th:replace="templates/lovappy-template :: header(3)"></header>

<div class="page-title my-map-title">
    <h2 th:text="#{my-map.title}">My Map</h2>
</div>

<div class="wrapper my-map">

    <button class="filter-btn">
        <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/icons/filter-icon.png}" alt="Filter icon">
        <span th:text="#{my-map.filter}">Filter</span>
    </button>
    <div class="filter-area">
        <form id="filter-form" method="post" th:object="${filter}">
            <div class="filter-options">
            </div>
            <!--age, gender, height-->
            <div class="clearfix razmak">
                <div class="grid-4">
                    <label class="lov-label">Age</label>
                    <div>
                        <select id="filter-age-from" th:field="*{ageFrom}" data-text="From Age">
                            <option value="">From</option>
                            <option th:each="i : ${#numbers.sequence( 18, 99)}" th:value="${i}" th:text="${i}">
                        </select>
                        <select id="filter-age-to" th:field="*{ageTo}" data-text="To Age">
                            <option value="">To</option>
                            <option th:each="i : ${#numbers.sequence( 18, 99)}" th:value="${i}" th:text="${i}">
                        </select>
                    </div>
                </div>
                <div class="grid-4 filter-padding">
                    <label class="lov-label">Gender</label>
                    <div>
                        <select id="filter-gender" th:field="*{gender}" data-text="Gender">
                            <option value=""></option>
                            <option th:each="gender : ${T(com.realroofers.lovappy.service.user.support.Gender).values()}"
                                    th:text="${gender}" th:value="${gender}"></option>
                        </select>
                    </div>
                </div>
                <div class="grid-4">
                    <label class="lov-label">Height</label>
                    <div>
                        <select id="filter-height" data-text="Height">
                            <option value=""></option>
                            <option>Shorter Height</option>
                            <option>Taller Height</option>
                            <option>About The Same Height</option>
                            <option>Height Doesn't Matter</option>
                        </select>
                    </div>
                </div>

            </div>

            <!--penis, breasts, butts-->
            <div class="clearfix razmak" style="    clear: both;">
                <div class="grid-4">
                    <label class="lov-label">Penis Size Matter</label>
                    <div>
                        <select id="filter-penis" th:field="*{penisSizeMatter}" data-text="Penis Size Matter">
                            <option value=""></option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="grid-4 filter-padding">
                    <label class="lov-label">Breasts Size</label>
                    <div>
                        <select id="filter-breast" th:field="*{breastsSize}" data-text="Breast Size">
                            <option value=""></option>
                            <option th:each="size : ${T(com.realroofers.lovappy.service.user.support.Size).values()}"
                                    th:text="${size}" th:value="${size}"></option>
                        </select>
                    </div>
                </div>
                <div class="grid-4">
                    <label class="lov-label">Butts Size</label>
                    <div>
                        <select id="filter-butt" th:field="*{buttsSize}" data-text="Butt Size">
                            <option value=""></option>
                            <option th:each="size : ${T(com.realroofers.lovappy.service.user.support.Size).values()}"
                                    th:text="${size}" th:value="${size}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <!--language-->
            <div class="ui grid" style="overflow: visible; clear: both;">
                <div class="eight wide column">
                    <label class="lov-label">Languages</label>
                    <div id="languages-select" class="ui fluid dropdown selection multiple" tabindex="0">
                        <input id="filter-languages" type="hidden" th:field="*{languages}">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <div class="default text">Languages</div>
                        <div class="menu transition hidden" tabindex="-1" th:remove="all-but-first">
                            <div class="item" th:each="lang : ${languages}"
                                 th:attr="data-value=${lang.id}"
                                 th:text="${lang.name + ' (' + lang.abbreviation + ')'}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui grid filter-checkbox">
                <div class="three wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{statuses['employed']}" th:value="Y" data-text="Employed">
                        <label>Employed</label>
                    </div>
                </div>

                <div class="three wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{statuses['risktaker']}" th:value="Y" data-text="Risk Taker">
                        <label>Risk Taker</label>
                    </div>
                </div>

                <div class="three wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{statuses['believeingod']}" th:value="Y" data-text="Religious or Spiritual">
                        <label>Religious or Spiritual</label>
                    </div>
                </div>

                <div class="three wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{statuses['wantkids']}" th:value="Y" data-text="Want Kids">
                        <label>Want Kids</label>
                    </div>
                </div>

                <div class="three wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{statuses['havekids']}" th:value="Y" data-text="Has Kids">
                        <label>Has Kids</label>
                    </div>
                </div>

                <div class="four wide column">
                    <label class="lov-label">Pets</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="dog" data-text="Pets: Dogs">
                                <label>Dogs</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="cat" data-text="Pets: Cats">
                                <label>Cats</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="both" data-text="Pets: Both">
                                <label>Both</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['catORdog']}" th:value="no_pets" data-text="Pets: No Pets">
                                <label>None</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <label class="lov-label">Habits</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['drinker']}" th:value="drinker" data-text="Habit: Drinker">
                                <label>Drinker</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['smoker']}" th:value="smoker" data-text="Habit: Smoker">
                                <label>Smoker</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['user']}" th:value="user" data-text="Habit: User">
                                <label>User</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['no-habit']}" th:value="no-habit" data-text="Habit: None">
                                <label>None</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <label class="lov-label">Neighborhood</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['ruralORurbanORsuburban']}"
                                       th:value="rural" data-text="Neighborhood: Rural">
                                <label>Rural</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['ruralORurbanORsuburban']}"
                                       th:value="urban" data-text="Neighborhood: Urban">
                                <label>Urban</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['ruralORurbanORsuburban']}"
                                       th:value="suburban" data-text="Neighborhood: Suburban">
                                <label>Suburban</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <label class="lov-label">Political Opinion</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                       th:value="conservative" data-text="Political Opinion: Conservative">
                                <label>Conservative</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                       th:value="independent" data-text="Political Opinion: Independent">
                                <label>Independent</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['politicalopinion']}" th:value="liberal" data-text="Political Opinion: Liberal">
                                <label>Liberal</label>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{lifestyles['politicalopinion']}"
                                       th:value="no_opinion" data-text="Political Opinion: No Opinion">
                                <label>No Opinion</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <label class="lov-label">Personality</label>
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['outdoorsyORindoorsy']}"
                                       th:value="outdoorsy" data-text="Personality: Outdoorsy">
                                <label>Outdoorsy</label>
                            </div>
                        </div>
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['outdoorsyORindoorsy']}"
                                       th:value="indoorsy" data-text="Personality: Indoorsy">
                                <label>Indoorsy</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personality-types-filter">
                    <label class="lov-label">Personality Types</label>
                </div>
                <div class="four wide column">
                    <!--<label class="lov-label"></label>-->
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['frugalORbigspender']}"
                                       th:value="frugal" data-text="Frugal">
                                <label>Frugal</label>
                            </div>
                        </div>
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['frugalORbigspender']}"
                                       th:value="big_spender" data-text="Big Spender">
                                <label>Big Spender</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <!--<label class="lov-label"></label>-->
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['morningpersonORnightowl']}"
                                       th:value="morning_person" data-text="Morning Person">
                                <label>Morning Person</label>
                            </div>
                        </div>
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['morningpersonORnightowl']}"
                                       th:value="night_owl" data-text="Night Owl">
                                <label>Night Owl</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <!--<label class="lov-label"></label>-->
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['extrovertORintrovert']}"
                                       th:value="extrovert" data-text="Extrovert">
                                <label>Extrovert</label>
                            </div>
                        </div>
                        <div class="sixteen wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" th:field="*{personalities['extrovertORintrovert']}"
                                       th:value="introvert" data-text="Introvert">
                                <label>Introvert</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <input type="submit" id="filter-submit" class="btn-red-lg" value="Search"/>
            </div>
        </form>
    </div>

    <div class="myMap">
        <h1 th:text="#{my-map.near-you}">Who's near you?</h1>
        <div class="row input-area my-map-zip">
            <!--<p>Zip Code</p>-->
            <input id="last-address-search" type="text" class="lov-input" placeholder="City, State or Zip Code"
                   th:value="${info.location.zipCode}"/>
            <div id="btn-search-map" class="ui button small blue" th:text="#{my-map.go}">Go</div>
        </div>
        <div class="row input-area">
            <p th:text="#{my-map.within}">Within a </p>
            <input id="last-mile-radius-search" type="text" size="10" value="300"  class="lov-input"
                   th:value="${info.location.lastMileRadiusSearch}">
            <p th:text="#{my-map.mile-radius}"> mile radius</p>
        </div>
        <input type="range" id="range-slider" min="10" max="300"
               oninput="$('#last-mile-radius-search').val($('#range-slider').val());">
    </div>
    <div class="row">
        <div id="google-maps-container" style="height: 450px; width: 100%;"></div>
    </div>


    <input id="gender" type="hidden" th:value="${info.gender}"/>
    <input id="prefGender" type="hidden" th:value="${info.prefGender}"/>
    <input id="zipCode" type="hidden" name="location.zipCode" th:value="${info.location.zipCode}"/>
    <input id="country" type="hidden" name="location.country" th:value="${info.location.country}"/>
    <input id="state" type="hidden" name="location.state" th:value="${info.location.state}"/>
    <input id="province" type="hidden" name="location.province" th:value="${info.location.province}"/>
    <input id="city" type="hidden" name="location.city" th:value="${info.location.city}"/>
    <input id="streetNumber" type="hidden" name="location.streetNumber"
           th:value="${info.location.streetNumber}"/>
    <input id="fullAddress" type="hidden" name="location.fullAddress"
           th:value="${info.location.fullAddress}"/>
    <input id="latitude" type="hidden" name="location.latitude" th:value="${info.location.latitude}"/>
    <input id="longitude" type="hidden" name="location.longitude" th:value="${info.location.longitude}"/>

</div>

<!-- Record Lovrop Modal -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Record Lovrop
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <button id="reset-btn" class="ui button">
            Start Over
        </button>
        <div class="ui button btn-close-modal">Cancel</div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<th:block  th:replace="templates/lovappy-template :: script"></th:block>


<script src="../../static/js/web_pages/my-map.js" th:src="@{/js/web_pages/my-map.js}"
        type="text/javascript"></script>
<script src="../../static/js/maps/gender.js" th:src="@{/js/maps/gender.js}" type="text/javascript"></script>
<script src="../../static/js/dropdown.min.js" th:src="@{/js/dropdown.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var google_key = [[${google_key}]];
        var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&key=" + [[${google_key}]];
        /*]]>*/
    </script>

<script type="text/javascript">
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();

            $('.filter-btn').click(function () {
                $('.filter-area').slideToggle("50");
            });
        });
    </script>
</body>
</html>