<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},~{::style},~{::meta})">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="LovAppy provide LovBlog feature that let musicians share and sell music. Adding to that you can use LovMusic to send love songs to beloved ones."/>
    <meta name="keywords" content="LovAppy, Date, Love, Mate, Online, Straight, Gay Dating, Online Dating, Dating">

    <title>Lovappy - Date Without distractions!</title>
    <link th:href="@{/css/web_pages/profile-landing.css}" rel="stylesheet" type="text/css">

    <style type="text/css"></style>

</head>
<body>
<header th:replace="templates/lovappy-template :: header(1)"></header>

<section class="hero" th:style="'background:url(' + @{/images/lovappy-profile/lovappyprofile.jpg} + ');'">
    <h1>Lovappy Profiles</h1>
</section>

<section class="profile-photos container">
    <div class="filter-by">
        <span>Filter by</span>
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Man</a></li>
            <li><a href="#">Women</a></li>
        </ul>
    </div>
    <div class="clearfix">
        <div class="col-6">
            <h3>Profiles with Pictures</h3>
            <ul>
                <li>
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="ads">
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img2.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/lovappy-profile/img1.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h3>Treasure Profiles</h3>
            <ul>
                <li>
                    <div class="box">
                        <img th:src="@{/images/home/img4.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <img th:src="@{/images/home/img4.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/home/img4.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <img th:src="@{/images/home/img4.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                <div class="box">
                    <img th:src="@{/images/home/img4.png}" alt="Info Library">
                    <div class="play-stop">
                        <div class="play">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            0:31
                        </div>
                    </div>
                    <div class="gold">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/home/img5.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <img th:src="@{/images/home/img5.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <img th:src="@{/images/home/img4.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <div class="box">
                        <img th:src="@{/images/home/img4.png}" alt="Info Library">
                        <div class="play-stop">
                            <div class="play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="time">
                                0:31
                            </div>
                        </div>
                        <div class="gold">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="info-box">
    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="category">
        Podcast
    </div>
    <div class="img">
        <img th:src="@{/images/blog-article.jpg}" alt="Image">
    </div>
    <div class="bg">
        <div class="user-info">
            <div class="state">
                <img th:src="@{/images/home/img4.png}" alt="Info Library">
                <span>34</span> /
                <span>NY</span> /
                <span>EN</span>
            </div>
        </div>
        <a href="#" class="user-link">View Profile</a>
        <div class="icons">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <img th:src="@{/images/icons/lovdrop-block.png}" alt="Icon">
        </div>
        <div class="play-stop">
            <div class="play">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="time">
                0:31
            </div>
        </div>
        <div class="user-id">
            134
        </div>
    </div>
</div>
<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script>
    $('section.profile-photos ul li .box').click(function(){
        $( '.info-box' ).toggleClass('active');
        $( 'body' ).toggleClass('active');
    });
    $('.info-box .close').click(function(){
        $( '.info-box' ).removeClass('active');
        $( 'body' ).removeClass('active');
    });
</script>

</body>
</html>