<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'blog_landing', false)">

    <title>Advertise | Music with Advertise</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/blogs.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/adsLanding.css}">
</head>
<body class="music-main">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="landing-section main">
    <h1 th:text="#{advertise-landing.title}">Advertise with Lovappy when people are thinking of Love</h1>
    <p th:text="#{advertise-landing.description}">An ad platform that embraces an audience ready for change. </p>
    <div class="container clearfix">
        <div class="content-left">
            <p th:text="#{advertise-landing.des1}">Lovappy advertising lets you target people in so many ways. People thinking of dating are always looking to improve the quality of their lives. They are an audience that is on the go. Here you can catch them and introduce them to your best product, service, or information. One click gets them to your offering. Better than standard radio is Lovappy Radio.</p>
        </div>
        <div class="go-to-vlog">
            <label th:text="#{advertise-landing.advertise-now}">ADVERTISE now!</label>
            <a th:href="@{/advertise}" class="yellow-btn" th:text="#{advertise-landing.click-here}">Click Here</a>
            <!--<p th:unless="${#authorization.expression('isAuthenticated()')}" >Or click <a href="#" class="reg-log-modal">here</a> to <a href="#" class="reg-log-modal">register</a> </p>-->
        </div>
    </div>
    <!--<div class="social-login">
        <a href="#">sign in with <span>Facebook</span></a>
        <a href="#">sign in with <span>Google</span></a>
    </div>-->

</section>

<section class="advertise-landing">
    <h2 th:text="#{advertise-landing.advertise-with-lovappy}">here’s what you can advertise with lovappy:</h2>
    <div class="ads-lan-full">
        <ul>
            <li>
                <img src="../../static/images/events-header.jpg" th:src="@{/images/ads1.png}" alt="Ads">
            </li>
            <li>
                <img src="../../static/images/events-header.jpg" th:src="@{/images/ads2.png}" alt="Ads">
            </li>
            <li>
                <img src="../../static/images/events-header.jpg" th:src="@{/images/ads3.png}" alt="Ads">
            </li>
            <li>
                <img src="../../static/images/events-header.jpg" th:src="@{/images/ads4.png}" alt="Ads">
            </li>
            <li>
                <img src="../../static/images/events-header.jpg" th:src="@{/images/ads5.png}" alt="Ads">
            </li>
            <li>
                <img src="../../static/images/events-header.jpg" th:src="@{/images/ads6.png}" alt="Ads">
            </li>
        </ul>
    </div>
</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

</body>
</html>