<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>

<div id="tabs-audio" class="tabs-container clearfix"   th:fragment="advertise-audio-flow">

    <!-- fist step -->
    <div class="first-text-con  audio-step1">
            <textarea disabled name="" id="" cols="30" rows="10" th:text="${ads_audio_step1}">AUDIO PRICE, GUIDELINES, TIME LIMITS, UPLOAD OR RECORD, ADD TEXT , CHAR LIMIT 120</textarea>
        <div class="next-btn next1">
            <a href="#" class="nextto1" th:text="#{advertise.next}">Next</a>
        </div>
    </div>
    <!-- end of first step -->
    <!-- second step -->
    <div class="advertise-container audio-step2 clearfix">
        <img src="../../static/images/advertise/sample-ads-music.png" th:src="@{/images/advertisingimg.png}" alt="Sample ads music" class="ads-top-img">
        <div class="header-title">
            <h3 th:text="#{advertise.start-building-ad}">Start Building your ad</h3>
            <p th:utext="#{advertise.start-building-ad-description}">You can type text over one of our backgrounds or <br> upload your ad-ready image that includes text</p>
        </div>
        <div class="advertise-left-box">
            <div class="advertise-textarea-second">
                <textarea id="advertise-text-audio" rows="8" cols="30" th:placeholder="#{advertise.textarea.placeholder}" th:maxlength="${audio_limit}" th:field="*{text}"></textarea>
                <input id="ad-url-audio" class="adUrl" type="text" th:placeholder="#{advertise.url.placeholder}">
            </div>
            <div class="middle-container">
                <img class="textAlign" data-align="TOP" th:src="@{/images/align3.png}" alt="Align">
                <img class="textAlign" data-align="CENTER" th:src="@{/images/align2.png}" alt="Align">
                <img class="textAlign" data-align="BOTTOM" th:src="@{/images/align1.png}" alt="Align">
            </div>
            <div class="advertise-background-third">
                <div class="tab-bg-color bg-color-first clearfix">
                    <span class="active" th:text="#{advertise.background-text-color}">Background/Text Colors</span>
                    <span th:text="#{advertise.background-image}">Image Backgrounds</span>
                </div>
                <div class="bg-color-list active clearfix">
                    <div class="bg-white clearfix">
                        <div class="bg-color-list1">
                            <label th:text="#{advertise.background-color}">Background Color:</label>
                            <div class="color-mini-container clearfix">
                                <div th:each="color : ${backgroundColors}" class="checkboxFour">
                                    <!--/*@thymesVar id="color" type="com.realroofers.lovappy.service.ads.dto.AdBackgroundColorDto"*/-->
                                    <input type="radio" th:value="${color.color}" th:id="'checkboxFourInput' + ${color.id}"
                                           name="backgroundColor1" th:attr="data-id=${color.id}"/>
                                    <label th:for="'checkboxFourInput'+${color.id}" th:style="${'background-color:' + color.color}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="text-color-list">
                            <label th:text="#{advertise.text-color}">Text color:</label>
                            <div class="color-mini-container clearfix">
                                <div th:each="color : ${backgroundColors}" class="checkboxFour">
                                    <!--/*@thymesVar id="color" type="com.realroofers.lovappy.service.ads.dto.AdBackgroundColorDto"*/-->
                                    <input type="radio" th:value="${color.color}" th:id="'checkboxTextFourInput' + ${color.id}"
                                           name="audioTextColor" th:attr="data-id=${color.id}"/>
                                    <label th:for="'checkboxTextFourInput'+${color.id}" th:style="${'background-color:' + color.color}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="upload-image-backg">
                        <label class="upload-photo-id" for="upload-img-audio">
                            <span class="ui button loading" style='background: transparent;display: none;'></span>
                            <input type="file" id="upload-img-audio" data-upload="image-audio" accept="image/*">
                            <span th:text="#{advertise.upload-image}">Upload Image</span>
                        </label>
                        <a href="javascript:void(0)" id="audioRemoveCoverImage"><span th:text="#{advertise.remove-image}">Remove Image</span></a>
                    </div>
                </div>

                <div class="bg-image-list images-list1">
                    <ul>
                        <li th:each="image : ${backgroundImages}" th:attr="data-id=${image.imageFileCloud.id}">
                            <!--/*@thymesVar id="image" type="com.realroofers.lovappy.service.ads.dto.AdBackgroundImageDto"*/-->
                            <img th:src="${image.imageFileCloud.url}"/>
                            <input type="hidden" th:value="${image.featuredAdBackgroundFileCloud.url}"/>
                            <div style="display: none" th:id="${image.featuredAdBackgroundFileCloud.id}"></div>
                        </li>
                        <li>
                            <span class="ui button loading" style='background: transparent;display: none;'></span>
                            <i id="upload-custom-bg-1" class="fa fa-3 fa-upload" aria-hidden="true" style="font-size: 3em; cursor: pointer;"></i>
                            <input id="bg-image-file-1" type="file" data-upload="image-audio" accept="image/*"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="advertise-right-box">
            <h2 th:text="#{advertise.preview}">Preview</h2>
            <div class="advertisement-box-right">
                <div class="ads-middle-box tabs1-first">
                    <!--<h3>Advertisement</h3>-->
                    <p th:text="#{advertise.example-text}">
                        Text ad will be placed above a user's voice recording Min 120 char.
                        Solid color or photo background can be used.
                    </p>

                    <!--<img src="../../static/images/ads-contentimg.jpg" alt="Img upload" th:src="@{/images/ads-contentimg.jpg}">-->
                </div>
            </div>
        </div>
        <div class="next-btn next2">
            <a href="#" class="back2" th:text="#{advertise.back}">Back</a>
            <a href="#" class="nextto2" th:text="#{advertise.next}">Next</a>
        </div>
    </div>
    <!-- end of second step -->
    <div class="advertise-container audio-step3 clearfix">
        <img src="../../static/images/advertise/sample-ads-music.png" th:src="@{/images/advertisingimg.png}" alt="Sample ads music" class="ads-top-img">
        <div class="header-title">
            <h3 th:text="#{advertise.upload-your-audio}">Upload your audio</h3>
            <p th:utext="#{advertise.upload-audio-description}">Upload your audio file(MP3, max size MB) or record your audio here(max lenght 20min) <br> Preview Your file before proceeeding</p>
        </div>
        <div class="advertise-left-box record-song">
            <div class="advertise-textarea-second sound">
                <!-- Upload Audio -->
                <div class="advertise-upload-sound" id="upload-audio">
                    <div class="white-audio">
                        <h6 th:text="#{advertise.upload-audio}">Upload Audio</h6>
                        <div id="audio-btn" class="upload-container" data-upload="audio" style="margin: auto;">
                        <span style="font-size: 4em;color: #ec743b;">
                            <img src="../../static/images/advertise/audio-upload.png" alt="Audio upload" th:src="@{/images/advertise/audio-upload.png}">
                            <!--<p>Upload audio</p>-->
                        </span>
                        </div>
                        <label id="upload-audio-btn" for="ad-audio" class="audio-upload-btn" th:text="#{advertise.upload-audio}">Upload Audio</label>
                        <input type="file" data-upload="audio" id="ad-audio" accept="audio/*"/>
                        <audio id="uploaded" style="visibility: hidden"></audio>
                    </div>
                </div>
                <div class="audio-or" th:text="#{advertise.or}">
                    OR
                </div>
                <!-- Record Audio -->
                <div class="advertise-upload-sound" id="record-audio">
                    <div class="white-audio">
                        <h6 th:text="#{advertise.record-audio}">Record Audio</h6>
                        <div class="upload-container" data-upload="audio" style="margin: auto;">
                            <span id="timer">00:00</span>
                            <span id="record-btn" data-action="Record">
                        <span id="recording-circle"></span>
                        <img src="../../static/images/advertise/record-audio.png" th:src="@{/images/advertise/record-audio.png}">
                        <p th:text="#{advertise.record-audio}">Record audio</p>
                        </span>
                        </div>

                    </div>
                    <button class="blue button ui" id="upload-recording-btn" type="button" disabled style="margin-top: 10px;" th:text="#{advertise.upload-recording}">Upload Recording</button>
                    <audio id="recorded" style="visibility: hidden"></audio>
                </div>
            </div>


        </div>
        <div class="advertise-right-box">
            <h2 th:text="#{advertise.preview}">Preview</h2>
            <div class="advertisement-box-right">
                <div class="ads-middle-box tabs1-first">
                    <!--<h3>Advertisement</h3>-->
                    <p th:text="#{advertise.example-text}">
                        Text ad will be placed above a user's voice recording Min 120 char.
                        Solid color or photo background can be used.
                    </p>
                    <i id="audio-play-icon" class="fa fa-play-circle-o" aria-hidden="true" style="display: none;"></i>
                    <!--<img src="../../static/images/ads-contentimg.jpg" alt="Img upload" th:src="@{/images/ads-contentimg.jpg}">-->
                </div>
            </div>
        </div>
        <div class="next-btn next3">
            <a href="#" class="back3" th:text="#{advertise.back}">Back</a>
            <a href="#" class="nextTo3" th:text="#{advertise.next}">Next</a>
        </div>
    </div>
    <!-- four step -->
    <div class="add-text3 audio-step4">
        <img src="../../static/images/advertise/sample-ads-music.png" th:src="@{/images/advertisingimg.png}" alt="Sample ads music" class="ads-top-img">
        <div class="header-title">
            <h3 th:text="#{advertise.last-step}">Last step</h3>
            <p th:utext="#{advertise-select-target}">Select your target area and audience below. <br> Check your confent for accuracy before submitting.</p>
        </div>
        <div class="text3-container">
            <div class="con1">
                <div id="audio-target-area" class="required" >
                    <p th:text="#{advertise.select-your-area}"> Select your Target Area</p>
                    <button class="lov-button" id="select-audio-ad-areas" th:text="#{advertise.target-area}">Target Area</button>
                    <span th:text="#{advertise.required}">Required</span><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div id="audio-audience-area" class="required">
                    <p th:text="#{advertise.select-your-audience}">Select your Target Audience</p>
                    <button class="lov-button" id="audience-audio-ad-pref" th:text="#{advertise.audience-preferences}">Audience Preferences</button>
                    <span th:text="#{advertise.required}">Required</span><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="required">
                    <p th:text="#{advertise.enter-email}">Enter your email address</p>
                    <input  id="email-audio"  type="email" th:placeholder="#{advertise.enter-email}" th:field="*{email}">
                </div>
            </div>
            <div class="con2">
                <p th:text="#{advertise.des1}"> By default, your ad will be placed above a user's voice recording, on a LovStamp</p>
                <p th:text="#{advertise.des2}">If you would like your own Feature Stamp, please check the box to see the preview on the right Feature Stamps are an additional fee but will attract more viewers and/or listeners</p>
                <p id="featured-stamp"><input id="audio-featured-stamp" type="checkbox" th:field="*{featured}"><span th:text="#{advertise.features-stamp}">Yes, I want a Feature Stamp</span></p>
            </div>
            <div class="con3">
                <h3 th:text="#{advertise.preview}">Preview</h3>
                    <div id="audio-preview-stamp" >
                        <div class="ads-middle-box text-show-content">
                            <p th:text="#{advertise.example-text}">Text ad will be placed above a user's voice recording Min 120 char. Solid color or photo background can be used. </p>
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="radio-boxs">
                            <div class="box">
                                <div class="main-content ">
                                    <div class="user-status">
                                        <img th:src="@{/images/new-female-icon.png}">
                                        <a >20</a>
                                        <a >NY</a>
                                        <a >AR</a>
                                    </div>
                                    <div class="view-profile">
                                        <a  th:text="#{radio.view-profile}">View Profile</a>
                                    </div>
                                    <div class="lovdrop-actions">
                                        <img th:src="@{/images/icons/share.png}" class="share-lovdrop-list">
                                        <img th:src="@{/images/icons/like.png}" class="like-lovdrop" >
                                        <img th:src="@{/images/icons/lovdrop-block.png}" >
                                    </div>
                                    <div class="radio-play-skip">
                                        <div class="radio-play">
                                            <i class="lovstampPlay fa fa-play" aria-hidden="true"></i>
                                            <span>00:12</span>
                                        </div><div class="radio-skip" th:text="#{radio.skip}">Skip</div>
                                    </div>
                                    <div class="user-id">
                                        9
                                        <img th:src="@{/images/alert-icon-image-gallery-27.png}" class="block-lovdrop">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="audio-preview-featured-stamp" class="advertisement-box-right ads">
                    <div id="featured-img" class="ads-middle-box tabs1-first">
                        <!--<h3>Advertisement</h3>-->
                        <p th:text="#{advertise.example-text}">
                            Text ad will be placed above a user's voice recording Min 120 char.
                            Solid color or photo background can be used.
                        </p>
                        <span class="play-ads"><i class="fa fa-play-circle-o" aria-hidden="true"></i></span>
                        <!--<img src="../../static/images/ads-contentimg.jpg" alt="Img upload" th:src="@{/images/ads-contentimg.jpg}">-->
                    </div>
                </div>
            </div>
        </div>
        <div class="next-btn next4">

            <a href="#" class="back3" th:text="#{advertise.back}">Back</a>
            <div class="agree-tab">
                <p>[[#{advertise.policy.part1}]] <a class="terms-link" data-ad="ad" href="javascript:void(0);" th:text="#{advertise.policy.click-here}">HERE</a> [[#{advertise.policy.part2}]] <br>
                    <label for="acknowledge-audio-check"><input type="checkbox" id="acknowledge-audio-check"> [[#{advertise.policy.part3}]]</label></p>

            </div>
            <a href="javascript:void(0)" id="submit-audio-advertise" class="submit" th:text="#{advertise.submit}">Submit</a>
        </div>
    </div>
    <!-- end of four step -->

</div>

</body>
</html>