<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'advertise-with-us', false)">
    <title>Lovappy | Advertise</title>

    <style>
        /**
 * Checkbox Four
 */
        .checkboxFour {
            display: inline-block;
            /*background: #ddd;*/
            border-radius: 100%;
            position: relative;
            /*box-shadow: 0px 1px 3px rgba(0,0,0,0.5);*/
        }

        /**
         * Create the checkbox button
         */
        .checkboxFour label {
            display: block;
            width: 18px;
            padding: 0!important;
            height: 18px;
            border-radius: 100px;
            transition: all .5s ease;
            cursor: pointer;
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 1;
            box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
        }

        /**
         * Create the checked state
         */
        .checkboxFour input[type=radio]:checked + label:before {
            border: 1px solid #333;
            top: -1px;
            left: -1px;
        }

        [type="radio"]:checked + label:before {
            background: #f6402c;
        }
        [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
            background: transparent;
        }
    </style>
    <link href="../../static/css/web_pages/radio_adv.css" th:href="@{/css/web_pages/radio_adv.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link href="https://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/square-payment-form.css"
          th:href="@{/css/square-payment-form.css}">

    <link rel="stylesheet" type="text/css" href="../../static/css/cropper.css"
          th:href="@{/css/cropper.css}">

</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>


<div class="advertise-cover" alt="Lovappy Advertise Cover Picture" th:style="'background-image:url(' + @{/images/advertise/bg.jpg} + ');'">
    <div class="wrapper">
        <h1 class="advertise-title" th:utext="#{advertise.title}">ADVERTISE WITH US</h1>
        <p class="advertise-description" th:utext="#{advertise.description}">Reach an audience on the web and in our app!<br/>All submissions will be
            available on Lovappy.com pending approval.</p>

        <h2 class="advertise-question" th:text="#{advertise.advertise-question}">WHAT TYPE OF CONTENT ARE YOU SUBMITTING?</h2>
        <div class="ad-sample-area">
            <div class="ad-sample" data-ad="ad">
                <img src="../../static/images/advertise/sample-ads-ad.png"
                     th:src="@{/images/advertise/Advertisement.png}" alt="Sample ads ad">
                <p th:text="#{advertise.advertisement}">Advertisement</p>
                <span class="border-line"></span>
            </div>
            <div class="ad-sample" data-ad="comedy">
                <img src="../../static/images/advertise/sample-ads-comedy.png"
                     th:src="@{/images/advertise/Comedy.png}" alt="Sample ads comedy">
                <p th:text="#{advertise.comedy}">Comedy</p>
                <span class="border-line"></span>
            </div>
            <div class="ad-sample" data-ad="news">
                <img src="../../static/images/advertise/sample-ads-news.png"
                     th:src="@{/images/advertise/News.png}" alt="Sample ads news">
                <p th:text="#{advertise.news}">News</p>
                <span class="border-line"></span>
            </div>
            <div class="ad-sample" data-ad="podcast">
                <img src="../../static/images/advertise/sample-ads-podcast.png"
                     th:src="@{/images/advertise/Podcast.png}" alt="Sample ads podcast">
                <p th:text="#{advertise.podcast}">Podcast</p>
                <span class="border-line"></span>
            </div>
            <div class="ad-sample" data-ad="music">
                <img src="../../static/images/advertise/sample-ads-music.png"
                     th:src="@{/images/advertise/Music.png}" alt="Sample ads music">
                <p th:text="#{advertise.music}">Music</p>
                <span class="border-line"></span>
            </div>
            <div class="ad-sample" data-ad="audiobook">
                <img src="../../static/images/advertise/sample-ads-music.png"
                     th:src="@{/images/advertise/Audiobook.png}" alt="Sample ads music">
                <p th:text="#{advertise.audiobook}">Audiobook</p>
                <span class="border-line"></span>
            </div>
        </div>
    </div>
</div>

<!-- first section -->
<form id="ad-form1" th:object="${ad}">

<div id="tabs" style="display:none">

    <div class="advertise-list">
        <ul>
            <img src="../../static/images/advertise/sample-ads-music.png" th:src="@{/images/advertisingimg.png}" alt="Sample ads music" class="ads-top-img">
            <h2 class="choose-format" th:text="#{advertise.what-format}">What format would you like to submit?</h2>
            <li data-type="TEXT">
                <a href="#tabs-text" rel="nofollow" data-type="TEXT">
                    <span>
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
            <li data-type="AUDIO">
                <a href="#tabs-audio" rel="nofollow" data-type="AUDIO">
                    <span>
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
            <li data-type="VIDEO">
                <a href="#tabs-video" rel="nofollow" data-type="VIDEO">
                    <span>
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div th:replace="advertise/advertise-text-flow :: advertise-text-flow"></div>


    <div th:replace="advertise/advertise-audio-flow :: advertise-audio-flow"></div>

    <div th:replace="advertise/advertise-video-flow :: advertise-video-flow"></div>


    <div th:replace="fragments/image-uploader :: advertisment-upload-modal">
    </div>

    <div th:replace="fragments/image-uploader :: advertisment-single-upload-modal">
    </div>

</div>

    <input id="cover-image-input" type="hidden" th:field="*{backgroundFileCloud.id}"/>
    <input id="cover-image-input-large" type="hidden" th:field="*{featuredAdBackgroundFileCloud.id}"/>
    <input id="audio-input" type="hidden" th:field="*{mediaFileCloud.id}"/>
    <input id="length-input" type="hidden" th:field="*{length}"/>
    <input id="ad-audio-type" type="hidden" th:field="*{audioType}">

</form>


<input id="gender" type="hidden"/>
<input id="prefGender" type="hidden" />
<input id="zipCode" type="hidden" name="location.zipCode"/>
<input id="country" type="hidden" name="location.country"/>
<input id="state" type="hidden" name="location.state"/>
<input id="province" type="hidden" name="location.province"/>
<input id="city" type="hidden" name="location.city"/>
<input id="streetNumber" type="hidden" name="location.streetNumber"/>
<input id="fullAddress" type="hidden" name="location.fullAddress"/>
<input id="latitude" type="hidden" name="location.latitude"/>
<input id="longitude" type="hidden" name="location.longitude"/>
<!-- end of first section -->

<div class="ui modal" id="target-area-map">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.modal.area.title}">
        Advertise target area(s)
    </div>
    <div class="content audience-content">

        <!--google map-->
        <div id="target-map"></div>

        <form id="ad-target-areas-form" th:object="${ad}">
            <div class="row">
                <div class="grid-6 criteria-area">
                    <div class="criteria">
                        <input type="text" class="lov-input"  th:placeholder="#{advertise.modal.area.placeholder}" id="zip-code">
                        <button class="blue button ui" id="go-location" type="button" th:text="#{advertise.modal.area.go}">Go</button>
                    </div>

                    <div class="criteria">
                        <label style="color: #000000 !important;" for="mileRadius" th:text="#{advertise.modal.area.within}">Within a</label>
                        <input type="text" class="lov-input" max="500" min="100" value="300" id="mileRadius" placeholder="# Miles (100 - 500)">
                    </div>

                    <div class="criteria">
                        <input id="last-mile-radius-search-slider" type="range" min="100" max="500" step="10" value="300"
                               oninput="$('#mileRadius').val($('#last-mile-radius-search-slider').val()); changeRadius($('#mileRadius').val());">
                    </div>
                    <div class="row add-area">
                        <button class="ui button blue" id="btn-add-area" type="button">+</button>
                    </div>
                </div>
                <div class="grid-6 target-areas">
                    <p th:text="#{advertise.modal.area.text}">
                        Click on the map and drag to select the area you would like your advertisement to target. When
                        you
                        are done with an area, click (+) to add another (optional). Selected target areas will display
                        below.
                    </p>
                    <table id="areas-table" class="areas-table">
                        <thead>
                        <tr>
                            <th th:text="#{advertise.modal.area.target}">Target</th>
                            <th th:text="#{advertise.modal.area.radius}">Radius</th>
                            <th th:text="#{advertise.modal.area.remove}">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div id="save-target-area" class="ui button red " th:text="#{advertise.modal.area.save}">Save</div>
    </div>
</div>




<div class="ui modal advertise-target-modal" id="audience-preferences">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.modal.audience.title}">
        Advertise target audience(s)
    </div>
    <div class="content audience-preferences-content">
        <form id="ad-audience-preferences-form" th:object="${ad}">
            <div class="clearfix">
                <div class="grid-12 audience-prop">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.gender}">Gender</span>
                    </div>
                    <div class="advertise-right-content">
                        <div class="uni-select">
                    <span>
                    <a href="javascript:void(0)">
                        <img class="preference" src="../../static/images/icons/new-male-icon.png"
                             th:src="@{/images/icons/new-male-icon.png}" alt="New male cion"/>
                        <p th:text="#{advertise.modal.audience.gender.male}">Male</p>
                    </a>
                    <input type="radio" name="gender" value="MALE" th:value="MALE" th:field="*{gender}" required/>
                    </span>
                            <span>
                        <a href="javascript:void(0)">
                            <img class="preference-girl"
                                 src="../../static/images/icons/new-female-icon.png"
                                 th:src="@{/images/icons/new-female-icon.png}" alt="New female icon"/>
                            <p th:text="#{advertise.modal.audience.gender.female}">Female</p>
                        </a>
                        <input type="radio" name="gender" value="FEMALE" th:value="FEMALE" th:field="*{gender}" required/>
                    </span>
                            <span>
                        <a href="javascript:void(0)">
                            <img class="preference-girl"
                                 src="../../static/images/icons/new-both-gender.png"
                                 th:src="@{/images/icons/new-both-gender.png}" style="width: auto;" alt="New both gender"/>
                            <p th:text="#{advertise.modal.audience.gender.both}">Both</p>
                        </a>
                        <input type="radio" name="gender" value="BOTH" th:value="BOTH" th:field="*{gender}" required/>
                    </span>
                        </div>
                        <div id="genderFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <div class="grid-12 audience-prop">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.age-group}">Age Group</span>
                    </div>
                    <div class="advertise-right-content">
                        <div class="uni-select">
                        <span th:each="range : ${T(com.realroofers.lovappy.service.ads.support.AgeRange).values()}">
                            <a href="javascript:void(0)">
                                <p th:if="${range.to < 100}" th:text="${range.from + ' - ' + range.to}"></p>
                                <p th:unless="${range.to < 100}" th:text="${range.from + '+'}"></p>
                            </a>
                            <input type="radio"  name="ageRange" th:value="${range}" th:field="*{ageRange}" required/>
                        </span>
                        </div>
                        <div id="ageRangeFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <div class="grid-12 audience-prop audience-lang">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;"  th:text="#{advertise.modal.audience.language}">Language</span>
                    </div>
                    <div class="advertise-right-content">
                        <select id="language" th:field="*{language.id}" required>
                            <option th:each="language : ${languages}"
                                    th:value="${language.id}" th:text="${language.name}">
                            </option>
                        </select>
                        <div id="languageFormGroup" style="display: inline-block;">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="audience-preferences">
                <h3 th:text="#{advertise.modal.audience.preferences}">Select preferred audience preferences</h3>

                <!--Pets-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.pets}">Pets</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="uni-select">
                            <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_dogs.png}" alt="">
                                    <p th:text="#{advertise.modal.audience.preferences.pets.dogs}">Dogs</p>
                                </a>
                                    <input type="radio" name="preferences.catORdog" value="dog" required/>
                            </span>
                            <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_cat.png}" alt="">
                                    <p th:text="#{advertise.modal.audience.preferences.pets.cats}">Cats</p>
                                </a>
                                <input type="radio" name="preferences.catORdog" value="cat" required/>
                            </span>
                            <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_both_pets.png}" alt="">
                                    <p th:text="#{advertise.modal.audience.preferences.pets.both}">Both</p>
                                </a>
                                <input type="radio" name="preferences.catORdog" value="both_pets" required/>
                            </span>
                            <span>
                                <a href="javascript:void(0)" >
                                    <img th:src="@{/images/icons/preference_icons/prefer_no_pets.png}" alt="">
                                    <p th:text="#{advertise.modal.audience.preferences.pets.none}">None</p>
                                </a>
                                <input type="radio" name="preferences.catORdog" value="no_pets" required/>
                            </span>
                        </div>
                        <div id="catORdogFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <!--Habits-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.habits}">Habits</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="multi-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/habit_drinker.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.habits.drinker}">Drinker</p>
                    </a>
                    <input type="radio" name="preferences.drinker" value="drinker" />
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/habit_smoker.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.habits.smoker}">Smoker</p>
                    </a>
                    <input type="radio" value="smoker" name="preferences.smoker" />
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/habit_user.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.habits.user}">User</p>
                    </a>
                    <input type="radio" value="user" name="preferences.user" />
                </span>
                            <span>
                    <a href="javascript:void(0)" class="none">
                        <img th:src="@{/images/icons/preference_icons/habit_none.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.habits.none}">None</p>
                    </a>
                    <input type="radio" value="no-habit"  name="preferences.no-habit" />
                </span>
                        </div>
                        <div id="habitFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <!--Neighborhood-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.neighborhood}">Neighborhood</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/neighborhood_rural.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.neighborhood.rural}">Rural</p>
                    </a>
                    <input type="radio" value="rural" name="preferences.ruralORurbanORsuburban" required/>
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/neighborhood_urban.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.neighborhood.urban}">Urban</p>
                    </a>
                    <input type="radio" value="urban" name="preferences.ruralORurbanORsuburban" required/>
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/neighborhood_suburban.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.neighborhood.suburban}">Suburban</p>
                    </a>
                    <input type="radio" value="suburban" name="preferences.ruralORurbanORsuburban" required/>
                </span>
                        </div>
                        <div id="ruralORurbanORsuburbanFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>


                <!--hanging-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.hanging}">Hanging</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/hanging_outdoorsy.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.hanging.outdoorsy}">Outdoorsy</p>
                    </a>
                    <input type="radio" value="outdoorsy" name="preferences.outdoorsyORindoorsy" required/>
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/hanging_indoorsy.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.hanging.indoorsy}">Indoorsy</p>
                    </a>
                    <input type="radio" value="indoorsy" name="preferences.outdoorsyORindoorsy" required/>
                </span>
                        </div>
                        <div id="outdoorsyORindoorsyFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <!--Spending-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.money-spending}">Money Spending</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/money_frugal.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.money-spending.frugal}">Frugal</p>
                    </a>
                    <input type="radio" value="frugal" name="preferences.frugalORbigspender" required/>
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/money_big_spender.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.money-spending.big-spender}">Big Spender</p>
                    </a>
                    <input type="radio" value="big_spender" name="preferences.frugalORbigspender" required/>
                </span>
                        </div>
                        <div id="frugalORbigspenderFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <!--Waking-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.waking-time}">Waking time</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/waking_morning_person.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.waking-time.morning-person}">Morning Person</p>
                    </a>
                    <input type="radio" value="morning_person" name="preferences.morningpersonORnightowl" required/>
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/waking_night-owl.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.waking-time.night-owl}">Night Owl</p>
                    </a>
                    <input type="radio" value="night_owl" name="preferences.morningpersonORnightowl" required/>
                </span>
                        </div>
                        <div id="morningpersonORnightowlFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <!--Personality-->
                <div class="audi-pref-con">
                    <div class="audience-prop-title">
                        <span class="preference-title" style="color: #000000 !important;" th:text="#{advertise.modal.audience.preferences.personality}">Personality</span>
                    </div>
                    <div class="audience-preferences-content">
                        <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/personality_extrovert.png}" alt="">
                        <p th:text="#{advertise.modal.audience.preferences.personality.extrovert}">Extrovert</p>
                    </a>
                    <input type="radio" value="extrovert" name="preferences.extrovertORintrovert" required/>
                </span>
                            <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/personality_introvert.png}" alt="">
                        <p  th:text="#{advertise.modal.audience.preferences.personality.introvert}">Introvert</p>
                    </a>
                    <input type="radio" value="introvert" name="preferences.extrovertORintrovert"  required/>
                </span>
                        </div>
                        <div id="extrovertORintrovertFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div typeof="submit" id="save-audience-pref" class="ui button red" th:text="#{advertise.modal.audience.save}">Save</div>
    </div>
</div>

<div class="ui modal" id="ad-terms">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.terms.header}">
        Terms & Conditions!
    </div>
    <div class="content ">

        <div th:each="term:${adsTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>
<div class="ui modal" id="music-terms">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.terms.header}">
        Terms & Conditions!
    </div>
    <div class="content ">

        <div th:each="term:${musicTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>
<div class="ui modal" id="podcast-terms">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.terms.header}">
        Terms & Conditions!
    </div>
    <div class="content ">

        <div th:each="term:${podcastTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>
<div class="ui modal" id="comedy-terms">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.terms.header}">
        Terms & Conditions!
    </div>
    <div class="content ">

        <div th:each="term:${comedyTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>
<div class="ui modal" id="news-terms">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.terms.header}">
        Terms & Conditions!
    </div>
    <div class="content ">
        <div th:each="term:${newsTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>
<div class="ui modal" id="audiobook-terms">
    <i class="close icon"></i>

    <div class="header" th:text="#{advertise.terms.header}">
        Terms & Conditions!
    </div>
    <div class="content ">
        <div th:each="term:${audioBookTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>

<div class="ui modal" id="video-recorder-modal">
    <i class="close icon"></i>
    <div class="header" th:text="#{advertise.video-reccorder}">
       Video Recorder
    </div>
    <div class="content ">
        <div style = "text-align:center;">
            <video id="video-record" controls autoplay></video><br>

        </div>
    </div>
    <div class="actions">
        <button class="ui button" id="rec" th:text="#{advertise.video-reccorder.record}">Record</button>
        <button class="ui button" id="pauseRes"   disabled th:text="#{advertise.video-reccorder.pause}">Pause</button>
        <button class="ui button" id="stop"  disabled th:text="#{advertise.video-reccorder.stop}">Stop</button>
        <button class="ui button" id="upload-video-recording-btn"  disabled th:text="#{advertise.video-reccorder.upload}">Upload</button>
        <div class="ui button btn-close-modal" th:text="#{advertise.video-reccorder.cancel}">Cancel</div>
    </div>
</div>

<input type="hidden" id="large-image-id" />
<input type="hidden" id="large-image-url" />
<div id="large-img-url" style="display: none"></div>

<!-- Square Payment Form-->
<div th:replace="templates/squareform :: sqform"></div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>

<script src="../../static/js/image-cropper/radio-image-cropper.js" th:src="@{/js/image-cropper/radio-image-cropper.js}"></script>
<script src="../../static/js/image-cropper/radio-single-image-cropper.js" th:src="@{/js/image-cropper/radio-single-image-cropper.js}"></script>
<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var google_url = "https://maps.googleapis.com/maps/api/js?callback=initMap&key=" + [[${google_key}]];
        var squareAppID = [[${squareAppID}]];
        var calcPriceUrl = baseUrl + "api/v1/ads/calculate_price";
        var notifTextArea =[[#{advertise.notif.filltext}]];
        var notifUploadRecord =[[#{advertise.notif.upload-record}]];
        var notifUploadOrSkip =[[#{advertise.notif.upload-skip}]];
        var notifUploadOrRecordOrUrl =[[#{advertise.notif.upload-record-url}]];
        var notifUrlRequired =[[#{advertise.notif.url.required}]];
        var notifUrlValid =[[#{advertise.notif.url.valid}]];
        var payPopTitle =[[#{advertise.modal.payment.title}]];
        var payPopText =[[#{advertise.modal.payment.text}]];
        var notifTermsRequired =[[#{advertise.notif.terms}]];
        var notifAreaRequired =[[#{advertise.notif.area}]];
        var notifAudienceRequired =[[#{advertise.notif.audience}]];
        var notifEmailRequired =[[#{advertise.notif.email.required}]];
        var notifEmailValid =[[#{advertise.notif.email.valid}]];
        var notifAudioReccorderUploaded = [[#{advertise.audio-reccorder.uploaded}]];
        var notifGenderRequired = [[#{advertise.modal.audience.gender.required}]];
        var notifPetsRequired = [[#{advertise.modal.audience.pets.required}]];
        var notifAgeGroupRequired = [[#{advertise.modal.audience.age-group.required}]];
        var notifHabitsRequired = [[#{advertise.modal.audience.habits.required}]];
        var notifNeighborhoodRequired = [[#{advertise.modal.audience.neighborhood.required}]];
        var notifHangingRequired = [[#{advertise.modal.audience.hanging.required}]];
        var notifMoneySpendingRequired = [[#{advertise.modal.audience.money-spending.required}]];
        var notifWakingTimeRequired = [[#{advertise.modal.audience.waking-time.required}]];
        var notifPersonalityRequired = [[#{advertise.modal.audience.personality.required}]];
        var advertiseRecordAudioPlay = [[#{advertise.record-audio.play}]];
        /*]]>*/
    </script>

<!--<script src="https://vjs.zencdn.net/6.2.7/video.js"></script>-->
<script src="../../static/js/web_pages/adv/radio_image_crop.js" th:src="@{/js/web_pages/adv/radio_image_crop.js}"></script>
<script src="../../static/js/web_pages/adv/radio_adv-video-recorder.js" th:src="@{/js/web_pages/adv/radio_adv-video-recorder.js}"></script>
<script src="../../static/js/web_pages/adv/radio_adv-recorder.js"
        th:src="@{/js/web_pages/adv/radio_adv-recorder.js}"></script>
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script src="../../static/js/square-payment.js" th:src="@{/js/square-payment.js}" type="text/javascript"></script>
<script src="../../static/js/web_pages/adv/radio_adv.js" th:src="@{/js/web_pages/adv/radio_adv.js}"></script>



</body>
</html>