<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'blog_landing', false)">

    <title>Advertise | Music with Advertise</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/blogs.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/adsLanding.css}">
</head>
<body class="music-main">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="landing-section audiobook">
    <h1>Promote your book! <span>The world is waiting</span></h1>
    <p>The publishing industry has changed you need to reach out
        to the world and tell people all about your book.</p>
    <div class="container clearfix">
        <div class="content-left">
            <p>The great writers today have to be great marketers also. Let us help you influence and entertain the world. Advertise your book by reading an excerpt. It could be a clip from your audio book or simply a reading of the book recorded right here</p>
        </div>
        <div class="go-to-vlog">
            <label>promote your book!</label>
            <a th:href="@{/advertise}">Click Here</a>
            <!--<p th:unless="${#authorization.expression('isAuthenticated()')}" >Or click <a href="#" class="reg-log-modal">here</a> to <a href="#" class="reg-log-modal">register</a> </p>-->
        </div>
    </div>
    <!--<div class="social-login">
        <a href="#">sign in with <span>Facebook</span></a>
        <a href="#">sign in with <span>Google</span></a>
    </div>-->

</section>


<div class="podcast-content">
    <h2>examples of some AUDIOBOOKS on lovappy radio:</h2>
    <div class="podcast-list radio-list">
        <ul>
            <li>
                <div class="box box-c">
                    <a href="http://www.workappy.com" target="_blank">
                        <div class="box-img" style="background:url(https://www.googleapis.com/download/storage/v1/b/lovappy-images-testing/o/1507649528754.jpg?generation=1507649529074830&amp;alt=media);">
                            <p style="color: black;">New workflow management software for your company</p>
                        </div>
                    </a>
                    <div class="main-content active">
                        <div class="user-status">
                            <img src="https://lovappy-testing.appspot.com:/images/new-male-icon.png">
                            <a href="#"><span>AGE</span>72</a>
                            <a href="#"><span>LOCATION</span>OK</a>
                            <a href="#"><span>LANGUAGE</span>BN</a>
                        </div>
                        <div class="view-profile">
                            <a href="https://lovappy-testing.appspot.com:/member/5">View Profile</a>
                        </div>
                        <div class="lovdrop-actions">
                            <img src="https://lovappy-testing.appspot.com://images/icons/like.png" class="like-lovdrop" title="Like" data-userid="5" data-action="like" onclick="userLikeUnlike(5)">
                            <img src="https://lovappy-testing.appspot.com://images/icons/lovdrop-block.png" class="block-lovdrop" title="Block" data-userid="5" data-action="block" onclick="userBlockUnblock(5)">
                            <img src="https://lovappy-testing.appspot.com:/images/icons/share.png" class="share-lovdrop-list" data-userid="5" onclick="showShareModal(5)">
                        </div>
                        <div class="radio-play-skip"><div class="radio-play">
                            <i id="LOVDROP1" class="fa fa-play" aria-hidden="true"></i>
                            <span>0:14</span>       </div><div class="radio-skip">Skip</div></div>
                        <div class="user-id">5
                            <img src="https://lovappy-testing.appspot.com:/images/user-verified.png" class="block-lovdrop">
                        </div><div class="radio-star"><img src="https://lovappy-testing.appspot.com:/images/radio-star.png"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="box box-c">
                    <a href="http://www.workappy.com" target="_blank">
                        <div class="box-img" style="background:url(https://www.googleapis.com/download/storage/v1/b/lovappy-images-testing/o/1507649528754.jpg?generation=1507649529074830&amp;alt=media);">
                            <p style="color: black;">New workflow management software for your company</p>
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="main-content active">
                        <div class="user-status">
                            <img src="https://lovappy-testing.appspot.com:/images/new-male-icon.png">
                            <a href="#"><span>AGE</span>72</a>
                            <a href="#"><span>LOCATION</span>OK</a>
                            <a href="#"><span>LANGUAGE</span>BN</a>
                        </div>
                        <div class="view-profile">
                            <a href="https://lovappy-testing.appspot.com:/member/5">View Profile</a>
                        </div>
                        <div class="lovdrop-actions">
                            <img src="https://lovappy-testing.appspot.com://images/icons/like.png" class="like-lovdrop" title="Like" data-userid="5" data-action="like" onclick="userLikeUnlike(5)">
                            <img src="https://lovappy-testing.appspot.com://images/icons/lovdrop-block.png" class="block-lovdrop" title="Block" data-userid="5" data-action="block" onclick="userBlockUnblock(5)">
                            <img src="https://lovappy-testing.appspot.com:/images/icons/share.png" class="share-lovdrop-list" data-userid="5" onclick="showShareModal(5)">
                        </div>
                        <div class="radio-play-skip"><div class="radio-play">
                            <i id="LOVDROP1" class="fa fa-play" aria-hidden="true"></i>
                            <span>0:14</span>       </div><div class="radio-skip">Skip</div></div>
                        <div class="user-id">5
                            <img src="https://lovappy-testing.appspot.com:/images/user-verified.png" class="block-lovdrop">
                        </div><div class="radio-star"><img src="https://lovappy-testing.appspot.com:/images/radio-star.png"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="box box-c ads">
                    <a href="http://www.workappy.com" target="_blank">
                        <div class="box-img" style="background:url(https://www.googleapis.com/download/storage/v1/b/lovappy-images-testing/o/1507649528754.jpg?generation=1507649529074830&amp;alt=media);">
                        </div>
                    </a>
                    <i class="fa fa-play-circle-o ads-circle"></i>
                </div>
            </li>
        </ul>
    </div>
</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

</body>
</html>