<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'blog_landing', false)">

    <title>Advertise | Music with Advertise</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/blogs.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/adsLanding.css}">
</head>
<body class="music-main">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="landing-section newslanding">
    <h1>News? Just the facts please.</h1>
    <p>Great broadcast journalists wanted immediately.</p>
    <div class="container clearfix">
        <div class="content-left">
            <p>Are you a Broadcast Journalist trying to break into the News business? Well here is your chance because Lovappy News has been looking for you.  We are the first entertaining, informative, dating app and we want to make you shine.  You will be asked to report validated news that you will produce and upload. Show us you are the best. Report important, factual news and we will grow together. Upload now. Lets get started.</p>
        </div>
        <div class="go-to-vlog">
            <label>share news!</label>
            <a th:href="@{/advertise}">Click Here</a>
            <!--<p th:unless="${#authorization.expression('isAuthenticated()')}" >Or click <a href="#" class="reg-log-modal">here</a> to <a href="#" class="reg-log-modal">register</a> </p>-->
        </div>
    </div>
    <!--<div class="social-login">
        <a href="#">sign in with <span>Facebook</span></a>
        <a href="#">sign in with <span>Google</span></a>
    </div>-->

</section>



<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

</body>
</html>