<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'event_landing', false)">
    <title>Lovappy | Create new Events with LovEvents</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/events.css"
          th:href="@{/css/web_pages/events.css}">

</head>
<body class="music-main">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="landing-section" th:style="'background:url(' + ${eventLandingPageHeaderImage} + ');background-size: cover;'">
    <h1 th:text="${eventsLandingPageTitle}">COME OUT AND PLAY</h1>
    <p th:text="${eventsLandingPageDescription}">Take a look at what we have planned for you
        or help us plan and become an ambassador</p>
    <div class="container clearfix">
        <div class="content-left">
            <p th:text="#{event-landing.description}">Our events will showcase new music, comedy, artists and more, helping people come together and get to know each other.  Who knows?  You might meet your perfect partner at a Lovappy event! Check out local events and sign up today.</p>
        </div>
    <div class="go-to-vlog">
        <label th:text="#{event-landing.browse-events-now}">browse events now!</label>
        <a th:href="@{/events/browse}" th:text="#{event-landing.click-here}">ClickHere</a>
        <!--<p th:unless="${#authorization.expression('isAuthenticated()')}" >Or click <a href="#" class="reg-log-modal">here</a> to <a href="#" class="reg-log-modal">register</a> </p>-->
    </div>
    </div>

</section>

<section class="events-box-list">
    <div class="container clearfix">
        <ul class="clearfix" th:if="${not #lists.isEmpty(eventsList)}">
            <li th:each="event: ${eventsList}">
                <div class="events-added">
                    <span th:text="${#calendars.monthNameShort(event.eventDate)}">Jun</span>
                    <h2 th:text="${#dates.day(event.eventDate)}">25</h2>
                </div>
                <div class="events-img">
                    <img src="../../static/images/events-box.jpg" th:src="@{${event.locationPictures[0].getEventLocationPictureFileUrl()}}" alt="Music" style="width: 260px; height:155px;">
                </div>
                <div class="events-content-text">
                    <h3 th:text="${event.eventTitle}">Title of the Event</h3>
                    <h4 th:text="${event.eventLocation.city+', '+event.eventLocation.stateShort+' ,'+event.eventLocation.country}">California Ave, Los
                        Angeles CA</h4>
                    <h5 th:text="${event.startTime+ ' - '+ event.finishTime}">6:00 pm - 7:30 pm </h5>
                    <!--<p th:utext="${event.eventDescription}">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. </p>-->
                    <a  href="#" th:onclick="'cancelEvent(\'' + ${event.eventId} + '\');'"><i class="fa fa-angle-left" aria-hidden="true"></i>Go to
                        Event</a>
                </div>
            </li>
        </ul>
        <ul class="clearfix" th:if="${#lists.isEmpty(eventsList)}">
            <li>
                <div class="events-added">
<!--                    <span>N/A</span>
                    <h2>N/A</h2>-->
                </div>
                <div class="events-img">
                    <img src="../../static/images/events-box.jpg" th:src="@{/images/events-box.jpg}" alt="Music">
                </div>
                <div class="events-content-text">
                    <h3 th:text="#{event-landing.no-active-events}">No Active Events Found</h3>
                </div>
            </li>

        </ul>
        <div class="go-to-events">
            <a th:href="@{/ambassadors}" th:text="#{event-landing.learn-more}">Learn More</a><span th:text="#{event-landing.become-ambassador}"> BECOME AN AMBASSADOR</span>
        </div>
    </div>
</section>


<!--Registration Confirmation-->
<div th:replace="registration/registration-flat-form :: registrationFlatForm"></div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="../static/js/web_pages/registration.js" th:src="@{/js/web_pages/registration.js}"
        type="text/javascript"></script>
<script >
//Cancel Event by event id
function toEventDetail(eventId) {
window.location.href = baseUrl + "events/" + eventId;
}
</script>
</body>
</html>