<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'event_landing', false)">
    <meta name="robots" CONTENT="noindex">
    <title>Lovappy | Create new event</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/events.css"
          th:href="@{/css/web_pages/events.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.datetimepicker.css"
          th:href="@{/css/jquery.datetimepicker.css}">
    <link rel="stylesheet" type="text/css"
          href="../../static/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css"
          th:href="@{/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.Editor.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.Editor.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/dcalendar.picker.css"
          th:href="@{/css/dcalendar.picker.css}">

    <link rel="stylesheet" type="text/css" href="../../static/css/cropper.css"
          th:href="@{/css/cropper.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/cropper.css"
          th:href="@{/css/wickedpicker.min.css}">


    <style>
        .error-msg {
            background: #ffffff;
            padding: 0px 10px;
            font-color: #ff0000;
            display: none;
        }

        span.wickedpicker__close:before {
            font-size: 30px;
        }
    </style>


<body>
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<input type="hidden" id="isAmbassadorOnly"
       th:value="${(!#lists.isEmpty(userRoles) && #lists.size(userRoles) == 1 && #lists.contains(userRoles,'EVENT_AMBASSADOR') == true)?'1':''}">

<div class="events-hero">
    <img src="../../static/images/events-header.jpg" th:src="@{/images/events-header.jpg}" alt="Events header">
</div>

<div class="add-an-event-top" th:text="#{event-create.title}">
    Add an Event
</div>

<div>
    <div id="event-location-div">
        <div class="event-content">
            <!--/*@thymesVar id="eventCreate" type="com.realroofers.lovappy.service.event.dto.EventDto"*/-->
            <form id="event-location-form" class="ui form" method="post" th:object="${eventCreate}">
                <div class="event-step"><img src="../../static/images/events-calendar.png"
                                             th:src="@{/images/events-calendar.png}" alt="Events calendar"></div>
                <div class="event-location">
                    <!--<h2 th:text="#{event-create.what-is-the-title}">What is your event's Title?</h2>-->
                    <div class="field">
                        <label th:text="#{event-create.what-is-the-title}">Name</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" th:placeholder="#{event-create.what-is-the-title-place-holder}"
                                       id="eventTitle"
                                       th:field="*{eventTitle}">
                            </div>
                            <div class="field">
                            </div>
                        </div>
                    </div>
                    <div id="eventTitleFormGroup">
                        <span class="error-msg"></span>
                    </div>

                    <div class="field">
                        <label>Where will your event be located?</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" placeholder="Enter address" id="eventLocation">
                            </div>
                            <div class="field">
                                <div id="btn-search-map" class="ui button small blue">Go</div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <input type="text" th:placeholder="#{event-create.room-place-holder}"
                                       th:field="*{eventLocation.floorRoom}"><br>
                            </div>
                            <div class="field">
                            </div>
                        </div>
                    </div>

                    <div id="locationValidationFormGroup">
                        <span class="error-msg"></span>
                    </div>
                    <div class="location-info clearfix">
                        <div class="event-map">
                            <div class="map-frame">

                                <input id="zipCode" type="hidden" name="eventLocation.zipCode"
                                       th:field="*{eventLocation.zipCode}"/>
                                <input id="country" type="hidden" name="eventLocation.country"
                                       th:field="*{eventLocation.country}"/>
                                <input id="state" type="hidden" name="eventLocation.state"
                                       th:field="*{eventLocation.state}"/>
                                <input id="state-short" type="hidden" name="eventLocation.state"
                                       th:field="*{eventLocation.stateShort}"/>
                                <input id="province" type="hidden" name="eventLocation.province"
                                       th:field="*{eventLocation.province}"/>
                                <input id="city" type="hidden" name="eventLocation.city"
                                       th:field="*{eventLocation.city}"/>
                                <input id="streetNumber" type="hidden" name="eventLocation.streetNumber"
                                       th:field="*{eventLocation.streetNumber}"/>
                                <input id="fullAddress" type="hidden" name="eventLocation.fullAddress"
                                       th:field="*{eventLocation.fullAddress}"/>
                                <input id="latitude" type="hidden" name="eventLocation.latitude"
                                       th:field="*{eventLocation.latitude}"/>
                                <input id="longitude" type="hidden" name="eventLocation.longitude"
                                       th:field="*{eventLocation.longitude}"/>
                                <input id="premise" type="hidden" name="eventLocation.premise"
                                       th:field="*{eventLocation.premise}"/>
                                <input id="route" type="hidden" name="eventLocation.route"
                                       th:field="*{eventLocation.route}"/>

                                <div id="google-maps-container" style="height: 220px"></div>


                                <div style="clear: both; padding-top: 10px;">
                                    <div class="col-6" style="width: 53%;"></div>
                                    <span style="color: red;" th:if="${#fields.hasErrors('eventLocation.city')}"
                                          th:errors="*{eventLocation.city}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="nearby-events" id="nearby-events">

                        </div>
                    </div>
                </div>
                <div class="events-nav" style="margin-bottom: 50px;">
                    <!--<button form="event-create" value ="Submit" > Next </button> -->
                    <button type="button" id="event-location-submit" class="ui secondary button"
                            th:text="#{event-create.next}"> Next
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="event-others-div">
        <div class="event-content events-content-other">
            <!--/*@thymesVar id="eventCreate" type="com.realroofers.lovappy.service.event.dto.EventDto"*/-->
            <!--/*@thymesVar id="categories" type="java.util.ArrayList<com.realroofers.lovappy.service.event.model.EventCategory>"*/-->
            <form id="event-create" method="post" th:object="${eventCreate}">
                <div class="event-step">
                    <img src="../../static/images/events-calendar.png" th:src="@{/images/events-calendar.png}"
                         alt="Events calendar">
                </div>
                <div class="event-location">
                    <div class="location-info clearfix">
                        <div class="event-map">
                            <h2 th:text="#{event-create.event-purpose}">What is your event for</h2>
                            <div class="map-frame map-frames-textarea">
                                <textarea name="" id="eventDescription"
                                          th:placeholder="#{event-create.event-description-place-holder}"
                                          cols="30" rows="10" th:field="*{eventDescription}"></textarea>
                                <!-- <span class="error-msg" th:if="${#fields.hasErrors('eventDescription')}" th:errors="*{eventDescription}"></span> -->
                                <div id="eventDescriptionFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="event-cate">
                                <h3 th:text="#{event-create.event-category}"> Event Category</h3>
                                <select th:field="*{eventCategories}" multiple>
                                    <option th:each="category: ${categories}" th:value="${category.getCategoryName()}"
                                            th:text="${category.getCategoryName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="nearby-events">
                            <div class="row">
                                <h3 th:text="#{event-create.is-there-a-cost}">Is there a cost to attend the event?</h3>
                                <div class="check-cost">
                                    <label for="radio-yes">
                                        <input type="radio" id="radio-yes" value="a" name="check-cost">
                                        Yes
                                    </label>
                                    <label for="radio-no">
                                        <input type="radio" id="radio-no" value="b" name="check-cost">
                                        No
                                    </label>
                                </div>
                            </div>
                            <input type="text" class="the-cost" th:placeholder="#{event-create.cost-place-holder}"
                                   th:field="*{admissionCost}">
                            <div id="admissionCostFormGroup">
                                <span class="error-msg"></span>
                            </div>
                            <div class="upload-photo">
                                <!-- upload -->

                                <div class="advertise-upload-image">
                                    <div id="image-upload-container" class="upload-container" data-upload="image">
                                        <span>
                                            <img src="../../static/images/advertise/img-upload.png" alt="Img upload"
                                                 th:src="@{/images/advertise/img-upload.png}">
                                            <!--<p>Upload an image</p>-->
                                         </span>
                                    </div>
                                    <input id="cover-image-file" type="file" data-upload="image" name="cover_image"/>
                                </div>

                                <!-- end of upload -->
                                <label class="upload-photo-id" for="cover-image-file"
                                       th:text="#{event-create.upload-photo}">Upload photo</label>
                                <div class="audience-modal" th:text="#{event-create.audience}">Audience</div>
                                <div id="locationPictureFormGroup">
                                    <span class="error-msg"></span>
                                </div>

                            </div>

                            <div id="eventCategoriesFormGroup">
                                <span class="error-msg"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="event-location-picture1" type="hidden" th:field="*{locationPictures[0].picture.id}"/>
                <div class="events-nav clearfix">
                    <a id="event-others-previous" class="ui secondary button" th:text="#{event-create.previous}">Previous</a>
                    <button type="submit" id="event-others-submit" class="ui secondary button"
                            th:text="#{event-create.next}"> Next
                    </button>
                </div>
                <!-- <button type="submit" value="Submit" >Next</button> -->
            </form>
        </div>
        <div class="ui modal advertise-target-modal" id="audience-preference">
            <i class="close icon"></i>
            <div class="header">
                Advertise target area(s)
            </div>
            <div class="content audience-preferences-content">
                <!--/*@thymesVar id="eventCreate" type="com.realroofers.lovappy.service.event.dto.EventDto"*/-->
                <form id="event-audience-preferences-form" th:object="${eventCreate}">
                    <div class="clearfix">
                        <div class="grid-12 audience-prop">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Gender</span>
                            </div>
                            <div class="advertise-right-content">
                                <div class="uni-select">
                    <span>
                    <a href="javascript:void(0)">
                        <img class="preference" src="../../static/images/icons/new-male-icon.png"
                             th:src="@{/images/icons/new-male-icon.png}" alt="New male cion"/>
                        <p>Male</p>
                    </a>
                    <input type="radio" name="targetedAudience.maleOrFemale" value="MALE"/>
                    </span>
                                    <span>
                        <a href="javascript:void(0)">
                            <img class="preference-girl"
                                 src="../../static/images/icons/new-female-icon.png"
                                 th:src="@{/images/icons/new-female-icon.png}" alt="New female icon"/>
                            <p>Female</p>
                        </a>
                        <input type="radio" name="targetedAudience.maleOrFemale" value="FEMALE"/>
                    </span>
                                    <span>
                        <a href="javascript:void(0)">
                            <img class="preference-girl"
                                 src="../../static/images/icons/new-both-gender.png"
                                 th:src="@{/images/icons/new-both-gender.png}" style="width: auto;"
                                 alt="New both gender"/>
                            <p>Both</p>
                        </a>
                        <input type="radio" name="targetedAudience.maleOrFemale" value="BOTH"/>
                    </span>
                                </div>
                                <div id="genderFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <div class="grid-12 audience-prop">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Age Group</span>
                            </div>
                            <div class="advertise-right-content">
                                <div class="uni-select">
                            <span th:each="range : ${T(com.realroofers.lovappy.service.ads.support.AgeRange).values()}">
                            <a href="javascript:void(0)">
                                <p th:if="${range != T(com.realroofers.lovappy.service.ads.support.AgeRange).RANGE4}"
                                   th:text="${range.from + ' - ' + range.to}">Male</p>
                                <p th:if="${range == T(com.realroofers.lovappy.service.ads.support.AgeRange).RANGE4}"
                                   th:text="${range.from +'+'}">Male</p>
                            </a>
                            <input type="radio" name="targetedAudience.ageRange" th:value="${range}"/>
                            </span>
                                </div>
                                <div id="ageRangeFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <div class="grid-12 audience-prop audience-lang">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Language</span>
                            </div>
                            <div class="advertise-right-content">
                                <select id="language" name="targetedAudience.languageSpoken">
                                    <option value="Select">Select</option>
                                    <option th:each="language : ${languages}"
                                            th:value="${language.name}" th:text="${language.name}">
                                    </option>
                                </select>
                                <div id="languageFormGroup" style="display: inline-block;">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="audience-preferences">
                        <h3>Select preferred audience preferences</h3>

                        <!--Pets-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Gender</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="uni-select">
                            <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_dogs.png}" alt="">
                                    <p>Dogs</p>
                                </a>
                                    <input type="radio" value="dog" name="targetedAudience.catORdog">
                            </span>
                                    <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_cat.png}" alt="">
                                    <p>Cats</p>
                                </a>
                                <input type="radio" value="cat" name="targetedAudience.catORdog">
                            </span>
                                    <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_both_pets.png}" alt="">
                                    <p>Both</p>
                                </a>
                                <input type="radio" value="both_pets" name="targetedAudience.catORdog">
                            </span>
                                    <span>
                                <a href="javascript:void(0)">
                                    <img th:src="@{/images/icons/preference_icons/prefer_no_pets.png}" alt="">
                                    <p>None</p>
                                </a>
                                <input type="radio" value="no_pets" name="targetedAudience.catORdog">
                            </span>
                                </div>
                                <div id="catORdogFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <!--Habits-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Habits</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="multi-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/habit_drinker.png}" alt="">
                        <p>Drinker</p>
                    </a>
                    <input type="radio" value="drinker" name="targetedAudience.drinker">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/habit_smoker.png}" alt="">
                        <p>Smoker</p>
                    </a>
                    <input type="radio" value="smoker" name="targetedAudience.smoker">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/habit_user.png}" alt="">
                        <p>User</p>
                    </a>
                    <input type="radio" value="user" name="targetedAudience.user">
                </span>
                                    <span>
                    <a href="javascript:void(0)" class="none">
                        <img th:src="@{/images/icons/preference_icons/habit_none.png}" alt="">
                        <p>None</p>
                    </a>
                    <input type="radio" value="no-habit" name="targetedAudience.no-habit">
                </span>
                                </div>
                                <div id="habitFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <!--Neighborhood-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Neighborhood</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/neighborhood_rural.png}" alt="">
                        <p>Rural</p>
                    </a>
                    <input type="radio" value="rural" name="targetedAudience.ruralORurbanORsuburban">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/neighborhood_urban.png}" alt="">
                        <p>Urban</p>
                    </a>
                    <input type="radio" value="urban" name="targetedAudience.ruralORurbanORsuburban">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/neighborhood_suburban.png}" alt="">
                        <p>Suburban</p>
                    </a>
                    <input type="radio" value="suburban" name="targetedAudience.ruralORurbanORsuburban">
                </span>
                                </div>
                                <div id="ruralORurbanORsuburbanFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>


                        <!--hanging-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Hanging</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/hanging_outdoorsy.png}" alt="">
                        <p>Outdoorsy</p>
                    </a>
                    <input type="radio" value="outdoorsy" name="targetedAudience.outdoorsyORindoorsy">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/hanging_indoorsy.png}" alt="">
                        <p>Indoorsy</p>
                    </a>
                    <input type="radio" value="indoorsy" name="targetedAudience.outdoorsyORindoorsy">
                </span>
                                </div>
                                <div>
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <!--Spending-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Money Spending</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/money_frugal.png}" alt="">
                        <p>Frugal</p>
                    </a>
                    <input type="radio" value="frugal" name="targetedAudience.frugalORbigspender">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/money_big_spender.png}" alt="">
                        <p>Big Spender</p>
                    </a>
                    <input type="radio" value="big_spender" name="targetedAudience.frugalORbigspender">
                </span>
                                </div>
                                <div id="frugalORbigspenderFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <!--Waking-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Waking time</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/waking_morning_person.png}" alt="">
                        <p>Morning Person</p>
                    </a>
                    <input type="radio" value="morning_person" name="targetedAudience.morningpersonORnightowl">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/waking_night-owl.png}" alt="">
                        <p>Night Owl</p>
                    </a>
                    <input type="radio" value="night_owl" name="targetedAudience.morningpersonORnightowl">
                </span>
                                </div>
                                <div id="morningpersonORnightowlFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>

                        <!--Personality-->
                        <div class="audi-pref-con">
                            <div class="audience-prop-title">
                                <span class="preference-title" style="color: #000000 !important;">Personality</span>
                            </div>
                            <div class="audience-preferences-content">
                                <div class="uni-select">
                <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/personality_extrovert.png}" alt="">
                        <p>Extrovert</p>
                    </a>
                    <input type="radio" value="extrovert" name="targetedAudience.extrovertORintrovert">
                </span>
                                    <span>
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/icons/preference_icons/personality_introvert.png}" alt="">
                        <p>Introvert</p>
                    </a>
                    <input type="radio" value="introvert" name="targetedAudience.extrovertORintrovert">
                </span>
                                </div>
                                <div id="extrovertORintrovertFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui button btn-close-modal red">Save</div>
            </div>
        </div>

    </div>

    <div id="event-date-div">
        <div class="event-content events-content-date">
            <!--/*@thymesVar id="eventCreate" type="com.realroofers.lovappy.service.event.dto.EventDto"*/-->
            <form id="event-create-form" method="post" class="ui form" th:action="@{/eventCreate/date}"
                  th:object="${eventCreate}">
                <div class="event-step">
                    <img src="../../static/images/events-calendar.png" th:src="@{/images/events-calendar.png}"
                         alt="Events calendar">
                </div>
                <div class="event-location">
                    <h2 th:text="#{event-create.when-is-event}">When is your event</h2>

                    <div class="location-info clearfix">
                        <div class="event-map">
                            <div class="map-frame datepicker-frame">
                                <div class="field">
                                    <label for="datetimepicker-event" th:text="#{event-create.event-date}">Name</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <input id="datetimepicker-event" type="text" placeholder="MM/DD/YYYY"
                                                   th:field="*{eventDate}">
                                            <input id="datetimepicker-timezone" type="hidden" th:field="*{timeZone}">
                                        </div>
                                        <div class="field">
                                        </div>
                                    </div>
                                </div>
                                <!--<label for="datetimepicker-event" th:text="#{event-create.event-date}">Event
                                    date</label>-->


                                <div id="eventDateFormGroup">
                                    <span class="error-msg"></span>
                                </div>

                                <div class="field">
                                    <label th:text="#{event-create.start}">Name</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <!--<input id="datetimepicker" type="text" placeholder="H:M" th:field="*{startTime}">-->
                                            <input id="datetimepicker" type="text" name="timepicker" class="timepicker"
                                                   th:field="*{startTime}"/>

                                            <div id="startTimeFormGroup">
                                                <span class="error-msg"></span>
                                            </div>
                                            <div class="field">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="validTimeFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                                <div class="field">
                                    <label for="datetimepicker-two" th:text="#{event-create.end}">Name</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <!--<input id="datetimepicker-two" type="text" placeholder="H:M" th:field="*{finishTime}">-->
                                            <input id="datetimepicker-two" type="text" name="timepicker"
                                                   class="timepicker1" th:field="*{finishTime}"/>
                                            <div id="finishTimeFormGroup">
                                                <span class="error-msg"></span>
                                            </div>
                                        </div>
                                        <div class="field">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="count-events">
                                <label for="attendees-limit" th:text="#{event-create.number-of-non-lovappy-attendees}">Number
                                    of Non-Lovappy Attendees</label>

                                <div id='myform'>

                                    <input type='button' value='-' class='qtyminus' field='quantity'/>
                                    <input type='text' name='quantity' id="attendees-limit" value='0' class='qty'
                                           th:field="*{outsiderCount}"/>
                                    <input type='button' value='+' class='qtyplus' field='quantity'/>
                                </div>
                                <!-- affendees limit input -->
                                <!--<input type="text"  class="attendees-limit">-->
                                <!-- affendees limit input -->

                            </div>
                        </div>
                        <div class="nearby-events">
                            <h3 th:text="#{event-create.confirm-selected-time}">Confirm selected time / date</h3>
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <span class="date-value-event">11/03/2017</span>
                                </li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <span
                                        class="date-value">16:53</span></li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <span
                                        class="date-value-two">4:42</span></li>

                                <!--<li><i class="fa fa-clock-o" aria-hidden="true"></i> 7:30 PM</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <button type="submit" value="Submit">Next</button> -->

                <div class="events-nav">
                    <a id="event-date-previous" class="ui secondary button"
                       th:text="#{event-create.previous}">Previous</a>
                    <button id="event-submit" class="ui secondary button" th:text="#{event-create.submit}">Submit
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div class="ui modal" id="ambassador-modal">
        <i class="close icon"></i>
        <div class="content">
            <h2 th:text="#{event-list.complete-registration}">Complete Registration</h2>
            <div>
                <p th:text="#{event-list.complete-registration-alert-content}">You must first be fully registered before
                    you can continue browsing user profiles and the rest of
                    Lovappy. Click the Continue button at registration to complete your full profile</p>
                <img src="../../static/images/ambassador-img.jpg" th:src="@{/images/ambassador-loggedout.jpg}"
                     alt="Events calendar">

            </div>
            <div class="modal-footer clearfix">
                <a th:href="@{/registration/gender}" th:text="#{event-list.register}">Register</a>
            </div>
        </div>
    </div>


    <div th:replace="fragments/image-uploader :: upload-modal">
    </div>
</div>

</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
        th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
        th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>
<script src="../../static/js/web_pages/event.js" th:src="@{/js/web_pages/event.js}" type="text/javascript"></script>
<script src="../../static/js/maps/event-location.js" th:src="@{/js/maps/event-location.js}"
        type="text/javascript"></script>
<script src="../../static/js/web_pages/event-create.js" th:src="@{/js/web_pages/event-create.js}"
        type="text/javascript"></script>
<script src="../../static/js/dcalendar.picker.js" th:src="@{/js/dcalendar.picker.js}"></script>
<script src="../../static/js/wickedpicker.js" th:src="@{/js/wickedpicker.js}"></script>
<script src="../../static/js/image-cropper/image-cropper.js" th:src="@{/js/image-cropper/image-cropper.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var google_key = [[${google_key}]];
    var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&libraries=places&key=" + [[${google_key}]];

    (function () {
        var a = document.createElement('script');
        a.type = 'text/javascript';
        a.async = true;
        a.defer = true;
        a.src = google_url;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(a, s);
    })();
    /*]]>*/
</script>
<script src="../../static/js/jquery.datetimepicker.full.js" th:src="@{/js/jquery.datetimepicker.full.js}"></script>
<script>
    $(document).ready(function () {
        var isAmbassadorOnly = $('#isAmbassadorOnly').val();

        if (isAmbassadorOnly === '1') {
            $('.main-nav ul li').each(function () {
                var field = $(this).find('a').text();
                if (field.toLowerCase() != 'events' && field.toLowerCase() != 'lovblog' && field.toLowerCase() != 'lovappy radio') {
                    $(this).find('a').attr('class', 'ambassadorOnlyPopup');
                }
            });
            $('.sticky-nav ul li').each(function () {
                var field = $(this).find('a').text();
                if (field.toLowerCase() != 'events' && field.toLowerCase() != 'lovblog' && field.toLowerCase() != 'lovappy radio') {
                    $(this).find('a').attr('class', 'ambassadorOnlyPopup');
                }
            });
        }

        $('.ambassadorOnlyPopup').on('click', function (e) {
            e.preventDefault();
            $('#ambassador-modal').modal('show');
        });
        $('.upload-photo-id').on('click', function (e) {
            e.preventDefault();
            $('#upload-modal').modal('show');
        });

    });

    var options = {
        minCropBoxWidth: 343,
        minCropBoxHeight: 195,
        imageSmoothingEnabled: false,
        imageSmoothingQuality: 'high',
        aspectRatio: 16 / 9,
        preview: $('#img2')
    };

</script>
<script>
    $('#upload-button').click(function () {
        $('#inputImage').click();
    });

    function uploadFile() {
        var uploadImageContainer = $("#image-upload-container").find("span");
        var url = baseUrl + "/api/v1/events/create/upload_location-pictures";

        $('#image').cropper('getCroppedCanvas', {fillColor: '#FFFFFF'}).toBlob(function (blob) {
            var formData = new FormData();

            formData.append('event_location_picture', blob);

            $.ajax(url, {
                method: "POST",
                data: formData,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (data) {
                    uploadImageContainer.html("<img src=\"" + data.url + "\" style='height: 100%;width: 100%;'/>");

                    $("#event-location-picture1").val(data.id);
                    $('#upload-modal').modal('hide');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 400)
                        showNotifyErrorMessages(jqXHR.responseJSON);
                    else if (jqXHR.status === 401)
                        window.location.href = baseUrl + "login";

                }
            });
        });
    }
</script>
<script>
    $("input[name='check-cost']").click(function () {
        $('.the-cost').css('display', ($(this).val() === 'a') ? 'block' : 'none');
    });
</script>
</body>
</html>