<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},~{::meta},'event_landing', false)">
    <meta name="robots" CONTENT="noindex">
    <title>Lovappy | Event gallery images</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/dcalendar.picker.css"
          th:href="@{/css/dcalendar.picker.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/events.css"
          th:href="@{/css/web_pages/events.css}">


<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>
<div class="ambassador-hero-image">
    <img src="../../static/images/eventshero.jpg" th:src="@{${eventHeaderImage}}" alt="Events hero">
</div>

<div class="events-bg events-gallery gallery-detail-box">
    <input type="hidden" id="isAmbassadorOnly"
           th:value="${(!#lists.isEmpty(userRoles) && #lists.size(userRoles) == 1 && #lists.contains(userRoles,'EVENT_AMBASSADOR') == true)?'1':''}">
    <input type="hidden" id="loggedInuserId" th:value="${userId}">
    <div class="clearfix event-one">
        <div class="one-content">
            <div class="add-events clearfix">
                <div class="pull-left">
                    <img src="../../static/images/events-calendar.png" th:src="@{/images/events-calendar.png}"
                         alt="Events calendar">
                    <h2 th:text="*{event.eventTitle}+' - Gallery'"></h2>
                </div>
                <div class="pull-right">
                    <a th:href="@{/events/create}"
                       th:if="${#authorization.expression('isAuthenticated()') and (#lists.contains(userRoles,'EVENT_AMBASSADOR') || #lists.contains(userRoles,'ADMIN'))}">Create
                        Event</a>
                    <div class="new-ambassador">
                        <a href="#" id="events-checkuser"
                           th:if="${ (not #lists.contains(userRoles,'EVENT_AMBASSADOR') and (not #lists.contains(userRoles,'ADMIN')))}">Become
                            Ambassador</a>
                        <a th:href="@{/ambassador/info}" class="info"
                           th:if="${ (not #lists.contains(userRoles,'EVENT_AMBASSADOR') and (not #lists.contains(userRoles,'ADMIN')))}">
                            <i class="fa fa-info" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
            <div class="clearfix event-ingo">
                <div class="col-sm-6">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h2 th:text="${#dates.dayOfWeekName(event.eventDate)+', '+ #dates.monthName(event.eventDate)+ ' '+ #dates.day(event.eventDate)+', '+#dates.year(event.eventDate)}"></h2>
                    <h3 th:text="*{event.startTime}"></h3>
                </div>
                <div class="col-sm-6" id="showLocation">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <br/>
                    <p th:text="${event.eventLocation.floorRoom}"></p>
                    <p th:text="${event.eventLocation.fullAddress}"></p>
                    <input type="hidden" id="googleKey" th:value="${google_key}">
                </div>
            </div>
            <div class="gallery-box" th:if="${! #lists.isEmpty(eventPhotos.getContent())}">
                <div>
                    <ul>
                        <li th:each="eventPicture : ${eventPhotos}">
                            <div class="gallery-hover">
                                <img src="../../static/images/events-gallery.jpg" th:src="${eventPicture.picture.url}"
                                     alt="Events gallery">
                                <div class="hover-effect-gallery">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gallery-box" th:if="${#lists.isEmpty(eventPhotos.getContent())}">
                <div>
                    <ul>
                        <li>
                            <div>
                                <!--<img src="../../static/images/events-gallery.jpg" th:src="@{/images/events-box.jpg}"  alt="Events gallery">-->
                                <div class="events-content-text">
                                    <h3 th:text="#{event-gallery.no-images-found}">No Images found</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Pagination-->
            <div class="box-footer clearfix" th:fragment='paginationbar'>
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li th:class="${page.firstPage}?disabled:not(disabled)">
                        <span th:if='${page.firstPage}' th:text="#{event-list.first-page}">← First</span>
                        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'
                           th:text="#{event-list.first-page}">←
                            First</a>
                    </li>
                    <li th:class="${page.hasPreviousPage}?disabled:not(disabled)">
                        <span th:if='${not page.hasPreviousPage}'>«</span>
                        <a th:if='${page.hasPreviousPage}'
                           th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                           title='Go to previous page'>«</a>
                    </li>
                    <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                        <span th:if='${item.current}' th:text='${item.number}'>1</span>
                        <a th:if='${not item.current}'
                           th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                th:text='${item.number}'>1</span></a>
                    </li>
                    <li th:class="${page.hasNextPage}?disabled:not(disabled)">
                        <span th:if='${not page.hasNextPage}'>»</span>
                        <a th:if='${page.hasNextPage}'
                           th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                           title='Go to next page'>»</a>
                    </li>
                    <li th:class="${page.lastPage}? disabled:not(disabled)">
                        <span th:if='${page.lastPage}' th:text="#{event-list.last-page}">Last →</span>
                        <a th:if='${not page.lastPage}'
                           th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'
                           th:text="#{event-list.last-page}">Last →</a>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(eventPhotos)}">
                <h3 th:text="#{event-gallery.no-photos-uploaded}">No Photos uploaded for this event</h3>
            </div>
        </div>
        <div class="one-article">
            <ul class="events-ul">
                <li class="active"><span><a th:href="@{/events/gallery}" th:text="#{event-list.previous-events}">Previous Events</a></span>
                <li><span><a th:href="@{/events}" th:text="#{event-list.upcoming-events}">Upcoming events</a></span></li>
            </ul>
            <table id="calendar-demo" class="calendar"></table>
            <div class="you-are-attended" th:style="${isRegisteredForEvent}? '':'display:none;' ">
                <h2 th:text="#{event-gallery.you-attended}">You attended</h2>
                <label for="upload-event-photos" th:text="#{event-gallery.upload-event-photos}">
                    Upload event photos
                </label>
                <input type="file" id="upload-event-photos" multiple/>
                <input type="hidden" id="eventIdForPictures" th:field="*{event.eventId}">
                <div id="uploadPicturesFormGroup">
                    <span class="error-msg"></span>
                </div>
            </div>
        </div>

        <div class="ui modal" id="upload-success">
            <i class="close icon" id="update-gallery"></i>
            <input type="hidden" id="eventIdForUpdate" th:field="*{event.eventId}">
            <div class="content">
                <div class="content survey-content">
                    <p><span id="picture-count"></span>image(s) uploaded successfully</p>

                </div>

            </div>
        </div>
    </div>

    <div class="ui modal" id="ambassador-modal">
        <i class="close icon"></i>
        <div class="content">
            <h2 th:text="#{event-list.complete-registration}">Create an event</h2>
            <div>
                <p th:text="#{event-list.complete-registration-alert-content}">You must first be fully registered before you can continue browsing user profiles and the rest of
                    Lovappy. Click the Continue button at registration to complete your full profile</p>
                <img src="../../static/images/ambassador-img.jpg" th:src="@{/images/ambassador-loggedout.jpg}"
                     alt="Events calendar">

            </div>
            <div class="modal-footer clearfix">
                <a th:href="@{/registration/gender}">Register</a>
            </div>
        </div>
    </div>

    <div class="ui modal" id="events-loggedout-modal">
        <i class="close icon"></i>
        <div class="content">
            <h2 th:text="#{event-list.create-event}">Create an event</h2>
            <div>
                <p th:text="#{event-list.register-user-alert-content}">You must first be registered before you can create an event on Lovappy. If you wish to only be an
                    Ambassador/Event Organizer, click the 'Ambassador Only' button after rigistration.</p>
                <img src="../../static/images/ambassador-img.jpg" th:src="@{/images/ambassador-img.jpg}"
                     alt="Events calendar">

            </div>
            <div class="modal-footer clearfix">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/}">Register</a>
            </div>
        </div>
    </div>
</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>

<script src="../../static/js/web_pages/event.js" th:src="@{/js/web_pages/event.js}" type="text/javascript"></script>
<script src="../../../static/js/maps/event-location.js" th:src="@{/js/maps/event-location.js}"
        type="text/javascript"></script>

<script src="../../static/js/dcalendar.picker.js" th:src="@{/js/dcalendar.picker.js}"></script>
<script>
    $('#calendar-demo').dcalendar(); //creates the calendar
</script>
</body>
</html>