<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/newdesign :: head(~{::title},~{::link},~{::script},_)">
    <meta name="viewport" content="width=device-width">
    <title>Lovappy | Let's Start</title>

    <link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>

</head>
<body>

<header th:replace="templates/lovappy-temp :: header(2)"></header>

<div style="height: 500px;"></div>

<footer th:replace="templates/lovappy-temp :: footer">

</body>
</html>