<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'features', false)">

    <title>Lovappy | Features!</title>
    <link href="../static/css/responsive-nav.css" th:href="@{/css/responsive-nav.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/home.css" th:href="@{/css/web_pages/home.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/register-prime.css"
          th:href="@{/css/web_pages/register-prime.css}">

    <style type="text/css">
        .row > .reg-form-control {
            display: inline-block;
        }

        .error-msg {
            font-size: 0.8em;
            color: red;
            display: block;
            padding-left: 5px;
            background: rgba(234, 234, 234, 0.64);
            margin-top: -9px;
            border-radius: 7px;
        }

        .reg-form-control {
            vertical-align: top;
        }
    </style>

</head>
<body>
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>


<div class="page-title">
    <h1>Features</h1>
</div>

<div class="row">
    <div id="blogTitle" class="col-12">
        <div class="wrapper">
            <span class="blog-title-text">Features</span>
        </div>
    </div>
</div>

<div class="clearfix features-main-box"><!-- 2nd row -->
    <div class="wrapper features-main-page">
        <div class="col-3-features record-voice">
            <a th:href="@{/features/record-voice}">
                <img src="images/record.png" alt="Record"/>
                <h2 th:text="#{features.record-title}">Record and <br>Listen to Voices</h2>
                <p th:Text="${features_record_voice_description}">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco</p>
            </a>
        </div>
        <div class="col-3-features send-song">
            <a th:href="@{/features/send-song}">
                <img src="images/send_song.png" alt="Send sogn"/>
                <h2 th:text="#{features.send-song}">Send Songs <br>&nbsp;</h2>
                <p th:Text="${features_send_song_description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco</p>
            </a>
        </div>
        <div class="col-3-features send-gift">
            <a th:href="@{/features/send-gift}">
                <img src="images/send_gift.png" alt="Send gift"/>
                <h2 th:text="#{features.send-gift}">Send Gifts<br>&nbsp;</h2>
                <p th:Text="${features_send_gift_description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco</p>
            </a>
        </div>
    </div> <!-- wrapper -->
</div><!-- end of 2nd row -->
<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>