<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'mobile', false)">

    <title>Lovappy Mobile Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/mobile.css"
          th:href="@{/css/web_pages/homenew.css}">
</head>

<body>

<section class="TopHeader">
    <nav>
        <div class="logo wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
            <img src="../../static/images/logo2.png" th:src="@{/images/logo2.png}" alt="Lovappy Logo">
        </div>
        <ul>
            <li>
                <a href="#">Log in</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
        </ul>
    </nav>
    <div class="LovappyDating">
        <div class="wow pulse">
            <img th:src="@{/images/newhome/makelove.png}" alt="Make Love">
        </div>

    </div>
    <ul class="MobileApp">
        <li class="wow fadeInLeft">
            <img th:src="@{/images/newhome/google.png}" alt="Make Love">
        </li>
        <li class="wow fadeInRight">
            <img th:src="@{/images/newhome/apple.png}" alt="Make Love">
        </li>
    </ul>
    <div class="loginModal">
        <form action="" class="formlogin">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="password" />
            <button>Login</button>

        </form>
        <div class="social-login">

            <ul>
                <li>

                    <form action="/lovappy-web/login/facebook" method="get">
                        <i class="fa fa-facebook-f"></i>
                        <!--<input type="hidden" name="scope" value="public_profile" />-->
                        <input type="submit" value="Sign in with Facebook">
                    </form>
                </li>
                <li class="google">

                    <form action="/lovappy-web/login/google" method="get">
                        <i class="fa fa-google"></i>
                        <input type="submit" value="Sign in with Google">
                    </form>
                </li>
                <li class="twitter">
                    <form action="/lovappy-web/signin/twitter" method="POST">
                        <i class="fa fa-twitter"></i>
                        <input type="hidden" name="role" value="user">
                        <input type="submit" value="Sign in with Twitter">
                    </form>

                </li>

                <li class="instagram">
                    <form action="/lovappy-web/login/instagram" method="get">
                        <i class="fa fa-instagram"></i>
                        <input type="submit" value="Sign in with Instagram">
                    </form>
                </li>
            </ul>

        </div>
    </div>
</section>
<section class="listenList">
    <ul class="listenDiscover">
        <li>Listen</li>
        <li>Discover</li>
        <li>Love</li>
    </ul>
    <div class="voiceDating">
        <h2>HANDS-FREE VOICE DATING</h2>
        <img class="avoiceMain" th:src="@{/images/newhome/voice-assistants.png}" alt="Make Love">
        <ul>
            <li>
                <!--<img th:src="@{/images/newhome/img1.png}" alt="Make Love">-->
                <img th:src="@{/images/newhome/googlehome.png}" alt="Make Love">
            </li>
            <li>
                <!--<img th:src="@{/images/newhome/img2.png}" alt="Make Love">-->
                <img th:src="@{/images/newhome/amazonalexa.png}" alt="Make Love">
            </li>
            <li>
                <!--<img th:src="@{/images/newhome/img3.png}" alt="Make Love">-->
                <img th:src="@{/images/newhome/homepod.png}" alt="Make Love">
            </li>
        </ul>
    </div>
</section>

<section class="AboutLovappy wow fadeInRight">
    <ul>
        <li>
            <img th:src="@{/images/newhome/microphone.jpg}" alt="Make Love">
        </li>
        <li>DEEPER</li>
        <li>HONEST</li>
        <li>TRUE</li>
    </ul>
</section>

<!--<footer class="homeFooter">-->
    <!--<div class="footerTitle">-->
        <!--CLICK HERE FOR THE GOOD STUFF-->
    <!--</div>-->
    <!--<ul class="la_footer_sm">-->
        <!--<li title="Facebook"><a href="https://www.facebook.com/lovappy" target="new"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
        <!--<li title="Twitter"><a href="https://twitter.com/lovappytweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
        <!--<li title="Linkedin"><a href="https://www.linkedin.com/company/11304737/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
        <!--<li title="Instagram"><a href="https://www.instagram.com/lovappy/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
        <!--<li title="Pinterest"><a href="https://www.pinterest.com/lovappylite/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>-->
        <!--<li title="Tumblr"><a href="https://lovappy.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>-->
    <!--</ul>-->
<!--</footer>-->

<!--<section class="LovappyMobile wow fadeInLeft">-->
    <!--<h2 class="homeTitle"><i class="fa fa-object-ungroup" aria-hidden="true"></i><span>Lovappy</span> Dating App</h2>-->
    <!--<img th:src="@{'/images/home3/lovappy-app.png'}">-->
<!--</section>-->

<!--<section class="AnotherInfo wow fadeInRight">-->
    <!--<div class="box">-->
        <!--<h3>LOVAPPY LOGIN</h3>-->
        <!--<form>-->
            <!--<input type="text" />-->
            <!--<input type="text" />-->
            <!--<button>Login</button>-->
            <!--<span>make love</span>-->
        <!--</form>-->
    <!--</div>-->
<!--</section>-->


<!--&lt;!&ndash; Survey Modal &ndash;&gt;-->
<!--<div class="ui modal" id="userSurveyModal">-->
    <!--<i class="close icon"></i>-->
    <!--<div class="content">-->
        <!--<h2>Login:</h2>-->
        <!--<form>-->
            <!--<input type="email" placeholder="Email" />-->
            <!--<input type="password" placeholder="Password">-->
            <!--<button>Login</button>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<footer class="socialFooter">
    <div class="mainLinks">
        <a href="#">CLICK HERE FOR THE <b>GOOD STUFF</b></a>
        <a href="#">HOW THIS WORKS</a>
    </div>
    <ul class="la_footer_sm">
        <li title="Facebook"><a href="https://www.facebook.com/lovappy" target="new"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li title="Twitter"><a href="https://twitter.com/lovappytweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li title="Linkedin"><a href="https://www.linkedin.com/company/11304737/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li title="Instagram"><a href="https://www.instagram.com/lovappy/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li title="Pinterest"><a href="https://www.pinterest.com/lovappylite/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
        <li title="Tumblr"><a href="https://lovappy.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
    </ul>
</footer>
<!--<footer th:replace="templates/lovappy-template :: footer"></footer>-->
<!--add needed scripts-->
<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script>
   new WOW().init();
   $('.loginModal').click(function () {
        $('#userSurveyModal').modal('show');
    });
</script>

</body>
</html>