<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_, 'alternative_home', false)">
    <title>Lovappy | Browse and Share Music</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/home2.css"
          th:href="@{/css/web_pages/home2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/web_pages/home3.css}">



</head>
<body>



<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>
<!--<div th:replace="like/fragments :: like-modal" >-->
<!--</div>-->
<!--<div th:replace="fragments/block-form :: block-modal">-->
<!--</div>-->
<!--<div th:replace="fragments/block-form :: flag-modal">-->
<!--</div>-->


<section class="lovappy-radio" th:style="'background:url(' + @{/images/home3/lovappy-radiobg.jpg} + ');'">
   <!-- <a href="#" class="register register-btn" >Register <i class="fa fa-angle-left" aria-hidden="true"></i></a>-->
    <div class="container">
        <div class="communicate">
            <div class="radio-left">
                <p th:text="${alt_homepage_cover_lovradio_example}">HERE ARE SOME EXAMPLES OF WHAT YOU CAN FIND INSIDE LOVAPPY RADIO</p>
            </div>
            <div class="radio-right">
                <h2 th:text="${alt_homepage_cover_bg}">Lovappy Radio</h2>
                <p th:text="${alt_homepage_cover_sub_header}">Communicate Using Only Your Voice</p>
            </div>
        </div>

        </div>
        <div class="container clearfix">
            <div class="lovappy-radio-left">
                <div class="radio-boxs" >
                    <div class="box">
                        <div class="box box-c" th:each="lovstamp:${publicLovstamp}">
                            <a th:href="@{/radio}" >
                                <div class="box-img" th:style="'background:url('+${lovstamp.coverImageUrl} +')'">
                                </div>   </a>
                            <div th:class="${lovstamp.attractive}?'main-content active':'main-content' ">
                                <img  th:if="${lovstamp.updated}" th:src="@{/images/updated-icon.png}" class="voice-record-icon" >
                                <div class="user-status">
                                    <img th:if="${lovstamp.gender == T(com.realroofers.lovappy.service.user.support.Gender).MALE}" th:src="@{/images/new-male-icon.png}">
                                    <img th:if="${lovstamp.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"  th:src="@{/images/new-female-icon.png}">

                                    <a ><span th:text="#{home-in.age}">AGE</span>[[${lovstamp.age}]]</a>
                                    <a ><span th:text="#{home-in.location}">LOCATION</span>[[${lovstamp.address}]]</a>
                                    <a ><span th:text="#{home-in.language}">LANGUAGE</span>[[${lovstamp.language}]]</a>
                                </div>
                                <div class="view-profile">
                                    <a th:href="@{/member/__${lovstamp.userId}__}" th:text="#{home-in.view-profile}">View Profile</a>
                                </div>
                                <div class="lovdrop-actions">
                                    <i class="fa fa-heart like-lovdrop" title="UnLike" data-userid="4" data-action="unlike" onclick="userLikeUnlike(4)"></i>
                                    <i class="fa fa-ban block-lovdrop" title="Block" data-userid="4" data-action="block" onclick="userBlockUnblock(4)"></i>
                                    <i class="fa fa-share-alt share-lovdrop-list" data-userid="4" onclick="showShareModal(4)"></i>
                                </div>
                                <div class="radio-play-skip">
                                <div class="radio-play play" th:attr="data-url=${lovstamp.fileUrl},data-id=${lovstamp.id}">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    <span th:text="${lovstamp.getFormatedTime()}">0:31</span>
                                </div><div class="radio-skip" th:text="#{home-in.skip}">Skip</div></div>
                                <div class="user-id" >
                                    [[${lovstamp.userId}]]
                                    <img th:src="${lovstamp.verified}? @{/images/user-verified.png} : @{/images/alert-icon-image-gallery-27.png}" class="block-lovdrop">
                                </div>
                                <div class="radio-star">
                                    <img th:if="${lovstamp.attractive}" th:src="@{/images/radio-star.png}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lovappy-radio-right">

                <div class="radio-boxs">
                    <div class="box">
                        <div class="box box-c" th:each="lovstamp:${rightPublicLovstamp}">
                            <a th:href="@{/radio}" >
                                <div class="box-img" th:style="'background:url('+${lovstamp.coverImageUrl} +')'">
                                </div>   </a>
                            <div th:class="${lovstamp.attractive}?'main-content active':'main-content' ">
                                <img  th:if="${lovstamp.updated}" th:src="@{/images/updated-icon.png}" class="voice-record-icon" >
                                <div class="user-status">
                                    <img th:if="${lovstamp.gender == T(com.realroofers.lovappy.service.user.support.Gender).MALE}" th:src="@{/images/new-male-icon.png}">
                                    <img th:if="${lovstamp.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"  th:src="@{/images/new-female-icon.png}">

                                    <a ><span th:text="#{home-in.age}">AGE</span>[[${lovstamp.age}]]</a>
                                    <a ><span th:text="#{home-in.location}">LOCATION</span>[[${lovstamp.address}]]</a>
                                    <a ><span th:text="#{home-in.language}">LANGUAGE</span>[[${lovstamp.language}]]</a>
                                </div>
                                <div class="view-profile">
                                    <a th:href="@{/member/__${lovstamp.userId}__}" th:text="#{home-in.view-profile}">View Profile</a>
                                </div>
                                <div class="lovdrop-actions">
                                    <i class="fa fa-heart like-lovdrop" title="UnLike" data-userid="4" data-action="unlike" onclick="userLikeUnlike(4)"></i>
                                    <i class="fa fa-ban block-lovdrop" title="Block" data-userid="4" data-action="block" onclick="userBlockUnblock(4)"></i>
                                    <i class="fa fa-share-alt share-lovdrop-list" data-userid="4" onclick="showShareModal(4)"></i>
                                </div>
                                <div class="radio-play-skip">
                                    <div class="radio-play play" th:attr="data-url=${lovstamp.fileUrl},data-id=${lovstamp.id}">
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                        <span th:text="${lovstamp.getFormatedTime()}">0:31</span>
                                    </div><div class="radio-skip" th:text="#{home-in.skip}">Skip</div></div>
                                <div class="user-id" >
                                    [[${lovstamp.userId}]]
                                    <img th:src="${lovstamp.verified}? @{/images/user-verified.png} : @{/images/alert-icon-image-gallery-27.png}" class="block-lovdrop">
                                </div>
                                <div class="radio-star">
                                    <img th:if="${lovstamp.attractive}" th:src="@{/images/radio-star.png}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <p class="radio-info" th:text="#{home-in.purple-stars}">USERS WITH PURPLE STARS CONSIDER THEMSELVES HIGHLY ATTRACTIVE</p>
    </div>

</section>

<section class="love-listening" th:style="'background:url(' + @{/images/home3/love-listining.jpg} + ');'">
    <!--<a href="#" class="login">Login <i class="fa fa-angle-left" aria-hidden="true"></i></a>-->
    <h1 th:text="${alt_homepage_love_listening_header}">Love Listening</h1>
    <h3 >[[${alt_homepage_love_listening_sub_header}]] <img th:src="@{/images/home3/microphone.png}"></h3>
    <div class="how-this works"><a href="#" th:href="@{/register/how-this-works}">
        <img th:src="@{'/images/home3/settings.jpg'}">
        <span th:text="#{home-in.how-this}">How this</span> <br> <span th:text="#{home-in.works}">works</span>
    </a></div>
</section>

<section class="lov-blog">
    <div class="container">
        <h2 th:text="${alt_homepage_lovblog_title}">LovBlog</h2>
        <p class="sub-title" th:text="${alt_homepage_lovblog_sub_title}">Share Your Story with Lovappy</p>
        <div class="clearfix">
            <div class="video-box">
                <a th:if="${mainPost} != null" th:href="@{/blog/posts/__${mainPost.slugUrl}__}" href="#">
                <img src="/images/home3/blogimg.jpg" height="500px" th:src="@{__${mainPost.getImageUrl()}__}">
                <h3 th:text="${#calendars.format(mainPost.createdOn, 'dd | MMM yyyy')}"><span >16</span>  OCT 2016</h3>
                <h1 th:text="${mainPost.title}">IT’S TIME <br> TO LOVE</h1>
                <!--<div class="video-btn">-->
                    <!--<i class="fa fa-play" aria-hidden="true"></i>-->
                    <!--watch now-->
                <!--</div>-->
                </a>
            </div>
            <div class="video-list">
                <ul>
                    <li th:each="post:${posts}">
                        <h3><a href="#"  th:href="@{/blog/posts/__${post.slugUrl}__}" th:text="${post.title}">The Big Lie of the Beauty</a></h3>
                        <div class="author">
                            <i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${post.getPostOnDate()}">U Na Fen</span>
                            <i class="fa fa-user-o" aria-hidden="true"></i><span th:text="${post.getAuthorFullname()}" >08-01-2017</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="casual-dating">
    <div class="">
        <div class="title">
            <h2 th:text="#{home.casual-dating}">Not For Casual Dating</h2>
            <p th:text="#{home.dating-features}">You Can Make Use of These Features Too</p>
        </div>
        <div class="dating-box clearfix">
            <div class="box">
                <a th:href="@{/music/send-music}">
                    <img th:src="@{'/images/home/img6.png'}">
                    <h3 th:text="#{home.music}">Music</h3>
                    <p th:text="#{home.music-sell}">Sell, Download and Send Music</p>
                </a>
            </div>
            <div class="box">
                <a th:href="@{/events}">
                    <img th:src="@{'/images/home/img7.png'}">
                    <h3 th:text="#{home.events}">Events</h3>
                    <p th:text="#{home.events-create}">Create/Attend Events</p>
                </a>
            </div>
            <div class="box">
                <a th:href="@{/dating/places/landing}">
                    <img th:src="@{'/images/home/img8.png'}">
                    <h3 th:text="#{home.dating-places}">Dating Places</h3>
                    <p th:text="#{home.find-dating-places}">Find Your Best Dating Place</p>
                </a>
            </div>
            <div class="box">
                <a th:href="@{/gifts}">
                    <img th:src="@{'/images/home/img9.png'}">
                    <h3 th:text="#{home.gifts}">Gifts</h3>
                    <p th:text="#{home.receive-gift}">Send And Receive Gifts</p>
                </a>
            </div>
            <div class="box">
                <a th:href="@{/findlove}">
                    <img th:src="@{'/images/home/img10.png'}">
                    <h3 th:text="#{home.messaging}">Messaging</h3>
                    <p th:text="#{home.private-messages}">Record And Send Private Messages</p>
                </a>
            </div>
            <div class="box">
                <a th:href="@{/blog/lovblog}">
                    <img th:src="@{'/images/home/img11.png'}">
                    <h3 th:text="#{home.blog}">Blog</h3>
                    <p th:text="#{home.blog-stories}">Share And Read Stories</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="img-info" th:style="'background:url(' + @{/images/home3/img1.png} + ');'">
    <div class="col-6">
        <h2 th:text="${alt_homepage_lovappy_corporation}">The Lovappy Corporation Loves Love</h2>
        <p th:text="${alt_homepage_lovappy_corporation_description}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</section>

<section class="lovappy-app">
    <div class="container clearfix">
        <div class="col-6">
            <img th:src="@{'/images/home3/lovappy-app.png'}">
            <h2>Lovappy <span>Dating App</span></h2>
        </div>
        <div class="col-6">
            <h3 th:text="${alt_homepage_lovappy_app_title}">SIGN UP. Find Love. <br> Keep Dating.</h3>
            <p th:text="${alt_homepage_lovappy_app_description}">Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley </p>
            <div class="clearfix">
                <a href="#" th:href="@{/mobile}">Learn More</a>
                <ul>
                    <li>
                        <a th:href="${alt_homepage_lovappy_app_android_link}" href="#"><img th:src="@{'/images/home3/ios.png'}"/></a>
                    </li>
                    <li>
                        <a th:href="${alt_homepage_lovappy_app_apple_link}" href="#"><img th:src="@{'/images/home3/google.png'}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script src="../static/js/web_pages/home/home-lovstamps.js" th:src="@{/js/web_pages/home/home-lovstamps.js}"
        type="text/javascript"></script>


<script>
    $('.mobile-menu-btn').click(function(){
        $('.nav-mobile').toggleClass('active');
    });

</script>
</body>
</html>