<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="height: 100%;">
<head th:with="metaTags=${@metaDataService.findPageMetaByTag('login')}">

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title th:text="${metaTags.title}">Lovappy | </title>
    <meta name="keywords" th:content="${metaTags.keywords}"/>
    <meta name="description" th:content="${metaTags.description}"/>
    <meta name="abstract" th:content="${metaTags.abstractDescription}"/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/template/newdesign.css">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link href="../../../static/css/general-style.css" th:href="@{/css/general-style.css}" rel="stylesheet"
          type="text/css">
    <link href="../../../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" type="text/css">
    <link href="../../../static/css/web_pages/login.css" th:href="@{/css/web_pages/login.css}" rel="stylesheet"
          type="text/css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">


</head>

<body style="height: 100%;">

<div data-edit="error-popup" class="ui modal">
    <i class="close icon"></i>
    <div th:text="${error_title}" class="header"></div>
    <div style="padding: 40px;">
        <span th:text="${error_text}" style="font-size: 2em"></span>
    </div>
    <div class="actions">
        <a th:href="@{/login}" class="ui button">OK</a>
    </div>
</div>

<!--<header class="header-login">
    <div id="brand-logo-login">
        <div class="three columns u-cf">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo2.png}" alt="Logo">
            </a>
        </div>
    </div>
</header>-->
<header th:replace="templates/lovappy-template :: header(5)"></header>

<div class="login-background" th:style="'background:url(images/login_bg.jpg); background-size: cover;'">
    <!--<div id="main-login" class="row" th:style="'background:url(' + ${main_login_bg} + '); background-size: 100% 100%;'">-->
    <div class="wrapper">
        <div class="clearfix">
            <div class="login-box">
                <form method="post" style="color: #ffffff;" th:action="@{/login}" action="login">
                    <input type="text" name="username" th:placeholder="#{login.username}"
                           style="color: #000000 !important;">
                    <input type="password" name="password" th:placeholder="#{login.password}"
                           style="color: #000000 !important;"><br>
                    <input class="login-btn" type="submit" name="login" th:value="#{login.login}">

                </form>

                <div class="clearfix">
                    <a class="forgot-link" href="javascript:void(0);" th:href="@{/reset}"
                       th:text="#{login.forgot-password}">forgot password?</a>
                </div>

                <div class="clearfix page-login-social">
                    <!--<a href="#" th:href="@{/login/facebook}">
                        <input class="fb-signin" type="button" name="signin-fb" value="signin with facebook"><br>
                    </a>-->
                    <!--<a href="#" th:href="@{/login/google}">
                        <input class="google-signin" type="button" name="signin-fb" th:value="#{login.sign-google}">
                    </a>-->
                    <ul>
                        <li>
                            <a href="#" th:href="@{/login/facebook}">
                                <i class="fa fa-facebook-f"></i>
                                <span>Sign in with Facebook </span>
                            </a>
                        </li>
                        <li class="google">
                            <a href="#" th:href="@{/login/google}">
                                <i class="fa fa-google"></i>
                                <span>Sign in with Google</span>
                            </a>
                        </li>
                        <li class="twitter">
                            <form th:action="@{/signin/twitter}" method="POST">
                                <i class="fa fa-twitter"></i>
                                <input type="submit" value="Sign in with Twitter"/>
                            </form>

                        </li>

                        <li class="instagram">
                            <a th:href="@{/login/instagram}">
                                <i class="fa fa-instagram"></i>
                                <span>Sign in with Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="message-popup" class="ui modal">
    <i class="close icon"></i>
    <div id="popup-message-title" class="header"></div>
    <div style="padding: 40px;">
        <span id="popup-message-text" style="font-size: 2em"></span>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal">OK</div>
    </div>
</div>

<div id="resend-email-popup" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Resend Activation Email</div>
    <div style="padding: 40px;">
        <span style="font-size: 2em"></span>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal">OK</div>
    </div>
</div>

<div class="footer-login">
    <footer th:replace="templates/lovappy-template :: footer"></footer>

    </footer>
</div>
<th:block th:replace="templates/lovappy-template :: script"></th:block>

<script th:inline="javascript">
    /*<![CDATA[*/
    var popupMessage = [[${popup_msg}]];
    var popupMessageTitle = [[${popup_msg_title}]];
    var popupMessageText = [[${popup_msg_text}]];
    if ([[${error}]]) {
        $(".modal[data-edit='error-popup']").modal("show");
    }

    /*]]>*/
</script>
</body>
</html>