<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'plans-pricing', false)">
    <title>Lovappy | Plans & Pricing</title>
    <style></style>
    <link th:href="@{/css/web_pages/plans-and-pricing.css}" href="../static/css/web_pages/plans-and-pricing.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">

</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="pricing-cover" th:style="'background:url(' + @{''+${plan_price_cover_image}} + ');'">
    <!--<div class="overview-line"></div>-->
    <h1 th:text="${plan_price_cover_text}">PRICING</h1>
    <p th:utext="${plan_price_cover_description}">Free space to text Free space to text Free space to text Free space to text
        Free space to textFree space to text</p>
    <!--<div class="overview-line"></div>-->
</div>


<div class="plans-container clearfix">
    <div class="box prime" th:each="plan : ${plans}">
        <!--<img th:src="@{/images/pricing/cooming-soon.png}" alt="Infographic girl">-->
        <span class="left-bg"></span>
        <span th:if="${plan.subTitle != null && plan.subTitle != ''}"
                th:text="${plan.subTitle}" th:style="'background-color: ' + ${plan.colorScheme}+';'">Coming Soon</span>
        <h2 th:text="${plan.planName}" th:style="'color: ' + ${plan.colorScheme}+';'">PRIME</h2>
        <h3 th:style="'color: ' + ${plan.colorScheme}+';'" th:text="${plan.costDescription}">$0.99 / song</h3>
        <ul>
            <li th:each="feature : *{plan.planFeatures}">
                <p th:text="${feature.getFeatureDetails()}"></p>
                <span th:if="${feature.getFeatureNote() != null && feature.getFeatureNote() != ''}" th:text="${feature.getFeatureNote()}" th:style="'background-color: ' + ${feature.getNoteColor()}+';'"></span>
            </li>
        </ul>
    </div>
</div>

<!-- Record Lovrop Modal -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Record Lovrop
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <button id="reset-btn" class="ui button">
            Start Over
        </button>
        <div class="ui button btn-close-modal">Cancel</div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>

</body>
</html>