<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'how-this-works', false)">

    <title>Lovappy | Plans & Pricing</title>
    <style></style>
    <link th:href="@{/css/web_pages/infographic.css}" href="../static/css/web_pages/infographic.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">

</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<!--<div class="info-container">
    <div class="box1">
        <div class="info">
            <h1>i’m seeking love</h1>
            <p>(for single)</p>
            <a href="#" th:href="@{/how-this-work}">find love</a>
        </div>
    </div>
    <div class="box2">
        <div class="info">
            <h1>i want to continue <br>dating my lover</h1>
            <p>(for couples)</p>
            <a href="#" th:href="@{/infographic}">couples’ tools</a>
        </div>
    </div>
    <h2>How this works</h2>
</div>-->

<a href="#" th:href="@{/radio}">
    <section class="info-sec infographic-section-two clearfix">
        <div class="col-md-6">
            <img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/girl-love.png}" alt="Infographic girl">
        </div>
        <div class="col-md-6">
            <img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/boy-love.png}" alt="Infographic boy">
            <img class="info-absolute" th:src="@{/images/how-this-work/rounde.png}" alt="Infographic boy">
        </div>
        <div class="look-for-love">
            <span>Look for</span> love?
        </div>

    </section>
</a>
<section class="info-sec infographic-section-three clearfix">
    <img class="mini-logo" src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/mini-logo.png}" alt="Mini logo">
    <div class="col-md-6">
        <img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-two-music.png}" alt="Music">
    </div>
    <div class="col-md-6">
        <img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-two-music.png}" alt="Music">
    </div>
    <img class="connection" src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-two-people.png}" alt="Peoples connection">
</section>

<section class="info-sec infographic-section-four clearfix">
    <div class="col-md-6">
        <img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-three-first.png}" alt="Girl info">
        <img class="info-absolute" th:src="@{/images/how-this-work/rounde2.png}" alt="Infographic boy">
    </div>
    <div class="col-md-6">
        <img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-three-second.png}" alt="Boy info">
    </div>
</section>

<<<<<<< .mine
<!--<a href="#" th:href="@{/music/lovemusic}">-->
    <!--<section class="share-music">-->
        <!--<h1>Share Music</h1>-->
        <!--<p>Make them feel special, Send them Music</p>-->
    <!--</section>-->
=======
    <section class="share-music">
        <h1>Share Music</h1>
        <p>Make them feel special, Send them Music</p>
    </section>
>>>>>>> .r3412


    <!--<section class="info-sec infographic-section-five clearfix">-->
        <!--<div class="col-md-6">-->
            <!--<img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-five-left.png}" alt="Informations left">-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<img src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-five-right.png}" alt="Informations right">-->
            <!--<img class="info-absolute" th:src="@{/images/how-this-work/rounde3.png}" alt="Infographic boy">-->
        <!--</div>-->
        <!--<img class="middle-img" src="../../static/images/advertise/sample-ads-ad.png" th:src="@{/images/infographic/section-four-middle.png}" alt="Informations right">-->

    <!--</section>-->
<!--</a>-->

<a href="#" th:href="@{/gifts}">

    <section class="send-gift">
        <h2>Send and Receive Gifts</h2>
        <p>Make a Great Relationship by Sending and Receiving gifts</p>
    </section>

    <section class="info-sec infographic-section-six">
        <img src="../../static/images/infographic/section-five-full.png" th:src="@{/images/infographic/section-five-full.png}" alt="Informations right">
    </section>
</a>

<section class="infographic-section-seven">
    <img src="../../static/images/infographic/section-six.png" th:src="@{/images/infographic/section-six.png}" alt="Informations">
    <img class="info-absolute" th:src="@{/images/how-this-work/rounde4.png}" alt="Infographic boy">
</section>
<a href="#" th:href="@{/home}">
    <section class="infographic-section-eight">
        <img src="../../static/images/infographic/section-six.png" th:src="@{/images/infographic/section-eight.png}" alt="Love">
        <img class="info-absolute" th:src="@{/images/how-this-work/rounde5.png}" alt="Infographic boy">
    </section>
</a>
<section class="infographic-last-section">

</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>

</body>
</html>