<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},~{::meta}, 'features-record-voice', false)">
    <title>Record and Listen to Voices</title>
    <meta></meta>
    <style></style>
    <link th:href="@{/css/web_pages/record-voice.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">


</head>
<body>

<header th:replace="templates/lovappy-template :: header(1)"></header>
<div class="record-video-hero">
    <img src="../static/images/rvideo.jpg" th:src="@{/images/rvideo.jpg}" alt="Ricord video">
</div>
<section class="record-voice">
    <div class="video-box">
        <p>
            This is a FREE app to help you find real love. Record your voice and let others hear it. Use our LovDrop Radio browser to hear the voices of potential mates. On Lovdrop Radio it is never boring while listening — we will entertain you with News, Comedy from upcoming comedians, Podcasts, and of course original Music!
        </p>
    </div>
    <div class="vide-box">
        <img src="../static/images/user-video.png" th:src="@{/images/user-video.png}" alt="User video">
    </div>
</section>
<section class="record-video">
    <div class="record-main">
        <iframe width="100%" height="315" th:src="${record_voice_video}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="record-main">
        <ul>
            <li>
                <img src="../static/images/heard-record.png" th:src="@{/images/heard-record.png}" alt="Heard record">
                Listen to available Lovdrops based on your preferences
            </li>
            <li>
                <img src="../static/images/heard-record.png" th:src="@{/images/heard-record.png}" alt="Heard record">
                Use the filter to refine your results
            </li>
            <li>
                <img src="../static/images/heard-record.png" th:src="@{/images/heard-record.png}" alt="Heard record">
                Check out user profiles of voices you like
            </li>
            <li>
                <img src="../static/images/heard-record.png" th:src="@{/images/heard-record.png}" alt="Heard record">
                Share Radio Stamps with your friends
            </li>
            <li>
                <img src="../static/images/heard-record.png" th:src="@{/images/heard-record.png}" alt="Heard record">
                Listen to ads, comedy and news in between your potential mates
            </li>
        </ul>
    </div>
</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
</body>
</html>