<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,~{::style})">
    <title>Lovappy Admin | Manage Careers</title>


    <link rel="stylesheet" type="text/css"
          href="../../static/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css"
          th:href="@{/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css}">
    <link th:href="@{/css/adminLTE/blogs.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.Editor.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.Editor.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/cropper.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/ads-bg.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/adminLTE/careers.css"
          th:href="@{/css/adminLTE/careers.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/adminLTE/careers.css"
          th:href="@{/css/adminLTE/questions2.css}">

    <style>
        .modal-dialog {
            width: 80% !important;
        }
    </style>

</head>
<!--/*@thymesVar id="question" type="com.realroofers.lovappy.service.questions.dto.DailyQuestionDto"*/-->
<!--/*@thymesVar id="response" type="com.realroofers.lovappy.service.questions.dto.UserResponseDto"*/-->
<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Manage Daily Questions
                <!--<small>Optional description</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-11">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><a th:href="@{/lox/questions/}">< Back to questions</a></h3>


                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <h4 th:text="${question.question}">Is it okay to discuss past lovers with your current
                                lover?</h4>
                            <table id="active-users-table" class="table table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>User ID (Details)</th>
                                    <th>Answer</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:if="${not #lists.isEmpty(responses.getContent())}"
                                    th:each="response : ${responses.getContent()}">
                                    <td th:text="${response.userId}">2</td>
                                    <td>
                                        <audio controls>
                                            <source th:src="${response.audioResponse.url}" type="audio/mp3">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </td>
                                    <td th:text="${#dates.format(response.responseDate,'MM-dd-yyyy')}">07-18-2018</td>
                                    <td th:switch="${response.approvalStatus.name()}">
                                        <button th:case="'PENDING'" class="pending" data-toggle="modal"
                                                th:data-target="'#modalStatePost'+${response.responseId}">PENDING
                                        </button>
                                        <button th:case="'APPROVED'" class="approved" data-toggle="modal"
                                                th:data-target="'#modalStatePost'+${response.responseId}">APPROVED
                                        </button>
                                        <button th:case="'REJECTED'" class="denied" data-toggle="modal"
                                                th:data-target="'#modalStatePost'+${response.responseId}">DENIED
                                        </button>

                                        <div class="modal fade" th:id="'modalStatePost'+${response.responseId}"
                                             aria-labelledby="modalStatePost"
                                             role="dialog"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal"><span
                                                                aria-hidden="true">&times;</span><span
                                                                class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="modalStatePost"><span>
                                                    Place Approval</span></h4>
                                                    </div>
                                                    <div class="modal-body" style="text-align:center">
                                                        <input class="responseId" type="hidden"
                                                               th:id="'responseId'+${response.responseId}"
                                                               th:value="${response.responseId}"/>
                                                        <input id="question-id" th:value="${question.questionId}" type="hidden"/>
                                                        <th:block>
                                                            <a th:onclick="'approveResponse('+${response.responseId}+')'"
                                                               type="button" class="btn btn-success">Approve</a>

                                                        </th:block>
                                                        <a th:onclick="'rejectResponse('+${response.responseId}+')'"
                                                           type="button"
                                                           class="btn btn-danger">Reject</a>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="btn btn-default"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">

                                    <li th:class="${responses.isFirst()}?disabled:not(disabled)">
                                        <a th:href="@{${actionUrl}+'page=1'}">&laquo;</a>
                                    </li>
                                    <li th:if='${not responses.isFirst()}'>
                                        <a th:href="@{${actionUrl}+'page='+${currentPage-1}}">&larr;</a>
                                    </li>

                                    <th:block
                                            th:each="pageNumber: ${#numbers.sequence(1, responses.getTotalPages()==0?1:responses.getTotalPages())}">
                                        <li th:classappend="${currentPage == pageNumber} ? active: no">
                                            <a th:href="@{${actionUrl}+'page='+${pageNumber}}"><span
                                                    th:text="${pageNumber}"></span></a>
                                        </li>
                                    </th:block>

                                    <li th:if='${not responses.isLast()}'>
                                        <a th:href="@{${actionUrl}+'page='+${currentPage+1}}">&rarr;</a>
                                    </li>
                                    <li th:class="${responses.isLast()}?disabled:not(disabled)">
                                        <a th:href="@{${actionUrl}+'page='+${responses.getTotalPages()}}">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-body -->

                    </div>


                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <!--edit view-->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript" src="../../static/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js"
        th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
        th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>
<script type="text/javascript" src="../../../static/js/adminLTE/questions/questions-admin.js"
        th:src="@{/js/adminLTE/questions/questions-admin.js}"></script>

</body>
</html>
