<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Content Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<!--/*@thymesVar id="sample" type="com.realroofers.lovappy.service.lovdrop.dto.LovdropSampleDto"*/-->

<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:text="${sample.getId() == null ? 'Add Sample' : 'Edit Sample'}">
                Recording Sample Details
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">
                <!-- /.box-header -->
                <!-- form start -->
                <form id="languageForm" class="form-horizontal" th:object="${sample}">
                    <div class="box-body">

                        <!-- ID -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ID</label>

                            <div class="col-sm-10">
                                <input disabled class="form-control col-sm-2" th:field="*{id}">
                                <input id="sample-id" type="hidden" th:field="*{id}">
                            </div>
                        </div>

                        <!-- Language -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Language</label>

                            <div class="col-sm-10">
                                <select class="form-control col-sm-2" name="language">
                                    <option th:each="lang : ${languages}"
                                            th:text="${lang.name}" th:value="${lang.id}"
                                            th:selected="${sample.language != null && lang.id == sample.language.id}"></option>
                                </select>
                            </div>
                        </div>

                        <!-- Gender -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender</label>

                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="MALE" th:field="*{gender}">
                                        Male
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                        <input type="radio" value="FEMALE" th:field="*{gender}">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- File -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">File</label>

                            <div class="col-sm-10">
                                <video th:if="${sample.audioFileCloud != null}" controls="" style="height: 35px;width: 500px;">
                                    <source th:src="${sample.audioFileCloud.url}" type="audio/mp3">
                                </video>
                                <input id="recordingFile" type="file" class="form-control col-sm-2">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button id="btn-save" type="button" class="btn btn-success">
                            Save <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                        </button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function() {

        $("#btn-save").click(function () {

            if($("#sample-id").val() === "" && $("#recordingFile")[0].files[0] === undefined) {
                alert("Select a file to upload");
                return;
            }

            var saveBtn = $(this);
            saveBtn.prop("disabled", true);
            saveBtn.find("i").show();

            var formData = new FormData($("#languageForm")[0]);

            if($("#recordingFile")[0].files[0] !== undefined)
                formData.append('file', $("#recordingFile")[0].files[0]);
            else
                formData.append('file', new File([""], "filename"));

            $.ajax({
                url: baseUrl + "lox/recording_samples/save",
                type: "POST",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                data: formData,
                success: function (data) {
                    window.location = baseUrl + "lox/recording_samples/" + data;
                },
                error: function (data) {
                    console.log(data);
                    saveBtn.prop("disabled", false);
                    saveBtn.find("i").hide();
                }
            });
        });
    });
</script>

</body>
</html>
