<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'brand_registration', false)">
    <meta></meta>
    <title>Lovappy</title>

    <link href="../static/css/responsive-nav.css" th:href="@{/css/responsive-nav.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/ambassador.css" th:href="@{/css/web_pages/ambassador.css}">

    <style type="text/css">
        .row > .reg-form-control {
            display: inline-block;
        }

        .error-msg {
            font-size: 0.8em;
            color: red;
            display: block;
            padding-left: 5px;
            background: rgba(234, 234, 234, 0.64);
            margin-top: -9px;
            border-radius: 7px;
        }

        .reg-form-control {
            vertical-align: top;
        }
    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var root = "[(@{/})]";
        var popupMessage = [[${popup_msg}]];
        var popupMessageTitle = [[${popup_msg_title}]];
        var popupMessageText = [[${popup_msg_text}]];
        /*]]>*/
        var port = window.location.port;
        var baseUrl = window.location.protocol + '//' + window.location.hostname + (port !== 80 ? ':' + port : '' ) + root;
    </script>


</head>
<body>
<div class="header-logo-login">
    <a href="/" th:href="@{/}" class="logo" data-scroll>
        <img src="../../static/images/logo.png" th:src="@{/images/logo.png}" alt="Logo">
    </a>
</div>
<div class="page-title">
    <h2>Brand Registration / Product Submission</h2>
</div>

<div class="ambassador-hero-image">
    <img src="../../static/images/ambasador/ambasador-hero.jpg" th:src="@{/images/ambasador/ambasador-hero.jpg}" alt="Ambassador Hero">
</div>

<div class="form-container">
    <form action="">
        <h2>Brand Information</h2>
        <div class="clearfix">
            <div class="col-md-6 first-child">
                <label>Company Name</label>
                <input type="text">
                <label>Primary Contact Name</label>
                <input type="text">
                <label>Primary Contact Phone</label>
                <input type="text">
                <label>Address Line  1</label>
                <input type="text">
                <label>Address Line 2</label>
                <input type="text">
                <label>State</label>
                <input type="text">
                <label>Country</label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label>Contact Phone</label>
                <input type="text">
                <label>City</label>
                <input type="text">
                <label>Zip Code</label>
                <input type="text">
                <div class="ambassador-upload">
                    <label for="file-upload-form" class="custom-file-upload">
                        <div class="custom-upload">
                            Upload Store or company logo
                        </div>
                    </label>
                    <input id="file-upload-form" type="file"/>
                </div>
                <div class="add-location">
                    <button>Add a location</button>
                </div>
            </div>
        </div>
        <div class="form-things">
            <a href="#">Download product CSV</a>
            <a href="#">download location CSV</a>
            <a href="#">Upload CSV</a>
        </div>
        <div class="sub-btn">
            <button class="submit-form">Submit</button>
        </div>
    </form>
</div>


</body>
</html>