<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'musician_registration', false)">
    <title>Lovappy | Musician Registration</title>
    <meta></meta>
    <link href="../../static/css/responsive-nav.css" th:href="@{/css/responsive-nav.css}" rel="stylesheet" type="text/css">
    <link href="../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/ambassador.css"
          th:href="@{/css/web_pages/ambassador.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/ambassador.css"
          th:href="@{/css/web_pages/ambassador-registration.css}">

    <link rel="stylesheet" type="text/css" href="../../static/css/cropper.css"
          th:href="@{/css/cropper.css}">
    <style type="text/css">
        .earning p {
            text-align: center;
            width: 70%;
            padding: 0 15px;
            margin-bottom: 20px;
        }

        .row > .reg-form-control {
            display: inline-block;
        }

        .error-msg {
            font-size: 0.8em;
            background: #ffffff;
            padding: 0px 10px;
            font-color: #ff0000;
            margin-top: -9px;
            display: none;
        }

        .reg-form-control {
            vertical-align: top;
        }

        .no-close .ui-dialog-titlebar-close {
            display: none;
        }

        .success-dialog {
            font-size: 0.8em;
            font-family: 'Nexa Light', sans-serif;
        }

        .modal-footer {
            text-align: right;
            border-top: 1px solid #666;
            padding-top: 20px;
            margin-top: 10px;
        }

        .modal-footer.clearfix a {
            display: inline-block;
            width: 100px;
            text-align: center;
        }

        .modal-footer
        a {
            background: #e15151;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            border: 1px solid #666;
            font-weight: bold;
        }

        .disabled {
            cursor: not-allowed;
        }


    </style>






</head>
<body>
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="lovapy-cover cover-music">
    <div class="ambassor-registration">
        <h1 th:text="#{musician-registration.title}"></h1>
    </div>
</div>
<th:block th:if="${registered}">
    <div class="user-notification">
        <h2 th:text="#{general.already-member}"></h2>
        <br/>
    </div>
</th:block>
<th:block th:unless="${registered}">
    <div class="mini-content container">
        <p th:text="#{musician-registration.description}"></p>
    </div>
    <form id="reg-form" method="post" th:action="@{/musician/signup}" th:object="${info}">
        <input type="hidden" th:field="*{role}"/>
        <input type="hidden" th:field="*{notificationType}"/>
        <div class="registration-field">
            <ul class="clearfix">
                <ul class="clearfix">
                    <li>
                        <input id="musician-name" type="text" th:placeholder="#{general.full-name}" th:field="*{name}"
                               required>
                    </li>
                    <li>
                        <input id="musician-number" type="text" th:placeholder="#{general.phone-number}"
                               th:field="*{phoneNumber}" required>
                    </li>
                    <li th:if="${userId} ==null">
                        <input id="musician-email" type="email" th:placeholder="#{general.email-address}"
                               th:field="*{email}" required>
                    </li>
                    <li th:if="${userId} ==null">
                        <input id="musician-password" type="password" th:placeholder="#{general.password}"
                               th:field="*{password}" required>
                    </li>
                    <li th:if="${userId} ==null">
                        <input id="musician-confirm-password" type="password"
                               th:placeholder="#{general.confirm-password}"
                               th:field="*{confirmPassword}" required>
                    </li>
                    <li th:if="${userId} ==null">
                        <input id="musician-zipcode" type="text" th:placeholder="#{general.zip-code}"
                               th:field="*{zipcode}"
                               required>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="ambassador-calendar">
            <div class="container clearfix">
                <div class="col-6">
                    <label for="birthdate">
                        <th:block th:text="#{general.my-birthday}"></th:block>&nbsp;<input type="text" id="birthdate"
                                                                                           th:field="*{birthDate}"
                                                                                           th:placeholder="#{general.date-format}"></label>
                </div>
                <div class="col-6">
                    <span th:text="#{general.i-am}"> </span>

                    <label for="male"><input type="radio" name="mf" id="male"><img
                            src="../../static/images/ambasador/upload-image.png" th:src="@{/images/new-male-icon.png}"
                            alt="Upload identification"><span th:text="#{general.male}"></span></label>
                    <label for="female"><input type="radio" name="mf" id="female"><img
                            src="../../static/images/ambasador/upload-image.png" th:src="@{/images/new-female-icon.png}"
                            alt="Upload identification"><span th:text="#{general.female}"></span></label>
                </div>
            </div>
        </div>
        <div class="upload-image">
            <h2 th:text="#{general.photo-identification}"></h2>
            <div class="border"></div>
            <div>
                <label id="upload-photo-id">

                    <div id="id-upload-container" class="preview-file" style="text-align: center; " data-upload="image">
                    <span>
                        <img style="height: 275px;width: auto" id="photoIdentificationCloudFileID"
                             src="../../static/images/ambasador/upload-image.png"
                             th:src="@{/images/ambasador/upload-image.png}" alt="Upload identification">
                    </span>
                        <div class="progress" style="visibility: hidden;">&nbsp;</div>
                    </div>
                </label>

                <!--<input id="file-upload-profile" type="file" name="file" style="display: none"/>-->
            </div>
            <div id="photoIdentificationCloudFileFormGroup">
            <span id="photoIdentificationCloudFile" class="error-msg"
                  th:errors="*{photoIdentificationCloudFile}"></span>
            </div>

            <div class="ambassador-confirm">
                <label for="confirm-form" style="cursor: pointer">
                    <input type="checkbox" id="confirm-form">
                    <th:block th:text="#{general.read-agreement}"></th:block>
                    <span class="terms-modal"><strong th:text="#{general.terms-and-conditions}"></strong></span>
                </label> <span id="confirmTerms" class="error-msg"></span>
                <input id="photo-id" type="hidden" th:field="*{photoIdentificationCloudFile.id}"/>
                <button id="register-musician" class="disabled" disabled th:text="#{general.registor}"></button>
            </div>

            <div id="success-dialog"></div>
        </div>
    </form>

    <div class="ui modal" id="musician-modal">
        <div class="content">
            <div>
                <th:block th:if="${userId} ==null">
                    <p th:text="#{general.registration-sucessfull}"></p>
                </th:block>
                <th:block th:unless="${userId} ==null">
                    <p th:text="#{general.user-registration-sucessfull}"></p>
                </th:block>
            </div>
            <div class="modal-footer clearfix">
                <a th:href="@{/}" th:text="#{general.ok}"></a>
            </div>
        </div>
    </div>

    <input type="hidden" id="fill-all-fields" th:value="#{message.fill-all-fields}"/>
    <input type="hidden" id="password-not-equal" th:value="#{message.password-not-equal}"/>
    <input type="hidden" id="user-id" th:value="${userId}"/>
    <div class="earning">
        <p th:text="${musicTerm}"></p>
    </div>
</th:block>
<!-- end of content -->

<div class="ui modal" id="musician-terms">
    <i class="close icon"></i>
    <div class="header" th:text="#{musician.terms.title}">
        Terms & Conditions!
    </div>
    <div class="content ">
        <div th:each="term:${musicianTerms}">
            <p th:text="${term.content}"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{advertise.terms.close}">Close</div>
    </div>
</div>
<div th:replace="fragments/image-uploader :: upload-modal">
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script src="../../static/js/image-cropper/image-cropper.js" th:src="@{/js/image-cropper/image-cropper.js}"></script>

<script src="../../static/js/web_pages/musician-registration.js"
        th:src="@{/js/web_pages/musician-registration.js}" type="text/javascript"></script>
<script>
    $(function () {
        $("#birthdate").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
        });

    });

    $(document).ready(function () {
        $('.terms-modal').on('click', function (e) {
            e.preventDefault();
            $('#musician-terms').modal('show');
        });
        $('.ambassador-calendar .col-6:last-child label').on('click', function (e) {
            e.preventDefault();
            $('.ambassador-calendar .col-6:last-child label').removeClass('active');
            $(this).addClass('active');
        });

        $('#upload-photo-id').on('click', function (e) {
            e.preventDefault();
            $('#upload-modal').modal('show');
        });

    });

    var options = {
        minCropBoxWidth: 198,
        minCropBoxHeight: 200,
        imageSmoothingEnabled: false,
        imageSmoothingQuality: 'high',
        aspectRatio: 198 / 200,
        preview: $('#img2')
    };

    $('#upload-button').click(function () {
        $('#inputImage').click();
    });

    function uploadFile() {
        var uploadImageContainer = $("#id-upload-container").find("span");
        var url = baseUrl + "/user/registration/photo";

        $('#image').cropper('getCroppedCanvas',{ fillColor: '#FFFFFF' }).toBlob(function (blob) {
            var formData = new FormData();

            formData.append('photo-id', blob);

            $.ajax(url, {
                method: "POST",
                data: formData,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (data) {
                    uploadImageContainer.find('img').attr('src', data.url);
                    $("#photo-id").val(data.id);

                    $('#upload-modal').modal('hide');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 400)
                        showNotifyErrorMessages(jqXHR.responseJSON);
                    else if (jqXHR.status === 401)
                        window.location.href = baseUrl + "login";

                }
            });
        });
    }
</script>
</body>
</html>