<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:fragment="registration-form" class="clearfix" id="register-form" method="post" th:object="${user}">

    <div class="clearfix">
        <div class=" columns">
            <div id="emailFormGroup" class="reg-form-control" th:class="reg-form-control">
                <input type="text" name="email" placeholder="email address" th:field="*{email}">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class=" columns">
            <div id="passwordFormGroup" class="reg-form-control" th:class="reg-form-control" >
                <input type="password" name="password" placeholder="password" th:field="*{password}">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class=" columns">
            <div id="confirmPasswordFormGroup" class="reg-form-control" th:class="reg-form-control">
                <input type="password" name="confirmPassword" placeholder="confirm password" th:field="*{confirmPassword}">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class=" columns">
            <div id="zipcodeFormGroup" class="reg-form-control" th:class="reg-form-control">
                <input type="text" name="zipcode" placeholder="zip code" th:field="*{zipcode}">
                <span class="error-msg"></span>
            </div>
        </div>

    </div>

    <div class="field">
        <div class="option">
            <input type="radio" id="option1" name="inLove" th:field="*{isInLove}" value="false">
            <label for="option1">I'm seeking love</label>
        </div>
        <div class="option">
            <input type="radio" id="option2" name="inLove" th:field="*{isInLove}" value="true">
            <label for="option2">Keep dating my lover</label>
        </div>
    </div>

    <div class="register-submit-btn">
        <input id="submit-homepage-reg" type="submit" name="submit" alt="Submit" value="Register" style="text-transform: capitalize;"/>
        <i class="fa fa-circle-o-notch fa-spin" style="display: none;"></i>
    </div>

    <div class="social-login clearfix">
        <a href="#" class="social-login" th:href="@{/login/facebook}" style="text-decoration: none;">
            <input type="button"  class="fb-button" name="signin-fb" value="Sign in with facebook">
        </a>
        <a href="#" class="social-login" th:href="@{/login/google}" style="text-decoration: none;">
            <input type="button" class="google-button"  name="signin-google" value="Sign in with google">
        </a>
    </div>
</form>
</body>
</html>