<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'gift_landing', false)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lovappy | Gift Sent</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/slick.css" th:href="@{/css/slick.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/web_pages/gift_catalog.css}">
    <style></style>

</head>

<body>

<!--/*@thymesVar id="gifts" type="com.realroofers.lovappy.service.gift.dto.GiftExchangeDto"*/-->

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<!--
<div class="row">
    <div id="blogTitle" class="col-12">
        <h2 style="padding-left: 80px; color: white;">Gifts Sent</h2>
    </div>
</div>


<div class="row" style="margin-top: 20px;">
    <div class="wrapper">
        <div class="col-4">
            <span th:text="${'$' + totalSpent}" style="font-size: 35px; color: #4ac89b; float: left; margin-top: -10px; font-weight: bold;">$56.75</span>
            &nbsp;&nbsp;&nbsp;
            <span>spent on gifts</span>
        </div>
        <div class="col-3">
        </div>
        <div class="col-4">
            <span>I've sent</span>
            <span th:text="${#lists.size(gifts)}" style="font-size: 35px; color: #4ac89b; margin-top: -10px; font-weight: bold; margin-left: 10px; margin-right: 10px;">10</span>
            <span>gifts to a total of</span>
            <span th:text="${totalUsers}" style="font-size: 35px; color: #4ac89b; margin-top: -10px; font-weight: bold; margin-left: 10px; margin-right: 10px;">9</span>
            <span>users</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="wrapper">

        <div th:each="gift : ${gifts}" class="col-2" style="border-right: 1px solid #b6b6b6;">
            <center>
                <img src="../../static/images/gift-sent-icon.png" th:src="@{/images/gift-sent-icon.png}" alt="Gift sent icon"/>
            </center>
            <br><br>
            <center>
                <span style="font-size: 22px;">
                    <strong th:text="${gift.gift.giftType == T(com.realroofers.lovappy.service.gift.support.GiftType).ONLINE ? 'Online' : 'Tangible'}">Online</strong>
                </span>
            </center>
            <br>
            <center>
                <img src="../../static/images/song_unread.png" th:src="@{/images/song_unread.png}" style="margin-right: 20px;" alt="Song unread" />
                <img src="../../static/images/match_gift_sent.png" th:src="@{/images/match_gift_sent.png}" alt="Match gift sent" />
            </center><br><br>

            <span><strong>Sent To</strong></span><br><br>

            <img th:if="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                 src="../../static/images/female_icon.png" th:src="@{/images/female_icon.png}" style="float: left; margin-right: 10px;" alt="Female icon " />
            <img th:unless="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                 src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" style="float: left; margin-right: 10px;" alt="Boy icon" />

            <span th:text="${gift.toUser.userProfile.age}">23</span>
            <br>
            <span th:text="${gift.toUser.userProfile.address.city + ', '
                                + gift.toUser.userProfile.address.stateShort}">NEW YORK, NY</span>
            <br>
            <span th:text="${gift.toUser.userProfile.speakingLanguagesAbb}">EN</span>
            <br><br>

            <span><strong>Date</strong></span><br>
            <span th:text="${#dates.format(gift.sentAt, 'dd-MMM-yyyy')}">02/02/2017</span>
        </div>

    </div>
</div>
-->

<div class="gift-catalog-title">
    <div class="container">
        <h2>Gift Catalog</h2>
    </div>
</div>

<div class="spent-on-gifts">
    <div class="container clearfix">
        <div class="pull-left">
            <h2 th:text="${'$' + totalSpent}">$56.75</h2>
            <span>Spent on Gifts</span>
        </div>
        <div class="pull-right">
            <div class="total-gifts">
                I've sent <span th:text="${#lists.size(gifts)}" >10</span> gifts to a total <span th:text="${totalUsers}" >9</span> users
            </div>
        </div>
    </div>
</div>

<div class="number-gifts container">
    <div class="gift-send">
        <div class="odd-box" th:each="gift : ${gifts}">
            <img th:src="@{/images/gift/gift.png}" class="gift-icon" alt="Gift Icons">
            <h3>Online</h3>
            <img th:src="@{/images/gift/icon1.png}" class="icon1-gift" alt="Gift Icons">
            <h3 class="send-to">Sent to</h3>
            <img class="icon2-gift" th:if="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                                                                                                         src="../../static/images/female_icon.png" th:src="@{/images/female_icon.png}" alt="Female icon " />
            <img class="icon2-gift" th:unless="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                 src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" alt="Boy icon" />
            <p>
                <span th:text="${gift.toUser.userProfile.age}">23</span>
                <span th:text="${gift.toUser.userProfile.address.city + ', '
                                + gift.toUser.userProfile.address.stateShort}">New York, NY</span>
                <span th:text="${gift.toUser.userProfile.speakingLanguagesAbb}">EN</span>
            </p>
            <h3 class="date-gift">Date <br> <span th:text="${#dates.format(gift.sentAt, 'dd-MMM-yyyy')}">02/02/2017</span></h3>
        </div>

    </div>
    <span class="arrow-next 3p"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    <span class="arrow-prev 4p"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="../../static/js/slick.min.js" th:src="@{/js/slick.min.js}" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('.gift-send').slick({
            slidesToShow: 7,
            prevArrow: $('.4p'),
            nextArrow: $('.3p'),
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>
</body>
</html>