<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'gift_landing', false)">
    <title>Lovappy | Gift Catalog</title>


    <meta name="viewport" content="width=device-width">
    <style></style>
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/gift_catalog.cs"
          th:href="@{/css/web_pages/gift_catalog.css}">

    <style>
        .boxSep {
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            margin-right: 30px;
        }

    </style>
</head>

<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="hero-image" th:style="'background:url(' + @{/images/gift/gift-catalog-hero.jpg} + ');'">
    <h2>Discover & Send <br/> your Gift </h2>
    <a class="browsing-gift" href="#">Browsing gift for
        <img th:if="${toUserProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
             src="../../static/images/female_icon.png" th:src="@{/images/female_icon.png}"
             class="catalog-header-img" alt="Female icon"/>
        <img th:if="${toUserProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).MALE}"
             src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" class="catalog-header-img"
             alt="Boy icon"/>
        <span th:text="${toUserProfile.age + ' / ' + toUser.userProfile.address.city + ', '
                    + toUser.userProfile.address.stateShort + ' / ' + toUserProfile.speakingLanguagesAbb}"
              class="gift-catalog-city">23 / New York, NY / EN</span></a>
</div>
<div class="clearfix"><!-- 2nd row -->
    <div class="wrapper">
        <div class="clearfix">
            <div class="clearfix nav-bar">
                <div class="pull-left">
                    <ul>
                        <li>
                            <a th:href="@{/gifts/catalog/__${toUser.ID}__}">
                                All
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/gifts/viewed/__${toUser.ID}__}">
                                Recently Viewed
                            </a>
                        </li>
                        <li>
                            <a style=" text-decoration: underline !important;" th:href="@{/gifts/purchased/__${toUser.ID}__}">
                                Recently Gifted
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <form th:action="@{/gifts/catalog/__${toUser.ID}__}" method="GET" accept-charset="ISO-8859-1" class="input-group stylish-input-group">
                        <input name="search" th:value="${search}" type="text" class="form-control"  placeholder="Search by Name" >
                        <span class="input-group-addon" style="background-color: #d2d6de;">
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                    </form>
                </div>
            </div>

            <div id="whatshot-gift" class="clearfix catalog-box" style="display: block;">
                <div class="catalog-container">
                    <div class="ui cards">
                        <div th:each="gift : ${HotGifts}" class="card">
                            <a th:href="@{/gifts/purchase/__${toUser.ID}__/__${gift.id}__}">
                                <div class="image">
                                    <img th:src="${gift.image1.url}" alt="Gift">
                                </div>
                                <div class="content">
                                    <a class="header" th:text="${gift.productName}">Kristy</a>
                                    <div class="meta">
                                        <!--<span class="date">Joined in 2013</span>-->
                                    </div>
                                    <div class="description"th:text="${T(org.jsoup.Jsoup).parse(gift.productDescription).text()}">
                                        Kristy is an art director living in New York.
                                    </div>
                                </div>
                            </a>
                            <div class="extra content">
                                <a>
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    $ [[${#numbers.formatDecimal(gift.price, 0, 'COMMA', 2, 'POINT')}]]
                                </a>
                            </div>
                        </div><!-- card -->
                    </div>
                </div>
            </div>


        </div><!-- wrapper -->
    </div><!-- end of 2nd row -->


    <footer th:replace="templates/lovappy-template :: footer"></footer>

    <th:block th:replace="templates/lovappy-template :: script"></th:block>


    <script>
        $(function () {
            $(".col-2-gift-box").click(function () {
                $(this).css('border', "solid 2px #4ac89b");
                $(this).css('border-radius', "6px");
            });
        });
    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>
</html>