<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'gift_landing', false)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lovappy | Gift Received</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width">
    <style>
        .top_row {
            cursor: pointer;
            display: table;
            width: 100%;
        }

        .top_row:hover {
            background: #efefef;
        }

        .top_row > div {
            display: table-cell;
            width: 50%;
            border-bottom: 1px solid #eee;
        }
    </style>
    <script src="../../static/js/web_pages/gifts-received.js" th:src="@{/js/web_pages/gifts-received.js}"
            type="text/javascript"></script>
</head>

<body>

<!--/*@thymesVar id="gifts" type="com.realroofers.lovappy.service.gift.dto.GiftExchangeDto"*/-->

<header style="padding-bottom: 60px;" th:replace="templates/authenticated :: header">
    <div class="wrapper">
        <h1>Lovappy</h1>
        <nav>
            <h2>Main Nav</h2>
            <div id="burger-nav"></div>
            <ul>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="blogTitle">
    <h2 style="padding-left: 80px; color: white;">Gifts Received</h2>
</div>

<div class="col-3 menu">
    <ul>
        <li><h3 style="color: #4ac89b;">My Profile</h3></li>
        <li>
            <a href="" style="color: #fa4a4a;">
                <img src="../../static/images/songs_icon.png" th:src="@{/images/songs_icon.png}"
                     style="height: 24px; width: 24px;" alt="Songs icon"/>
                Songs
            </a>
        </li>
        <li>
            <a href="" style="color: #fa4a4a;">
                <img src="../../static/images/gifts_icon.png" th:src="@{/images/gifts_icon.png}"
                     style="height: 24px; width: 24px;" alt="Gifts icons"/>
                Gifts
            </a>
        </li>
    </ul>
</div>

<div class="col-4">
    <span style="color: #4ac89b; font-size: 25px;">Gifts Received</span><br><br>
    <span>Show gifts from</span>
    <select id="user_filter" style="width: 140px; background: url('images/green_drop.png') no-repeat right;
                                    padding-left: 10px; color: #4ac89b; border-color: #4ac89b; border-style: solid;">
        <option id="all-users">All Users</option>
        <option id="new-users">New Users</option>
    </select>
</div>
<div class="col-2">
</div>
<div class="col-2" style="margin-top: 30px;">
    <span th:text="${#lists.size(gifts) + (#lists.size(gifts) == 1 ? ' GIFT' : ' GIFTS')}"
          style="position: relative;font-size: 24px;text-align: center;background: #ec743b;padding: 26px;
                    border-radius: 53px;padding-top: 35px;padding-bottom: 36px;color: white;padding-left: 10px;
                    padding-right: 10px;margin-left: 31px;">
        5 GIFTS
    </span>
    <br><br>
    <span style="background: #4ef8ba;position: absolute;padding: 5px;margin-top: 7px;border-radius: 8px;
                    margin-left: 0px;">
        have been sent to you
    </span>
</div>
</div><!-- end of row 1 -->


<!-- row 2 -->
<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-8">
        <table id="myTable">
            <thead>
            <tr>
                <th width="10%" style="color: white; border-bottom: none;">icon</th>
                <th width="35%" style="font-size: 16px; border-bottom: none;">Date Received</th>
                <th width="20%" style="font-size: 16px; border-bottom: none;">Type</th>
                <th width="35%" style="font-size: 16px; border-bottom: none;">Sent by</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="gift : ${gifts}" style="background-color: white !important;">
                <td colspan="4">
                    <div class="top_row">
                        <table>
                            <tr class="gift-received">
                                <td width="10%">
                                    <img src="../../static/images/gift_unopened.png"
                                         th:src="@{/images/gift_unopened.png}" alt="Gift unopened"/>
                                </td>
                                <td width="35%" th:text="${#dates.format(gift.sentAt, 'dd-MMM-yyyy')}">02/02/2017</td>
                                <td width="20%">
                                    <a style="text-decoration: none; color: black; cursor: pointer;"
                                       th:text="${gift.gift.giftType == T(com.realroofers.lovappy.service.gift.support.GiftType).ONLINE ? 'Online' : 'Tangible'}">
                                        Online
                                    </a>
                                </td>

                                <td width="35%">

                                    <img th:if="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                                         src="../../static/images/female_icon.png" th:src="@{/images/female_icon.png}"
                                         style="height: 20px;" alt="Female icon"/>
                                    <img th:unless="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                                         src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}"
                                         style="height: 20px;" alt="Boy icon"/>

                                    <span style="margin-left: 10px; margin-right: 10px;"
                                          th:text="${gift.fromUser.userProfile.age + ' | '
                                                + gift.fromUser.userProfile.address.city + ', '
                                                + gift.fromUser.userProfile.address.stateShort + ' | '
                                                + gift.fromUser.userProfile.speakingLanguagesAbb}">
                                            23 | New York, NY | FR
                                        </span>

                                    <img src="../../static/images/liked_icon.png" th:src="@{/images/liked_icon.png}"
                                         style="height: 20px;" alt="Liked icon"/>
                                    <img src="../../static/images/match_icon.png" th:src="@{/images/match_icon.png}"
                                         style="height: 20px;" alt="Match icon"/>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <!-- Details Online -->
                    <div style="display: none;"
                         th:if="${gift.gift.giftType == T(com.realroofers.lovappy.service.gift.support.GiftType).ONLINE}">
                        <table>
                            <tr>
                                <td style="width: 23%; height: 100%; background-color: #4ac89b; padding: 25px;">
                                    <span style="color: white; font-size: 32px;" th:text="${gift.gift.name}">A GIFT FOR YOU</span>
                                </td>
                                <td style="width: 10%; height: 100%; background-color: #4ac89b; padding: 25px;"></td>
                                <td style="width: 50%; height: 100%; background-color: #4ac89b; padding: 25px;">
                                    <span style="color: white;">Here's a digital book to download</span><br>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-2">
                                        <img th:src="@{/upload/__${gift.gift.image}__}"
                                             src="../../static/images/eBook_icon.png" style="width: 100%;"
                                             alt="EBook icon"/>
                                    </div>
                                    <div class="col-5">
                                            <span style="color: white; float: left; margin-left: 30px; font-weight: bold;"
                                                  th:text="${gift.gift.description}">
                                                BOOK TITLE
                                            </span>
                                        <br><br>
                                        <input type="button" name="redeem_book" value="Redeem"
                                               style="background-color: transparent; color: white; border: 1px solid white;
                                    width: 100px; border-radius: 4px; padding: 5px;"><br>
                                        <span style="color: white; font-size: 10px;">the above link is valid for 3days</span>
                                    </div>
                                </td>
                                <td style="width: 18%; height: 100%; background-color: #4ac89b; padding: 25px;"></td>
                            </tr>
                        </table>
                    </div>

                    <!-- Details Tangible -->
                    <div style="display: none;"
                         th:unless="${gift.gift.giftType == T(com.realroofers.lovappy.service.gift.support.GiftType).ONLINE}">
                        <table>
                            <tr>
                                <td style="width: 23%; height: 100%; background-color: #4ac89b; padding: 25px;">
                                    <span style="color: white; font-size: 32px;" th:text="${gift.gift.name}">A GIFT FOR YOU</span>
                                </td>
                                <td style="width: 12%; height: 100%; background-color: #4ac89b; padding: 25px;"></td>
                                <td colspan="10" style="height: 100%; background-color: #4ac89b; padding: 25px;">
                                    <div class="col-3" style="padding: 0;">
                                        <img th:src="@{/upload/__${gift.gift.image}__}"
                                             src="../../static/images/tangible_item.png" style="width: 100%;"
                                             alt="Tangible item"/>
                                    </div>
                                    <div class="col-8" style="padding-top: 0;">
                                        <p style="font-size: 14px; margin-top: 0; text-align: left; color: white;"
                                           th:text="${gift.gift.description}">
                                            MKF Collection M Signature Cross-Body Bag by Mia K. Farrow
                                        </p>
                                        <p style="text-align: left; color: white; font-size: 12px;"
                                           th:text="${gift.gift.details}">
                                            - Made of faux with fabric lining<br>
                                            - Good-tone hardware decor<br>
                                            - Multi-pocket interior<br>
                                            - Removable shoulder strap adjustable to 50&apos;&apos;<br>
                                        </p>
                                    </div>
                                    <div class="col-12"
                                         style="background-color: #4ef8ba; border-radius: 8px; margin-bottom: 10px;">
                                        <div class="col-8" style="text-align: left; padding-top: 0; padding-left: 0;">
                        <span style="font-size: 14px;">Redeem at <strong>Macy&apos;s</strong><br>
                        Your nearest location/s:<br>
                        <strong>611 AVENUE OF THE AMERICAS NEW YORK, NY</strong></span><br>
                                        </div>
                                        <div class="col-1">
                                            <input type="button" name="redeem_btn" value="Redeem"
                                                   style="background-color: #fa4a4a; color: white; padding: 10px; border-radius: 4px; border: none;">
                                        </div>
                                    </div>

                                    <div class="col-12" style="background-color: #4ef8ba; border-radius: 8px;">
                                        <div class="col-8" style="text-align: left; padding-top: 0; padding-left: 0;">
                                            <span style="font-size: 14px;">Click to have the gift delivered to you</span><br>
                                            <span style="font-size: 10px; color: #727272;">You will be brought to our partner site to enter you delivery details.</span>
                                        </div>
                                        <div class="col-1">
                                            <input type="button" name="redeem_btn" value="Delivered To Me"
                                                   style="background-color: #fa4a4a; color: white; padding: 10px; border-radius: 4px; border: none;">
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 5%; height: 100%; background-color: #4ac89b; padding: 25px;"></td>
                            </tr>
                        </table>
                    </div>

                </td>
            </tr>

            </tbody>

        </table>

    </div>
</div><!-- row 2 -->


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
</body>
</html>
