<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'gift_landing', false)">
    <title>Lovappy | LovGifts</title>

    <style>
        .boxSep {
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            margin-right: 30px;
        }

        .search-pagination ul {
            padding: 0;
            list-style: none;
            max-width: 90%;
            margin: 20px auto 40px;
            width: 100%;
            text-align: center;
        }

        .search-pagination ul
        li {
            display: inline-block;
            margin: 0 10px;
        }

        .search-pagination ul li a {
    width: 40px;
    display: block;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #666;
    border-radius: 3px;
        }

        .search-pagination ul li.active a {
            background: #ec743b;
            color: white;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/slick.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/gift_catalog.css"
          th:href="@{/css/web_pages/gift_catalog.css}">
</head>
<body class="music-main">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<!--<section class="landing-section">
    <h1>You have a gift</h1>
    <p>Love can be expressed often by sending or receiving a gift.
        The best part is going to pick it up at a great retail location.</p>
    <a href="#" class="browse-music">SEND GIFT</a>
    <label>or <a href="#" class="reg-log-modal">Click Here</a> to <a href="#" class="reg-log-modal">Register</a></label>
    <a href="#" class="how-this-works">How It Works</a>
</section>-->
<section class="landing-section">
    <h1 th:text="#{gift-landing.gift-landing-title}">YOU HAVE A Gift!</h1>
    <p th:text="#{gift-landing.gift-landing-description}">Love can be expressed often by sending or receiving a gift.
        The best part is going to pick it up at a great retail location.</p>
    <div class="container clearfix">
        <div class="content-left">
            <p th:text="#{gift-landing.gift-landing-mini-description}">Get someone’s attention by sending them a
                special, unique gift that they can go pick up at the new, community-style retail environment. We have
                partnered with retailers and vendors to allow gift-giving quickly and easily.</p>
        </div>
        <div class="content-right">
            <div class="select-gift-id">
                <span>Select a Gift fro:</span>
                <input type="text" placeholder="Enter User ID">
            </div>
            <div class="select-gift-id">
                <span>BROWSE GIFT NOW!</span>
                <button>Click Here</button>
            </div>
        </div>
    </div>

</section>

<section class="gift-slider">
    <div class="container">
        <div id="whatshot-gift" class="clearfix catalog-box" style="display: block;">
            <div class="catalog-container">
                <div th:each="gift : ${HotGifts}" class="col-2-gift-box">
                    <div class="image boxSep imgLiquidNoFill imgLiquid">
                        <img th:src="${gift.image1.url}" alt="Gift"/>
                        <!--<div class="size">-->
                        <!--<ul>-->
                        <!--<li>XS</li>-->
                        <!--<li class="active">S</li>-->
                        <!--<li>M</li>-->
                        <!--<li>L</li>-->
                        <!--<li>XL</li>-->
                        <!--<li>XXL</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="gift-name">
                        <span><strong class="product-title" th:text="${gift.productName}"></strong></span>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                    </div>
                    <p class="product-description"th:text="${T(org.jsoup.Jsoup).parse(gift.productDescription).text()}"></p>
                    <p>&nbsp;</p>
                    <span class="price">
                                    $ [[${#numbers.formatDecimal(gift.price, 0, 'COMMA', 2, 'POINT')}]]
                            </span>
                    <!--<img src="images/20-off.png" style="position: absolute; height: 60px; bottom: 87px; right: 20px;">-->

                </div>


                <!-- col-2-gift-box -->
            </div>
        </div>
        <!--pagination-->
        <div th:replace="fragments/pagination :: pagination (pageContent=${HotGifts}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

        </div>
    </div>
</section>

<!--Registration Confirmation-->
<div th:replace="registration/registration-flat-form :: registrationFlatForm"></div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="../../static/js/slick.min.js" th:src="@{/js/slick.min.js}" type="text/javascript"></script>
<script th:inline="javascript">

</script>
<script src="../static/js/web_pages/registration.js" th:src="@{/js/web_pages/registration.js}"
        type="text/javascript"></script>
</body>
</html>