<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-temp :: head(~{::title},~{::link},~{::style},~{::meta})">
    <title>Lovappy | Team</title>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description"
          content="Lovappy Team"/>
    <meta name="keywords"
          content="Lovappy team"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/music.css"
          th:href="@{/css/web_pages/team.css}">
    <style></style>

</head>
<body class="">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template:: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="team-hero">
    <h1>Meet The Team</h1>
</section>

<h2 class="our-team">Our Team Tackles Love From All Corners of the World!</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1"><img th:src="@{'/images/team/city1.png'}" alt="Team City"></a></li>
        <li><a href="#tabs-2"><img th:src="@{'/images/team/city2.png'}" alt="Team City"></a></li>
        <li><a href="#tabs-3"><img th:src="@{'/images/team/city3.png'}" alt="Team City"></a></li>
        <li><a href="#tabs-4"><img th:src="@{'/images/team/city4.png'}" alt="Team City"></a></li>
        <!--<li><a href="#tabs-5"><img th:src="@{'/images/team/city5.png'}" alt="Team City"></a></li>-->
        <li><a href="#tabs-6"><img th:src="@{'/images/team/city6.png'}" alt="Team City"></a></li>
    </ul>
    <div class="meet-line">
        <h3>Meet...</h3>
    </div>
    <div id="tabs-1" class="team-tabs">
        <ul class="clearfix">
            <li>
                <img th:src="@{'/images/team/mark.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Mark</h3>
                    <h4>Community and Team Organizer</h4>
                </div>
            </li>
            <li>
                <img th:src="@{'/images/team/jocelyn.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Jocelyn</h3>
                    <h4>Project Manager</h4>
                    <p>When I’m not working, I’m busy chasing after my active 5-year-old son.  He is my life! :)</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="tabs-2" class="team-tabs team2-tabs">
        <ul class="clearfix">
            <li>
                <img th:src="@{'/images/team/user.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Eias</h3>
                    <h4>Chief Programmer</h4>
                    <p>When I’m not working, I’m busy chasing after my active 5-year-old son.  He is my life! :)</p>
                </div>
            </li>
            <li>
                <img th:src="@{'/images/team/hasan.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Hasan</h3>
                    <h4>Design and Architecture</h4>
                    <p>When I’m not working, I’m busy chasing after my active 5-year-old son.  He is my life! :)</p>
                </div>
            </li>
            <li>
                <img th:src="@{'/images/team/user.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Mohammed</h3>
                    <h4>Designer</h4>
                    <p>When I’m not working, I’m busy chasing after my active 5-year-old son.  He is my life! :)</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="tabs-3" class="team-tabs">
        <ul class="clearfix">
            <li>
                <img th:src="@{'/images/team/daoud.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Daoud</h3>
                    <h4>Senior Programmer</h4>
                    <p>"I am a full stack developer. I have more than 4 years of experience in this field with very good knowledge about the back-end concepts, front-end, and mobile development."</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="tabs-4" class="team-tabs">
        <ul class="clearfix">
            <li>
                <img th:src="@{'/images/team/boris.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Boris</h3>
                    <h4>Front End Programmer</h4>
                    <p>"I'm communicative and fluent in English. Interested in building scalable, maintainable software with high quality code and on time delivery.  Why am I good at it? Because I'm a passionate learner, always seeking interesting work and care about my company!"</p>
                </div>
            </li>
        </ul>
    </div>
    <!--<div id="tabs-5">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
    </div>-->
    <div id="tabs-6" class="team-tabs">
        <ul class="clearfix">
            <li>
                <img th:src="@{'/images/team/darrel.png'}" alt="Team City">
                <div class="team-info">
                    <h3>Darrel</h3>
                    <h4>Programmer</h4>
                    <p>“Experienced Software Engineer with a demonstrated history of working in the Information Technology and services industry. Skilled in JavaEE , Spring Boot, Android Development, .Net/C# and Hibernate. Strong engineering professional with a Bachelor of Science (B.Sc.) focused in Software Engineering from SLIIT."</p>
                </div>
            </li>
        </ul>
    </div>
</div>



<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>

</body>
</html>