<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'terms', false)">
    <title>Lovappy | Terms</title>
    <meta></meta>
    <style></style>
    <link th:href="@{/css/web_pages/patent.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}">

</head>
<body>
<header th:replace="templates/lovappy-template :: header(1)"></header>

<!-- Termly Tracking Code -->

<iframe width="100%" style="height: 95vh" src="https://app.termly.io/document/terms-of-use-for-online-marketplace/ecf5fe43-3982-48e8-b15c-c59c0a81121e" frameborder="0" allowfullscreen>
    <p>Your browser does not support iframes.</p>
</iframe>
<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>

</body>
</html>