<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="email/email :: head(~{::title})">
    <title>lovappy Gift Sent</title>
</head>
<body style="padding: 0;">
<span class="preheader">You have recently sent a gift</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
                <tr class="email-header" bgcolor="#465a65" style="color: black;">
                    <td class="" style="padding: 15px 15px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="80%" align="left">
                                    <a href="/" th:href="${baseUrl}+'/'" class="logo" data-scroll>
                                        <img width="200px" src="../../static/images/logo2.png" th:src="${baseUrl}+'/images/logo2.png'" alt="Lovappy Logo">
                                    </a>
                                </td>
                                <td width="20%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" style="color: white;">Connect with us</td>
                                            </tr>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="16.6667%">
                                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/facebook.jpg'"></a>
                                                </td>
                                                <td width="16.6667%">
                                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/twitter.jpg'"></a>
                                                </td>
                                                <td width="16.6667%">
                                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/linkedin.jpg'"></a>
                                                </td>
                                                <td width="16.6667%">
                                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/instagram.jpg'"></a>
                                                </td>
                                                <td width="16.6667%">
                                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/pinterest.jpg'"></a>
                                                </td>
                                                <td width="16.6667%">
                                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/thumblr.jpg'"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Email Body -->
                <tr style="color: black;" bgcolor="#e2e2e2">
                    <td class="email-body" width="100%" cellpadding="0" cellspacing="0" style="padding: 0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%;">
                            <tr th:style="'background-image:url(' + ${baseUrl}+'/images/email-icon/giftmain.jpg'+');background-size: cover; background-position: center;'">
                                <td>
                                    <h1 style="text-align: center;    padding: 150px 0;
    color: white;
    font-size: 48px;
    margin: 0;">You have a gift</h1>
                                </td>
                            </tr>
                        </table>
                        <table class="" align="center" width="700" cellpadding="0" cellspacing="0" style="padding: 15px">
                            <!-- Body content -->
                            <tr>
                                <td align="center">
                                    <h2 style="text-align: center;">Check it out! <b>User #<span th:text="${fromUser}"></span> </b> has sent you a gift.</h2>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="color: black;"  th:utext="${body}">
                                    <h3 style="text-align: center;">Click below to see what it is and where you can pick it up!</h3>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a th:href="${url}"
                                       class="button button--green" target="_blank">View gift</a>
                                </td>
                            </tr>
                        </table>
                        <table style="color: black;" border="0" cellpadding="0" cellspacing="0" width="100%;">
                            <tr>
                                <td align="center" style="text-align: center;">Thanks, <br /> Lovappy Team</td>
                            </tr>
                            <tr>
                                <td align="center" >If you’re having trouble with the button above, copy and paste the URL below into your web browser.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a th:href="${url}" target="_blank" th:text="${url}"></a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <br />
                        <table border="0" cellpadding="0" cellspacing="0" width="100%;">
                            <tr>
                                <td align="center">
                                    <a href="/" th:href="${baseUrl}+'/'" class="logo" data-scroll>
                                        <img width="200px" src="../../static/images/logo2.png" th:src="${baseUrl}+'/images/logo2.png'" alt="Lovappy Logo">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Email Footer -->
                <tr bgcolor="#465a65">
                    <td align="center" style="padding: 15px 15px;">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="color: white; padding-bottom: 10px;">
                                    <span>121 Nework Avenue, Suite 509 Jersey City, NJ -7302 / 646-581-4666 / <a href="mailto:info@lovappy.com" target="_blank" style="color: white !important;">info@lovappy.com</a></span>
                                    <br/>
                                    <span th:text="'© '+${#calendars.format(#calendars.createNow(), 'yyyy')}+' LovAppy. All rights reserved.' "></span>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td width="16.6667%">
                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/facebook.jpg'"></a>
                                </td>
                                <td width="16.6667%">
                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/twitter.jpg'"></a>
                                </td>
                                <td width="16.6667%">
                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/linkedin.jpg'"></a>
                                </td>
                                <td width="16.6667%">
                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/instagram.jpg'"></a>
                                </td>
                                <td width="16.6667%">
                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/pinterest.jpg'"></a>
                                </td>
                                <td width="16.6667%">
                                    <a href="#"><img width="30px" src="facebook.png" th:src="${baseUrl}+'/images/email-icon/thumblr.jpg'"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
</body>
</html>