<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'mobile', false)">

    <title>Lovappy Mobile Application</title>
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/mobile.css"
          th:href="@{/css/web_pages/press.css}">
</head>

<body>
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="press-hero">
    <h1>PRESS</h1>
    <p>“SUCH AN INTERESTING CONCEPT! A UNIQUE SPIN ON MODERN DATING. I LOVE HOW I CAN BE ENTERTAINED WHEN I”M LOOKING FOR A MATCH.. AND EVEN WHEN I”M NOT!” <br> - SOURCE</p>
    <p class="right">IF YOU’RE INTERESTED IN WRITING A STORY ABOUT LOVAPPY. <br> PLEASE EMAIL PRESS@LOVAPPY.COM OR CALL (646) 581-4666</p>
</div>
<div class="press-content">
    <div class="sidebar">
        <ul>
            <li>
                <div class="info">
                    <span>06/22/2018</span>
                    <span>NYTIMES.COM</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </li>
            <li>
                <div class="info">
                    <span>06/22/2018</span>
                    <span>NYTIMES.COM</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </li>
            <li>
                <div class="info">
                    <span>06/22/2018</span>
                    <span>NYTIMES.COM</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="box box-12">
            <img src="../static/images/press1.jpg" th:src="@{/images/press1.jpg}" alt="Lovappy Mobile App" />
            <div class="content_info">
                <h4>LOVAPPY UPDATE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>June 25, 2018</span>
            </div>
        </div><!-- box -->
        <div class="box box-7">
            <img src="../static/images/mobile.png" th:src="@{/images/press2.jpg}" alt="Lovappy Mobile App" />
            <div class="content_info">
                <h4>LOVAPPY UPDATE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>June 25, 2018</span>
            </div>
        </div><!-- box -->
        <div class="box box-5">
            <img src="../static/images/mobile.png" th:src="@{/images/press2.jpg}" alt="Lovappy Mobile App" />
            <div class="content_info">
                <h4>LOVAPPY UPDATE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>June 25, 2018</span>
            </div>
        </div><!-- box -->
        <div class="box box-5">
            <img src="../static/images/mobile.png" th:src="@{/images/press2.jpg}" alt="Lovappy Mobile App" />
            <div class="content_info">
                <h4>LOVAPPY UPDATE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>June 25, 2018</span>
            </div>
        </div><!-- box -->
        <div class="box box-7">
            <img src="../static/images/mobile.png" th:src="@{/images/press2.jpg}" alt="Lovappy Mobile App" />
            <div class="content_info">
                <h4>LOVAPPY UPDATE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>June 25, 2018</span>
            </div>
        </div><!-- box -->
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>


</body>
</html>