<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Content Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<!--/*@thymesVar id="genre" type="com.realroofers.lovappy.service.music.dto.GenreDto"*/-->

<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:text="${genre.getId() == null ? 'Add Genre' : 'Edit Genre'}">
                Genre Details
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">
                <!-- /.box-header -->
                <!-- form start -->
                <form id="genreForm" class="form-horizontal" th:object="${genre}">
                    <div class="box-body">

                        <!-- ID -->
                        <div class="form-group" th:if="${genre.id != null}">
                            <label class="col-sm-2 control-label">ID</label>

                            <div class="col-sm-10">
                                <input disabled class="form-control col-sm-2" th:field="*{id}">
                                <input type="hidden" th:field="*{id}">
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input class="form-control col-sm-2" th:field="*{title}">
                            </div>
                        </div>

                        <!-- Enabled -->
                        <div class="form-group" th:if="${genre.id != null}">
                            <label class="col-sm-2 control-label">Enabled</label>

                            <div class="col-sm-10">
                                <input type="checkbox" th:field="*{enabled}">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button id="btn-save" type="button" class="btn btn-success">
                            Save <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                        </button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function() {

        $("#btn-save").click(function () {
            var saveBtn = $(this);
            saveBtn.prop("disabled", true);
            saveBtn.find("i").show();
            $.ajax({
                url: baseUrl + "lox/music/genres/save",
                type: "POST",
                data: $("#genreForm").serialize(),
                success: function (data) {
                    window.location.href = baseUrl + "lox/music/genres";
                },
                error: function (data) {
                    console.log(data);
                    saveBtn.prop("disabled", false);
                    saveBtn.find("i").hide();
                }
            });
        });
    });
</script>

</body>
</html>
