<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Email Management</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css"
          th:href="@{/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css}">
    <link th:href="@{/css/adminLTE/blogs.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.Editor.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.Editor.css}">
</head>



<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
               Template Details
                <!--<small>Optional description</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content"  >


            <div class="box box-info">
                <div class="box-header with-border col-md-4">
                    <h3 class="box-title"  th:text="'Template: '+${ #strings.defaultString(emailTemplate.name,'')}">Template: </h3>
                </div>
                <div class="box-header with-border">
                    <span style="float: left; color: red;  font-weight: 100;" th:text="${errorMessage}">ERROR</span>
                </div>


                <!--/*@thymesVar id="emailTemplate" type="com.realroofers.lovappy.service.mail.dto.EmailTemplateDto"*/-->
                <form enctype="multipart/form-data" action="#" th:action="@{/lox/emails/templates/__${emailTemplate.id}__/save}"  th:object="${emailTemplate}"  method="post" >
                    <div class="box-body">

                        <div class="form-group col-md-12">

                            <input type="checkbox" name="enabled"  th:field="*{enabled}" > Disable this email?</input>
                       </div>

                        <div class="form-group col-md-12">
                            <label for="subject">From Email</label>
                            <input type="email"
                                   th:field="*{fromEmail}"  rows="7" cols="100" required
                                   name="fromEmail" class="form-control" id="fromEmail"  />
                            <span th:if="${#fields.hasErrors('fromEmail')}" style="float: left; color: red;  font-weight: 100;" th:errors="*{fromEmail}" class="validation-error-msg"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="fromName">From Name</label>
                            <input type="text"
                                   th:field="*{fromName}"  rows="7" cols="100" required
                                   name="fromName" class="form-control" id="fromName"  />
                            <span th:if="${#fields.hasErrors('fromName')}" style="float: left; color: red;  font-weight: 100;" th:errors="*{fromName}" class="validation-error-msg"></span>
                        </div>


                        <div class="form-group col-md-12">
                               <label for="subject">Subject</label>
							    <input type="text"
                                          th:field="*{subject}"  rows="7" cols="100" required
                                          name="subject" class="form-control" id="subject"  />
                            <span th:if="${#fields.hasErrors('subject')}" style="float: left; color: red;  font-weight: 100;" th:errors="*{subject}" class="validation-error-msg"></span>
                        </div>



                        <div class="form-group col-md-12" >
                               <label for="body">Body</label>
							    <textarea type="text"
                                          th:field="*{body}"  cols="30" rows="10" required
                                          name="body" class="form-control" id="body" placeholder="Enter email body here...
										" > Enter email body here...
										</textarea>
                            <span th:if="${#fields.hasErrors('body')}" style="float: left; color: red;  font-weight: 100;" th:errors="*{body}" class="validation-error-msg"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="emailImage">File to upload:</label>

                            <img id="emailImage" th:src="@{__${emailTemplate.getImageUrl()}__}"
                                 class="img-rounded" width="160" height="160">

                            <input id="email-image" type="file" name="file"/>
                        </div>

                        <div style="width:100%;display: in-line; float:left;  text-align:center;">
                            <label for="subject" style="display: in-line;float:left;">Send a test email to </label>
                            <input type="email"   name="email" class="form-control" id="testEmail"  style="margin-right:5px;margin-left:5px;width:30%;display: in-line; float:left;" />
                            <button th:attr="data-id=${emailTemplate.id}" type="button" class="btn btn-primary" id="sendTestBtn"  style="display: in-line;float:left;">Send Email</button>

                        </div>

                    </div>
                    <div class="box-footer">
                        <span style="float: left; color: green;  font-weight: 100;" th:text="${successMessage}">Success</span>
                        <button type="submit" class="btn btn-primary">Save Template</button>
                        <a th:href="@{/lox/emails/templates/__${emailTemplate.id}__}" class="btn btn-default">Reset Template</a>
                    </div>

                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <div class="modal fade" id="modalSuccessTest"
         aria-labelledby="modalSuccessTest"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header" style="background-color:green;">
                        <button type="button" class="close"
                                data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" ><span>Test Successfully</span></h4>
                    </div>
                    <div class="modal-body">
                        <p> Test Email was Successfully sent</p>

                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">
                            OK
                        </button>
                    </div>

                </div>
        </div>
    </div>


    <div class="modal fade" id="modalFailureTest"
         aria-labelledby="modalFailureTest"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" ><span>Test Failure</span></h4>
                </div>
                <div class="modal-body">
                    <p> Test Email failed</p>

                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        OK
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<script type="text/javascript" src="../../static/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js" th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js" th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>
<script type="text/javascript" src="../../static/js/adminLTE/email-template.js" th:src="@{/js/adminLTE/email-template.js}"></script>

</body>
</html>
