<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Content Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Survey Questions
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Question</h3>
                </div>

                <form id="question-form" method="post">
                    <div class="box-body">
                        <div class="input-group">
                            <input name="title" type="text" class="form-control" placeholder="Enter question title">
                            <span class="input-group-btn">
                                <button id="btn-add" type="button" class="btn btn-success btn-flat">
                                    Add <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Survey Questions</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="survey-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <form th:action="@{/lox/survey/questions}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="filter" value="title" type="hidden"   >
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <button type="submit" class="headerBtn">Title</button>

                                </form>


                                </th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="question" type="com.realroofers.lovappy.service.survey.dto.SurveyQuestionDto"*/-->
                        <tr th:each="question : ${questions.content}">
                            <td th:text="${question.title}"></td>
                            <td>
                                <a th:href="@{/lox/survey/questions/__${question.id}__}" class="btn btn-primary btn-xs">
                                    Details
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--pagination-->
                <div th:replace="admin/fragments/pagination :: pagination (pageContent=${questions}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function() {

        $("#btn-add").click(function () {
            var saveBtn = $(this);
            saveBtn.prop("disabled", true);
            saveBtn.find("i").show();
            $.ajax({
                url: baseUrl + "lox/survey/questions/add",
                type: "POST",
                data: $("#question-form").serialize(),
                success: function (data) {
                    window.location = baseUrl + "lox/survey/questions/" + data;
                },
                error: function (data) {
                    console.log(data);
                    saveBtn.prop("disabled", false);
                    saveBtn.find("i").hide();
                }
            });
        });
    });
</script>

</body>
</html>
