<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Coupons Rules</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Coupon Rules
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#" th:href="@{/lox}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active"><a href="#" th:href="@{/lox/payment/coupon_rules}">
                    Here</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Rules</h3>

                    <button id="btn-add" type="button" class="btn btn-success pull-right">
                        Add New Rule
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>
                                Rule Description
                            </th>
                            <th>
                                Affected Category
                            </th>
                            <th>
                                Expiry Date
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="rule" type="com.realroofers.lovappy.service.order.dto.CouponRuleDto"*/-->
                        <tr th:each="rule : ${coupon_rules}" th:style="'background-color: ' +
                                ${#dates.createNow() > rule.expiryDate  ? '#e67979' : '#a0eac8'}">
                            <td th:text="${rule.ruleDescription}"></td>
                            <td th:text="${rule.affectedCategory}"></td>
                            <td th:text="${#dates.format(rule.expiryDate, 'MM-dd-yyyy')}"></td>
                            <td><a th:href="@{/lox/payment/coupon_rules/__${rule.id}__}" class="btn btn-default btn-xs">Details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function () {
        $("#btn-add").click(function () {
            window.location.href = baseUrl + "lox/payment/coupon_rules/new";
        });
    });
</script>

</body>
</html>
