<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Content Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Coupons Management
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Coupons</h3>

                    <button id="btn-add" type="button" class="btn btn-success pull-right">
                        Add Coupon
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>
                                <form th:action="@{/lox/payment/coupons}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden">
                                    <input name="filter" value="id" type="hidden">
                                    <button type="submit" class="headerBtn">Code</button>
                                </form>
                            </th>
                            <th>
                                Coupon Category
                            </th>
                            <th>
                                Coupon Description
                            </th>
                            <th>
                                <form th:action="@{/lox/payment/coupons}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="adType" type="hidden"   >
                                    <button type="submit" class="headerBtn">Discount Percent</button>
                                </form>
                            </th>
                            <th>
                                <form th:action="@{/lox/payment/coupons}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="usageNumber" type="hidden"   >
                                    <button type="submit" class="headerBtn">Expiry Date</button>
                                </form>
                            </th>
                            <th>
                                <form th:action="@{/lox/payment/coupons}" method="GET" accept-charset="ISO-8859-1">
                                    <input name="sort" th:value="${sort}" type="hidden"   >
                                    <input name="filter" value="email" type="hidden"   >
                                    <button type="submit" class="headerBtn">Usage</button>
                                </form>
                            </th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="coupon" type="com.realroofers.lovappy.service.order.dto.CouponDto"*/-->
                        <tr th:each="coupon : ${coupons}">
                            <td th:text="${coupon.couponCode}"></td>
                            <td th:text="${coupon.category}"></td>
                            <td th:text="${coupon.description}"></td>
                            <td th:text="${coupon.discountPercent}"></td>
                            <td th:text="${#dates.format(coupon.expiryDate, 'MM-dd-yyyy')}"></td>
                            <td th:text="${coupon.usageNumber}"></td>
                            <td><a th:href="@{/lox/payment/coupons/__${coupon.id}__}" class="btn btn-primary btn-xs">Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function () {
        $("#btn-add").click(function () {
            window.location.href = baseUrl + "lox/payment/coupons/new";
        });
    });
</script>

</body>
</html>
