<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},~{::style},~{::meta})">
    <meta name="viewport" content="width=device-width">
    <title>Lovappy | Who are you looking for?</title>

    <link href="../../../static/css/web_pages/my_profile.css" th:href="@{/css/web_pages/my_profile.css}"
          rel="stylesheet" type="text/css">
    <link href="../../../static/css/web_pages/registration_gender.css"
          th:href="@{/css/web_pages/registration_gender.css}" rel="stylesheet" type="text/css">

    <style>
        .error-msg{
            background: #faebd7; padding: 5px 10px;
            color: #ff0000;
            display: none;
        }
    </style>


</head>


<body>

<header th:replace="templates/lovappy-template :: header(2)"></header>

<div class="page-title">
    <h2>Registration</h2>
</div>

<div class="wrapper">
    <div class="row navigation-steps-area">
        <div class="grid-4 navigation-steps reg-section-title">
            Let's Start
        </div>
        <div class="grid-4 navigation-steps reg-section-title-active">
            Who are you looking for
        </div>
        <div class="grid-4 navigation-steps reg-section-title">
            Lets get to know you
        </div>
    </div>
    <form id="main-form" method="post" th:object="${info}">
        <input type="hidden" name="prefGender" th:field="*{prefGender}"/>
        <section id="lets-start-form-content">

            <div id="size-matter" class="row">
                <div class="gender-text">
                    <span class="preference-title">Does Size Matter?</span>
                </div>
                <div class="gender-answer">
                    <div class="uni-select">
                        <span>
                            <a href="javascript:void(0)">
                                <img class="preference" src="../../../static/images/looking-male-size-yes.png"
                                     th:src="@{/images/looking-male-size-yes.png}" alt="Looking size yes">
                                <p>Yes it does</p>
                            </a>
                            <input type="radio" name="penisSizeMatter" th:field="*{penisSizeMatter}"
                                   value="true"
                                   th:value="true"/>
                        </span>
                        <span>
                            <a href="javascript:void(0)">
                                <img class="preference" src="../../../static/images/looking-male-size-no.png"
                                     th:src="@{/images/looking-male-size-no.png}" alt="Looking size no">
                                <p>Doesn't matter</p>
                            </a>
                            <input type="radio" name="penisSizeMatter" th:field="*{penisSizeMatter}"
                                   value="false"
                                   th:value="false"/>
                        </span>
                    </div>
                </div>
                <div id="penisSizeMatterFormGroup">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div id="age-seeking-preference" class="row">
                <div class="gender-text">
                    <span class="preference-title">I'm Seeking Someone Between</span>
                </div>
                <div class="gender-answer">
                    <select id="age-min"
                            name="prefMinAge" th:field="*{prefMinAge}" th:remove="all-but-first">
                        <option th:each="i : ${#numbers.sequence( 18, 99)}" th:value="${i}" th:text="${i}">
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="72">72</option>
                        <option value="73">73</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="78">78</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                    </select>
                    <span style="color: black;">and</span>
                    <select id="age-max"
                            name="prefMaxAge" th:field="*{prefMaxAge}" th:remove="all-but-first">
                        <option th:each="i : ${#numbers.sequence( 18, 99)}" th:value="${i}" th:text="${i}">

                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30" selected>30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="72">72</option>
                        <option value="73">73</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="78">78</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                    </select>
                    <span style="color: black;">years old</span>
                </div>
                <div id="prefMaxAgeFormGroup">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div id="height-seeking-preference" class="row">
                <div class="gender-text">
                    <span class="preference-title">I'm</span>
                    <input type="radio" value="ft" id="radio_ft" name="height_unit" checked><label for="radio_ft">ft.</label></input>
                    <input type="radio" value="ft" id="radio_cm" name="height_unit"><label for="radio_cm">cm</label></input>
                </div>
                <div class="gender-answer ft_height_area">
                    <select id="height-ft" name="heightFt" th:field="*{heightFt}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                    <span style="color: black;">ft. and</span>
                    <select id="height-in" name="heightIn" th:field="*{heightIn}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9" selected>9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    <span style="color: black;">in</span>
                </div>
                <div class="gender-answer cm_height_area">
                    <input type="text" class="numeric" name="heightCM"  th:field="*{heightCM}"  style="border-radius: 0px;"/>
                    <span style="color: black;">cm</span>
                </div>
                <div id="heightCMFormGroup">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div id="seeking-someone" class="row">

                <div class="gender-text">
                    <span class="preference-title">I'm seeking someone</span>
                </div>
                <div class="gender-answer">
                    <div class="uni-select">
                        <span>
                            <a href="javascript:void(0)">
                                <p>Shorter Height</p>
                            </a>
                            <input type="radio" name="prefHeight" th:field="*{prefHeight}" value="SHORTER"
                                   th:value="SHORTER"/>
                        </span>
                        <span>
                            <a href="javascript:void(0)">
                                <p>Taller Height</p>
                            </a>
                            <input type="radio" name="prefHeight" th:field="*{prefHeight}" value="TALLER"
                                   th:value="TALLER"/>
                        </span>
                        <span>
                            <a href="javascript:void(0)">
                                <p>About The Same Height</p>
                            </a>
                            <input type="radio" name="prefHeight" th:field="*{prefHeight}" value="SAME"
                                   th:value="SAME"/>
                        </span>
                        <span>
                            <a href="javascript:void(0)">
                                <p>Height Doesn't Matter</p>
                            </a>
                            <input type="radio" name="prefHeight" th:field="*{prefHeight}" value="DOESNTMATTER"
                                   th:value="DOESNTMATTER"/>
                        </span>
                    </div>
                </div>
                <div   id="prefHeightFormGroup">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="row">
                <button class="ui button red reg-continue" id="back-button" style="float: none;">
                    Back
                </button>

                <button class="ui button red reg-continue" id="submit-btn" style="float: none;">
                    Continue
                </button>
            </div>
        </section>
    </form>

</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="../../../static/js/web_pages/lookingfor.js" th:src="@{/js/web_pages/lookingfor.js}" type="text/javascript"></script>

<script>
        $(function () {
            $("#birthdate").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0",
            });
            $('.numeric').numeric(null, ',');
            $('.cm_height_area').hide();
            $('#radio_ft').change(function () {
                if($(this).is(":checked")){
                    $('.ft_height_area').show();
                    $('.cm_height_area').hide();
                }
            });
            $('#radio_cm').change(function () {
                if($(this).is(":checked")){
                    $('.ft_height_area').hide();
                    $('.cm_height_area').show();
                }
            });
        });
    </script>
</body>
</html>