<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},~{::style},~{::meta})">
    <META NAME="robots" CONTENT="noindex"/>
    <title>Lovappy | My Profile</title>

    <link href="../../../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/responsive-nav.css" th:href="@{/css/responsive-nav.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/datepicker.css" th:href="@{/css/datepicker.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/profile-pic-upload.css" th:href="@{/css/profile-pic-upload.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/web_pages/profilepics.css" th:href="@{/css/web_pages/profilepics.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/recorder.css" th:href="@{/css/recorder.css}" rel="stylesheet" type="text/css"/>
    <link href="../../../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <link  href="https://cdn.rawgit.com/fengyuanchen/cropper/v2.2.1/dist/cropper.min.css" rel="stylesheet"/>
    <link href="../../static/css/image_crop.css" th:href="@{/css/image_crop.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../../static/css/semantic.css"
          th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/cropper.css}"/>

    <style>
        header nav li a{
            font-size: 15px !important;
        }

        .modal-footer {
            text-align: right;
            border-top: 1px solid #666;
            padding-top: 20px;
            margin-top: 10px;
        }
    </style>

</head>
<body>


<header th:replace="templates/lovappy-template :: header(2)"></header>

<div class="page-title" >
    <h2>Upload Voice Recording & Photos</h2>
</div>

<div class="wrapper">
    <div class="clearfix">
    <div class="wrapper-mini">
    <div class="register-nav">
        <ul>
            <li>Voice Recording</li>
            <li>Hand Photo</li>
            <li>Foot Photo</li>
            <li>Legs Photo</li>
            <li>Profile Photo</li>
        </ul>
    </div>
    <div class=" upload_icons_area clearfix">

        <!--lovstamp-->
        <div class="upload_icon"  id="record-container">
            <span class="triangle-icon"></span>
            <div class="upload_hidden_message">

            </div>
            <a href="#record-lovdrop" class="upload-image-wrapper">
                <img src="../../../static/images/icons/upload_icons/upload_lovdrops.png"
                     th:src="@{/images/icons/upload_icons/upload_lovdrops.png}" alt="Upload lovdrops" />
            </a>
        </div>
        <!--hands-->
        <div class="upload_icon" id="hands-container">
            <span class="triangle-icon" th:style="${profile.handsFileSkipped != null} ? 'bottom: -15px;' : ''"></span>
            <div class="upload_hidden_message">
                <!--<p th:text="@{${profile.handsFileSkipped ? 'User chosen not to upload hands photo' : 'Upload Hand Photo'}}"></p>-->
                <!--<p th:if="${profile.handsCloudFile.url == null && !profile.handsFileSkipped}">Upload Hand Photo</p>-->
            </div>
            <a th:class="'upload-image-wrapper '+${profile.handsCloudFile.url != null ? 'real-image' : ''}">
                <img  th:style="${profile.handsFileSkipped}?'display:none':'display:block'" th:src="@{${profile.getHandsCloudFileUrl()}}" alt="Skipped hand photo" />
                <div th:style="${profile.handsFileSkipped}?'display:block':'display:none'"  class="skip-upload skipp_foot">
                    <span>This user has chose not to upload a hand photo at this time.</span>
                </div>
            </a>
        </div>
        <!--foot-->
        <div class="upload_icon" id="feet-container">
            <span class="triangle-icon"  th:style="${profile.feetFileSkipped != null} ? 'bottom: -15px;' : ''"></span>
            <div class="upload_hidden_message">
                <!--<p th:text="@{${profile.feetFileSkipped ? 'User chosen not to upload hands photo' :'Upload foot Photo'}}"></p>-->
               <!-- <p th:if="${profile.feetCloudFile.url == null && !profile.feetFileSkipped}">Upload foot Photo</p>-->
            </div>
            <a th:class="'upload-image-wrapper '+${profile.feetCloudFile.url != null ? 'real-image' : ''}">
                <img th:style="${profile.feetFileSkipped}?'display:none':'display:block'"  th:src="@{${profile.getFeetCloudFileUrl()}}" alt="Skipped foot photo" />
                <div  th:style="${profile.feetFileSkipped}?'display:block':'display:none'" class="skip-upload skipp_foot">
                    <span>This user has chose not to upload a foot photo at this time.</span>
                </div>
            </a>
        </div>
        <!--legs-->
        <div class="upload_icon" id="legs-container">
            <span class="triangle-icon" th:style="${profile.legsFileSkipped != null} ? 'bottom: -15px;' : ''"></span>
            <div class="upload_hidden_message">
                <!--<p th:text="@{${profile.legsFileSkipped ? 'User chosen not to upload hands photo' : 'Upload legs Photo'}}"></p>-->
                <!--<p th:if="${profile.legsCloudFile.url == null && !profile.legsFileSkipped}">Upload legs Photo</p>-->
            </div>
            <a th:class="'upload-image-wrapper' + ${profile.legsCloudFile.url != null ? ' real-image' : ''}">
                <img th:style="${profile.legsFileSkipped}?'display:none':'display:block'"  th:src="@{${profile.getLegsCloudFileUrl()}}" alt="Skipped legs photo" />
                <div  th:style="${profile.legsFileSkipped}?'display:block':'display:none'" class="skip-upload skipp_foot">
                    <span>This user has chose not to upload a legs photo at this time.</span>
                </div>
            </a>
        </div>
        <!--profile-->
        <div class="upload_icon" id="profile-pic-container">
            <span class="triangle-icon"></span>
            <div class="upload_hidden_message">
               <!-- <p th:if="${profile.profilePhotoCloudFile.url == null}">
                    Upload Profile Photo
                </p>-->
            </div>
            <a href="javascript:void(0);" class="upload-image-wrapper">
                <img th:src="@{${profile.getProfilePhotoCloudFileUrl()}}" alt="Profile photo" />
            </a>

        </div>

    </div>
    <div class="row">
        <div id="error_container" style="display:none; clear: both;">
            Voice Recording is required. Skip each photos if you don't like to upload one for now.
        </div>
    </div>

    <div id="record-lovdrop" class="upload-container row" style="display: none;">
        <div class="flex">
        <div class="upload-desc-area" >
            <div th:if="${lovstamp == null || lovstamp.audioFileCloud == null}">
                <p>Check out these examples to help you get started.</p>
                <ul id="samples-list">
                    <li>
                        <a href="javascript:void(0);" class="list-link">Example 1</a>
                        <img src="../../../static/images/play_btn_side.png"
                             th:src="@{/images/play_btn_side.png}" alt="arrow"/>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="list-link">Example 2</a>
                        <img src="../../../static/images/play_btn_side.png"
                             th:src="@{/images/play_btn_side.png}" alt="arrow"/>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="list-link">Example 3</a>
                        <img src="../../../static/images/play_btn_side.png"
                             th:src="@{/images/play_btn_side.png}" alt="arrow"/>
                    </li>
                </ul>
            </div>
            <div th:if="${lovstamp != null && lovstamp.audioFileCloud != null}">
                <p th:unless="${lovstamp.skip}" class="success_upload">Lovstamp is recorded successfully.</p>
            </div>
        </div>
        <div class="upload-main-area">
            <p th:if="${lovstamp == null || lovstamp.audioFileCloud == null}">Start recording by tapping
                the button below,. Tap again to stop recording. When you are satisfied, press SAVE.</p>
            <div class="show-record">
                <div th:style="${lovstamp != null && lovstamp.audioFileCloud != null ? 'width: 100% !important;' : ''}">
                    <div class="recording row">
                        <div th:if="${lovstamp == null || lovstamp.audioFileCloud == null}" class="language grid-12">
                            <label for="language">Lovstamp recorded in:</label>
                            <select id="language" th:remove="all-but-first">
                                <option th:each="language : ${languages}"
                                        th:value="${language.id}" th:text="${language.name}">
                                </option>
                                <option>English</option>
                                <option>French</option>
                                <option>Arabic</option>
                            </select>
                            <input id="selected-language-id" type="hidden">
                        </div>

                        <div class="record-btn-container grid-12">
                            <div id="record-btn" class="round-button" onclick="toggleRecording()">
                                <div id="round-button-circle" class="round-button-circle"
                                     th:classappend="${lovstamp == null || lovstamp.audioFileCloud == null} ? 'round-button-circle-red' : 'round-button-circle-green'">
                                    <div href="#" class="round-button-div">
                                                        <p th:text="${lovstamp == null || lovstamp.audioFileCloud == null} ? 'Record' : 'Play'"
                                                              id="record-btn-text"
                                                              th:attr="data-action=${lovstamp == null || lovstamp.audioFileCloud == null} ? 'Record' : 'Play'">Record</p>
                                        <br/>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recording-timer">
                            <span id="timer">00:00</span>
                        </div>
                        <div class="recording-actions grid-12">
                            <button th:if="${lovstamp == null || lovstamp.audioFileCloud == null}" id="save-btn"
                                    href="#" class="btn btn-blue"
                                    onclick="upload()" disabled>
                                <i class="fa fa-circle-o-notch fa-spin"
                                   style="display: none;margin-right: 2px;"></i>Save
                            </button>
                            <button id="reset-btn" href="#" class="btn btn-gray" onclick="reset()">Start
                                Over
                            </button>
                            <!--<button id="skip-btn" th:if="${lovstamp == null || !lovstamp.skip}" href="#" class="btn btn-gray" onclick="skipVoice()">Skip for now-->
                            <!--</button>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="white-area">
            <div class="person-text">
                You really should record your voice so the right person can find you!
                Record your very own Voice Recording that can be heard by all LovAppy and LovAppy Lite Users!
                You can come back and re-record at any time.
            </div>
            <div class="row">
                Don’t forget to be original.
            </div>
            <div class="row">
                Remember to sound natural.
            </div>
        </div>
        <div class="show-div" id="record-div-1">
            <audio id="gum" autoplay muted></audio>
            <audio id="recorded" style="visibility: hidden"></audio>
        </div>
        </div>
    </div><!-- recordNow ends here -->


        <div id="upload-hands" class="upload-container" style="display: none;">
            <div class="flex">
        <div class="upload-desc-area">
            <p>Click the icon on the right side to open your camera or
                you can
                upload a photo from your gallery. When you have chosen a photo, click UPLOAD to save it.</p>
        </div>
        <div class="upload-main-area">
            <div class="replace-box">
            <div class="select-file-button" >
                <label class="do-preview-button action-button" for="file-upload-hands">+ ADD</label>
                <input id="file-upload-hands" name="file" type="file"/>
            </div>

            <div class="upload-action">
                <div><input type="button" class="do-upload-button action-button" name="upload" value="UPLOAD">
                </div>
                <div class="sub-label">replace image?</div>
                <div><input type="button" class="skip-upload-button action-button" name="skipHands"
                            value="Skip For Now"></div>
            </div>
            </div>
            <div class="preview-file" >
                <img  th:style="${profile.handsFileSkipped}?'display:none':'display:block'" th:src="@{${profile.getHandsCloudFileUrl()}}" alt="Upload skip" />
                <div th:style="${profile.handsFileSkipped}?'display:block':'display:none'"  class="skip-upload skipp_foot">
                    <span>This user has chose not to upload a hand photo at this time.</span>
                </div>
                <div class="progress" style="visibility: hidden;">
                    <i class="fa fa-spinner fa-spin progress" style="font-size:24px"></i>
                </div>
            </div>
        </div>
        <div class="white-area">
            <div class="person-text">
                A person&apos;s hands could tell you a lot about someone. So...put your best
                hand
                forward! If you&apos;re right-handed, please share a picture of your left hand. If you&apos;re
                left-handed,
                please share a picture of your right hand.
            </div>
        </div>
            </div>
    </div><!--uploadHands ends here-->

    <div id="upload-legs" class="upload-container" style="display: none;">
        <div class="flex">
        <div class="upload-desc-area">
            <p>Click the icon on the right side to open your camera or you can upload a photo from your gallery. When
                you have chosen a photo, click UPLOAD to save it.</p>
        </div>

        <div class="upload-main-area">
            <div class="replace-box">
            <div class="select-file-button">
                <label class="do-preview-button action-button" for="file-upload-legs">+ ADD</label>
                <input id="file-upload-legs" name="file" type="file"/>
            </div>

            <div class="upload-action">
                <div><input type="button" class="do-upload-button action-button" name="upload" value="UPLOAD">
                </div>
                <div class="sub-label">replace image?</div>
                <div><input type="button" class="skip-upload-button action-button" name="skipLegs"
                            value="Skip For Now"></div>
            </div>
        </div>
            <div class="preview-file">
                <img  th:style="${profile.legsFileSkipped}?'display:none':'display:block'"  src="../../../static/images/upload_legs_ctr.png"
                      th:src="@{${profile.getLegsCloudFileUrl()}}" alt="Upload skip" />

                <div  th:style="${profile.legsFileSkipped}?'display:block':'display:none'" class="skip-upload skipp_foot">
                    <span>This user has chose not to upload a legs photo at this time.</span>
                </div>
                <div class="progress" style="visibility: hidden;">
                    <i class="fa fa-spinner fa-spin progress" style="font-size:24px"></i>
                </div>
            </div>
        </div>

        <div class="grid-2 white-area">
            <div class="person-text">
                <p>Show off your legs here</p>
            </div>
        </div>
        </div>
    </div><!--uploadLegs ends here-->

    <div id="upload-feet" class="upload-container" style="display: none;">
        <div class="flex">
        <div class="upload-desc-area" >
            <p>Click the icon on the right side to open your camera or you can upload a photo from your gallery. When
                you have chosen a photo, click UPLOAD to save it.</p>
        </div>
        <div class="upload-main-area" >
            <div class="replace-box">
            <div class="select-file-button">
                <label class="do-preview-button action-button" for="file-upload-feet">+ ADD</label>
                <input id="file-upload-feet" name="file" type="file"/>
            </div>

            <div class="upload-action">
                <div><input type="button" class="do-upload-button action-button" name="upload" value="UPLOAD">
                </div>
                <div class="sub-label">replace image?</div>
                <div><input type="button" class="skip-upload-button action-button" name="skipFeet"
                            value="Skip For Now"></div>
            </div>
        </div>
            <div class="preview-file">

                <img th:style="${profile.feetFileSkipped}?'display:none':'display:block'"  th:src="@{${profile.getFeetCloudFileUrl()}}" alt="Upload skip" />
                <div  th:style="${profile.feetFileSkipped}?'display:block':'display:none'"  class="skip-upload skipp_foot">
                    <span>This user has chose not to upload a foot photo at this time.</span>
                </div>
                <div class="progress" style="visibility: hidden;">
                    <i class="fa fa-spinner fa-spin progress" style="font-size:24px"></i>
                </div>
            </div>
        </div>
        <div class="white-area" >
            <div class="person-text">
                A person&apos;s feet could tell you a lot about someone. So...put your best
                foot forward!
                Share a picture of your foot, with or without shoes on - the choice is yours! You can take a new
                picture at any
                time.
            </div>
        </div>
        </div>
    </div><!--uploadFoot ends here-->

    <div id="upload-profile-pic" class="upload-container" style="display: none;">
        <div class="flex">
        <div class="upload-desc-area" >

            <p id="publicText">Your photo will be visible to all Lovappy users.</p>
            <p id="customText" style="display:none">Your profile photo will be locked until you unlock it. It is on a per user basis, so anyone you
            not allow access to will not be able to view it.</p>

            <p id="managedText" style="display:none">Your profile photo will be locked and not visible to anyone until you interact in one of three methods (voice messages, gifts, songs) at least three times. You will receive a notification once the algorithm is activated for a user. You can adjust this number to a minimum of 1 (no maximum).</p>
            <div class="quantity clearfix managedCounter" style="display:none">
                <input id="managedCounter" type="number" min="1" max="100" step="1" value="1" >
            </div>
        </div>
        <div class="upload-main-area" >
            <div class="replace-box">
            <div class="select-file-button" style="padding-top: 10%;">
                <label id="upload-pictures" class="action-button" >Upload</label>
            </div>

            <div class="upload-action" style="padding-top: 10%;">
                <div>
                    <br/>
                </div>
                <div class="sub-label profile-picture-visibility">Profile picture visibility</div>
                <div >
                    <ul class="manual-algorithm">
                        <li>
                            <input class="access-profile-pic" type="radio" name="choosePicAccess" value="true" th:value="PUBLIC"  id="allUserAccess" checked >Public</input>
                        </li>
                        <li>
                            <input class="access-profile-pic" type="radio" name="choosePicAccess" value="false" th:value="PRIVATE" id="customUserAccess" >Manual Control</input>
                        </li>
                        <li>
                            <input class="access-profile-pic" type="radio" name="choosePicAccess" value="false" th:value="MANAGED" id="managedUserAccess">Lovappy Managed Algorithm</input>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="preview-file" style="text-align: center; ">
                <img src="../../../static/images/foot_pic_ctr.png"
                     th:src="@{''+${profile.getProfilePhotoCloudFileUrl()}}" alt="Profile photo" />
                <div class="progress" style="visibility: hidden;">
                    <i class="fa fa-spinner fa-spin progress" style="font-size:24px"></i>
                </div>
            </div>
        </div>
        </div>
    </div><!--upload profile photo ends here-->
    </div>

    <!--Let's Go-->
    <div class="grp-actions">
        <button type="button" id="letsGo" class="inactive-submit">Let's Go</button>
    </div>
    </div>
    <div class="bac-reg-btn">
        <a href="#registration/profilepics" th:href="@{/registration/personalitystatus}">Back</a>
    </div>

    <!-- Upload Image Modal -->
    <div class="ui modal" data-edit="crop-image">
        <i class="close icon"></i>
        <div class="header">
            Upload Image
        </div>
        <div class="content">
            <form id="image-upload-form">
                <div class="row lov-modal-content">
                    <div>
                        Image Type
                    </div>
                    <div>
                        <input id="image-type" name="image-type" type="text" disabled/>
                    </div>
                </div>
                <div class="row lov-modal-content">
                    <div>
                        <span>Choose Image</span>
                    </div>
                    <div>
                        <canvas id="canvas">
                            Your browser does not support the HTML5 canvas element.
                        </canvas>


                        <div id="result"></div>
                    </div>

                    <div>
                        <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
                        <input type="file" id="fileInput" accept="image/*" />
                        <input type="button" id="btnCrop" value="Crop" name="image-upload" />
                        <input type="button" id="btnRestore" value="Restore" />
                    </div>


                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui button btn-close-modal">Cancel</div>
            <div id="btn-save-image" class="ui button">Save</div>
        </div>
    </div>
</div>

<div id="errMicModal" data-edit="error-popup" class="ui modal">
    <i class="close icon"></i>
    <div th:utext="#{recorder.error.title}" class="header"></div>
    <div style="padding: 40px;">
        <span th:utext="#{recorder.error.content}" style="font-size: 2em"></span>
    </div>
    <div class="actions">
        <div class="ui button btn-close-modal">OK</div>
    </div>
</div>
<div th:replace="fragments/image-uploader :: upload-modal">
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../../static/js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
<script src="../../static/js/numeric/jquery.numeric.min.js" th:src="@{/js/numeric/jquery.numeric.min.js}"
        type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/howler/howler.core.min.js" th:src="@{/js/howler/howler.core.min.js}"></script>
<script src="../../static/js/howler/howler.min.js" th:src="@{/js/howler/howler.min.js}"></script>
<script src="../../static/js/WebAudioRecorder/WebAudioRecorder.js"
        th:src="@{/js/WebAudioRecorder/WebAudioRecorder.js}"></script>
<script src="../../static/js/notify.min.js" th:src="@{/js/notify.min.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script th:src="@{/js/vendor/jquery/validation/jquery.validate.js}"></script>
<script th:src="@{/js/vendor/jquery/validation/additional-methods.js}"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script th:src="@{/js/vendor/jquery/loadingoverload/loadingoverlay.min.js}"></script>
<script th:src="@{/js/vendor/jquery/loadingoverload/loadingoverlay_progress.min.js}"></script>
<script th:src="@{/js/vendor/jquery/jquery.i18n.properties.min.js}"></script>

<script src="../../static/js/fastclick.js" th:src="@{/js/fastclick.js}" type="text/javascript"></script>
<script src="../../static/js/scroll.js" th:src="@{/js/scroll.js}" type="text/javascript"></script>

<script src="../../static/js/utility.js" th:src="@{/js/utility.js}" type="text/javascript"></script>
<script src="../../static/js/imgLiquid-min.js" th:src="@{/js/imgLiquid-min.js}"></script>
<!--<script src="../../static/js/jquery.cropit.js" th:src="@{/js/jquery.cropit.js}"></script>-->
<script src="https://fengyuanchen.github.io/js/common.js"></script>
<script src="../../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="../../static/js/cropper.min.js" th:src="@{/js/cropper.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var root = "[(@{/})]";
    var popupMessage = [[${popup_msg}]];
    var popupMessageTitle = [[${popup_msg_title}]];
    var popupMessageText = [[${popup_msg_text}]];
    /*]]>*/
    var port = window.location.port;
    var baseUrl = window.location.protocol + '//' + window.location.hostname + (port !== 80 ? ':' + port : '' ) + root;
</script>

<script type="text/javascript">
    $().ready(function () {

        $('.toggle-nav').click(function () {
            $('.responsive-nav').toggle();
        });


    });

</script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script th:if="${activeProfile == 'production'}" async
        src="https://www.googletagmanager.com/gtag/js?id=UA-106943661-1"></script>
<script th:if="${activeProfile == 'production'}">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-106943661-1');
</script>

<script src="../../../static/js/jquery-upload/jquery.ui.widget.js"
        th:src="@{/js/jquery-upload/jquery.ui.widget.js}"></script>
<script src="../../../static/js/jquery-upload/jquery.fileupload.js"
        th:src="@{/js/jquery-upload/jquery.fileupload.js}"></script>
<script src="../../../static/js/jquery-upload/jquery.iframe-transport.js"
        th:src="@{/js/jquery-upload/jquery.iframe-transport.js}"></script>
<script src="../../../static/js/jquery-upload/load-image.all.min.js"
        th:src="@{/js/jquery-upload/load-image.all.min.js}"></script>
<script src="../../../static/js/jquery-upload/canvas-to-blob.min.js"
        th:src="@{/js/jquery-upload/canvas-to-blob.min.js}"></script>
<script src="../../../static/js/jquery-upload/jquery.fileupload-process.js"
        th:src="@{/js/jquery-upload/jquery.fileupload-process.js}"></script>
<script src="../../../static/js/jquery-upload/jquery.fileupload-image.js"
        th:src="@{/js/jquery-upload/jquery.fileupload-image.js}"></script>
<script src="../../../static/js/jquery-upload/jquery.fileupload-validate.js"
        th:src="@{/js/jquery-upload/jquery.fileupload-validate.js}"></script>
<script src="../../../static/js/jquery-upload/profile-pic-upload.js"
        th:src="@{/js/jquery-upload/profile-pic-upload.js}"></script>
<script src="../../static/js/cropper.min.js" th:src="@{/js/cropper.min.js}"></script>
<script src="../../../static/js/image-cropper/image-cropper.js" th:src="@{/js/image-cropper/image-cropper.js}"></script>

<script th:inline="javascript">
        /*<![CDATA[*/
        var recordedSeconds = [[${lovstamp == null ? 0 : lovstamp.recordSeconds}]];

        var recordedMinutes = 0;
        var validRecording = [[${lovstamp != null && lovstamp.audioFileCloud != null && lovstamp.recordSeconds > 3}]];
        var recordFile = [[${(lovstamp == null || lovstamp.audioFileCloud == null) ? null : lovstamp.audioFileCloud.url}]];
        var id = [[${lovstamp == null ? -1 : lovstamp.id}]];
        /*]]>*/
    </script>

<script src="../../../static/js/jquery-upload/profile-pic-upload-audio.js"
        th:src="@{/js/jquery-upload/profile-pic-upload-audio.js}"></script>
<script src="../../../static/js/web_pages/subscription.js" th:src="@{/js/web_pages/subscription.js}"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $('.upload_icon').click(function () {
                console.log('clicked');
                $('.triangle-icon').each(function () {
                    $(this).hide();
                });
                $(this).children('.triangle-icon').toggle();
            });

            $('.language').on("change", '#language',function () {
                $("#selected-language-id").val($(this).val());
            });


            $('#upload-pictures').on('click', function (e) {
                e.preventDefault();
                $('#upload-modal').modal('show');
            });

            $('#upload-button').click(function () {
                $('#inputImage').click();
            });
        });

        var options = {
            minCropBoxWidth: 198,
            minCropBoxHeight: 200,
            imageSmoothingEnabled: false,
            imageSmoothingQuality: 'high',
            aspectRatio: 198 / 200,
            preview: $('#img2')
        };

        function uploadFile() {

            $('#image').cropper('getCroppedCanvas',{ fillColor: '#FFFFFF' }).toBlob(function (blob) {
                var formData = new FormData();

                formData.append('file', blob);

                $.ajax({
                    url: baseUrl + "/api/v1/user/profile/photo/upload",
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: formData,
                    success: function(data) {
                        $('#upload-modal').modal('hide');
                        location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status === 400)
                            showNotifyErrorMessages(jqXHR.responseJSON);
                        else if (jqXHR.status === 401)
                            window.location.href = baseUrl + "login";
                    }
                });
            });
        }

            jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });
    </script>



<!--<script src="https://cdn.rawgit.com/fengyuanchen/cropper/v2.2.1/dist/cropper.min.js"></script>-->
<!--<script src="../../static/js/image-crop.js" th:src="@{/js/image-crop.js}"></script>-->
</body>
</html>