<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},_,~{::meta})">
    <META NAME="robots" CONTENT="noindex">
    <title>Lovappy | Last one! </title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/web_pages/subscription.css"
          th:href="@{/css/web_pages/subscription.css}">


</head>
<body>

<!--<div class="logo logo-sub clearfix">
    <a href="#"><img src="../../static/images/logo.png" th:src="@{/images/logo2.png}" alt="Logo"></a>
</div>-->

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>


<div class="title clearfix">
    <div class="container">
        Welcome to Lovappy Lite!
    </div>
</div>

<div class="clearfix subscription">
    <div class="container">
        <div class="col-6">
            <h3>Thank you for signing up for Lovappy Lite! </h3>
            <h5>You will receive an email with a link to verify your account.</h5>
            <img th:src="@{/images/web_hi_res_512.png}" alt="Lie Icon">
            <p>You will be redirected to Lovappy Radio.</p>
        </div>
        <div class="col-6 lovapy-prime">
            <h1>Lovappy Prime</h1>
            <img th:src="@{/images/primelogo.png}" alt="Lie Icon">
            <p>COMING SOON!</p>
        </div>
    </div>
</div>
<!--<div class="wrapper types-container">
    <div class="grid-6 types-container-title tomato-red-color">
        <h2>
            <span style="color: #b8c579;">Last</span> one!
        </h2>
        <p>Thanks for choosing Lovappy.</p>
    </div>
    <div class="grid-6">
        <div style="color: #ffffff;">
            <div class="subscription-type-area">
                <input id="lite-button" type="button" name="subscriptionType" value="LITE" data-type="LITE"
                       th:class="${#strings.equalsIgnoreCase(subscriptionType,'lite') || #strings.equalsIgnoreCase(subscriptionType,'lets go!') } ? active : ''"/>
            </div>
            <div class="subscription-type-area">
                <p>Coming soon!</p>

                <input class="yellow-color" id="premium-button" disabled type="button" name="subscriptionType"
                       value="PREMIUM" data-type="PREMIUM"
                       th:class="${#strings.equalsIgnoreCase(subscriptionType,'premium')} ? active : ''"/>
            </div>
        </div>
    </div>
</div>-->
<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<!--<script src="../../../static/js/web_pages/subscription.js" th:src="@{/js/web_pages/subscription.js}"></script>-->

<script type="text/javascript">
        $(document).ready(function(){

            $('#lite-button').mouseover(function () {
                $('#lite-button').val("Lets Go!");
            });
            $('#lite-button').mouseleave(function () {
                $('#lite-button').val("Lite");
            });

            window.setTimeout(function() {
            	 window.location.href = baseUrl+'radio';
            }, 5000);


        });
    </script>
</body>
</html>