<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'dating-places', false)">
    <title>Lovappy | Dating place</title>

    <style>
        .error-msg {
            background: #ffffff;
            padding: 0px 10px;
            font-color: #ff0000;
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../static/css/square-payment-form.css"
          th:href="@{/css/square-payment-form.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/dating.css"
          th:href="@{/css/web_pages/dating.css}">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="../../static/css/adminLTE/bootstrap.min.css"
          th:href="@{/css/adminLTE/bootstrap.min.css}">
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" type="text/css" href="../../static/css/multiple-image-upload/jquery.fileupload.css"
          th:href="@{/css/multiple-image-upload/jquery.fileupload.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/multiple-image-upload/jquery.fileupload-ui.css"
          th:href="@{/css/multiple-image-upload/jquery.fileupload-ui.css}">

</head>
<body>
<!--/*@thymesVar id="datingPlace" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceDto"*/-->
<!--/*@thymesVar id="atmospheres" type="java.util.ArrayList<com.realroofers.lovappy.service.datingPlaces.dto.PlaceAtmosphereDto>"*/-->
<!--/*@thymesVar id="foodTypes" type="java.util.ArrayList<com.realroofers.lovappy.service.datingPlaces.dto.FoodTypeDto>"*/-->
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="main-section">
    <img src="../../images/icons/right_arrow.png"
         th:src="@{/images/dating/dating-main.jpg}" alt="right arrow">
    <h1>Best Dating Places</h1>
</section>

<section class="add-new-location">
    <input type="hidden" id="isAmbassadorOnly"
           th:value="${(!#lists.isEmpty(userRoles) && #lists.size(userRoles) == 1 && #lists.contains(userRoles,'EVENT_AMBASSADOR') == true)?'1':''}">
    <input id="place-id1" type="hidden">
    <form id="dating-place-form" method="post" name="datingPlace" th:object="${datingPlace}">
        <div class="container clearfix">
            <div class="col-xs-6">
                <div class="mini-container">
                    <h2>Complete Claiming</h2>
                    <input id="datin-place-id" type="hidden" th:field="*{datingPlacesId}">
                    <input type="text" id="placeName" placeholder="Name of Location" name="placeName"
                           th:field="*{placeName}">
                    <div id="placeNameFormGroup">
                        <span class="error-msg"></span>
                    </div>
                    <input type="text" id="addressLine" placeholder="Address Line 1" name="addressLine"
                           th:field="*{addressLine}">
                    <div id="addressLineFormGroup">
                        <span class="error-msg"></span>
                    </div>
                    <input type="text" id="addressLine2" placeholder="Address Line 2" name="addressLineTwo"
                           th:field="*{addressLineTwo}">
                    <input id="latitude" type="hidden" name="latitude" th:field="*{latitude}">
                    <input id="longitude" type="hidden" name="longitude" th:field="*{longitude}">
                    <div class="city-zip-code">
                        <ul class="clearfix">
                            <li>
                                <input type="text" id="city" placeholder="City" name="city" th:field="*{city}">
                                <div id="cityFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </li>
                            <li>
                                <input type="text" id="state" placeholder="State" name="state" th:field="*{state}">
                                <div id="stateFormGroup">
                                    <span class="error-msg"></span>
                                </div>
                            </li>
                            <li>
                                <input type="text" id="zipCode" placeholder="Zip Code" name="zipCode"
                                       th:field="*{zipCode}">
                                <!--                           <div id="zipCodeFormGroup">
                                                               <span class="error-msg"></span>
                                                           </div>-->
                            </li>
                        </ul>
                    </div>
                    <div class="country">
                        <select name="country" id="country" required="" th:field="*{country}">
                        </select>
                        <div id="btn-search-map" class="ui button small blue">Verify</div>
                        <div id="verifyFormGroup">
                            <span class="error-msg"></span>
                        </div>
                        <div id="countryFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>

                    <div class="upload-photo-btn">
                        Upload Photo
                    </div>
                    <input id="dating-place-picture" type="hidden"
                           th:field="*{placesAttachmentDtos[0].picture.id}"/>
                    <input id="dating-place-cover-picture" name="" type="hidden" th:field="*{coverPicture.id}"/>
                    <input id="image-description" type="hidden" th:field="*{placesAttachmentDtos[0].imageDescription}"/>

                    <div class="how-to-be">

                        <textarea name="" id="short-bio" cols="30" placeholder="Write a short bio about your location"
                                  rows="10" th:field="*{placeDescription}"></textarea>
                        <div id="placeDescriptionFormGroup">
                            <span class="error-msg"></span>
                        </div>

                        <div class="add-dating-check">
                            <h3>Atmosphere</h3>
                            <ul>
                                <li th:each="atmosphere,iter : ${atmospheres}" th:if="${iter.index < 6}">
                                    <label>
                                        <input class="radio-select" type="checkbox" id="atmosphere" name="atmosphere"
                                               th:value="${atmosphere.atmosphereName}" th:field="*{placeAtmospheres}"
                                               th:text="${atmosphere.atmosphereName}">
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li th:each="atmosphere,iter : ${atmospheres}"
                                    th:if="${iter.index >= 6 && iter.index <12}">
                                    <label for="atmosphere6">
                                        <input class="radio-select" type="checkbox" id="atmosphere6" name="atmosphere6"
                                               th:value="${atmosphere.atmosphereName}" th:field="*{placeAtmospheres}"
                                               th:text="${atmosphere.atmosphereName}">
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li for="atmosphere12" th:each="atmosphere,iter : ${atmospheres}"
                                    th:if="${iter.index >= 12 && iter.index <18}">
                                    <label>
                                        <input class="radio-select" type="checkbox" id="atmosphere12"
                                               name="atmosphere12" th:value="${atmosphere.atmosphereName}"
                                               th:field="*{placeAtmospheres}"
                                               th:text="${atmosphere.atmosphereName}">
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="add-dating-check">
                            <h3>Food</h3>
                            <ul>
                                <li th:each="foodType,iterCount : ${foodTypes}" th:if="${iterCount.index <3}">
                                    <label for="food">
                                        <input class="radio-select" type="checkbox" id="food"
                                               th:value="${foodType.foodTypeName}" th:field="*{foodTypes}"
                                               th:text="${foodType.foodTypeName}" name="food">
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li th:each="foodType,iterCount : ${foodTypes}"
                                    th:if="${3 <= iterCount.index && iterCount.index <6}">
                                    <label for="food3">
                                        <input class="radio-select" type="checkbox" id="food3"
                                               th:value="${foodType.foodTypeName}" th:field="*{foodTypes}"
                                               th:text="${foodType.foodTypeName}"
                                               name="food3">
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li th:each="foodType,iterCount : ${foodTypes}"
                                    th:if="${6 <= iterCount.index && iterCount.index <9 }">
                                    <label for="food5">
                                        <input class="radio-select" type="checkbox" id="food5"
                                               th:value="${foodType.foodTypeName}" th:field="*{foodTypes}"
                                               th:text="${foodType.foodTypeName}"
                                               name="food5">
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="pets-hood">
                            <ul>
                                <h3>Pets Allowed</h3>
                                <li>
                                    <label for="pets">
                                        <input class="radio-select" type="radio" id="pets" value="true"
                                               name="pets" th:field="*{petsAllowed}" th:value="true">
                                        Yes
                                    </label>
                                </li>
                                <li>
                                    <label for="pets1">
                                        <input class="radio-select" type="radio" id="pets1" value="false"
                                               name="pets" th:field="*{petsAllowed}" th:value="false">
                                        No
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <h3>Neighbor Hood</h3>
                                <li>
                                    <label>
                                        <input class="radio-select" type="radio" th:field="*{neighborHood}"
                                               th:value="RURAL" name="neighbor">
                                        Rural
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input class="radio-select" type="radio" th:field="*{neighborHood}"
                                               th:value="URBAN" name="neighbor">
                                        Urban
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input class="radio-select" type="radio" th:field="*{neighborHood}"
                                               th:value="SUBURBAN"
                                               name="neighbor">
                                        Suburban
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="would-youlike">
                            <p>Would you like your location to be featured? <span><i class="fa fa-info"
                                                                                     aria-hidden="true"></i>
                            <span>Your place can be featured on the Dating Places main page on the map and/or Lovappy Radio on a LovStamp</span></span>
                            </p>
                            <ul>
                                <li>
                                    <label for="youlike-yes">
                                        <input type="radio" id="youlike-yes" name="featured-a" value="a"
                                               th:field="*{featured}" th:value="true">
                                        Yes
                                    </label>
                                </li>
                                <li>
                                    <label for="youlike-no">
                                        <input type="radio" id="youlike-no" name="featured-a" value="b"
                                               th:field="*{featured}" th:value="false">
                                        No
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="how-to-be-2">
                        <h3>How would you like to be featured?</h3>
                        <label for="featured-map"><input type="checkbox" id="featured-map" th:field="*{mapFeatured}"> On
                            the Map (+ $5.00)</label>
                        <label for="featured-lovstamp"><input type="checkbox" id="featured-lovstamp"
                                                              th:field="*{lovStampFeatured}"> On a LovStamp (+
                            $8.00)</label>
                        <div id="featureFormGroup">
                            <span class="error-msg"></span>
                        </div>
                    </div>
                    <div id="manageFormGroup">
                        <span class="error-msg"></span>
                    </div>

                </div>
            </div>
            <div class="col-xs-6">
                <div class="mini-container">
                    <div class="add-a-location">
                        <!--<a class="add-a-location-a" href="/lovappy-web/dating/places/add">Add a Location</a>-->
                    </div>
                    <div class="add-a-location">
                        <div class="dating-map clearfix">
                            <div class="map-frame">
                                <div id="google-maps-container" style="height: 250px; "></div>
                            </div>
                        </div>
                    </div>

                    <div class="age-for-price submit-age-for-price">
                        <ul>
                            <li class="click1">
                                <h4>Crowd Age</h4>
                                <label for="crowd-age">
                                    <input type="radio" id="crowd-age" name="crowd-age" th:field="*{ageRange}"
                                           th:value="${T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE1}">
                                    18 - 30
                                </label>
                                <label for="crowd-age2">
                                    <input type="radio" id="crowd-age2" name="crowd-age" th:field="*{ageRange}"
                                           th:value="${T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE2}">
                                    30 - 50
                                </label>
                                <label for="crowd-age3">
                                    <input type="radio" id="crowd-age3" name="crowd-age" th:field="*{ageRange}"
                                           th:value="${T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE3}">
                                    50+
                                </label>
                            </li>
                            <li class="click2">
                                <h4>Best for</h4>
                                <label for="best-for3">
                                    <input type="radio" id="best-for3" name="best-for" th:field="*{gender}" value="BOTH"
                                           th:value="BOTH">
                                    <img src="/images/dating/MF.png" th:src="@{/images/dating/MF.png}" alt="Both">
                                </label>
                                <label for="best-for">
                                    <input type="radio" id="best-for" name="best-for" th:field="*{gender}" value="MALE"
                                           th:value="MALE">
                                    <img src="/images/dating/MM.png" th:src="@{/images/dating/MM.png}" alt="Male">
                                </label>
                                <label for="best-for2">
                                    <input type="radio" id="best-for2" name="best-for" th:field="*{gender}"
                                           value="FEMALE"
                                           th:value="FEMALE">
                                    <img src="/images/dating/FF.png"
                                         th:src="@{/images/dating/FF.png}" alt="Female">
                                </label>
                            </li>
                            <li class="click3">
                                <h4>Price Range</h4>
                                <label for="price-range">
                                    <input type="radio" id="price-range" name="price-range" th:field="*{priceRange}"
                                           value="FREE"
                                           th:value="FREE">
                                    <span class="free-yellow">FREE</span>
                                </label>
                                <label for="price-range2">
                                    <input type="radio" id="price-range2" name="price-range" th:field="*{priceRange}"
                                           value="CHEAP"
                                           th:value="CHEAP">
                                    $
                                </label>
                                <label for="price-range3">
                                    <input type="radio" id="price-range3" name="price-range" th:field="*{priceRange}"
                                           value="EXPENSIVE"
                                           th:value="EXPENSIVE">
                                    $$
                                </label>
                                <label for="price-range4">
                                    <input type="radio" id="price-range4" th:field="*{priceRange}"
                                           value="VERYEXPENSIVE"
                                           th:value="VERYEXPENSIVE">
                                    $$$
                                </label>
                            </li>

                        </ul>
                    </div>
                    <div class="for-married-couples">
                        <span>Good For Married Couples?</span>
                        <img th:src="@{/images/dating/merried.png}" alt="Male">
                        <span class="optional">(optional)</span>
                        <label for="married-yes">
                            <input type="radio" id="married-yes" name="married" th:field="*{goodForMarriedCouple}"
                                   th:value="true">Yes
                        </label>
                        <label for="married-no">
                            <input type="radio" id="married-no" name="married" th:field="*{goodForMarriedCouple}"
                                   th:value="false">No
                        </label>
                    </div>
                    <a id="complete-owner-dating-place-btn" class="submit" style="cursor: pointer;">Submit location</a>
                </div>
            </div>
        </div>
    </form>
    <div class="ui modal" id="dating-upload-photo">
        <i class="close icon"></i>
        <div class="content">
            <!--<div>
                <div class="upload-photo">
                    <div id="image-upload-container" class="upload-container" data-upload="image">
                        <label for="dating-location-photo" style="align-items: center">
                        <span>
                            <img th:src="@{/images/advertise/img-upload.png}" alt="Img upload">
                        </span>
                            <input type="file" id="dating-location-photo">
                        </label>
                    </div>
                    <div id="datingLocationPhotoFormGroup">
                        <span class="error-msg"></span>
                    </div>
                </div>
                <div class="uploaded-photo-text">
                    <textarea name="" id="image-description-initial" placeholder="Enter a description about your image"
                              cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer clearfix simple-btn">

                <div id="submit-image-btn" class="ui button btn-close-modal">Submit Photo</div>
            </div>-->
            <div>
                <div class="upload-photo">
                    <form name="uploadingForm" id="fileupload" method="POST"
                          enctype="multipart/form-data">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped">
                            <tbody class="files"></tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="ambassador-modal">
        <i class="close icon"></i>
        <div class="content">
            <h2>Complete Registration</h2>
            <div>
                <p>You must first be fully registered before you can continue browsing user profiles and the rest of
                    Lovappy. Click the Continue button at registration to complete your full profile</p>
                <img src="/images/ambassador-loggedout.jpg" alt="Events calendar">

            </div>
            <div class="modal-footer clearfix">
                <a href="/registration/gender">Registration</a>
            </div>
        </div>
    </div>
</section>


<div th:replace="templates/squareform :: sqform"></div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
        th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
        th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var squareAppID = [[${squareAppID}]];
    var calcPriceUrl = baseUrl + "api/v1/ads/calculate_price";
    var isFeatured = [[${isFeatured}]];
    /*]]>*/
</script>

<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script src="../../../static/js/square-payment.js" th:src="@{/js/square-payment.js}" type="text/javascript"></script>

<script th:src="@{/js/maps/dating_places/edit-dating-place-location.js}" type="text/javascript"></script>
<script src="../../static/js/web_pages/dating-place-deals.js" th:src="@{/js/web_pages/dating-place-deals.js}"
        type="text/javascript"></script>
<script src="../../static/js/utility.js" th:src="@{/js/utility.js}" type="text/javascript"></script>
<script>
    $(".upload-photo-btn").click(function () {
        $('#dating-upload-photo').modal('show');
    });

    $('.how-to-be-2').hide();

    $('#youlike-yes').click(function () {
        isFeatured = true;
        $('.how-to-be-2').show();
    });

    $('#youlike-no').click(function () {
        isFeatured = false;
        $('.how-to-be-2').hide();
    });

    $(".click1 label").click(function () {
        $('.click1 label').removeClass('active');
        $(this).addClass('active');
    });
    $(".click2 label").click(function () {
        $('.click2 label').removeClass('active');
        $(this).addClass('active');
    });
    $(".click3 label").click(function () {
        $('.click3 label').removeClass('active');
        $(this).addClass('active');
    });

    if (isFeatured)
        $("#manager").click();
    else
        $("#reviewer").click();

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var google_key = [[${google_key}]];
    var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&libraries=places&key=" + [[${google_key}]];

    (function () {
        var a = document.createElement('script');
        a.type = 'text/javascript';
        a.async = true;
        a.defer = true;
        a.src = google_url;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(a, s);
    })();
    /*]]>*/
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl" th:inline="javascript">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
{% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

</script>
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" style="height:100px"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
<!--        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>-->
    </tr>
{% } %}
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="../../static/js/multiple-image-upload/vendor/jquery.ui.widget.js"
        th:src="@{/js/multiple-image-upload/vendor/jquery.ui.widget.js}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../../static/js/multiple-image-upload/jquery.iframe-transport.js"
        th:src="@{/js/multiple-image-upload/jquery.iframe-transport.js}"></script>
<!-- The basic File Upload plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload.js}"></script>
<!-- The File Upload processing plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload-process.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload-process.js}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload-image.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload-image.js}"></script>
<!-- The File Upload audio preview plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload-audio.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload-audio.js}"></script>
<!-- The File Upload video preview plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload-video.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload-video.js}"></script>
<!-- The File Upload validation plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload-validate.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload-validate.js}"></script>
<!-- The File Upload user interface plugin -->
<script src="../../static/js/multiple-image-upload/jquery.fileupload-ui.js"
        th:src="@{/js/multiple-image-upload/jquery.fileupload-ui.js}"></script>
<!-- The main application script -->
<script src="../../static/js/multiple-image-upload/main.js" th:src="@{/js/multiple-image-upload/main.js}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="../../static/js/multiple-image-upload/cors/jquery.xdr-transport.js"
        th:src="@{/js/multiple-image-upload/cors/jquery.xdr-transport.js}"></script>
<![endif]-->
</body>
</html>