<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'dating-places', false)">
    <title>Lovappy | Dating place</title>
    <style>
        .error-msg {
            background: #ffffff;
            padding: 0px 10px;
            font-color: #ff0000;
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/dating.css"
          th:href="@{/css/web_pages/dating.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/dcalendar.picker.css"
          th:href="@{/css/dcalendar.picker.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/dating.css"
          th:href="@{/css/web_pages/dating-verify.css}">
</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>
<!--/*@thymesVar id="datingPlace" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceDto"*/-->
<!--/*@thymesVar id="datingPlaceDeal" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceDealsDto"*/-->
<section class="main-section">
    <img src="../../static/images/icons/right_arrow.png"
         th:src="@{/images/dating/dating-main.jpg}" alt="right arrow">
    <h1>Best Dating Places</h1>
</section>

<div class="submit-container container">
    <h2>Create a Deal</h2>
    <label th:text="${datingPlace.placeName}">Name of Location</label>
    <input id="dating-place-id" type="hidden" th:value="${datingPlace.datingPlacesId}">
    <form id="add-place-deal-form" method="post" th:object="${datingPlaceDeal}">
        <input id="place-id" type="hidden" th:field="*{placeId}">
        <input id="deal-id" type="hidden" th:field="*{dealId}">
        <ul>
            <li>
                <span>What type of deal are you offering?</span>
                <input type="text" placeholder="$15.00 for $9.00" th:field="*{dealDescription}">
                <div id="dealDescriptionFormGroup" style="display:inline-block">
                    <span class="error-msg"></span>
                </div>
            </li>
            <li>
                <span>What is the full value of the offer?</span>
                <input type="number" placeholder="" th:field="*{fullAmount}">
                <div id="fullAmountFormGroup" style="display:inline-block">
                    <span class="error-msg"></span>
                </div>
            </li>
            <li>
                <span>What is the discount amount?</span>
                <input type="number" placeholder="" th:field="*{discountValue}">
                <div id="discountFormGroup" style="display:inline-block">
                    <span class="error-msg"></span>
                </div>
            </li>
        </ul>
        <div class="clearfix">
            <div class="col-6">
                <span>When does this offer begin?</span>
                <input type="text" id="datepicker" th:field="*{startDate}" data-mindate="today"/>
                <div id="startDateFormGroup" style="display:inline-block">
                    <span class="error-msg"></span>
                </div>
            </div>
            <div class="col-6">
                <span>When does this offer expire?</span>
                <input type="text" id="datepicker1" th:field="*{expiryDate}" data-mindate="today"/>
                <div id="expiryDateFormGroup" style="display:inline-block">
                    <span class="error-msg"></span>
                </div>
            </div>
        </div>
        <div class="submit">
            <button id="submit-place-deal-btn">Submit</button>
        </div>
    </form>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>

<script src="../../static/js/dcalendar.picker.js" th:src="@{/js/dcalendar.picker.js}"></script>
<script src="../../static/js/web_pages/dating-place-deals.js" th:src="@{/js/web_pages/dating-place-deals.js}"
        type="text/javascript"></script>
<script type="text/javascript" src="../../../static/js/utility.js" th:src="@{/js/utility.js}"></script>
<script>
    $(document).ready(function () {
        $('#datepicker').dcalendarpicker();
        $('#datepicker1').dcalendarpicker();
    });
</script>
</body>
</html>