<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'dating_places_landing', false)">
    <title>Lovappy | Dating place</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/dating.css"
          th:href="@{/css/web_pages/dating.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.rateyo.min.css"
          th:href="@{/css/jquery.rateyo.min.css}">
</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>
<!--/*@thymesVar id="place" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceDto"*/-->
<section class="landing-section">
    <h1>the perfect place for your perfect date</h1>
    <p>Browse, search and review the best places to take your date</p>
    <div class="container clearfix">
        <div class="content-left">
            <p>Best dating places is equipped with a rating system to find what you’re looking for, whether you’re
                looking for a night out on the town or a quiet dinner for two — You’re sure to find somewhere to take
                that special someone.</p>
        </div>
        <div class="go-to-vlog">
            <div class="write-a-review">
                <a th:href="@{/dating/places}">Write a review</a>
                <a th:href="@{/dating/places/add}">add a location</a>
            </div>
            <label>find the best now!</label>
            <a th:href="@{/dating/places}">Click Here</a>
            <!--<p th:unless="${#authorization.expression('isAuthenticated()')}" >Or click <a href="#" class="reg-log-modal">here</a> to <a href="#" class="reg-log-modal">register</a> </p>-->
        </div>
    </div>
    <!--<div class="social-login">
        <a href="#">sign in with <span>Facebook</span></a>
        <a href="#">sign in with <span>Google</span></a>
    </div>-->

</section>

<section class="dating-landing-main">
    <div class="cooming-soon container">
        <h1>Best dating places</h1>
        <div class="clearfix">
            <div class="left">
                <div class="main-img">
                    <img src="../../static/images/icons/filter-icon.png"
                         th:src="${place.placesAttachmentDtos[0]== null ? '/images/dating/datinglanding1.png' :place.placesAttachmentDtos[0].url}"
                         alt="Dating post image">
                    <div class="hover-div">
                        <h3 th:text="${place.placeName}">Place Name</h3>
                        <div class="rating">
                            <div id="rating"></div>
                            <input id="over-all-rating" type="hidden" th:value="${place.overAllRating}"/>
                            <a th:href="@{'/dating/places/'+ ${place.datingPlacesId}}"><i class="fa fa-angle-right"
                                                                                          aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="other-imgs">
                    <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/dating/dat2.png}"
                         alt="Dating post image">
                    <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/dating/dat3.png}"
                         alt="Dating post image">
                    <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/dating/dat4.png}"
                         alt="Dating post image">
                    <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/dating/dat5.png}"
                         alt="Dating post image">
                </div>
            </div>
            <div class="right">
                <h2>Top rated this week</h2>
                <label th:text="${place.addressLine}">Address Line 1</label>
                <label th:text="${place.addressLineTwo}">Address Line 2</label>
                <label th:text="${place.city + ', '+ place.state+', '+place.zipCode+', '+place.country}">City, State,
                    Zip,
                    Country</label>
                <ul>
                    <li>
                        <div class="icon-left">
                            <span th:if="${place.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE1}"
                                   th:text="${place.ageRange.from + ' - ' + place.ageRange.to}">18-29</span>
                            <span th:if="${place.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE2}"
                                  th:text="${place.ageRange.from + ' - ' + place.ageRange.to}">18-49</span>
                            <span th:if="${place.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE3}"
                                  th:text="${place.ageRange.from +'+'}">50+</span>
                        </div>
                        <div class="status-right">
                            <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/dating/MF.png}"
                                 alt="Dating post image">
                            <i th:if="${place.bothCount > 0}" th:text="${'('+place.bothCount+')'}"
                               class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <i th:if="${place.bothCount == 0}" class="fa fa-thumbs-up" aria-hidden="true">(No Rating
                                yet)</i>
                        </div>
                    </li>
                    <li>
                        <div class="icon-left">
                            <span class="dating-dolars"
                                  th:if="${place.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).FREE}">Free</span>
                            <span class="dating-dolars"
                                  th:if="${place.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).CHEAP}">$</span>
                            <span class="dating-dolars"
                                  th:if="${place.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).EXPENSIVE}">$$</span>
                            <span class="dating-dolars"
                                  th:if="${place.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).VERYEXPENSIVE}">$$$</span>
                        </div>
                        <div class="status-right">
                            <img th:src="@{/images/dating/MM1.png}"
                                 alt="Dating post image">
                            <i th:if="${place.maleCount > 0}" th:text="${'('+place.maleCount+')'}"
                               class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <i th:if="${place.maleCount == 0}" class="fa fa-thumbs-up" aria-hidden="true">(No Rating
                                yet)</i>
                        </div>
                    </li>
                    <li>
<!--                        <div class="icon-left">
                            $$
                        </div>-->
                        <div class="status-right">
                            <img src="../../static/images/icons/filter-icon.png" th:src="@{/images/dating/FF.png}"
                                 alt="Dating post image">
                            <i th:if="${place.femaleCount > 0}" th:text="${'('+place.femaleCount+')'}"
                               class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <i th:if="${place.femaleCount == 0}" class="fa fa-thumbs-up" aria-hidden="true">(No Rating
                                Yet)</i>
                        </div>
                    </li>
                </ul>
                <div class="read-more">
                    <a th:href="@{'/dating/places/'+ ${place.datingPlacesId}}">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
</body>
<script src="../../static/js/jquery.rateyo.min.js" th:src="@{/js/jquery.rateyo.min.js}"></script>
<script>
    var averageRating = $('#over-all-rating').val();
    $("#rating").rateYo({
        starWidth: "40px",
        rating: averageRating,
        ratedFill: "#fdf564",
        readOnly: true,
        numStars: 5,
        precision: 2,
    });
</script>
</html>