<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-template:: head(~{::title},~{::link},~{::style},_)">
    <title>Lovappy | Continue Dating</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/dating.css}">
</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="main-section keep-dating">
    <img src="../../static/images/icons/right_arrow.png"
         th:src="@{/images/dating/dating-main.jpg}" alt="right arrow">
    <h1>Keep Dating Your Love</h1>
</section>

<div class="dashboard-container">
    <div class="container">
        <h2>Your Love's Email Address</h2>
        <form id="submitForm" method="post" th:object="${couplesProfile}" th:action="@{/couples/partner/email/save}">
            <label for="dashboard-email">
                <input type="email" name="partnerEmail" placeholder="example@gmail.com" th:field="*{partnerEmail}" id="dashboard-email" required>
                <button type="submit" id="emailSubmit"><img th:src="@{'/images/dating/send-email.jpg'}" alt="Send Email"></button>
            </label>
        </form>
        <ul th:if="${couplesProfile.status != null && couplesProfile.status == T(com.realroofers.lovappy.service.user.support.ApprovalStatus).APPROVED}">
            <li>
                <a id="send-private-message-btn" ><img th:src="@{'/images/dating/icon1.jpg'}" alt="Send Email">Send a Private Message</a>
            </li>
            <li>
                <a th:href="@{/gifts/catalog/__${couplesProfile.partnerId}__}"><img th:src="@{'/images/dating/icon2.jpg'}" alt="Send Email">Send a Gift</a>
            </li>
            <li>
                <a  th:href="@{/music/send/user/__${couplesProfile.partnerId}__}"><img th:src="@{'/images/dating/icon3.jpg'}" alt="Send Email">Send a Song $1.99</a>
            </li>
        </ul>
        <ul th:if="${couplesProfile.status != null && couplesProfile.status == T(com.realroofers.lovappy.service.user.support.ApprovalStatus).PENDING}">
        <li>
                <a   href="javascript:void(0)" class="sendPendingBtn"><img th:src="@{'/images/dating/icon1.jpg'}" alt="Send Email">Send a Private Message</a>
            </li>
            <li>
                <a  href="javascript:void(0)" class="sendPendingBtn"><img th:src="@{'/images/dating/icon2.jpg'}" alt="Send Email">Send a Gift</a>
            </li>
            <li>
                <a  href="javascript:void(0)" class="sendPendingBtn"><img th:src="@{'/images/dating/icon3.jpg'}" alt="Send Email">Send a Song $1.99</a>
            </li>
        </ul>
        <ul th:if="${couplesProfile.status == null}">
            <li>
                <a  href="javascript:void(0)" class="sendBtn"><img th:src="@{'/images/dating/icon1.jpg'}" alt="Send Email">Send a Private Message</a>
            </li>
            <li>
                <a  href="javascript:void(0)" class="sendBtn"><img th:src="@{'/images/dating/icon2.jpg'}" alt="Send Email">Send a Gift</a>
            </li>
            <li>
                <a  href="javascript:void(0)"  class="sendBtn"><img th:src="@{'/images/dating/icon3.jpg'}" alt="Send Email">Send a Song $1.99</a>
            </li>
        </ul>
    </div>
</div>

<div class="ui modal" data-edit="private-message">
    <i class="close icon"></i>
    <div class="header">
        Send Private Message
    </div>
    <div class="content locked-profile-modal">
        <div class="row">
            <h3>Private messages are $[[${messagesPrice}]] each. You can send unlimited messages per user.</h3>
        </div>
    </div>

    <div class="actions">
        <a class="ui button green" th:href="@{/private_message/send/__${couplesProfile.partnerId}__}">OK</a>
        <div class="ui button btn-close-modal">Close</div>
    </div>
</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../../static/js/web_pages/couples/couples.js" th:src="@{/js/web_pages/couples/couples.js}"></script>

</body>
</html>