.careers_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.careers_search button {
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
    outline: none;
    color: #5a819e;
    font-family: 'Nexa Bold', sans-serif!important;
}

.box-body button.edit {
    color: #5a819e;
}

.box-body button.delete {
    color: #ec743b;
}

.box-body button {
    background: transparent;
    border: 0;
}

.modal-container {
    max-width: 760px;
    margin: 5% auto 0;
    width: 100%;
    background: white;
    padding: 0;
}

.modal-container .content {
    padding: 15px;
}

.modal-container .header {
    background: #ec743b;
    color: #fef8ad;
    padding: 9px 10px;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    border-bottom: 2px solid #5a819e;
}

.modal-container .ui.form label {
    display: block;
    width: 100%;
    font-family: 'Nexa Light', sans-serif;
    font-weight: 400;
}

.modal-container .ui.form input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #5a819e;
    margin-bottom: 25px;
}

.modal-container .ui.form textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #5a819e;
    min-height: 130px;
}

.modal-btn {
    text-align: right;
}

.modal-btn button:first-child {
    color: #ec743b;
}

.modal-btn button:last-child {
    color: #5a819e;
}

.addnew .two.fields {
    display: flex;
    justify-content: space-between;
}

.addnew .two.fields .field {
    width: 48%;
}

.addnew .three.fields .field {
    width: 31%;
}

.addnew .three.fields {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.ui.modal.approveNews .content {
    min-height: auto;
    text-align: center;
}

.ui.modal.approveNews button.btnApprove {
    background: rgb(39, 125, 20);
    color: white;
    font-family: 'Nexa Light', sans-serif;
}

.ui.modal.approveNews button.btnDeny {
    background: #ec743b;
    color: white;
}

form.careersSerach {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.careersSerach .ui button {
    background: #ec743b;
    color: #fef8ad;
    height: 26px;
    padding: 0 10px;
}

.ui.modal.approveNews .content {}

.ui.modal.approveNews .content {
    border-bottom: 1px solid #5a819e;
}

.ui.modal.approveNews .content .btnClose {
    display: block;
    align-items: end;
    text-align: right;
}

.careers_search button {
    background: #5a819e;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fef8ad;
}

.ui.modal.approveNews .btnClose {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 13px;
    display: block;
    background: transparent;
    border: 1px solid #fef8ad;
    border-radius: 50px;
    color: #fef8ad;
}

.ui.modal.approveNews .modal-container {
    position: relative;
}