  .modal-header {
      padding:9px 15px;
      border-bottom:1px solid #eee;
      background-color: #dd4b39 ;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
   }

   #row div {width: 200px;
    float:left;
   }