<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lovappy | Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <!--<header th:replace="${#authorization.expression('isAuthenticated()')} ? ~{templates/authenticated :: header} : ~{templates/anonymous :: header}"></header>-->
    <h1 style="background-color: #FC7174; height: 10%; vertical-align: middle">Ooops... Internal Server Error.</h1>
    <!--<footer th:replace="${#authorization.expression('isAuthenticated()')} ? ~{templates/authenticated :: footer} : ~{templates/anonymous :: footer}"></footer>-->
</body>