<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,~{::style})">
    <title>Lovappy Admin | Manage Careers</title>


    <link rel="stylesheet" type="text/css"
          href="../../static/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css"
          th:href="@{/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css}">
    <link th:href="@{/css/adminLTE/blogs.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.Editor.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.Editor.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/cropper.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cropper.css"
          th:href="@{/css/ads-bg.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/adminLTE/careers.css"
          th:href="@{/css/adminLTE/careers.css}">

    <style>
        .modal-dialog {
            width: 80% !important;
        }
    </style>

</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Careers Options
                <!--<small>Optional description</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-11">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Careers</h3>


                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="careers_search">
                                <div class="add_new" id="add_new_ele">
                                    <button type="button">ADD NEW LISTING +</button>
                                </div>
                                <form class="careersSerach"  action="#" th:action="@{/lox/careers/search(searchKey=${searchKey})}" method="get">
                                    <div class="search">
                                        <div class="ui search">
                                            <input class="prompt" type="text" placeholder="Search..." th:name="searchKey">
                                            <div class="results"></div>
                                        </div>
                                    </div>
                                    <div class="ui search">
                                        <button type="submit">Search</button>
                                        <div class="results"></div>
                                    </div>
                                </form>
                            </div>
                            <table id="active-users-table" class="table table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Position Title</th>
                                    <th>Date Listed</th>
                                    <th>Applicants</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody th:each="vacancy: ${vacancies}">

                                <tr>
                                    <td ><span th:text="${vacancy.id}"></span></td>
                                    <td><span th:text="${vacancy.jobTitle}"></span></td>
                                    <td><span th:text="${vacancy.openDate}"></span></td>
                                    <td><span th:text="${vacancy.noOfApplicants}"></span></td>
                                    <td th:onclick="'edit_vacancy(\''+ ${vacancy.id} +'\',\''+ ${vacancy.jobTitle} +'\' ,\''+ ${vacancy.positionDescription} +'\' , \''+ ${vacancy.keywords} +'\', \''+ ${vacancy.seoTitle} +'\', \''+ ${vacancy.description} + '\', \''+ ${vacancy.compensation} +'\', \''+ ${vacancy.city} +'\', \''+ ${vacancy.state} +'\', \''+ ${vacancy.country} +'\', \''+ ${vacancy.skillRequired} +'\')'">EDIT</td>
                                    <td >
                                        <form  action="#" th:action="@{/lox/careers/deleteVacancy(vacancyId=${vacancy.id})}" method="post">
                                            <button type="submit">DELETE</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">

                                    <!--/*@thymesVar id="users" type="org.springframework.data.domain.Page"*/-->
                                    <!--/*@thymesVar id="pager" type="com.realroofers.lovappy.web.util.Pager"*/-->
                                    <!--/*@thymesVar id="selectedPageSize" type="int"*/-->

                                    <li class="disabled">
                                        <a>&laquo;</a>
                                    </li>
                                    <li class="disabled">
                                        <a >&larr;</a>
                                    </li>

                                    <th:block th:each="i: ${#numbers.sequence(1, vacancies.totalPages )}">
                                        <li th:classappend="${page == i} ? active: no">
                                            <a th:href="@{'/lox/careers/' + ${i}}"><span th:text="${i}"></span></a>
                                        </li>
                                    </th:block>


                                    <li class="disabled">
                                        <a >&rarr;</a>
                                    </li>
                                    <li class="disabled">
                                        <a >&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-body -->

                    </div>


                </div>
            </div>
        </section>
        <!-- /.content -->


    </div>
    <!--add new vacancy-->

    <div class="ui modal addnew" data-edit="share-drop" id="add_new_modal">
        <div class="modal-container">
            <i class="close icon"></i>
            <div class="header">
                Add new listing+
            </div>
            <div class="content">
                <form  action="#" th:action="@{/lox/careers/addVacancy}" th:object="${vacancy}" method="post">
                    <div class="ui form">
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Position Title</label>
                                    <input type="text" th:field="*{jobTitle}">
                                </div>
                                <div class="field">
                                    <label>Compensation</label>
                                    <input type="text" th:field="*{compensation}">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Position Description</label>
                            <textarea rows="2" th:field="*{positionDescription}"></textarea>
                        </div>
                        <div class="field">
                            <label>Skills Required</label>
                            <textarea th:field="*{skillRequired}" rows="2"></textarea>
                        </div>
                        <div class="three fields">
                            <div class="field">
                                <label>City</label>
                                <input type="text" th:field="*{city}">
                            </div>
                            <div class="field">
                                <label>State</label>
                                <input type="text" th:field="*{state}">
                            </div>
                            <div class="field">
                                <label>Country</label>
                                <input type="text" th:field="*{country}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Keywords</label>
                            <input type="text" th:field="*{keywords}">
                        </div>
                        <div class="field">
                            <label>Seo Title</label>
                            <input type="text" th:field="*{seoTitle}">
                        </div>
                        <div class="field">
                            <label>Description</label>
                            <input type="text" th:field="*{description}">
                        </div>
                    </div>
                    <div class="modal-btn">
                        <button class="btn cancel-btn" id="add_cancel_btn">Cancel</button>
                        <button class="btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--edit view-->

    <div class="ui modal addnew" data-edit="share-drop" id="edit_vacancy">
        <div class="modal-container">
            <i class="close icon"></i>
            <div class="header">
                Edit Vacancy
            </div>
            <div class="content">
                <form  action="#" th:action="@{/lox/careers/saveVacancy}" th:object="${vacancy}" method="post">
                    <div class="ui form">
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Position Title</label>
                                    <input type="text" id="edit_title" th:field="*{jobTitle}">
                                </div>
                                <input id="edit_id" type="hidden" th:field="*{id}">
                                <div class="field">
                                    <label>Compensation</label>
                                    <input type="text" id="edit_compensation" th:field="*{compensation}">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Position Description</label>
                            <textarea rows="2" id = "edit_position_description" th:field="*{positionDescription}"></textarea>
                        </div>
                        <div class="field">
                            <label>Skills Required</label>
                            <textarea rows="2" id="edit_skill_required" th:field="*{skillRequired}"></textarea>
                        </div>
                        <div class="three fields">
                            <div class="field">
                                <label>City</label>
                                <input type="text" id="edit_city" th:field="*{city}">
                            </div>
                            <div class="field">
                                <label>State</label>
                                <input type="text" id="edit_state" th:field="*{state}">
                            </div>
                            <div class="field">
                                <label>Country</label>
                                <input type="text" id="edit_country" th:field="*{country}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Keywords</label>
                            <input type="text" id ="edit_keywords" th:field="*{keywords}">
                        </div>
                        <div class="field">
                            <label>Seo Title</label>
                            <input type="text" id="edit_seo_title" th:field="*{seoTitle}">
                        </div>
                        <div class="field">
                            <label>Description</label>
                            <input type="text" id = "edit_description" th:field="*{description}">
                        </div>
                    </div>
                    <div class="modal-btn">
                        <button class="btn cancel-btn" id="edit_cancel_btn">Cancel</button>
                        <button class="btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript" src="../../static/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js"
        th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
        th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>
<script src="../../../static/js/cropper.min.js" th:src="@{/js/cropper.min.js}"></script>
<script src="../../../static/js/image-cropper/image-cropper.js"
        th:src="@{/js/image-cropper/image-cropper.js}"></script>
<script type="text/javascript" src="../../static/js/adminLTE/blogs/manage-blogs.js"
        th:src="@{/js/adminLTE/blogs/manage-blogs.js}"></script>



<script>

    $('#add_new_ele').click(function () {
        $('#add_new_modal').modal('show');
    });
    $('#add_cancel_btn').click(function () {
        $('#add_new_modal').modal('hide');
    });

    function edit_vacancy(id, title, position_description, keywords, seo_title, description , compensation, city, state, country, skill_required) {
        console.log("function triggered");
        console.log(id);
        document.getElementById("edit_id").value = id;
        document.getElementById("edit_title").value = title;
        document.getElementById("edit_position_description").value = position_description;
        document.getElementById("edit_keywords").value = keywords;
        document.getElementById("edit_seo_title").value = seo_title;
        document.getElementById("edit_description").value = description;

        document.getElementById("edit_compensation").value = compensation;
        document.getElementById("edit_city").value = city;
        document.getElementById("edit_state").value = state;
        document.getElementById("edit_country").value = country;
        document.getElementById("edit_skill_required").value = skill_required;
        $('#edit_vacancy').modal('show');
    }

    $('#edit_cancel_btn').click(function () {
        $('#edit_vacancy').modal('hide');
    });
</script>

</body>
</html>
