<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'blog_landing', false)">
    <title>LovBlog | Blog with LovBlog</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/slick.css" th:href="@{/css/slick.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/blogs.css}">

<body class="blogPost">

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div th:replace="blog/fragments :: blog-header"></div>

<div class="blog-main">
    <section class="main-blog-post" th:if="${mainPost != null}">
        <a th:href="@{/blog/posts/__${mainPost.slugUrl}__}" class="blog-post-left" rel="nofollow"
           th:style="'background:url(' + @{''+${mainPost.getImageUrl()}} + ') no-repeat; background-size: cover  !important;border: 1px solid #ccc;'">
            <div class="blog-category" th:text="${mainPost.categoryName}">
                Category
            </div>
            <div id="mainPost" th:replace="blog/fragments :: postDetails (post=${mainPost})">
            </div>
        </a>
        <div class="blog-post-right">
            <a th:href="@{/blog/posts/__${secondMainPost.slugUrl}__}" th:if="${secondMainPost != null}" class="post-one"  rel="nofollow"
               th:style="'background:url(' + @{''+${secondMainPost.getImageUrl()}} + ') no-repeat; background-size: cover  !important;background-position: center; '">
                <div class="blog-category" th:text="${secondMainPost.categoryName}">
                    Category
                </div>
                <div id="secondPost" th:replace="blog/fragments :: postDetails (post=${secondMainPost})">
                </div>
            </a>
            <a th:if="${thirdMainPost != null}" th:href="@{/blog/posts/__${thirdMainPost.slugUrl}__}" class="post-two" rel="nofollow"
               th:style="'background:url(' + @{''+${thirdMainPost.getImageUrl()}} + ') no-repeat; background-size: cover  !important;background-position: center; '">
                <div class="blog-category" th:text="${thirdMainPost.categoryName}">
                    Category
                </div>
                <div id="thirdPost" th:replace="blog/fragments :: postDetails (post=${thirdMainPost})">
                </div>
            </a>
        </div>
    </section>
    <div class="blog-reg-log" th:unless="${#authorization.expression('isAuthenticated()')}" >[[#{blogs.member-text}]]
        <a class="registrationLink" th:href="@{#registration}" rel="nofollow"> [[#{blogs.here}]] </a> [[#{blogs.or}]] <a th:href="@{/login}"> [[#{blogs.member-signin}]]</a>.
    </div>

    <section class="blog-by-lovappy clearfix">
        <div class="by-lovappy">
            <div class="top-header">
                <h2><span>Posted [[#{blogs.by}]] <img src="../../static/images/logo2.png" th:src="@{/images/logo2.png}" alt="Lovappy Logo"></span></h2>
                <a href="#" th:href="@{blog/posts/lovappy}" rel="nofollow">[[#{blogs.more}]] <i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
            </div>
            <div class="blog-box-one" th:each="lovappyMainPost:${lovappyPosts}">
                <a href="#" th:href="@{/blog/posts/__${lovappyMainPost.slugUrl}__}" rel="nofollow">
                    <div class="blog-box-one-des">
                        <img src="../../static/images/blog/blogimg.jpg" th:src="@{''+${lovappyMainPost.getImageUrl()}}"
                             alt="blog img">
                        <div class="blog-pos">
                            <h3 th:text="${lovappyMainPost.title}">Manfaat Berolagraga Bagi Kesahatan</h3>
                            <div class="blog-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i><span
                                    th:text="${lovappyMainPost.getPostOnDate()}">U Na Fen</span>
                                <i class="fa fa-user" aria-hidden="true"></i><span
                                    th:text="${lovappyMainPost.getAuthorFullname()}">08-01-2017</span>

                            </div>
                        </div>
                    </div>

                    <!--<p th:text="${lovappyMainPost.getShortContent()}">Lorem ipsum</p>-->
                </a>
            </div>
            <input type="hidden" id="loggedInuserId" th:value="${userId}">
            <input type="hidden" id="isAmbassadorOnly"
                   th:value="${(!#lists.isEmpty(userRoles) && #lists.size(userRoles) == 1 && #lists.contains(userRoles,'EVENT_AMBASSADOR') == true)?'1':''}">

        </div>
        <div>
            <div th:replace="blog/fragments :: blog-social">
        </div>
        </div>
    </section>
</div>

<div class="blog-reg-log" th:unless="${#authorization.expression('isAuthenticated()')}" >[[#{blogs.member-text}]]
    <a class="registrationLink" th:href="@{#registration}" rel="nofollow"> [[#{blogs.here}]] </a> [[#{blogs.or}]] <a th:href="@{/login}"> [[#{blogs.member-signin}]]</a>.
</div>

<div class="blog-slider-head blog-slider-main">
    <h3 th:text="#{blogs.most.viewed}">Most Viewed LovBlog Posts</h3>
    <ul>
        <li><a href="#/" class="blog-slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        <li><a href="#/" class="blog-slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
</div>
<section class="blog-slider-category">

    <div class="blog-slider">
        <!--<h2 class="most-viewed" th:text="#{blogs.most.viewed}">Most Viewed LovBlog Posts</h2>-->
        <div class="your-class">

            <div th:each="sliderPost: ${sliders}">
                <a th:href="@{/blog/posts/__${sliderPost.slugUrl}__}">
                    <div class="status-love">Love</div>
                    <div class="slider-pos">
                        <img src="../../static/images/blog/blogimg.jpg" th:src="@{''+${sliderPost.getImageUrl()}}"
                             alt="Blog img">
                        <div class="slider-des">
                            <h3>
                                <a th:href="@{/blog/posts/__${sliderPost.slugUrl}__}" th:text="${sliderPost.mediumTitle}">Article
                                    Title</a>
                            </h3>
                            <div class="blog-date blog-slider-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${sliderPost.getPostOnDate()}"> U Na Fen</span>
                                <i class="fa fa-user" aria-hidden="true"></i> <span th:text="${sliderPost.getAuthorFullname()}">08-01-2017</span>

                            </div>
                        </div>
                    </div>

                    <!--<p class="blog-slider-description" th:utext="${sliderPost.getShortContent()}">Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Amet, quis!</p>-->
                </a>
            </div>

        </div>
    </div>
    <div class="category-blog-list">
        <h3><span th:text="#{blogs.categories}">Categories</span></h3>
        <ul>
            <li th:each="category :${categoryPostCounts.getContent()}">
                <a href="javascript:void(0)" th:href="@{'blog/category/'+${category.categoryId}+'/posts'}">
                    <i class="fa fa-angle-right"></i><span class="category-name" aria-hidden="true"
                                                           th:text="${category.name}"></span><span
                        th:text="${category.getNumOfPosts()}">5</span>
                </a>
            </li>
        </ul>
    </div>
</section>
<div class="blog-reg-log" th:unless="${#authorization.expression('isAuthenticated()')}" >[[#{blogs.member-text}]]
    <a class="registrationLink" th:href="@{#registration}" rel="nofollow"> [[#{blogs.here}]] </a> [[#{blogs.or}]] <a th:href="@{/login}"> [[#{blogs.member-signin}]]</a>.
</div>


<!-- blog video sectio -->

<section class="blog-by-lovappy blog-video clearfix">
    <div class="by-lovappy">
        <div class="top-header">
            <h2><span>[[#{blogs.video}]]s</span></h2>
            <a href="#" th:href="@{/blog/vlogs}">[[#{blogs.more}]] <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <ul>
            <li th:each="video:${videos.getContent()}">
                <a href="#" th:href="@{/blog/vlogs/__${video.id}__}">
                    <img src="../../static/images/blog/blogimg.jpg" th:src="@{__${video.getThumbnail()}__}"
                         alt="Blog img">
                    <h3 th:text="${video.title}">Silvesteirn - of you could see</h3>
                    <i class="fa fa-calendar" aria-hidden="true"><span
                            th:text="${video.getPostedOn()}">08-01-2017</span></i>
                    <i class="fa fa-user" aria-hidden="true"> <span th:text="${video.getAuthor()}"> U Na Fen</span></i>
                </a>
            </li>
        </ul>
    </div>
    <style>
        .boxSep {
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            margin: 10px;
            float: left;
            margin-right: 30px;
        }
    </style>
    <div class="blog-social">
        <div class="gallery-btn">
            <a th:href="@{/blog/posts/gallery}"><i class="fa fa-rss" aria-hidden="true"></i> [[#{blogs.gallery}]]</a>
            <span><a th:href="@{/blog/posts/gallery}">more <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
        </div>

        <ul>
            <li class="blog-gallery" th:each="galleryPost:${galleries}">
                <a href="#" th:href="@{/blog/posts/__${galleryPost.slugUrl}__}" >
                    <div class="boxSep imgLiquidNoFill imgLiquid">
                    <img src="../../static/images/blog/blogimg.jpg" style="display: none" th:src="${galleryPost.getImageUrl()}"
                         alt="Blog img"/>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>

<!-- end of video section -->



<div id="registration" class="container blog-registration" th:unless="${#authorization.expression('isAuthenticated()')}">
    <h4 class="ui horizontal divider header">
        Register a BLOGGER ONLY account below or click SIGN IN if you already have an account.
    </h4>

    <form class="ui form" th:replace="registration/registration-author :: authorRegistration" ></form>
    </div>
</div>


<!--approval message-->
<div class="ui modal" data-edit="approve-message-article">
    <i class="close icon"></i>
    <div class="header" th:text="#{blogs.modal.submited.header}">
        Successfully Submitted
    </div>
    <div class="content article-modal">
        <div class="row">
            <h3  th:text="#{blogs.modal.submited.text}"> Your Article is pending approval. You will receive a notification by email.</h3>
        </div>
    </div>

    <div class="actions">
        <div class="ui button btn-close-modal" th:text="#{blogs.ok}">OK</div>
    </div>
</div>

<!--Become Ambassador-->
<div class="ui modal" id="ambassador-modal">
    <i class="close icon"></i>
    <div class="content">
        <h2>Complete Registration</h2>
        <div>
            <p>You must first be fully registered before you can continue browsing user profiles and the rest of
                Lovappy. Click the Continue button at registration to complete your full profile</p>
            <img src="../../static/images/ambassador-img.jpg" th:src="@{/images/ambassador-loggedout.jpg}"
                 alt="Events calendar">

        </div>
        <div class="modal-footer clearfix">
            <a th:href="@{/registration/gender}">Registration</a>
        </div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>

<script src="../../static/js/slick.min.js" th:src="@{/js/slick.min.js}" type="text/javascript"></script>
<script src="../../static/js/web_pages/blogs/blog-services.js" th:src="@{/js/web_pages/blogs/blog-services.js}" type="text/javascript"></script>

<script src="../../static/js/web_pages/blogs/blog.js" th:src="@{/js/web_pages/blogs/blog.js}" type="text/javascript"></script>

<script src="../../static/js/web_pages/registration/author-registration.js"
        th:src="@{/js/web_pages/registration/author-registration.js}" type="text/javascript"></script>


<script th:inline="javascript">
    $(document).ready(function () {

        $('.your-class').slick({
            slidesToShow: 2,
            prevArrow: $('.blog-slider-left'),
            nextArrow: $('.blog-slider-right'),
            responsive: [{
                breakpoint: 767,
                settings: {
                    slidesToShow: 1
                }
            }]
        });
        if ([[${isApproved}]]) {
            $(".modal[data-edit='approve-message-article']").modal("show");
        }

    });


</script>
</body>
</html>