<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'blog_landing',false)">

    <title>LovBlog | Blog with LovBlog</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/video-blog.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
</head>
<body >

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="hero">
    <img class="main-image" src="../../static/images/new-male-icon.png" th:src="@{'/images/video-blog.png'}" alt="User">
    <div class="hero-content">
        <h3>WE NEED </h3>
        <h2>YOUR HELP</h2>
        <p>Are you an influencer? We need new users for our new voice dating site.</p>
        <h4>SIGN UP. TEST IT.<br> SELL IT. <span>GET PAID.</span></h4>
        <img src="../../static/images/logo2.png" th:src="@{/images/logo2.png}" alt="Lovappy Logo">
    </div>
</div>
<div class="container video-content">
    <div class="left">
        <p><b>We are looking for video bloggers with a minimum of 500 followers on social media</b> to record <b>1-2minute</b>
            videos for our new dating site/app Lovappy. We are in need of videos from REAL people just being themselves and telling others why they should want to sign up on our site.
        </p>
        <p>Compensation will be based on the total followers you have on Youtube, Twitter or LinkedIn--
        </p>
        <ul>
            <li>500 users minimum: $15</li>
            <li>500 - 2,000: $35</li>
            <li>2,001 - 5,000: $45</li>
            <li>5,001 - 10,000: $55</li>
            <li>10,001 - 15,000: 65$</li>
            <li>15,001 - 25,000: $75</li>
            <li>25,001 - 40,000: $80</li>
        </ul>
        <p>Beyond that, we negotiate. There may be additional compensation for your followers that sign up.
        </p>
        <p>Approved videos should be posted to your social media accounts (minimum 3) which will need to be shared with us for verification of the posting.  You will be paid upon verification.
        </p>
        <p>Visit <a href="https://www.lovappy.com">www.lovappy.com</a> Approved videos should be posted to your social media accounts (minimum 3) which will need to be shared with us for verification of the posting.  You will be paid upon verification.
        </p>
        <p><b>*Please note this site is still in development so we do not have a full user database for you to interact with other users and all features are not yet available.  This our initial marketing effort and we need your help to expand. You will also be invited to our NYC launch party.
        </b></p>
    </div>
    <div class="right">
        <div class="box1">
            <h2>THE CONCEPT</h2>
            <p>Our software makes it effortless to listen to potential dates.  We believe the voice is a great place to start when seeking a lover!
            </p>
            <h2>LOVAPPY'S 3 MAIN WAYS TO COMMUNICATE YOUR LOVE:
            </h2>
            <ul class="communicate">
                <li>VOICE MESSAGES</li>
                <li>SENDING SONGS</li>
                <li>SENDING GIFTS</li>
            </ul>
            <div class="other-features">
                    <p>Other features include:</p>
                <ul>
                    <li>Voice command capabilities (such as Google and Alexa) </li>
                    <li>Patented privacy algorithm</li>
                    <li>Events (hiking, dancing, travel, music)</li>
                    <li>Best Dating Places database</li>
                    <li>Musician signup, original &amp; copyright</li>
                    <li>&amp; more!</li>
                </ul>

                <ul>
                    <li>Best Dating Places database</li>
                    <li>Music signup, original & copyright</li>
                    <li>& more!</li>
                </ul>
            </div>
        </div>
        <div class="box2">
            <h2>NO ANIMATED VIDEOS. REAL PEOPLE ONLY.</h2>
            <p>Steps include:</p>
            <ul>
                <li>You register a FULL user profile on our new site www.lovappy.com.</li>
                <li>Record a compelling video testimonial asking new users to sign up.</li>
                <li>In your video, you should point out the main features of Lovappy that will attract new users.</li>
                <li>Post this video on your Youtube channel.</li>
            </ul>
        </div>
    </div>
</div>
<f class="simple-registration">
    <form id="registration-form" action="/register" th:action="@{/register}" method="post" th:object="${user}">
    <div class="registration-field">
        <ul class="clearfix">
            <ul class="clearfix">
                <li>
                    <input type="email" placeholder="email address" required name="email" th:field="*{email}">
                </li>
                <li>
                    <input  type="password" placeholder="password" required name="password" th:field="*{password}">
                </li>
                <li>
                    <input  type="password" placeholder="confirm password" required name="confirmPassword" th:field="*{confirmPassword}">
                </li>
                <li>
                    <input type="text" placeholder="zip code" required name="zipcode"  th:field="*{zipcode}">
                </li>
            </ul>
        </ul>
    </div>

    <div class="ambassador-confirm">
        <div class="error-container">
            <span class="error-msg"></span>
        </div>
        <div class="terms">
            <span th:text="#{home.by-clicking-register}">By clicking Register, you agree to the Terms of </span><a href="#" th:text="#{home.service}">Service</a> <span th:text="#{home.and}">and</span> <a href="#" th:text="#{home.privacy}">Privacy
            Policy</a>
        </div>
        <input type="submit" value="Register" class="ui red button"></input>
    </div>
    </form>
</div>
<div class="social-sign-in">

    <div class="clearfix page-login-social">
        <ul>
            <li class="facebook">
                <form th:action="@{/login/facebook}" method="get">
                    <i class="fa fa-facebook"></i>
                    <!--<input type="hidden" name="scope" value="public_profile" />-->
                    <input type="submit" value="Sign in with facebook">
                </form>
            </li>
            <li class="google">
                <form th:action="@{/login/google}" method="get">
                    <i class="fa fa-google"></i>
                    <!--<input type="hidden" name="scope" value="public_profile" />-->
                    <input type="submit" value="Sign in with google">
                </form>
            </li>
            <li class="twitter">
                <form th:action="@{/signin/twitter}" method="POST">
                    <i class="fa fa-twitter"></i>
                    <input type="hidden" name="role" value="user" />
                    <input type="submit" value="Sign in with Twitter"/>
                </form>

            </li>

            <li class="instagram">
                <form th:action="@{/login/instagram}" method="get">
                    <i class="fa fa-instagram"></i>
                    <!--<input type="hidden" name="scope" value="public_profile" />-->
                    <input type="submit" value="Sign in with Instagram">
                </form>
            </li>
        </ul>
    </div>

</div>
</div>

<div class="response">
    <p>Please send responses to through craigslist email, to the email in the flyer above, or you can find an email address on lovappy.com if you cannot view the attached image (as craigslist doesn't allow us to post an email address here)</p>
    <p>All responses should include a link to your Youtube channel.</p>
</div>
<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
<script src="../static/js/web_pages/registration.js" th:src="@{/js/web_pages/registration.js}"
        type="text/javascript"></script>
</body>
</html>