  <!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Manage Blogs</title>


    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css"
          th:href="@{/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css}">
    <link th:href="@{/css/adminLTE/blogs.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jHtmlArea/jHtmlArea.Editor.css"
          th:href="@{/css/jHtmlArea/jHtmlArea.Editor.css}">


</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blogs Management
                <!--<small>Optional description</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-11">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Blogs</h3>

                            <button type="button" id="newBlogBtn" class="btn btn-danger" data-toggle="modal"
                                    th:data-target="'#createModalBlog'">Add New Post
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'createModalBlog'" aria-labelledby="blogLabel" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <form id="new-blog-form" method="POST" enctype="multipart/form-data"
                                          th:action="@{/lox/blog/post/save}"
                                    >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="modalPostTitle"><span
                                                >Create Post</span></h4>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group col-md-12">
                                                    <label for="title">Title</label>
                                                    <input type="text"
                                                           th:value="${newPost.title}"
                                                           name="title"
                                                           id="title"
                                                           required/>

                                                </div>

                                                <div >
                                                    <label for="addCustomHtmlArea">Content</label>
                                                    <textarea th:text="${newPost.htmlContent}"
                                                              placeholder="Whats on your mind..."
                                                              rows="14" cols="80"
                                                              name="htmlContent"
                                                              style="width=500px;"
                                                              id="addCustomHtmlArea"
                                                              >
										</textarea>
                                                    <!--<span th:if="${#fields.hasErrors('content')}"-->
                                                    <!--th:errors="${post.content}" name="content"-->
                                                    <!--class="validation-error-msg"></span>-->
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="keyword">Keywords</label>
                                                    <input type="text"
                                                           th:value="${newPost.keywords}"
                                                           name="keywords"
                                                           id="keyword" placeholder="Tag (Max 6)..."
                                                    />
                                                </div>


                                                <div class="form-group col-md-12">
                                                    <label for="seoTitlec">Seo Title</label>
                                                    <input type="text"
                                                           th:value="${newPost.seoTitle}"
                                                           name="seoTitle"
                                                           id="seoTitlec"
                                                           placeholder="SEO Title link..."
                                                    />
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="description">Description</label>
                                                    <input type="text"
                                                           th:value="${newPost.description}"
                                                           name="description"
                                                           id="postDescription"
                                                           placeholder="Add Meta Description( You Post Description Here )"
                                                    />
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <img id="imagePost" th:src="@{''+${newPost.getImageUrl()}}"
                                                         class="img-rounded" width="160" height="160">
                                                    <label for="imagePost">File to upload:</label>

                                                    <input id="create-blog-image" type="file" name="file"/>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="postimageAlt">Image Alt</label>
                                                    <input type="text"
                                                           th:value="${newPost.imageAlt}"
                                                           name="imageAlt"
                                                           id="postimageAlt"
                                                           placeholder="Add Image Alt description for SEO"
                                                    />
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="category">Category</label>
                                                    <select class="form-control"
                                                            id="category"
                                                            name="categoryId"
                                                            th:value="${newPost.categoryId}"
                                                            style="border: 1px  width: 45%">
                                                        <option th:each="cat : ${categories}"
                                                                th:value="${cat.id}"
                                                                th:selected="${newPost.categoryId}==${cat.id}"
                                                                th:text="${cat.name}"/>
                                                    </select>
                                                    <!--<span th:if="${#fields.hasErrors('categoryId')}"-->
                                                    <!--name="categoryId" th:value="${post.categoryId}"-->
                                                    <!--class="validation-error-msg"></span>-->
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-default"
                                                        data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-primary btn"
                                                        id="submit-new-blog"
                                                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> Saving">
                                                    Save
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="posts-table" class="table table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>
                                        <form th:action="@{/lox/blog/post}" method="GET" accept-charset="ISO-8859-1">
                                            <input name="filter" value="postTitle" type="hidden"   >
                                            <input name="sort" th:value="${sort}" type="hidden"   >
                                            <button type="submit" class="headerBtn">Title</button>

                                        </form>


                                    </th>
                                    <th>
                                        <form th:action="@{/lox/blog/post}" method="GET" accept-charset="ISO-8859-1">
                                            <input name="filter" value="postAuthor.email" type="hidden"   >
                                            <input name="sort" th:value="${sort}" type="hidden"   >
                                            <button type="submit" class="headerBtn">Author</button>

                                        </form>

                                        </th>
                                    <th>

                                        <form th:action="@{/lox/blog/post}" method="GET" accept-charset="ISO-8859-1">
                                            <input name="filter" value="postDate" type="hidden"   >
                                            <input name="sort" th:value="${sort}" type="hidden"   >
                                            <button type="submit" class="headerBtn">Date Created</button>

                                        </form>
                                       </th>
                                    <th>
                                        <form th:action="@{/lox/blog/post}" method="GET" accept-charset="ISO-8859-1">
                                            <input name="filter" value="state" type="hidden"   >
                                            <input name="sort" th:value="${sort}" type="hidden"   >
                                            <button type="submit" class="headerBtn">State</button>

                                        </form>

                                        </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post,iterStat : ${posts.getContent()}">
                                    <td>
                                        <a href="#" class="updateBlogBtn"  th:href="@{/lox/blog/post/__${post.ID}__}" th:attr="data-id=${post.ID}"
                                           th:text="${post.title}=='' ?'empty':${post.title}">DETAIL</a>
                                        <!--th:href="@{'/lox/blog/post?postId=' + ${post.ID}}"-->

                                    </td>

                                    <td th:text="${post.getPostAuthor()}">Test</td>
                                    <td th:text="${#dates.format(post.createdOn, 'MM/dd/yyyy')}"></td>

                                    <td >
                                        <a th:text="${post.state}" href="javascript:void(0)" class="actionBlogBtn"
                                           data-toggle="modal" th:data-target="'#modalStatePost'+${post.ID}"></a>
                                        <!--th:href="@{'/lox/blog/post?postId=' + ${post.ID}}"-->
                                        <div class="modal fade" th:id="'modalStatePost'+${post.ID}"
                                             aria-labelledby="modalStatePost"
                                             role="dialog"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"><span
                                                                    aria-hidden="true">&times;</span><span
                                                                    class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="modalStatePost"><span
                                                            >Update State</span></h4>
                                                        </div>

                                                        <div class="modal-body" style="text-align:center">
                                                            <th:block
                                                                    th:if="${not post.getApproved()}">
                                                                <a  th:href="@{'/lox/blog/post/activate/'+${post.ID}}" type="button" class="btn btn-success">Approve</a>

                                                            </th:block>
                                                            <th:block  th:if="${post.getApproved()} and ${post.state == 'INACTIVE'}">
                                                                <a th:href="@{'/lox/blog/post/activate/'+${post.ID}}" type="button" class="btn btn-success">Activate</a>

                                                            </th:block>
                                                            <th:block  th:if="${post.getApproved()} and ${post.state == 'ACTIVE'}">
                                                                <a th:href="@{'/lox/blog/post/deactivate/'+${post.ID}}" type="button" class="btn btn-warning">Deactivate</a>
                                                            </th:block>

                                                            <a th:href="@{'/lox/blog/post/reject/'+${post.ID}}" type="button" class="btn btn-danger">Reject</a>


                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        </td>

                                    <td>
                                        <th:block
                                                th:unless="${post.featured==null} or  ${post.featured}   ">
                                            <a href="" th:href="@{'/lox/blog/post/featured/' + ${post.ID}}">Mark as Featured</a> ||
                                            <a href="" th:href="@{'/lox/blog/post/delete/' + ${post.ID}}">Delete</a>
                                        </th:block>
                                        <th:block  th:if="${post.featured!=null} and ${post.featured}">
                                            <!-- a href=""  th:href="@{'/lox/blog/post/pending/' + ${post.ID}}" >Pending</a>||  -->
                                            <a href="" th:href="@{'/lox/blog/post/featured/' + ${post.ID}}">UnFeatured</a>||
                                            <a href="" th:href="@{'/lox/blog/post/delete/' + ${post.ID}}">Delete</a>
                                        </th:block>

                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                        <!-- /.box-body -->
                        <!--pagination-->
                        <div th:replace="admin/fragments/pagination :: pagination (pageContent=${posts}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- /.content -->


    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript" src="../../static/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js" th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
<script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js" th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>
<script type="text/javascript" src="../../../static/js/adminLTE/blogs/manage-blogs.js" th:src="@{/js/adminLTE/blogs/manage-blogs.js}"></script>

</body>
</html>
