<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Manage Category</title>
</head>



<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Category Management
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Category</h3>
                </div>
	            <div class="box-header with-border">
			            <span style="float: left; color: red;  font-weight: 100;" th:text="${errorTableMessage}">ERROR</span>
	            </div>
                
                <!-- /.box-header -->
                <div class="box-body">
						<table id="categories-table" class="table table-bordered table-hover dataTable">
							<thead>
							  <tr>
								<th>
									<form th:action="@{/lox/blog/category}" method="GET" accept-charset="ISO-8859-1">
										<input name="filter" value="id" type="hidden"   >
										<input name="sort" th:value="${sort}" type="hidden"   >
										<button type="submit" class="headerBtn">#</button>

									</form>

									</th>
							    <th>
									<form th:action="@{/lox/blog/category}" method="GET" accept-charset="ISO-8859-1">
										<input name="filter" value="name" type="hidden"   >
										<input name="sort" th:value="${sort}" type="hidden"   >
									<button type="submit" class="headerBtn">Name</button>

									</form>

									</th>
								  <th>
									  <form th:action="@{/lox/blog/category}" method="GET" accept-charset="ISO-8859-1">
										  <input name="filter" value="catState" type="hidden"   >
										  <input name="sort" th:value="${sort}" type="hidden"   >
										  <button type="submit" class="headerBtn">State</button>

									  </form>
									  </th>

								  <th>Action</th>
							  </tr>
							</thead>
							<tbody>
							  	<tr th:each="category : ${categories.getContent()}" >
								    <td th:text="${category.id}">
								    </td>

									<td th:text="${category.name}">Test</td>
								   <td>
										<th:block th:if="${category.catState!=null && category.catState=='INACTIVE'}" >
								    	<a href="#"  th:href="@{/lox/blog/category/__${category.id}__/activate}" >ACTIVATE</a>
										</th:block>
										<th:block th:if="${category.catState==null || category.catState=='ACTIVE'}">
											<a href="#"  th:href="@{/lox/blog/category/__${category.id}__/deactivate}" >DEACTIVATE</a>
										</th:block>
										<!--<a href="#"  th:href="@{'/lox/blog/category/delete/' + ${category.ID}}" >DELETE</a>-->
								    </td>
									<td >
										<a class="btn btn-danger" data-toggle="modal"
												th:href="@{/lox/blog/category/__${category.id}__}" >Details</a>



									</td>
								</tr>
							</tbody>
						  
						</table>

                </div>
				<!-- /.box-body -->

				<!--pagination-->
				<div th:replace="admin/fragments/pagination :: pagination (pageContent=${categories}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">
				</div>
                <!-- /.box-body -->
            </div>
            
			<div class="box box-info">
		            <div class="box-header with-border">
			              <h3 class="box-title"  >New Category</h3>
		            </div>
		            <div class="box-header with-border">
			            <span style="float: left; color: red;  font-weight: 100;" th:text="${errorMessage}">ERROR</span>
		            </div>
		            
		            
					<form action="#" th:action="@{/lox/blog/category/save}"  th:object="${category}"  method="post" >
            			<div class="box-body">
					        		<div class="form-group">
									    <input type="text" style="width:50%"
							                       th:field="*{name}"
							                       name="*{name}" class="form-control" id="name" placeholder="Category Name...." />
							             <span th:if="${#fields.hasErrors('name')}" style="float: left; color: red;  font-weight: 100;" th:errors="*{name}" class="validation-error-msg"></span>
					                </div>
            			</div>

					    <div class="box-footer">
					         <button type="submit" class="btn btn-primary"  >Save</button>
					    </div>
            			
  					</form>	
			</div>
	
	
            
            
            

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

</body>
</html>
