<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Manage Blogs</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blogs Statistics
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
	        <div class="row">
	        	<div class="col-md-11">
	        	
		            <div class="box box-primary">
		                <div class="box-header with-border">
		                    <h3 class="box-title">Blogs Stats</h3>
		                </div>
		                <!-- /.box-header -->
		                <div class="box-body">
								<table id="statistics-table" class="table table-bordered table-hover dataTable">
								<thead>
								  <tr>
								  	<th>ID</th>
								  	<th>Post Title</th>
								    <th>Facebook Shares</th>
								    <th>Twitter Shares</th>
								    <th>Instagram Shares</th>
								    <th>Linkedin Shares</th>
								    <th>Google Shares</th>

								  </tr>
								  </thead>
								 <tbody> 
								  	<tr th:each="statistic : ${statistics.content}">
									  		<td th:text="${statistic.postId}">Test</td>
									  		<td th:text="${statistic.postTitle}">Test</td>
									  		<td th:text="${statistic.facebookShares}">Test</td>
									  		<td th:text="${statistic.twitterShares}">Test</td>
									  		<td th:text="${statistic.googleShares}">Test</td>
									  		<td th:text="${statistic.emailShares}">Test</td>
									  		<td th:text="${statistic.pinterestShares}">Test</td>


								   </tr>
								   </tbody>
								</table>
		
		
		                </div>
						<!--pagination-->
						<div th:replace="admin/fragments/pagination :: pagination (pageContent=${statistics}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">
						</div>
		                <!-- /.box-body -->
		            </div>
	
	
			</div>
        		</div>
        </section>
        <!-- /.content -->


    </div>
    <!-- /.content-wrapper -->
    

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->


</body>
</html>
