<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Dating Place Management</title>
</head>

<link rel="stylesheet" href="../../../static/css/adminLTE/events.css" type="text/css"
      th:href="@{/css/adminLTE/events.css}">
<link rel="stylesheet" type="text/css"
      href="../../../static/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css"
      th:href="@{/css/jHtmlArea/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css}">
<link rel="stylesheet" type="text/css" href="../../static/css/semantic.css"
      th:href="@{/css/semantic.css}">
<link rel="stylesheet" type="text/css" href="../../../static/css/jHtmlArea/jHtmlArea.css"
      th:href="@{/css/jHtmlArea/jHtmlArea.css}">
<link rel="stylesheet" type="text/css" href="../../../static/css/jHtmlArea/jHtmlArea.Editor.css"
      th:href="@{/css/jHtmlArea/jHtmlArea.Editor.css}">

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--/*@thymesVar id="datingPlacesDealsDto" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceDealsDto"*/-->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div>
                <h1>
                    Deals Approval Management
                    <!--<small>Optional description</small>-->
                </h1>
                <!-- Modal -->
                <div class="modal fade" th:id="'createModalBlog'" aria-labelledby="blogLabel" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span
                                        class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="modalPostTitle"><span>Create Event</span></h4>
                            </div>
                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dating Places</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>Dating Place Name</th>
                            <th>Deal Description</th>
                            <th>Deal Price</th>
                            <th>Full Amount</th>
                            <th>Discount Value</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Approval Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="datingPlacesDealsDto : ${datingPlacesDeals.getContent()}">
                            <td th:text="${datingPlacesDealsDto.datingPlace.placeName}"></td>
                            <td th:text="${datingPlacesDealsDto.dealDescription}"></td>
                            <td th:text="${datingPlacesDealsDto.dealPrice}"></td>
                            <td th:text="${datingPlacesDealsDto.fullAmount}"></td>
                            <td th:text="${datingPlacesDealsDto.discountValue}"></td>
                            <td th:text="${#dates.format(datingPlacesDealsDto.startDate,'dd-MM-yyyy')}"></td>
                            <td th:text="${#dates.format(datingPlacesDealsDto.expiryDate,'dd-MM-yyyy')}"></td>
                            <td th:switch="${datingPlacesDealsDto.approvalStatus.name()}">
                                <a href="javascript:void(0)" class="actionBlogBtn"
                                   data-toggle="modal" th:data-target="'#modalStatePost'+${datingPlacesDealsDto.placeDealId}">
                                    <span th:case="'PENDING'" class="label label-warning"
                                          th:text="${datingPlacesDealsDto.approvalStatus}"></span></a>
                                <a href="javascript:void(0)" class="actionBlogBtn"
                                   data-toggle="modal" th:data-target="'#modalStatePost'+${datingPlacesDealsDto.placeDealId}">
                                    <span th:case="'APPROVED'" class="label label-success"
                                          th:text="${datingPlacesDealsDto.approvalStatus}"></span></a>
                                <span th:case="'REJECTED'" class="label label-danger"
                                      th:text="${datingPlacesDealsDto.approvalStatus}"></span>

                                <div class="modal fade" th:id="'modalStatePost'+${datingPlacesDealsDto.placeDealId}"
                                     aria-labelledby="modalStatePost"
                                     role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="modalStatePost"><span>
                                                    Place Approval</span></h4>
                                            </div>
                                            <div class="modal-body" style="text-align:center">
                                                <th:block
                                                        th:if="${not datingPlacesDealsDto.getApproved()}">
                                                    <a th:href="@{'/lox/dating/places/activate/deal/'+${datingPlacesDealsDto.placeDealId}}"
                                                       type="button" class="btn btn-success">Approve</a>

                                                </th:block>
                                                <a th:href="@{'/lox/dating/places/reject/deal/'+${datingPlacesDealsDto.placeDealId}}"
                                                   type="button"
                                                   class="btn btn-danger">Reject</a>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-default"
                                                        data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->

                <!--pagination-->
                <div class="search-pagination" style="padding-bottom: 1px">
                    <ul>
                        <li th:class="${datingPlacesDeals.isFirst()}?disabled:not(disabled)">
                            <a th:if='${datingPlacesDeals.isFirst()}'><i class="fa fa-angle-double-left"
                                                                    aria-hidden="false"></i></a>
                            <a th:if='${not datingPlacesDeals.isFirst()}' th:href="@{${actionUrl}+'page='+${currentPage-1}}"><i
                                    class="fa fa-angle-double-left"
                                    aria-hidden="false"></i></a></li>
                        <th:block
                                th:each="pageNumber: ${#numbers.sequence( 1, datingPlacesDeals.getTotalPages()==0?1:datingPlacesDeals.getTotalPages())}"
                                style="display: inline-block">
                            <li th:class="${currentPage}==${pageNumber}?active:not(active)"><a
                                    th:href="@{${actionUrl}+'page='+${pageNumber}}" th:text="${pageNumber}">1</a></li>
                        </th:block>
                        <li th:class="${datingPlacesDeals.isLast()}?disabled:not(disabled)">
                            <a th:if='${datingPlacesDeals.isLast()}'><i class="fa fa-angle-double-right"
                                                                   aria-hidden="true"></i></a>
                            <a th:if='${not datingPlacesDeals.isLast()}'
                               th:href="@{${actionUrl}+'page='+${currentPage+1}}"><i
                                    class="fa fa-angle-double-right"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

    <script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
            th:src="@{/js/jHtmlArea/jquery-ui-1.7.2.custom.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jHtmlArea/jHtmlArea-0.8.min.js"
            th:src="@{/js/jHtmlArea/jHtmlArea-0.8.min.js}"></script>
    <script src="../../../static/js/web_pages/event.js" th:src="@{/js/web_pages/event.js}"
            type="text/javascript"></script>
    <script src="../../../static/js/maps/event-location.js" th:src="@{/js/maps/event-location.js}"
            type="text/javascript"></script>
    <script src="../../../static/js/adminLTE/events/events_create_admin.js"
            th:src="@{/js/adminLTE/events/events_create_admin.js}" type="text/javascript"></script>
    <script src="../../../static/js/utility.js" th:src="@{/js/utility.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var google_key = [[${google_key}]];
        var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&libraries=places&key=" + [[${google_key}]];

        (function () {
            var a = document.createElement('script');
            a.type = 'text/javascript';
            a.async = true;
            a.defer = true;
            a.src = google_url;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(a, s);
        })();
        /*]]>*/
    </script>
</div>
<!-- ./wrapper -->

</body>
</html>
