<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},_,_,_)">
    <title>Lovappy Admin | Dating Place Management</title>
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Person Type Management
                <!--<small>Optional description</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>
        <!--/*@thymesVar id="personTypes" type="java.util.ArrayList<com.realroofers.lovappy.service.datingPlaces.dto.PersonTypeDto>"*/-->

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Person Types</h3>

                    <button id="btn-add" type="button" class="btn btn-success pull-right">
                        Add Person Types
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="personType : ${personTypes}">
                            <td th:text="${personType.id}"></td>
                            <td th:text="${personType.personTypeName}"></td>
                            <td>
                                <span th:if="${personType.enabled}" class="label label-success">enabled</span>
                                <span th:unless="${personType.enabled}" class="label label-danger">disabled</span>
                            </td>
                            <td><a th:href="@{/lox/dating/places/personTypes/__${personType.id}__}"
                                   class="btn btn-primary btn-xs">Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function () {
        $("#btn-add").click(function () {
            window.location.href = baseUrl + "lox/dating/places/personTypes/add";
        });
    });
</script>

</body>
</html>
