table {
  font-size: 1em;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	/*margin-top: -2px;*/
}

.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_cc0000_256x240.png");
}

a.ui-datepicker-prev, a.ui-datepicker-next{
    height: 100% !important;
    cursor: pointer;
}

div#upload-modal .table {
    width: 100%;
}