#google-maps-container {
  height: 200px;
  border-radius: 8px;
}

#last-address-search {
    text-align: center;
    width: 160px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 13px;
}

#arrow-right-2 {
  position: absolute;
  top: -25px;
  right: -40px;
}

.gender-answer {
    display: inline-block;
}

.gender-text {
    display: inline-block;
    width: 180px;
}

.author-area{
    float: right;
}
.author-area p{
    display: inline-block;
    color: black;
    margin: 0em 1em;
}
.author-area input{
    background: #4ac89b;
}

a#author {
    background: #4ac89b;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Nexa Light', sans-serif;
}
a#ambassador {
    background: #455a64;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Nexa Light', sans-serif;
}
a#musician {
    background: #4392F1;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Nexa Light', sans-serif;
}
button#submit-gender {
    background: #ec743b;
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px 10px;
    font-size: 16px;
    font-family: 'Nexa Light', sans-serif;
}

span.gender-name-info {
    color: #222;
    vertical-align: bottom;
    display: inline-block;
    font-family: 'Nexa Bold', sans-serif;
}

.edit-location-btn.btn {
    display: inline-block;
    color: #ec743b;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Nexa Bold', sans-serif;
}

.author-area input {
    background: #ec743b;
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 16px;
}

div#users-near-you .gender-answer {
    margin-bottom: 10px;
}

.city-miles {
    padding-left: 180px;
}

div#btn-search-map {
    display: inline-block;
    color: #ccc;
    font-size: 23px;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 5px 8px;
    left: -4px;
    cursor: pointer;
}

@media (max-width: 479px) {
    .city-miles {
        padding-left: 0;
    }
    .uni-select span {
        width: 48%;
    }
    .gender-content {
        margin: 0px 0 0px 0;
    }
    .gender-text {
        margin-bottom: 10px;
    }
    .edit-location-btn.btn {
        width: 100%;
        text-align: center;
    }
    span.gender-name-info {
        font-size: 14px;
    }
    div#users-near-you .gender-answer {
        margin-top: 0;
    }
}