#posts {
  background: #4ef8ba;
  text-align: center;
}

#posts a {
  text-decoration: none;
  color: black;
}

#posts h2 {
  font-size: 50px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

#posts div.row {
  margin-bottom: 1%;
}

#posts div.row:last-of-type {
  margin-bottom: 0;
}

#posts div.row:after {
  clear: both;
}

#posts div.row div.column:nth-of-type(2) {
  margin: 0 1%;
  width: 34%;
}
#posts div.column {
  box-sizing: border-box;
  border: none;
  height: 228px;
  float: left;
  width: 32%;
  margin: 0;
  text-align: center;
  overflow: hidden;
  padding-top: 90px;
  background: scroll no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#posts div.row:first-of-type div.column:nth-of-type(2) {
  background-image: url(../images/wed_pic.png) no-repeat;
}

#posts div.row:first-of-type div.column:nth-of-type(3) {
  background-image: url(../images/rings.png) no-repeat;
}

#posts div.row:nth-of-type(2) div.column:first-of-type {
  background-image: url(../images/heart.png) no-repeat;
}

#posts div.row:nth-of-type(2) div.column:nth-of-type(2) {
  background-image: url(../images/lips.png) no-repeat;
}

#posts div.row:nth-of-type(2) div.column:nth-of-type(3) {
  background-image: url(../images/stand.png) no-repeat;
}

/* home lovappy radio section */

section.home-lovappy-radio {
    margin: 0;
    background: #eaeaea;
    padding: 50px 0 30px 0;
}

section.home-lovappy-radio
 ul {
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    padding: 0 20px;
}

section.home-lovappy-radio ul li {
    display: inline-block;
    padding: 1em;
    margin-bottom: 20px;
    width: 190px;
    min-height: 280px;
    border: 1px solid #ccc;
    padding: 0 0 30px 0!important;
    position: relative;
    margin-right: 10px;
    padding-bottom: 10px;
    background: white;
}

section.home-lovappy-radio ul li img.radio-img {
    min-height: 150px;
    width: 180px;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.lovdrop-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.lovdrop-user-info img {
    height: 24px;
    margin-right: 0.5em;
}

a.user-profile {
    color: #4d82b5;
    text-decoration: none;
    display: block;
    text-align: center;
}

.lovdrop-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lovdrop-actions img {
    margin: 0px 0.5em;
    cursor: pointer;
    height: 22px;
    width: auto;
}

.lovdrop-sound-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    position: relative;
    width: 100%;
    bottom: 2px;
}

.blog-section-title {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 100%;
    text-align: center;
}

section#homepage-featured-blog .columns {
    border: none!important;
    position: relative;
}

.lovdrop-sound-container .lovdrop-sound-wrapper {
    background: #ebebeb;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
}

.lovappy-radio-id {
    background: #ccc;
    padding: 3px;
    position: absolute;
    padding-top: 6px;
    color: #4d82b5;
    font-weight: 900;
    bottom: 0;
    width: 100%;
}

.lovdrop-sound-container .lovdrop-play-btn {
    width: 50px;
    background: #fc7272;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lovdrop-sound-container .lovdrop-play-time {
    display: inline-block;
    padding: 0em 0.5em;
}

.lovdrop-ads-name {
    position: absolute;
    top: -15px;
    z-index: 10;
    background: #fc7272;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 7px 4px;
}

.lovdrop-container .lovdrop-cover {
    height: 150px;
    width: 180px;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.lovdrop-container.ppt p {
    color: #666666;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    max-width: 80%;
    margin: auto;
    letter-spacing: 0.05em;
    margin-top: 5px;
}

.lovdrop-container .lovdrop-sound-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    position: absolute;
    width: 100%;
    bottom: -3px;
}

.ppt .lovdrop-sound-container {
    bottom: 32px;
}

.lovdrop-container .lovdrop-sound-container .lovdrop-sound-wrapper {
    background: #ebebeb;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
}

.lovdrop-container .lovdrop-sound-container .lovdrop-play-btn {
    width: 50px;
    background: #fc7272;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lovdrop-container .lovdrop-sound-container .lovdrop-play-btn img {
    height: 24px;
}

.lovdrop-container .lovdrop-sound-container .lovdrop-play-time {
    display: inline-block;
    padding: 0em 0.5em;
}
/* end of lovapy radio section */

@media (max-width: 767px) {
    section#homepage-plans .six {
        float: left;
        width: 100%;
    }
}
@media (max-width: 550px) {
    section#homepage-featured-blog ol {
        width: 100%;
        float: left;
        height: 250px;
        padding: 0;
    }
}