/* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

#result {
  height: 200px;
  width: 200px;

}

cropper.min.js