@font-face { 
	font-family: 'Nexa Bold'; 
	src: url('../fonts/Nexa Bold.otf'); }
@font-face { 
	font-family: 'Nexa Light'; 
	src: url('../fonts/Nexa Light.otf'); }
@font-face{ 
    font-family: 'Nexa Bold';
    src: url('../fonts/NexaFreeBoldwebfont.woff'); 
}
@font-face{ 
    font-family: 'Nexa Light';
    src: url('../fonts/Nexa Light.woff');
}
* {
	font-family: 'Nexa Light', sans-serif;
}
/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
} 

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
} */

.column-progress-bar {
  width: 100%;
  float: left;
  padding: 15px;
}

#looking-lets-start {
  background: url(../images/first-bg.png) no-repeat;
  padding: 15px;
  color: white;
  font-size: 30px;
  margin-right: 5px;
  background-size: 100% 100%;
  max-width: 440px;
  display: inline-block;
  padding-right: 180px;
}

#looking-looking-for {
  background: url(../images/looking-for-arrow-bg.png) no-repeat;
  padding: 15px;
  color: white;
  font-size: 30px;
  margin-right: 4px;
  background-size: 100% 100%;
  max-width: 530px;
  padding-left: 55px;
  display: inline-block;
  padding-right: 32px;
}

#looking-lets-know {
  background: url(../images/last-bg.png) no-repeat;
  padding: 15px;
  color: white;
  font-size: 30px;
  background-size: 100% 100%;
  max-width: 530px;
  padding-left: 55px;
  display: inline-block;
  padding-right: 40px;
}

@media (min-width: 320px) and (max-width: 992px){
	#looking-looking-for, #looking-lets-start, #looking-lets-know {
	    margin-right: 0;
	    font-size: 15px;
	}
}

#preference-section {
	background-color: rgba(255, 255, 255, 0.62);
	margin-top: 40px;
	border-radius: 4px;
	padding-left: 30px;
}

#preference-main {
	background: url(../images/looking-for-bg.png) no-repeat; background-size: 100% 100%;
}

#looking-for-main {
  background: url(../images/looking-for-bg.png) no-repeat;
  background-size: 100% 100%;
}

input.preference {
    display: none;
}

input#looking-continue-btn {
    color: white;
    background-color: #ced422;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

img#playstore-icon{
	height: 50px;
	margin-right: 60px;
	margin-left: 60px;
}

@media (min-width: 319px) and (max-width: 992px){
	img#playstore-icon {
	    margin-right: 0;
	    margin-left: 0;
	}
}
#looking-for-questions {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.78);
  padding-left: 50px;
}


.wrapper {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}

header {
	background: #ffffff;
	padding: 20px 0;
}

header h1 {
	text-indent: -10000px;
	background: url('images/logo.png') no-repeat;
	width: 197px;
	height: 54px;
	float: left;
}

header nav{
	float: right;
}

header nav h2{
	line-height: 0;
	margin: 0;
	text-indent: -10000px;
}

header nav li{
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

header nav li a{
	text-decoration: none;
	color: #232323;
	font-size: 22px;
}

/*
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
*/
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-1-my-likes {width: 9.33%;}
.col-1-gift-catalog-2 {width: 11.33%; border-right: 1px solid; padding-top: 0; padding-bottom: 0;}
.col-2 {width: 16.66%;}
.col-2-pm-inbox {width: 11.66%;}
.col-2-view-profile {width: 23%; margin-top: 25px;}
.col-3 {width: 25%;}
.col-3-features {width: 30%;}
.col-3-initial-upload {width: 19%;}
.col-4 {width: 33.33%;}
.col-4-view-profile {width: 39.33%;}
.col-4-2ndrow {width: 36.33%;}
.col-5 {width: 41.66%;}
.col-5-admin-dashboard {width: 37%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-7-3rdrow {width: 57.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-9-view-profile {width: 70%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-11-my-likes {width: 91.66%;}
.col-12 {width: 100%;}
.col-2-gift-box {width: 13.66%;}



label.radio_img > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.radio_img > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label.radio_img > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom:5px solid #454545;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  margin-bottom: -10px;
}

label > input + img.registration{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  margin-bottom: -30px;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom:5px solid #454545;
}

/* @media screen and (max-width: 360px){
   body {
        width: 147% !important;
    }
} 

@media screen and (min-width: 362px) and (max-width: 412px){
   body {
        width: 125% !important;
    }
} 


@media screen and (min-width: 361px) and (max-width: 375px){
   body {
        width: 125% !important;
    }
} 

@media screen and (min-width: 413px) and (max-width: 768px){
   body {
        width: 150% !important;
    }
} 
*/