.reg-form-control {
    vertical-align: top;
}
#register-form input[type="text"]:hover {
    background: #ec743b;
    color: white;
    text-transform: none;
}
div.reg-form-control input {
    width: 100%;
    font-size: 18px;
    color: #232323;
    transition: all 0.4s;
}
.error-msg {
    font-size: 0.8em;
    color: red;
    display: block;
    padding-left: 5px;
    background: rgba(234, 234, 234, 0.64);
    margin-top: -9px;
    border-radius: 7px;
}
#submit-homepage-reg {
    background: #ec743b;
    color: white;
    padding: 1px 50px;
    font-size: 23px;
    border-radius: 5px;
    transition: all 0.4s;
    border: 1px solid #ec743b;
}
.row input.fb-button {
    border: 1px solid #3b5b93;
    transition: all 0.4s;
}
input.fb-button:hover {
    color: #3b5b93;
    background: white;
}
.row input.google-button {
    border: 1px solid #cf5d45;
}
.row input.google-button:hover {
    color: #cf5d45;
    background: White;
}


