<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'dating-places', false)">
    <title>Lovappy | Dating place</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/blogs.css"
          th:href="@{/css/web_pages/dating.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.rateyo.min.css"
          th:href="@{/css/jquery.rateyo.min.css}">
</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<!--/*@thymesVar id="searchPlace" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceFilterDto"*/-->
<!--/*@thymesVar id="datingPlace" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceDto"*/-->
<!--/*@thymesVar id="location" type="com.realroofers.lovappy.service.datingPlaces.dto.LocationDto"*/-->
<!--/*@thymesVar id="atmospheres" type="java.util.ArrayList<com.realroofers.lovappy.service.datingPlaces.dto.PlaceAtmosphereDto>"*/-->
<!--/*@thymesVar id="foodTypes" type="java.util.ArrayList<com.realroofers.lovappy.service.datingPlaces.dto.FoodTypeDto>"*/-->
<!--/*@thymesVar id="personTypes" type="java.util.ArrayList<com.realroofers.lovappy.service.datingPlaces.dto.PersonTypeDto>"*/-->
<!--/*@thymesVar id="featuredReview" type="com.realroofers.lovappy.service.datingPlaces.dto.DatingPlaceReviewDto"*/-->
<section class="main-section">
    <img src="../../static/images/icons/right_arrow.png"
         th:src="@{/images/dating/dating-main.jpg}" alt="right arrow">
    <h1>Best Dating Places</h1>
    <a th:href="@{/radio}" class="filter-btn no-decoration">Find a Date</a>
</section>

<section class="main-content">
    <div class="container">
        <div th:if="${featuredReview != null}" class="tick-tock">
            <img th:src="@{/images/tick.png}" class="people" alt="Male Female">
            <div class="tick-tock-content">
                <h3 th:if="${featuredReview.googlePlaceId == null}"
                    th:text="${'User '+featuredReview.reviewerId +' went to '+featuredReview.placeId.placeName+' Diner on '+ #dates.format(featuredReview.reviewDate,'MM-dd-yyyy')}"></h3>
                <h3 th:if="${featuredReview.googlePlaceId != null}"
                    th:text="${'User '+featuredReview.reviewerId +' went to '+featuredReview.placeName+' Diner on '+ #dates.format(featuredReview.reviewDate,'MM-dd-yyyy')}"></h3>
                <h2 th:text="${featuredReview.reviewerComment}"></h2>
                <div class="tick-stars">
                    <img th:if="${featuredReview.suitableGender == T(com.realroofers.lovappy.service.user.support.Gender).BOTH}"
                         th:src="@{/images/m_f.png}" alt="Male Female">
                    <img th:if="${featuredReview.suitableGender == T(com.realroofers.lovappy.service.user.support.Gender).MALE}"
                         th:src="@{/images/dating/MM1.png}" alt="Male">
                    <img th:if="${featuredReview.suitableGender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                         th:src="@{/images/dating/FF.png}" alt="Female">
                    <span th:if="${featuredReview.suitableGender == T(com.realroofers.lovappy.service.user.support.Gender).ALL}">ALL</span>
                    <div id="overAll"></div>
                    <input id="over-all-rating" type="hidden" th:value="${featuredReview.averageRating}"/>
                </div>
            </div>
        </div>
        <div class="sorting-list">
            <form id="quick-filter-form1" th:object="${searchPlace}">
                <input id="quick-filter" type="hidden" th:field="*{quickFiltered}"/>
                <input id="latitude-filter" type="hidden" th:field="*{latitude}"/>
                <input id="longitude-filter" type="hidden" th:field="*{longitude}"/>
                <input id="world-wide-filter" type="hidden" th:field="*{worldWide}"/>
                <input id="local-filter" type="hidden" th:field="*{local}"/>
                <ul>
                    <li>
                        TOP RATED:
                    </li>
                    <li id="world-select">
                        <span>WORLDWIDE</span>
                    </li>
                    <li id="local-select">
                        <span>LOCAL</span>
                    </li>
                </ul>
            </form>
            <form id="quick-filter-form2" th:object="${searchPlace}">
                <input id="quick-filter2" type="hidden" th:field="*{quickFiltered}"/>
                <input id="latitude-filter2" type="hidden" th:field="*{latitude}"/>
                <input id="longitude-filter2" type="hidden" th:field="*{longitude}"/>
                <input id="gender-filter" type="hidden" th:field="*{gender}"/>
                <ul>
                    <li>
                        TOP RATED FOR:
                    </li>
                    <li id="all-filter">
                        <span>ALL</span>
                    </li>
                    <li id="both-filter">
                        <img th:src="@{/images/m_f.png}" alt="Male Female">
                    </li>
                    <li id="male-filter">
                        <img th:src="@{/images/dating/MM1.png}" alt="Male Female">
                    </li>
                    <li id="female-filter">
                        <img th:src="@{/images/dating/FF.png}" alt="Male Female">
                    </li>
                </ul>
            </form>
        </div>
        <div class="clearfix">
            <div class="pull-left">

                <div class="filter-icon pull-left" style="margin-top: 20px; cursor: pointer">
                    <div class="filter-button">
                        Filter <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <div class="add-a-location">
                    <a class="add-a-location-a" th:href="@{/dating/places/add}">Add a Location</a>
                    <span>*Review a place not listed</span>
                </div>
            </div>
        </div>
    </div>
    <div class="advance-search" style="display: none;">
        <div class="container">
            <div class="advance-bg">
                <input type="hidden" id="isAmbassadorOnly"
                       th:value="${(!#lists.isEmpty(userRoles) && #lists.size(userRoles) == 1 && #lists.contains(userRoles,'EVENT_AMBASSADOR') == true)?'1':''}">
                <form id="dating-place-search-form" th:object="${searchPlace}">
                    <input id="filtered" type="hidden" th:field="*{filtered}"/>
                    <input id="filter-latitude" type="hidden" th:field="*{latitude}"/>
                    <input id="filter-longitude" type="hidden" th:field="*{longitude}"/>
                    <div class="box">
                        <h3>Crowd Age:</h3>
                        <ul>
                            <li>
                                <label for="crowd-age">
                                    <input class="radio-select" type="radio" id="crowd-age" th:field="*{ageRange}"
                                           th:value="RANGE1" name="ageRange">18-30</label>
                            </li>
                            <li>
                                <label for="crowd-age2">
                                    <input class="radio-select" type="radio" id="crowd-age2" th:field="*{ageRange}"
                                           th:value="RANGE2"
                                           name="ageRange">
                                    30-50
                                </label>
                            </li>
                            <li>
                                <label for="crowd-age3">
                                    <input class="radio-select" type="radio" id="crowd-age3" th:field="*{ageRange}"
                                           th:value="RANGE3" name="ageRange">
                                    50+
                                </label>
                            </li>
                            <li>
                                <label for="crowd-age4">
                                    <input class="radio-select" type="radio" id="crowd-age4" th:field="*{ageRange}"
                                           th:value="RANGE4" name="ageRange">
                                    ALL
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Best for:</h3>
                        <ul>
                            <li>
                                <label for="crowd-mf">
                                    <input class="radio-select" type="radio" id="crowd-mf" th:field="*{gender}"
                                           th:value="BOTH" name="gender">
                                    <img src="/images/icons/new-both-gender.png"
                                         th:src="@{/images/icons/new-both-gender.png}" alt="Male Female">
                                </label>
                            </li>
                            <li>
                                <label for="crowd-mm">
                                    <input class="radio-select" type="radio" id="crowd-mm" th:field="*{gender}"
                                           th:value="MALE" name="gender">
                                    <img src="/images/new-male-icon.png"
                                         th:src="@{/images/new-male-icon.png}" alt="Male">
                                    <img src="/images/new-male-icon.png"
                                         th:src="@{/images/new-male-icon.png}" alt="Male">
                                </label>
                            </li>
                            <li>
                                <label for="crowd-ff">
                                    <input class="radio-select" type="radio" id="crowd-ff" th:field="*{gender}"
                                           th:value="FEMALE" name="gender">
                                    <img src="/images/new-female-icon.png"
                                         th:src="@{/images/new-female-icon.png}" alt="Female">
                                    <img src="/images/new-female-icon.png"
                                         th:src="@{/images/new-female-icon.png}" alt="Female">
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Price Range:</h3>
                        <ul>
                            <li>
                                <label for="crowd-price1">
                                    <input class="radio-select" type="radio" id="crowd-price1"
                                           th:field="*{priceRange}"
                                           th:value="FREE" name="priceRange">
                                    <span class="free-yellow">FREE</span>
                                </label>
                            </li>
                            <li>
                                <label for="crowd-price2">
                                    <input class="radio-select" type="radio" id="crowd-price2"
                                           th:field="*{priceRange}"
                                           th:value="CHEAP" name="priceRange">$
                                </label>
                            </li>
                            <li>
                                <label for="crowd-price3">
                                    <input class="radio-select" type="radio" id="crowd-price3"
                                           th:field="*{priceRange}"
                                           th:value="EXPENSIVE" name="priceRange">$$
                                </label>
                            </li>
                            <li>
                                <label for="crowd-price4">
                                    <input class="radio-select" type="radio" id="crowd-price4"
                                           th:field="*{priceRange}"
                                           th:value="VERYEXPENSIVE" name="priceRange">$$$
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="box">
                            <h3>Security</h3>
                            <select id="security" th:field="*{security}">
                                <option th:value="COULD">Not Important</option>
                                <option th:value="SHOULD">Somewhat Important</option>
                                <option th:value="MUST">Very Important</option>
                            </select>
                        </div>
                        <div class="box">
                            <h3>Parking</h3>
                            <select id="parking" th:field="*{parking}">
                                <option th:value="COULD">Not Important</option>
                                <option th:value="SHOULD">Somewhat Important</option>
                                <option th:value="MUST">Very Important</option>
                            </select>
                        </div>
                        <div class="box">
                            <h3>Transportation Access</h3>
                            <select id="transportation" th:field="*{transport}">
                                <option th:value="COULD">Not Important</option>
                                <option th:value="SHOULD">Somewhat Important</option>
                                <option th:value="MUST">Very Important</option>
                            </select>
                        </div>
                        <div class="box list-down">
                            <h3>Pets Allowed</h3>
                            <ul>
                                <li>
                                    <label for="pets-yes">
                                        <input class="radio-select" type="radio" id="pets-yes" th:field="*{petsAllowed}"
                                               th:value="true" name="pets">Yes</label>
                                </li>
                                <li>
                                    <label for="pets-no">
                                        <input class="radio-select" type="radio" id="pets-no" th:field="*{petsAllowed}"
                                               th:value="false" name="pets">No</label>
                                </li>
                            </ul>
                        </div>
                        <div class="box list-down">
                            <h3>Neighbor hood</h3>
                            <ul>
                                <li>
                                    <label for="rude">
                                        <input class="radio-select" type="radio" id="rude" th:field="*{neighborhood}"
                                               th:value="RURAL"
                                               name="neighborhood">Rural
                                    </label>
                                </li>
                                <li>
                                    <label for="urban">
                                        <input class="radio-select" type="radio" th:field="*{neighborhood}" id="urban"
                                               th:value="URBAN"
                                               name="neighborhood">Urban
                                    </label>
                                </li>
                                <li>
                                    <label for="suburban">
                                        <input class="radio-select" type="radio" th:field="*{neighborhood}"
                                               id="suburban" th:value="SUBURBAN"
                                               name="neighborhood">Suburban
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box one-line">
                            <label>Good for Married Couples</label>
                            <ul>
                                <li>
                                    <label for="couple-yes">
                                        <input class="radio-select" type="radio" id="couple-yes"
                                               th:field="*{goodForCouple}" th:value="true" name="couple">Yes
                                    </label>
                                </li>
                                <li>
                                    <label for="couple-no">
                                        <input class="radio-select" type="radio" id="couple-no"
                                               th:field="*{goodForCouple}" th:value="false" name="couple">No
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance-mini-container row clearfix">
                        <div class="col-5">
                            <div class="box list-down">
                                <h3>BEST SUITED FOR <span>(select all that apply)</span></h3>
                                <ul>
                                    <li th:each="personType,iter : ${personTypes}" th:if="${iter.index < 6}">
                                        <label>
                                            <input class="radio-select" type="checkbox" th:value="${personType.id}"
                                                   th:text="${personType.personTypeName}" name="personTypes">
                                        </label>
                                    </li>
                                </ul>
                                <ul>
                                    <li th:each="personType,iter : ${personTypes}"
                                        th:if="${iter.index >= 6 && iter.index <12}">
                                        <label>
                                            <input class="radio-select" type="checkbox" th:value="${personType.id}"
                                                   th:text="${personType.personTypeName}" name="personTypes">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="box list-down green-check">
                                <h3>dating deals <img src="../../static/images/icons/right_arrow.png"
                                                      th:src="@{/images/deals-cut.png}" alt="right arrow"></h3>
                                <ul>
                                    <li>
                                        <label for="isDealsActive">
                                            <input class="radio-select" id="isDealsActive" type="checkbox"
                                                   th:value="true"
                                                   name="isDealsActive" th:field="*{dealsActive}">Display
                                            places offering deals only
                                            <input type="hidden" id="current-date" name="current-date"
                                                   th:field="*{currentDate}">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="box list-down">
                                <h3>Atmosphere</h3>
                                <ul>
                                    <li th:each="atmosphere,iter : ${atmospheres}" th:if="${iter.index < 6}">
                                        <label>
                                            <input class="radio-select" type="checkbox" id="atmosphere"
                                                   name="atmosphere"
                                                   th:value="${atmosphere.id}" th:field="*{placeAtmosphere}"
                                                   th:text="${atmosphere.atmosphereName}">
                                        </label>
                                    </li>
                                </ul>
                                <ul>
                                    <li th:each="atmosphere,iter : ${atmospheres}"
                                        th:if="${iter.index >= 6 && iter.index <12}">
                                        <label for="atmosphere6">
                                            <input class="radio-select" type="checkbox" id="atmosphere6"
                                                   name="atmosphere6"
                                                   th:value="${atmosphere.id}" th:field="*{placeAtmosphere}"
                                                   th:text="${atmosphere.atmosphereName}">
                                        </label>
                                    </li>
                                </ul>
                                <ul>
                                    <li for="atmosphere12" th:each="atmosphere,iter : ${atmospheres}"
                                        th:if="${iter.index >= 12 && iter.index <18}">
                                        <label>
                                            <input class="radio-select" type="checkbox" id="atmosphere12"
                                                   name="atmosphere12" th:value="${atmosphere.id}"
                                                   th:field="*{placeAtmosphere}"
                                                   th:text="${atmosphere.atmosphereName}">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="box list-down">
                                    <h3>Food</h3>
                                    <ul>
                                        <li th:each="foodType,iterCount : ${foodTypes}" th:if="${iterCount.index <3}">
                                            <label for="food">
                                                <input class="radio-select" type="checkbox" id="food"
                                                       th:value="${foodType.id}" th:field="*{foodTypes}"
                                                       th:text="${foodType.foodTypeName}" name="food">
                                            </label>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li th:each="foodType,iterCount : ${foodTypes}"
                                            th:if="${3 <= iterCount.index && iterCount.index <6}">
                                            <label for="food3">
                                                <input class="radio-select" type="checkbox" id="food3"
                                                       th:value="${foodType.id}" th:field="*{foodTypes}"
                                                       th:text="${foodType.foodTypeName}" name="food3">
                                            </label>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li th:each="foodType,iterCount : ${foodTypes}"
                                            th:if="${6 <= iterCount.index && iterCount.index <9 }">
                                            <label for="food5">
                                                <input class="radio-select" type="checkbox" id="food5"
                                                       th:value="${foodType.id}" th:field="*{foodTypes}"
                                                       th:text="${foodType.foodTypeName}" name="food5">
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" id="filter-submit" class="btn-red-lg" value="Search">

                    </div>
                </form>
                <input type="reset" id="filter-reset" class="btn-red-lg dating-reset" value="Reset">
            </div>
        </div>
    </div>
    <div class="location-filter">
        <div class="container">
            <div class="ui form">
                <form id="name-search-form" th:object="${location}">
                    <div class="inline fields">
                        <label class="bold">Search for a Location</label>

                        <div class="field location-search-main">
                            <input id="place-name" type="text"
                                   placeholder="Search locations by name and/or location(ie. Starbucks, Los Angeles..)"
                                   th:field="*{placeName}">
                            <input type="hidden" th:field="*{latitude}" id="name-latitude">
                            <input type="hidden" th:field="*{longitude}" id="name-longitude">
                            <input id="search-radius" type="hidden" th:field="*{radius}">
                        </div>
                        <div class="field">
                            <button class="ui icon red basic button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="content-article">
        <div class="container clearfix">

            <div class="article">

                <article th:if="${not #lists.isEmpty(datingPlaces.getContent())}"
                         th:each="datingPlace : ${datingPlaces.getContent()}">
                    <div class="dating-img" th:if="${datingPlace.coverPictureUrl == null}">
                        <img th:if="${datingPlace.coverPicture == null}" src="images/dating/post.jpg"
                             th:src="@{${'/images/dating/post.jpg'}}" alt="Dating post"
                             style="width: 351px; height: 263px">
                        <img th:if="${datingPlace.coverPicture != null}"
                             th:src="@{${datingPlace.coverPicture.getUrl()}}" alt="Dating post"
                             style="width: 351px; height: 263px">
                    </div>
                    <div class="dating-img" th:if="${datingPlace.coverPictureUrl != null}">
                        <img id="cover-image1" src="../../static/images/icons/right_arrow.png"
                             th:src="@{${datingPlace.coverPictureUrl}}"
                             alt="Dating post">
                    </div>
                    <div class="dating-contant">
                        <a th:href="@{'/dating/places/'+${datingPlace.datingPlacesId}}"
                           style="text-decoration: none;color: #0a0a0a"><h3 th:text="${datingPlace.placeName}">Name of
                            Location</h3></a>
                        <a th:href="@{'/dating/places/'+${datingPlace.datingPlacesId}}"
                           style="text-decoration: none;color: #0a0a0a"><h4 th:text="${datingPlace.addressLine}">Address
                            Line 1</h4></a>
                        <a th:href="@{'/dating/places/'+${datingPlace.datingPlacesId}}"
                           style="text-decoration: none;color: #0a0a0a"><h4 th:text="${datingPlace.addressLineTwo}">
                            Address Line 2</h4></a>
                        <label th:if="${datingPlace.city != null}"
                               th:text="${datingPlace.state+', '+datingPlace.zipCode}">City,
                            State, Zip, Country</label>
                        <label th:if="${datingPlace.city == null && datingPlace.isOpened != null}"
                               th:text="${datingPlace.isOpened}">City,
                            State, Zip, Country</label>
                        <div class="dating-age">
                            <span th:if="${datingPlace.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE1}"
                                  th:text="${datingPlace.ageRange.from + ' - ' + datingPlace.ageRange.to}">18-29</span>
                            <span th:if="${datingPlace.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE2}"
                                  th:text="${datingPlace.ageRange.from + ' - ' + datingPlace.ageRange.to}">18-49</span>
                            <span th:if="${datingPlace.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE3}"
                                  th:text="${datingPlace.ageRange.from +'+'}">50+</span>
                            <img src="/images/m_f.png" th:src="@{/images/m_f.png}" alt="Both">
                            <span class="number"><span th:if="${datingPlace.bothCount > 0}"
                                                       th:text="${datingPlace.bothCount}">2</span></span>
                            <span th:if="${datingPlace.bothCount == 0 || datingPlace.bothCount == null}">No Ratings Yet</span>
                        </div>
                        <div class="dating-age">
                            <span class="dating-dolars"
                                  th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).FREE}">Free</span>
                            <span class="dating-dolars"
                                  th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).CHEAP}">$</span>
                            <span class="dating-dolars"
                                  th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).EXPENSIVE}">$$</span>
                            <span class="dating-dolars"
                                  th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).VERYEXPENSIVE}">$$$</span>
                            <img src="/images/new-male-icon.png" th:src="@{/images/dating/MM1.png}" alt="Male">
                            <span class="number"><span th:if="${datingPlace.maleCount > 0}"
                                                       th:text="${datingPlace.maleCount}">2</span></span>
                            <span th:if="${datingPlace.maleCount == 0 || datingPlace.maleCount == null}">No Ratings Yet</span>
                        </div>
                        <div class="dating-age">
                            <span th:if="${datingPlace.priceRange != null}" class="first-child"></span>
                            <img src="/images/new-female-icon.png" th:src="@{/images/dating/FF.png}" alt="Female">
                            <span class="number"><span th:if="${datingPlace.femaleCount > 0}"
                                                       th:text="${datingPlace.femaleCount}">2</span></span>
                            <span th:if="${datingPlace.femaleCount == 0 || datingPlace.femaleCount == null}">No Ratings Yet</span>
                        </div>
                        <div class="overal-rating" style="display: inline-flex">
                            <span>Overall Rating:</span>
                            <div class="rating-stars">
                                <div class="overall-individual" th:if="${datingPlace.overAllRating > 0}"
                                     th:attr="rate-id=${datingPlace.overAllRating}"></div>
                                <div th:if="${datingPlace.overAllRating == null || datingPlace.overAllRating == 0}">
                                    <span>No Ratings Yet</span></div>
                                <div class="stars-hover">
                                    <ul>
                                        <li>
                                            <h2>Parking Rating</h2>
                                            <div class="overall-individual" th:if="${datingPlace.parkingAverage > 0}"
                                                 th:attr="rate-id=${datingPlace.parkingAverage}"></div>
                                            <div th:if="${datingPlace.parkingAverage == null || datingPlace.parkingAverage == 0}">
                                                <span>No Ratings Yet</span></div>
                                        </li>
                                        <li>
                                            <h2>Security Rating</h2>
                                            <div class="overall-individual" th:if="${datingPlace.securityAverage > 0}"
                                                 th:attr="rate-id=${datingPlace.securityAverage}"></div>
                                            <div th:if="${datingPlace.securityAverage == null || datingPlace.securityAverage == 0}">
                                                <span>No Ratings Yet</span></div>
                                        </li>
                                        <li>
                                            <h2>Transportation Access</h2>
                                            <div class="overall-individual" th:if="${datingPlace.transportAverage > 0}"
                                                 th:attr="rate-id=${datingPlace.transportAverage}"></div>
                                            <div th:if="${datingPlace.transportAverage == null || datingPlace.transportAverage == 0}">
                                                <span>No Ratings Yet</span></div>
                                        </li>
                                        <li>
                                            <h2>Google Rating</h2>
                                            <div class="overall-individual" th:if="${datingPlace.googleAverage > 0}"
                                                 th:attr="rate-id=${datingPlace.googleAverage}"></div>
                                            <div th:if="${datingPlace.googleAverage == null || datingPlace.googleAverage == 0}">
                                                <span>No Ratings Yet</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article th:if="${#lists.isEmpty(datingPlaces.getContent())}">
                    <div class="dating-img">
                        <img src="../../static/images/icons/right_arrow.png"
                             th:src="@{'/images/dating/post.jpg'}" alt="Dating post">
                    </div>
                    <div class="dating-contant">
                        <h3 style="margin-bottom: 6px;">No Places Found</h3>
                    </div>
                </article>
            </div>

            <form id="location-form" th:object="${location}">
                <input type="hidden" th:field="*{latitude}" id="latitude" name="latitude">
                <input type="hidden" th:field="*{longitude}" id="longitude" name="longitude">
            </form>

            <input type="hidden" th:value="${latitude}" id="latitude2">
            <input type="hidden" th:value="${longitude}" id="longitude2">
            <div class="featured-map">
                <div class="map clearfix">

                    <div class="dating-map">
                        <div class="map-frame">

                            <div id="google-maps-container" style="height: 250px; "></div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="featured-title">Featured Places</h2>
                    <div class="features-placed">
                        <div class="article">
                            <article th:if="${not #lists.isEmpty(featuredDatingPlaces)}"
                                     th:each="datingPlace : ${featuredDatingPlaces}">

                                <div class="dating-img" th:if="${datingPlace.coverPictureUrl == null}">
                                    <img th:if="${datingPlace.coverPicture == null}" src="images/dating/post.jpg"
                                         th:src="@{${'/images/dating/post.jpg'}}" alt="Dating post">
                                    <img th:if="${datingPlace.coverPicture != null}"
                                         th:src="@{${datingPlace.coverPicture.getUrl()}}" alt="Dating post">
                                </div>
                                <div class="dating-img" th:if="${datingPlace.coverPictureUrl != null}">
                                    <img th:src="@{${datingPlace.coverPictureUrl}}" alt="Dating post">
                                </div>
                                <div class="dating-contant">
                                    <a th:href="@{'/dating/places/'+${datingPlace.datingPlacesId}}"
                                       style="text-decoration: none;color: #0a0a0a">
                                        <h3 th:text="${datingPlace.placeName}">test</h3></a>
                                    <h4 th:text="${datingPlace.addressLine}">Šumska, Novi Sad, Serbia</h4></a>
                                    <label th:if="${datingPlace.city != null}"
                                           th:text="${datingPlace.city+','+datingPlace.state+','+datingPlace.zipCode+','+datingPlace.country}">Novi
                                        Sad, Vojvodina, 21000, Serbia</label>
                                    <label th:if="${datingPlace.city == null}" th:text="${datingPlace.isOpened}">Novi
                                        Sad, Vojvodina, 21000, Serbia</label>
                                    <div class="dating-age">
                                        <span class="dating-places-age"
                                              th:if="${datingPlace.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE1}"
                                              th:text="${datingPlace.ageRange.from + ' - ' + datingPlace.ageRange.to}">18-29</span>
                                        <span class="dating-places-age"
                                              th:if="${datingPlace.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE2}"
                                              th:text="${datingPlace.ageRange.from + ' - ' + datingPlace.ageRange.to}">18-49</span>
                                        <span class="dating-places-age"
                                              th:if="${datingPlace.ageRange == T(com.realroofers.lovappy.service.datingPlaces.support.DatingAgeRange).RANGE3}"
                                              th:text="${datingPlace.ageRange.from +'+'}">50+</span>
                                        <img src="/images/m_f.png" th:src="@{/images/m_f.png}"
                                             alt="Both">
                                        <span class="number"><span th:if="${datingPlace.bothCount > 0}"
                                                                   th:text="${datingPlace.bothCount}">2</span></span>
                                        <span th:if="${datingPlace.bothCount == 0 || datingPlace.bothCount == null}">No Ratings Yet</span>
                                    </div>
                                    <div class="dating-age">
                                        <span class="dating-dolars"
                                              th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).FREE}">Free</span>
                                        <span class="dating-dolars"
                                              th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).CHEAP}">$</span>
                                        <span class="dating-dolars"
                                              th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).EXPENSIVE}">$$</span>
                                        <span class="dating-dolars"
                                              th:if="${datingPlace.priceRange == T(com.realroofers.lovappy.service.datingPlaces.support.PriceRange).VERYEXPENSIVE}">$$$</span>
                                        <img src="/images/new-male-icon.png" th:src="@{/images/dating/MM1.png}"
                                             alt="Male">
                                        <span class="number"><span th:if="${datingPlace.maleCount > 0}"
                                                                   th:text="${datingPlace.maleCount}">2</span></span>
                                        <span th:if="${datingPlace.maleCount == 0 || datingPlace.maleCount == null}">No Ratings Yet</span>
                                    </div>
                                    <div class="dating-age">
                                        <span th:if="${datingPlace.priceRange != null}" class="first-child"></span>
                                        <img src="/images/new-female-icon.png" th:src="@{/images/dating/FF.png}"
                                             alt="Female">
                                        <span class="number"><span th:if="${datingPlace.femaleCount > 0}"
                                                                   th:text="${datingPlace.femaleCount}">2</span></span>
                                        <span th:if="${datingPlace.femaleCount == 0 || datingPlace.femaleCount == null}">No Ratings Yet</span>
                                    </div>
                                    <div class="overal-rating" style="display: inline-flex">
                                        <span>Overall Rating:</span>
                                        <div class="overall-individual" th:if="${datingPlace.overAllRating > 0}"
                                             th:attr="rate-id=${datingPlace.overAllRating}"></div>
                                        <div th:if="${datingPlace.overAllRating == null || datingPlace.overAllRating == 0}">
                                            No Ratings
                                            <Yet></Yet>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article th:if="${#lists.isEmpty(featuredDatingPlaces)}">
                                <div class="dating-img">
                                    <img src="../../static/images/icons/right_arrow.png"
                                         th:src="@{'/images/dating/post.jpg'}" alt="Dating post">
                                </div>
                                <div class="dating-contant">
                                    <h3 style="margin-bottom: 6px;">No Featured Places Found</h3>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="load-more-btn">
        <!--<button>Load More</button>-->
        <div class="search-pagination" style="padding-bottom: 1px">
            <ul>
                <li th:class="${datingPlaces.isFirst()}?disabled:not(disabled)">
                    <a th:if='${datingPlaces.isFirst()}'><i class="fa fa-angle-double-left" aria-hidden="false"></i></a>
                    <a th:if='${not datingPlaces.isFirst()}' th:href="@{${actionUrl}+'page='+${currentPage-1}}"><i
                            class="fa fa-angle-double-left" aria-hidden="false"></i></a></li>
                <th:block
                        th:each="pageNumber: ${#numbers.sequence(1, datingPlaces.getTotalPages()==0?1:datingPlaces.getTotalPages())}"
                        style="display: inline-block">
                    <li th:class="${currentPage}==${pageNumber}?active:not(active)"><a
                            th:href="@{${actionUrl}+'page='+${pageNumber}}" th:text="${pageNumber}">1</a></li>
                </th:block>
                <li th:class="${datingPlaces.isLast()}?disabled:not(disabled)">
                    <a th:if='${datingPlaces.isLast()}'><i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i></a>
                    <a th:if='${not datingPlaces.isLast()}' th:href="@{${actionUrl}+'page='+${currentPage+1}}"><i
                            class="fa fa-angle-double-right"
                            aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="ui modal" id="ambassador-modal">
        <i class="close icon"></i>
        <div class="content">
            <h2>Complete Registration</h2>
            <div>
                <p>You must first be fully registered before you can continue browsing user profiles and the rest of
                    Lovappy. Click the Continue button at registration to complete your full profile</p>
                <img src="/images/ambassador-loggedout.jpg" th:src="@{/images/ambassador-loggedout.jpg}"
                     alt="Events calendar">

            </div>
            <div class="modal-footer clearfix">
                <a th:href="@{/registration/gender}">Registration</a>
            </div>
        </div>
    </div>
</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../../static/js/maps/dating-place-location.js" th:src="@{/js/maps/dating-place-location.js}"
        type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/jquery.rateyo.min.js" th:src="@{/js/jquery.rateyo.min.js}"></script>
<script src="../../../static/js/maps/dating_places/dating-place-location-search.js"
        th:src="@{/js/maps/dating_places/dating-place-location-search.js}"
        type="text/javascript"></script>
<script>

    $('.filter-icon').click(function () {
        $('.advance-search').slideToggle("50");
    });

    //overall average looping
    var uniqueIds = [];
    $(".overall-individual").each(function () {
        var id = $(this).attr("rate-id");
        if ($.inArray(id, uniqueIds) == -1)
            uniqueIds.push(id);
    });
    for (var i = 0; i < uniqueIds.length; i++) {
        var allItems = $("[rate-id='" + uniqueIds[i] + "']");
        allItems.rateYo({
            starWidth: "20px",
            rating: uniqueIds[i],
            ratedFill: "#ffd700",
            readOnly: true,
            numStars: 5,
            precision: 2
        });
    }

    var overAll = $('#over-all-rating').val();
    $("#overAll").rateYo({
        starWidth: "20px",
        rating: overAll,
        ratedFill: "#fdf564",
        readOnly: true,
        numStars: 5,
        precision: 2,
    });
    // changing nav elements to show pop up for EVENT_AMBASSADOR only role
    var isAmbassadorOnly = $('#isAmbassadorOnly').val();
    if (isAmbassadorOnly === '1') {
        $('.main-nav ul li').each(function () {
            var field = $(this).find('a').text();
            if (field.toLowerCase() === 'likes' || field.toLowerCase() === 'my map') {
                $(this).find('a').attr('class', 'ambassadorOnlyPopup');
            }
        });
        $('.responsive-nav ul li').each(function () {
            var field = $(this).find('a').text();
            if (field.toLowerCase() === 'likes' || field.toLowerCase() === 'my map') {
                $(this).find('a').attr('class', 'ambassadorOnlyPopup');
            }
        });
    }

    $('.ambassadorOnlyPopup').on('click', function (e) {
        e.preventDefault();
        $('#ambassador-modal').modal('show');
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var google_key = [[${google_key}]];
    var google_url = "https://maps.googleapis.com/maps/api/js?callback=setGoogleMapLoaded&libraries=places&key=" + [[${google_key}]];

    (function () {
        var a = document.createElement('script');
        a.type = 'text/javascript';
        a.async = true;
        a.defer = true;
        a.src = google_url;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(a, s);
    })();
    /*]]>*/
</script>
<script>
    if (!$('#search-radius').val()) {
        $('#search-radius').val(10);
    } else {
        $('#search-radius').val(10);
    }
    $('#filter-reset').click(function () {
        if ($('.radio-select').is(':checked')) {

            $('.radio-select').prop('checked', false);
        }
        $('#filtered').val(false);
    });

</script>
<script>
    $(function () {
        $("#security").selectmenu();
        $("#parking").selectmenu();
        $("#transportation").selectmenu();

    });

    var currentDate = new Date();
    $('#current-date').val(currentDate.getTime());

    $('.sorting-list ul li').click(function () {
        $('.sorting-list ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('#world-select').click(function () {
        $('#quick-filter').val(true);
        $('#world-wide-filter').val(true);
        $('#local-filter').val(false);
        $('#latitude-filter').val($('#latitude2').val());
        $('#longitude-filter').val($('#longitude2').val());
        $('#quick-filter-form1').submit();
    });

    $('#local-select').click(function () {
        $('#quick-filter').val(true);
        $('#world-wide-filter').val(false);
        $('#local-filter').val(true);
        $('#latitude-filter').val($('#latitude2').val());
        $('#longitude-filter').val($('#longitude2').val());
        $('#quick-filter-form1').submit();
    });

    $('#male-filter').click(function () {
        $('#quick-filter2').val(true);
        //$('#world-wide-filter2').val(true);
        //$('#local-filter2').val(false);
        $('#latitude-filter2').val($('#latitude2').val());
        $('#longitude-filter2').val($('#longitude2').val());
        $('#gender-filter').val('MALE');
        $('#quick-filter-form2').submit();
    });

    $('#female-filter').click(function () {
        $('#quick-filter2').val(true);
        $('#latitude-filter2').val($('#latitude2').val());
        $('#longitude-filter2').val($('#longitude2').val());
        $('#gender-filter').val('FEMALE');
        $('#quick-filter-form2').submit();
    });

    $('#both-filter').click(function () {
        $('#quick-filter2').val(true);
        $('#latitude-filter2').val($('#latitude2').val());
        $('#longitude-filter2').val($('#longitude2').val());
        $('#gender-filter').val('BOTH');
        $('#quick-filter-form2').submit();
    });

    $('#all-filter').click(function () {
        $('#quick-filter2').val(true);
        $('#latitude-filter2').val($('#latitude2').val());
        $('#longitude-filter2').val($('#longitude2').val());
        $('#gender-filter').val('ALL');
        $('#quick-filter-form2').submit();
    });

</script>
</body>
</html>