<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'coupons', false)">
    <title>Lovappy | Events</title>

    <style></style>
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/events.css"
          th:href="@{/css/web_pages/coupons.css}">
    <link></link>



</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="hero" th:style="'background:url(' + @{/images/blog/blogsubmit.png} + ');'">
    <div class="contentn-text">
        <h2>Lovappy Coupons</h2>
        <p>Find exclusive discounts</p>
    </div>
</div>

<div class="more-coupons container">
    <h1>Want MORE Coupons?</h1>
    <p>Here are ways to earn more savings</p>
    <ul>
        <li>
            <h3>Buy 4 songs, get a 5th song</h3>
            <h2>FREE</h2>
            <h3>one Featured Stamp Ad</h3>
        </li>
        <li>
            <h3>Place 2 ads and save</h3>
            <h2>10% OFF</h2>
            <h3>one Featured Stamp Ad</h3>
        </li>
        <li>
            <h2>SAVE 5%</h2>
            <h3>on a Prime Account when you invite 5 friends</h3>
        </li>
        <li>
            <h3>Buy 4 songs, get a 5th song</h3>
            <h2>FREE</h2>
            <h3>one Featured Stamp Ad</h3>
        </li>
    </ul>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>
</body>
</html>