<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Product Management</title>
    <link th:href="@{/css/adminLTE/manageusers.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/web_pages/vendor.css}" rel="stylesheet" type="text/css">
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<div class="wrapper">

    <style>
        .withTableBackground {
            background-color: #ffbfa0;
        }

        .noTableBackground {
        }
    </style>

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Product Management
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Product Management</li>
            </ol>
            <div class="container">
                <div class="row"
                     th:replace="admin/fragments/search :: searchWithCustomLable (searchText=${searchText}, actionUrl='/lox/product',lable='Search by Name')">

                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">

                <div class="box-header">
                    <h3 class="box-title">Product Details</h3>
                </div>
                <!-- /.box-header -->
                <!--pagination-->
                <div th:replace="admin/fragments/pagination :: pagination (pageContent=${products}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

                </div>
                <ul id="product-list" style="margin: 5px">

                    <li class="search-result clearfix" th:each="product : ${products}">

                        <div class="product-pic pic img left">
                            <div class="p-pic full-width picW">

                                <a href="#" class="img imgWr2">
                                    <img th:src="${product.image1.url}" class="img" alt="main image">
                                </a>
                            </div>
                        </div>
                        <h3 class="product-list-title">
                            <span class="vip" th:text="${product.productCode + ' - '+ product.productName}"></span>
                        </h3>
                        <div class="product-list-subtitle" th:text="${product.productType.typeName}">
                            Brand New
                        </div>
                        <div class="product-list-description" style="margin-left: 254px;">
                            <span th:utext="${product.productDescription}"> description</span>
                        </div>
                        <ul class="product-list-prices left space-zero">

                            <li class="product-list-price prc">
                                    <span class="bold">
                                        $ [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}]]
                                    </span>
                            </li>

                        </ul>
                        <ul class="product-location left space-zero full-width">
                            <li>
                                <!--Vendor <span th:text="${product.vendorCompany}"></span>-->
                            </li>
                            <li>
                                <!--Location <span th:text="${product.location}"></span>-->
                            </li>
                        </ul>
                        <div>
                            <span class="bottomright">
                                <th:block th:if="${!product.approved}">
                                    <a th:href="@{/lox/product/approveProduct__(${product.id})__}"
                                       class="links btn btn-success">
                                    &nbsp;&nbsp;&nbsp;Approve&nbsp;&nbsp;&nbsp;
                                    </a>
                                </th:block>
                                <th:block th:unless="${!product.approved}">
                                    <a th:if="${!product.blocked}"
                                        th:href="@{/lox/product/updateProductStatusAdmin__(${product.id})__}"
                                        class="links btn btn-danger">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Block this Product&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                    <a th:unless="${!product.blocked}"
                                       th:href="@{/lox/product/updateProductStatusAdmin__(${product.id})__}"
                                       class="links btn btn-success">
                                        &nbsp;&nbsp;Un-Block this Product&nbsp;&nbsp;
                                    </a>
                                </th:block>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <!--pagination-->
            <div th:replace="admin/fragments/pagination :: pagination (pageContent=${products}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) }, selectedPageSize=${selectedPageSize})">

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript">

    $(document).ready(function () {
        $(".links").click(function (event) {
            if (!confirm("Are you sure!")) {
                event.preventDefault();
            }
        });
    });
</script>


</body>
</html>
