<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Product Management</title>
    <link th:href="@{/css/adminLTE/manageusers.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/web_pages/vendor.css}" rel="stylesheet" type="text/css">
</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">

<div class="wrapper">

    <style>
        .withTableBackground {
            background-color: #ffbfa0;
        }

        .noTableBackground {
        }
    </style>

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Product Management
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Product Management</li>
            </ol>
            <div class="container">
                <div class="row"
                     th:replace="admin/fragments/search :: searchWithCustomLable (searchText=${searchText}, actionUrl='/lox/product',lable='Search by Name')">

                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">

                <div class="box-header">
                    <h3 class="box-title">Product Details</h3>
                </div>
                <!-- /.box-header -->

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript">

    $(document).ready(function () {
        $(".links").click(function (event) {
            if (!confirm("Are you sure!")) {
                event.preventDefault();
            }
        });
    });
</script>


</body>
</html>
