<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},_,~{::meta})">
    <META NAME="robots" CONTENT="noindex">
    <title>Lovappy | Credit</title>

    <link th:href="@{/css/web_pages/my_account.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/web_pages/gift_catalog.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/web_pages/add_credit.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/square-payment-form.css"
          th:href="@{/css/square-payment-form.css}">

</head>

<body>

<header th:replace="templates/lovappy-template :: header(3)"></header>

<div class="page-title">
    <h2 th:text="#{my-account.add-credits}">Add Credits</h2>
</div>

<div class="my-account add-credit" >
    <div th:replace="user/my_account :: sidebar" ></div>
    <div class="main-content">
        <div class="credit-title">
            <h2><span>+</span>ADD CREDITS</h2>
            <h3>Credit balance:  <span>[[${credit.balance}]]</span> Credits</h3>
        </div>
        <p>Make the first move by sending message or song credits to a user you are interested in. They will only be able to send the message(s) or song(s) back to you. While we cannot guarantee that the user will respond, we ask that you remain hopefull</p>
        <h2>Select the number of credits to purchase</h2>
        <h6>$1.99/credit</h6>
        <div class="custom-couner">
            <div class="quantity">
                <input id="quantity-input" type="number" min="1" max="9" step="1" value="1">
            </div>
        </div>
        <h1>Total:  $<span id="totalPrice">1.99</span></h1>
        <button id="buy-btn" class="ui primary basic button">BUY</button>
    </div>
</div>
<!-- Square Payment Form-->
<div th:replace="templates/squareform :: sqform"></div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var squareAppID = [[${squareAppID}]];
    var isLoggedIn = [[${#authorization.expression('isAuthenticated()')}]];
    /*]]>*/
    var calcPriceUrl = baseUrl + "api/v1/payments/credits/price";
      var sendCredit = false;
</script>

<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script src="../../static/js/square-payment.js" th:src="@{/js/square-payment.js}" type="text/javascript"></script>
<script  src="../../static/js/web_pages/credits/credits.js" th:src="@{/js/web_pages/credits/credits.js}">
</script>
</body>
</html>