<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},~{::style},~{::meta})">
    <title>Lovappy</title>
    <meta></meta>
    <link href="../static/css/responsive-nav.css" th:href="@{/css/responsive-nav.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/ambassador.css"
          th:href="@{/css/web_pages/ambassador.css}">

    <link rel="stylesheet" type="text/css" href="../../static/css/web_pages/events.css"
          th:href="@{/css/web_pages/events.css}">

    <style type="text/css">
        .row > .reg-form-control {
            display: inline-block;
        }

        .error-msg {
            font-size: 0.8em;
            background: #ffffff;
            padding: 0px 10px;
            font-color: #ff0000;
            margin-top: -9px;
            display: none;
        }

        .reg-form-control {
            vertical-align: top;
        }

        .no-close .ui-dialog-titlebar-close {
            display: none;
        }

        .success-dialog {
            font-size: 0.8em;
            font-family: 'Nexa Light', sans-serif;
        }
    </style>


</head>
<body>

<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<div class="page-title">
    <h2>Becoming an Ambassador</h2>
</div>

<div class="ambassador-hero-image ambassador-info">
    <img src="../../static/images/ambasador/ambasador-hero.jpg" th:src="@{/images/ambasador/ambasador-hero.jpg}"
         alt="Ambassador Hero">

    <p th:utext="${eventAmbassadorInfo}">An Ambassador for LovAppy must be a special person, someone we trust.</p>

</div>

<div class="add-events clearfix">
<!--    <div class="pull-left">
        <img src="../../static/images/events-calendar.png" th:src="@{/images/events-calendar.png}"
             alt="Events calendar">
        <h2 th:text="*{event.eventTitle}">Upcoming events</h2>
    </div>-->

    <div class="pull-right">
        <div class="new-ambassador">
            <a href="#" th:if="${ (not #lists.contains(userRoles,'EVENT_AMBASSADOR') and (not #lists.contains(userRoles,'ADMIN')))}"
               id="events-checkuser">Become an Ambassador</a>

        </div>
        <input type="hidden" id="loggedInuserId" th:value="${userId}">
    </div>
</div>

<div class="ui modal" id="events-loggedout-modal">
    <i class="close icon"></i>
    <div class="content">
        <h2>Create an event</h2>
        <div>
            <p>You must first be registered before you can create an event on Lovappy. If you wish to only be an
                Ambassador/Event Organizer, click the 'Ambassador Only' button after rigistration.</p>
            <img src="../../static/images/ambassador-img.jpg" th:src="@{/images/ambassador-img.jpg}"
                 alt="Events calendar">

        </div>
        <div class="modal-footer clearfix">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/}">Register</a>
        </div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script src="../../static/js/web_pages/ambassador-registration.js"
        th:src="@{/js/web_pages/ambassador-registration.js}" type="text/javascript"></script>

</body>
</html>