<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},_,~{::meta})">
    <META NAME="robots" CONTENT="noindex">
    <title>Lovappy | Gifts</title>

    <link th:href="@{/css/web_pages/my_account.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"
          th:href="@{/css/web_pages/gift_catalog.css}">


</head>

<body>

<header th:replace="templates/lovappy-template :: header(3)"></header>

<div class="page-title">
    <h2 th:text="#{gifts.title}">Gifts</h2>
</div>

<div class="my-account">
    <div th:replace="user/my_account :: sidebar">

    </div>
    <div class="main-content">
        <!-- gift list -->
        <div class="gift-list clearfix">
            <div class="gift-inbox">
                <a style="text-decoration: none;" class="g-inbox" href="javascript:void(0);"
                   th:href="@{/my_account/gift/inbox}">
                    <h3>INBOX &nbsp;&nbsp;<span th:text="${#lists.size(gifts)}">5</span></h3>
                </a>
                <a style="text-decoration: none;" class="g-outbox" href="javascript:void(0);"
                   th:href="@{/my_account/gift/outbox}">
                    <h3>OUTBOX &nbsp;&nbsp;<span th:text="${totalSent}">5</span></h3>
                </a>
            </div>
            <div class="gift-received">
                <p>GIFTS RECEIVED FROM <span th:text="${totalUsers}">5</span> TOTAL USERS</p>
            </div>
        </div>
        <th:block th:unless="${#lists.size(gifts) == 0}">
            <th:block th:each="gift : ${gifts}">
                <div class="gifts-section clearfix">
                    <div class="gift-view" style="width: 50px !important">
                        <img th:if="${gift.redeemed}" src="../../static/images/ic_tick.png" th:src="@{/images/ic_tick.png}"
                             alt="Redeemed Gift "/>
                    </div>
                    <div class="gift-view">
                        <img th:if="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                             src="../../static/images/new-female-icon.png" th:src="@{/images/new-female-icon.png}"
                             alt="Female icon "/>
                        <img th:unless="${gift.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                             src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" alt="Boy icon"/>
                        <h5>
                            <span th:text="${gift.fromUser.userProfile.age}">23</span>&nbsp;/&nbsp;
                            <span th:text="${gift.fromUser.userProfile.address.stateShort}">NY</span>&nbsp;/&nbsp;
                            <span th:text="${gift.fromUser.userProfile.speakingLanguagesAbb}">EN</span>
                        </h5>
                        <p>
                            <a style="text-decoration: none;" href="javascript:void(0);"
                               th:href="@{/member/} + ${gift.fromUser.ID}">
                                VIEW PROFILE
                            </a>
                        </p>
                    </div>
                    <div class="gift-details">
                        <h5 th:text="${#dates.format(gift.sentAt, 'dd/MM/yyyy')}">02/02/17</h5>
                        <h6>
                            <span>
                                <a style="text-decoration: none; color: white;font-weight: bold;" th:href="@{/my_account/gift/inbox/details__(${gift.id})__}">View Details</a>
                            </span>
                        </h6>
                    </div>
                </div>
            </th:block>

    </div>
</div>

<div class="ui modal" data-edit="reset-password">
    <i class="close icon"></i>
    <div class="header">
        Reset Password
    </div>
    <div class="content locked-profile-modal">
        <div class="row">
            <h5>A password reset email has been sent, check your email please.</h5>
        </div>
    </div>

    <div class="actions">
        <div class="ui button btn-close-modal">Close</div>
    </div>
</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block th:replace="templates/lovappy-template :: script"></th:block>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../../static/js/web_pages/profile/my-account.js" th:src="@{/js/web_pages/profile/my-account.js}"></script>

</body>
</html>