<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},_,~{::meta})">
    <META NAME="robots" CONTENT="noindex">
    <title>Lovappy | Gifts</title>

    <link th:href="@{/css/web_pages/my_account.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"
          th:href="@{/css/web_pages/gift_catalog.css}">


</head>

<body>

<header th:replace="templates/lovappy-template :: header(3)"></header>

<div class="page-title">
    <h2 th:text="#{gifts.title}">Gifts</h2>
</div>

<div class="my-account">
    <div th:replace="user/my_account :: sidebar">

    </div>
    <div class="main-content gift-inbox-detail">
        <h1>
            <a th:href="@{/my_account/gift/outbox}">< Back to gift outbox</a>
        </h1>
        <div class="inbox-detail-box">
            <div class="inbox-right">
                <div class="flex-grid">
                    <img  th:src="${product.imageURL1}" style="height: 150px" alt="Bag">
                    <div style="max-width: 400px;">
                        <h3 th:text="${product.productName}">MKF Collection M Signature Cross-Body Bag</h3>
                        <p th:text="${product.productDescription}"></p>
                    </div>
                </div>
                <h5>Seller:</h5>
                <h4 th:text="${vendor.companyName}">MACY'S <sup>*</sup></h4>
            </div>
        </div>
    </div>
</div>




<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block th:replace="templates/lovappy-template :: script"></th:block>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../../static/js/web_pages/profile/my-account.js" th:src="@{/js/web_pages/profile/my-account.js}"></script>
<script>
    $('.ui.button')
        .popup()
    ;
</script>
</body>
</html>