<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},_,~{::meta})">
    <META NAME="robots" CONTENT="noindex">
    <title>Lovappy | Songs</title>

    <link th:href="@{/css/web_pages/my_account.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/web_pages/music-inbox.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">


</head>

<body>

<header th:replace="templates/lovappy-template :: header(3)"></header>

<div class="page-title">
    <h2 th:text="#{my-sent-songs.title}">Songs</h2>
</div>

<div class="my-account" >
    <div th:replace="user/my_account :: sidebar" >

    </div>
    <div class="main-content">

        <div class="row music-counter">
            <a th:href="@{/my_account/songs/inbox}" th:class="${isInbox}?'red-box':'green-box'">
                <p th:text="#{my-sent-songs.inbox}">Inbox</p>
                <p th:text="${recievedCount}" >17</p>
            </a>
            <a th:href="@{/my_account/songs/sent}" th:class="${isInbox}?'green-box':'red-box'">
                <p th:text="#{my-sent-songs.sent}">Sent</p>
                <p th:text="${sentCount}" >22</p>
            </a>
        </div>
        <div class="song-drops" th:each="exchange : ${musicExchangedPage.content}">
            <div class="drop-slice">
                <a href="" th:href="@{/music/__${exchange.id}__/outbox-details}" class="view-song-profile" th:text="#{my-sent-songs.view-details}">View Details</a>
                <div class="grid-6 song-user">
                    <img th:if="${exchange.toUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).MALE}"
                         src="../../static/images/new-male-icon.png" th:src="@{'/images/new-male-icon.png'}" alt="New male icon">
                    <img th:if="${exchange.toUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                         src="../../static/images/new-female-icon.png" th:src="@{'/images/new-female-icon.png'}" alt="New female icon">

                    <!--<img src="../../static/images/icons/female.png" th:src="@{'/images/icons/female.png'}" alt="">-->
                   <p th:text="${exchange.getUserToDetails()}">23 / New York / EN</p>
                </div>
                <div class="grid-2 drop-slice-play">

                    <a class="playBtn" href="javascript:void(0);" th:attr="data-url=${exchange.music.fileUrl},data-id=${exchange.id}">
                        <img th:id="${exchange.id}" src="../../static/images/icons/lovdrops_play_icons/btn_play.png"
                             th:src="@{'/images/icons/lovdrops_play_icons/btn_play.png'}"   alt="Pause">
                    </a>
                </div>
                <div class="grid-2 drop-slice-icons">
                    <a  th:if="${exchange.senderWebDownloads==0}" href="javascript:void(0);" class="downloadMusic" th:attr="data-music-id=${exchange.id}" >
                        <img  src="../../static/images/icons/listened_icon.png" th:src="@{'/images/download-icon.png'}" alt="download">
                    </a>
                </div>
            </div>
        </div>

        <!--pagination-->
        <!--pagination-->
        <div th:replace="music/fragments :: pagination (pageContent=${musicExchangedPage}, actionUrl=${T(com.realroofers.lovappy.web.util.Pager).getURL(#httpServletRequest) })">

        </div>
</div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block  th:replace="templates/lovappy-template :: script"></th:block>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../../static/js/web_pages/music/music.js" th:src="@{/js/web_pages/music/music.js}"></script>
<script src="../../static/js/web_pages/music/music-inbox.js" th:src="@{/js/web_pages/music/music-inbox.js}"></script>
</body>
</html>