<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="templates/lovappy-template :: head(~{::title},~{::link},_,~{::meta})">
    <META NAME="robots" CONTENT="noindex">
    <title>Lovappy | My Account</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link th:href="@{/css/web_pages/past-questions.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/square-payment-form.css"
          th:href="@{/css/square-payment-form.css}">
</head>

<body>

<header th:replace="templates/lovappy-template :: header(3)"></header>
<!--/*@thymesVar id="response" type="com.realroofers.lovappy.service.questions.dto.UserResponseDto"*/-->
<!--/*@thymesVar id="memberProfile" type="com.realroofers.lovappy.service.user.dto.MemberProfileDto"*/-->
<section class="postQuestions">
    <div class="container">
        <div class="userInformation">
            <div class="userImage">
                <a th:href="@{/member/__${memberId}__}">> BACKTO USER PROFILE</a>
                <img th:if="${profilePicPublic && (memberProfile.profilePhotoCloudFile.approved == true)}"
                     th:src="@{__${memberProfile.getProfilePhotoCloudFileUrl()}__}" alt="Profile Image">
            </div><!-- .userImage -->
            <div class="userInfo">
                <div class="height">
                    <div>
                        <img th:src="@{'/images/' + ${memberProfile.genderIcon}}" alt="Female icon">
                    </div>
                    <p th:text="${#strings.defaultString(memberProfile.heightFt,'')}+ '\'' + ${#strings.defaultString(memberProfile.heightIn,'')}+ '\'\''">
                        0'0
                    </p>
                    <div>
                        <img th:src="@{/images/ruler.png}" alt="Play block">
                    </div>
                </div>
                <div class="otherInfor">
                    <span th:text="${#strings.defaultString(memberProfile.age,'')}+ ' Years Old'">23 Years Old</span>
                    <span th:text="${(memberProfile.address==null ) ? '' :
                                    ( #strings.defaultString(memberProfile.address.city,'')  +', '
                                    + #strings.defaultString(memberProfile.address.stateShort,''))} ">Novi Banovci,</span>
                    <span th:text="${(memberProfile.address==null ) ? '' :
                                    (#strings.defaultString(memberProfile.address.country,'' ))} ">Vojv, Serbia</span>
                    <span>Speaks: EN</span>
                </div>
                <div class="seeking">
                    <span>Seeking:</span>
                    <img th:src="@{'/images/' + ${memberPreference.genderIcon}}" alt="Male-Female">
                    <span th:text="${#strings.defaultString(memberPreference.minAge,'')} + '-' +${#strings.defaultString(memberPreference.maxAge,'')}">18-29</span>
                    <span th:text="${#strings.defaultString((memberPreference.height != null ? memberPreference.height.getText() : ''),'')}">Shorter height</span>
                </div>
            </div><!-- .userInfo -->
            <div class="sendGift">
                <div class="send-gift-profile">
                    <a id="send-private-message-btn" class="communication-btn" href="javascript:void(0);">
                        <img src="/lovappy-web/images/icons/white_and_black/new-read-msg-white.png"
                             alt="New read msg white" height="32px"/>
                        <p>send a private message</p>
                    </a>
                    <a href="/lovappy-web/gifts/catalog/1536" class="communication-btn">
                        <img src="/lovappy-web/images/icons/white_and_black/gift_notif_white.png" alt="Gift notif white"
                             height="32px"/>
                        <p>send a gift</p>
                    </a>
                    <a href="/lovappy-web/music/send/user/1536" class="communication-btn green-btn">
                        <img src="/lovappy-web/images/icons/white_and_black/gift_song_white.png" alt="Gift song white"
                             height="32px"/>
                        <p class="song-gift-title">send a song</p>
                        <p class="song-gift-price">$1.99</p>
                    </a>
                    <div class="send-credits">
                        <a href="#"> <i>+</i>Send Credits</a>
                    </div>
                </div>
            </div><!-- .sendGift -->
        </div>
    </div>
</section>

<section class="recorderList">
    <div class="container">
        <ul class="recorded">
            <li th:if="${not #lists.isEmpty(responses)}" th:each="response : ${responses}">
                <div class="date" th:text="${#dates.format(response.responseDate,'MM-dd-yyyy')}">
                    07-18-2018
                </div>
                <div class="content" th:if="${response.isPurchased}">
                    <p th:text="${response.questionString}">Is it okay to discuss past lovers with your current
                        lover?</p>
                    <audio controls="controls" preload="metadata" style="width: 500px">
                        <source th:src="${response.audioResponse.url}" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>

                </div>
                <div class="content" style="width: 400px" th:if="${not response.isPurchased}">
                    <p th:text="${response.questionString}">Is it okay to discuss past lovers with your current
                        lover?</p>
                    <div class="play-progress-container">
                        <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <span id="timer">00:00</span>
                        <span id="duration">00:00</span>
                        <div class="progress-bg ">
                            <div class="play-progress" id="progress"></div>
                        </div>
                    </div>
                </div>
                <div class="volumen" th:if="${not response.isPurchased}">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                    <i class="newrocord fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
                <div class="checkbox" th:if="${not response.isPurchased}">
                    <input th:value="${response.responseId}" type="checkbox"/>
                </div>
            </li>
        </ul>
        <div class="unlockPastDaily" th:if="${not #lists.isEmpty(responses)}">
            <h1>UNLOCK PAST DAILY QUESTION RESPONSES</h1>
            <h2>UNLOCK 1 PAST RESPONSE FROM THIS USER FOR $2.50 or 3 PAST RESPONSES FOR $4.00.</h2>
            <h3 id="response-count">0 SELECTED</h3>
            <a id="buy-recording-btn" style="cursor: pointer">PROCEED</a>
        </div>
    </div>
</section>

<!-- Square Payment Form-->
<div th:replace="templates/squareform :: sqform"></div>

<footer th:replace="templates/lovappy-template :: footer"></footer>
<!--add needed scripts-->
<th:block th:replace="templates/lovappy-template :: script"></th:block>
<script type="text/javascript" src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var squareAppID = [[${squareAppID}]];
    var isLoggedIn = [[${#authorization.expression('isAuthenticated()')}]];
    /*]]>*/
    var calcPriceUrl = baseUrl + "api/v1/payments/dailyquestion/price";
    var sendCredit = false;
</script>
<script>
    var attributeIds = [];
    $('input:checkbox').change(function () {
        var numberOfChecked = $('input:checkbox:checked').length;
        $('#response-count').val(numberOfChecked);
        $('#response-count').text(numberOfChecked + ' SELECTED');

        if ($('input:checkbox').is(":checked")) {
            attributeIds.push(parseInt($(this).val()));
        }
    });

</script>
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script src="../../static/js/square-payment.js" th:src="@{/js/square-payment.js}" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../../static/js/web_pages/profile/my-account.js" th:src="@{/js/web_pages/profile/my-account.js}"></script>
</body>
</html>