<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/authenticated :: head(~{::title},~{::link},~{::script},~{::style})">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lovappy | Private Message</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width">
    <style></style>
</head>
<body>

<header style="padding-bottom: 60px;" th:replace="templates/authenticated :: header">
    <div class="wrapper">
        <h1>Lovappy</h1>
        <nav>
            <h2>Main Nav</h2>
            <div id="burger-nav"></div>
            <ul>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="row">
    <div id="blogTitle" class="col-12">
        <h2 style="padding-left: 80px; color: white;">Private Messages Inbox</h2>
    </div>
</div>

<div class="row" id="below-title" style="display: none;">
    <div class="col-2" style="padding-left: 10px;">
        <h2 style="padding-left: 80px;">Listening To</h2>
    </div>
    <div class="col-3">
        <img src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" ali="Boy icon" style="margin-top: 14px; height: 50px; float: left;" />
        <span id="user-info-bar" style="float: left; margin-top: 22px; margin-left: 20px; margin-bottom: 21px; font-size: 22px; font-weight: bold;">23 / New York, NY / EN</span>
    </div>
    <div class="col-2">
        <a id="view-profile-link" href="" style="text-decoration: none; color: black;"><h2 style="padding-left: 80px;">View Profile</h2></a>
    </div>
    <div class="col-1">
        <a href=""><img src="../../static/images/like_pic.png" th:src="@{/images/like_pic.png}" ali="Like pic" style="margin-top: 10px; padding-left: 80px;" /></a>
    </div>
    <div class="col-2">
        <a href="" style="text-decoration: none;color: black;"><h2 style="padding-left: 80px;">Block User</h2></a>
    </div>
</div>

<div class="row">
    <div class="wrapper">
        <div class="col-4">
            <span th:text="${#lists.size(messages)}" style="font-size: 35px; color: #4ac89b; float: left; margin-top: -10px;">
                29
            </span>
            &nbsp;&nbsp;&nbsp;
            <span>messages has been sent to you</span>
        </div>
        <div class="col-3">
        </div>
        <div class="col-4">
            <span style="color: #4ac89b;">show me songs from</span>
            <select id="user_filter" style="width: 140px; background: url('../../static/images/green_drop.png') no-repeat right; padding-left: 10px; color: #4ac89b; border-color: #4ac89b; border-style: solid;">
                <option id="all-users">All Users</option>
                <option id="new-users">New Users</option>
            </select>
        </div>
    </div><!-- wrapper -->
</div><!-- row -->

<div class="row">
    <div class="wrapper">
        <!--/*@thymesVar id="messages" type="com.realroofers.lovappy.service.privatemessage.dto.PrivateMessageDto"*/-->
        <div th:each="message : ${messages}" class="col-2" style="border-right: 1px solid #b6b6b6;">
            <a href="javascript:void(0)">
                <img class="play_status_img" src="../../static/images/msg_big_icon.png" th:id="${message.audioFileCloud.id}"
                     th:src="@{/images/msg_big_icon.png}" alt="Msg big icon" />
            </a>
            <br><br>
            <img src="../../static/images/msg_small_icon.png" th:src="@{/images/msg_small_icon.png}" alt="Msg small icon" style="margin-right: 20px;" />
            <img src="../../static/images/heart_icon_msg.png" th:src="@{/images/heart_icon_msg.png}" alt="Heart icon msg" /><br><br>
            <span>
                <strong>Sent by</strong>
                <span th:text="${message.fromUser.firstName + ' ' + message.fromUser.lastName}"></span>
            </span><br><br>

            <img th:if="${message.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                 src="../../static/images/female_icon.png" th:src="@{/images/female_icon.png}" alt="Female icon" style="float: left; margin-right: 10px;">
            <img th:unless="${message.fromUser.userProfile.gender == T(com.realroofers.lovappy.service.user.support.Gender).FEMALE}"
                 src="../../static/images/boy_icon.png" th:src="@{/images/boy_icon.png}" alt="Boy icon" style="float: left; margin-right: 10px;">

            <span th:text="${message.fromUser.userProfile.age}">23</span><br>
            <span th:text="${message.fromUser.userProfile.address.city + ', '
                                + message.fromUser.userProfile.address.stateShort}">NEW YORK, NY</span><br>
            <span th:text="${message.fromUser.userProfile.speakingLanguagesAbb}">EN</span><br><br>
            <span><strong>Date</strong></span><br>
            <span th:text="${#dates.format(message.sentAt, 'dd-MMM-yyyy')}">02/02/2017</span>
        </div>
    </div>
</div><!-- row -->


<!-- footer -->
<div class="row" style="background: #5a5a5a;">
    <div class="wrapper">
        <div class="col-4">
            <img src="../../static/images/address.png" th:src="@{/images/address.png}" alt="Address" style="float: left; height: 42px;" />
            <span style="float: left; margin-top: 12px; margin-left:10px;color: white;">1510 Corlies Ave, Neptune City, NJ 07753, USA</span>
            <br><br><br><br>
            <img src="../../static/images/number.png" th:src="@{/images/number.png}" alt="Number" style="float: left; height: 36px; margin-left: -12px;" />
            <span style="float: left; margin-top: 12px; margin-left:10px;color: white;">(800) 000 - 000</span>
            <br><br><br><br>
            <img src="../../static/images/email.png" th:src="@{/images/email.png}" alt="Email" style="float: left; height: 30px; margin-left: -12px;" />
            <span style="float: left; margin-top: 12px; margin-left:10px;color: white;">info@lovappy.com</span>
        </div><!-- col-4 -->
        <div class="col-2">
        </div>
        <div class="col-5" style="margin-top: 12px;">
            <span style="font-size: 12px;"><a href="" style="text-decoration:none; color: white; margin-right: 10px;">Plans & Pricing</a>
                <span style="color: white;">/</span><a href="" style="text-decoration:none; color: white; margin-right: 10px; margin-left: 10px;">Features</a>
                <span style="color: white;">/</span><a href="" style="text-decoration:none; color: white; margin-right: 10px; margin-left: 10px;">Mobile</a>
                <span style="color: white; ">/</span><a href="" style="text-decoration:none; color: white; margin-right: 10px; margin-left: 10px;">About Us</a>
                <span style="color: white;">/</span><a href="" style="text-decoration:none; color: white; margin-right: 10px; margin-left: 10px;">LovBlog</a>
                <span style="color: white;">/</span><a href="" style="text-decoration:none; color: white; margin-right: 10px; margin-left: 10px;">Contact Us</a>
            </span><br><br>

            <img src="../../static/images/playstore.png" th:src="@{/images/playstore.png}" alt="Playstore" style="float: right; height: 50px; margin-right: 44px;" />
            <img src="../../static/images/appstore.png" th:src="@{/images/appstore.png}" alt="Appstore" style="float: right; margin-right: 10px; height: 50px;" /><br><br><br><br>
            <span style="color: white; font-size: 12px; float: right; margin-right: 44px; margin-top: 44px;">Copyright &copy; LovAppy    |    2017    |    All Rights Reseved</span>
        </div>
    </div><!-- wrapper -->
</div>
<!-- footer -->


<script th:inline="javascript">
    var timer;
    var userInfoBar;
    var genderImg;
    var viewProfileLink;

    $( document ).ready(function() {

        timer = document.getElementById("timer");
        userInfoBar = document.getElementById("user-info-bar");
        genderImg = $("#user-info-bar").siblings("img");
        viewProfileLink = $("#view-profile-link");

        /**
         * Player class containing the state of our playlist and where we are in it.
         * Includes all methods for playing, skipping, updating the display, etc.
         * @param {Array} playlist Array of objects with playlist song details ({title, file, howl}).
         */
        var Player = function (playlist) {
            this.playlist = playlist;
            this.index = 0;

            // Display the title of the first track.
            userInfoBar.innerHTML = ' ' + playlist[0].user_age + ' • ' +
                playlist[0].user_city + ', ' + playlist[0].user_state + ' (' + playlist[0].user_language + ')';
            genderImg.attr("src", playlist[0].user_gender === 'FEMALE' ?
                baseUrl + "/images/female_icon.png" : baseUrl + "/images/boy_icon.png");
            viewProfileLink.attr("href", baseUrl + "member/" + playlist[0].user_id);

            // Setup the playlist.
            playlist.forEach(function (song) {
                var div = document.getElementById(song.id);
                div.onclick = function () {
                    player.skipTo(playlist.indexOf(song));
                };
            });
        };

        Player.prototype = {
            /**
             * Play a song in the playlist.
             * @param  {Number} index Index of the song in the playlist (leave empty to play the first or current).
             */
            play: function (index) {
                var self = this;
                var sound;

                index = typeof index === 'number' ? index : self.index;
                var data = self.playlist[index];

                // If we already loaded this track, use the current one.
                // Otherwise, setup and load a new Howl.
                if (data.howl) {
                    sound = data.howl;
                } else {
                    sound = data.howl = new Howl({
                        src: [data.file],
                        html5: true, // Force to HTML5 so that the audio can stream in (best for large files).
                        onplay: function () {
                            stopAll(false);
                            $("#below-title").show(250);
                            document.getElementById(data.id).src = baseUrl + "/images/pause_big_icon.png";
                        },
                        onload: function () {

                        },
                        onend: function () {
                            //Prevent loop
                            if(index < (self.playlist.length - 1)) {
                                self.skip('right');
                                stopAll(false);
                            }else{
                                stopAll(true);
                            }
                        },
                        onpause: function () {
                        },
                        onstop: function () {
                            stopAll(true);
                        }
                    });
                }

                // Begin playing the sound.
                sound.play();

                // Update the track display.
                userInfoBar.innerHTML = ' ' + data.user_age + ' • ' +
                                        data.user_city + ', ' + data.user_state + ' (' + data.user_language + ')';
                genderImg.attr("src", data.user_gender === 'FEMALE' ?
                    baseUrl + "/images/female_icon.png" : baseUrl + "/images/boy_icon.png");
                viewProfileLink.attr("href", baseUrl + "member/" + data.user_id);

                // Show the pause button.
                /*if (sound.state() === 'loaded') {
                    stopAll();
                    document.getElementById(data.id).src = baseUrl + "/images/pause_big_icon.png";
                    $("#below-title").show(250);
                } else {
                    stopAll();
                }*/

                // Keep track of the index we are currently playing.
                self.index = index;
            },

            /**
             * Pause the currently playing track.
             */
            pause: function (hideBar) {
                var self = this;

                // Get the Howl we want to manipulate.
                var sound = self.playlist[self.index].howl;

                // Pause the sound.
                sound.pause();

                // Show the play button.
                stopAll(hideBar);
            },

            /**
             * Skip to the next or previous track.
             * @param  {String} direction 'next' or 'prev'.
             */
            skip: function (direction) {
                var self = this;

                // Get the next track based on the direction of the track.
                var index = 0;
                if (direction === 'prev') {
                    index = self.index - 1;
                    if (index < 0) {
                        index = self.playlist.length - 1;
                    }
                } else {
                    index = self.index + 1;
                    if (index >= self.playlist.length) {
                        index = 0;
                    }
                }

                self.skipTo(index);
            },

            /**
             * Skip to a specific track based on its playlist index.
             * @param  {Number} index Index in the playlist.
             */
            skipTo: function (index) {
                var self = this;

                // Get the Howl we want to manipulate.
                var sound = self.playlist[self.index].howl;

                // Stop the current track.
                if (sound && sound.playing() && index === self.index) {
                    self.pause(true);
                } else if(sound && sound.playing() && index !== self.index) {
                    self.pause(false);
                    self.play(index);
                } else {
                    self.play(index);
                }
            }
        };


        // Setup our new audio player class and pass it the playlist.
        /*<![CDATA[*/
        var playlistArray = [];
        var messagesJson = [[${messages}]];
        /*]]>*/
        for (var i = 0; i < messagesJson.length; i++) {
            var id = messagesJson[i].audioFileCloud.id;
            var file = baseUrl + "/private_message/" + messagesJson[i].audioFileCloud.url;
            playlistArray.push({
                id: id,
                file: file,
                howl: null,
                user_age: messagesJson[i].fromUser.userProfile.age,
                user_state: messagesJson[i].fromUser.stateShort,
                user_city: messagesJson[i].fromUser.userProfile.address.city,
                user_language: messagesJson[i].fromUser.userProfile.speakingLanguagesAbb,
                user_gender: messagesJson[i].fromUser.userProfile.gender,
                user_id: messagesJson[i].fromUser.userProfile.userId
            });
        }


        var player = new Player(playlistArray);


    });

    function stopAll(hideBar) {
        $(".play_status_img").each(function() {
            $(this).attr("src", baseUrl + "/images/msg_big_icon.png");

            if(hideBar)
                $("#below-title").hide(250);
        });
    }
</script>

</body>
</html>