<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,links,scripts,styles)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title th:replace="${title}">Lovappy | </title>
    <!--/* Per-page placeholder for additional links */-->
    <!--<link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">-->
    <!--<link href="../../static/css/anonymous.css" th:href="@{/css/anonymous.css}" rel="stylesheet" type="text/css">-->
    <link href="../../static/css/skeleton.css" th:href="@{/css/skeleton.css}" rel="stylesheet" type="text/css">
    <!--<th:block th:each="link : ${links}">-->
    <!--<th:block th:replace="${link}" th:if="${false}"/>-->
    <!--&lt;!&ndash;<th:block th:if="${not #strings.containsIgnoreCase(link, 'style.css')}">&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;<th:block th:text="${not #strings.containsIgnoreCase(link, 'style.css')} + 'test'">&ndash;&gt;-->
    <!--&lt;!&ndash;</th:block>&ndash;&gt;-->
    <!--</th:block>-->


    <th:block th:replace="${links}"/>
    <th:block th:replace="${styles}"/>

    <link href="../../static/css/responsive-nav.css" th:href="@{/css/responsive-nav.css}" rel="stylesheet" type="text/css">
    <script src="../../static/js/responsive-nav.js" th:src="@{/js/responsive-nav.js}" type="text/javascript"></script>
    <script src="../static/js/fixed-responsive-nav.js" th:src="@{/js/fixed-responsive-nav.js}" type="text/javascript"></script>

    <script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>


    <script th:inline="javascript" >
        /*<![CDATA[*/
        var root = "[(@{/})]";
        /*]]>*/
        var port = window.location.port;
        var baseUrl = window.location.protocol + '//' + window.location.hostname + (port !== 80 ? ':' + port : '' ) + root;
    </script>
    <th:block th:replace="${scripts}"/>
</head>
<body>
<header th:fragment="header">
    <a href="#home" th:href="@{/}" class="logo" data-scroll>
        <img src="/images/logo.png" th:src="@{/images/logo.png}" alt="Logo">
    </a>
    <nav class="nav-collapse">
        <ul>
            <li class="menu-item"><a href="/plans-pricing" th:href="@{/plans-and-pricing}" data-scroll>Plans & Pricing</a></li>
            <li class="menu-item"><a href="/features" th:href="@{/features}" data-scroll>Features</a></li>
            <li class="menu-item"><a href="/mobile" th:href="@{/mobile}" data-scroll>Mobile</a></li>
            <li class="menu-item"><a href="/about-us" th:href="@{/about-us}" data-scroll>About Us</a></li>
            <li class="menu-item"><a href="/blog" th:href="@{/blog}" data-scroll>LovBlog</a></li>
            <li class="menu-item"><a href="/contact-us" th:href="@{/contact-us}" data-scroll>Contact Us</a></li>
            <li><a href="/advertise" th:href="@{/advertise}">Advertise</a></li>
            <li class="menu-item"><a class="login-menu-item" href="/login" th:href="@{/login}" data-scroll>LOGIN</a></li>

            <!--<select id="sel-language" style="">-->
                <!--<option value="Arabic">Arabic (AR)</option>-->
                <!--<option value="Bengali">Bengali (BN)</option>-->
                <!--<option value="Cantonese">Cantonese (CAN)</option>-->
                <!--<option value="Chinese (WU)">Chinese (WU)</option>-->
                <!--<option value="Deutsch">Deutsch (DE)</option>-->
                <!--<option value="Dutch">Dutch (NL)</option>-->
                <!--<option value="English">English (EN)</option>-->
                <!--<option value="Farsi">Farsi (FA)</option>-->
                <!--<option value="French">French (FR)</option>-->
                <!--<option value="Greek">Greek (EL)</option>-->
                <!--<option value="Gujarati">Gujarati (GU)</option>-->
                <!--<option value="Hindi">Hindi (HI)</option>-->
                <!--<option value="Italian">Italian (IT)</option>-->
                <!--<option value="Japanese">Japanese (JA)</option>-->
                <!--<option value="Javanese">Javanese (JV)</option>-->
                <!--<option value="Korean">Korean (KO)</option>-->
                <!--<option value="Mandarin">Mandarin (MAN)</option>-->
                <!--<option value="Merathi">Merathi (MR)</option>-->
                <!--<option value="Mongolian">Mongolian</option>-->
                <!--<option value="Nepali">Nepali</option>-->
                <!--<option value="Norwegian">Norwegian</option>-->
                <!--<option value="Polish">Polish (PL)</option>-->
                <!--<option value="Portuguese">Portuguese (PT)</option>-->
                <!--<option value="Punjabi">Punjabi (PA)</option>-->
                <!--<option value="Russian">Russian (RU)</option>-->
                <!--<option value="Spanish">Spanish (ES)</option>-->
                <!--<option value="Tamil">Tamil (TA)</option>-->
                <!--<option value="Telugu">Telugu (TE)</option>-->
                <!--<option value="Thai">Thai (TH)</option>-->
                <!--<option value="Turkish">Turkish (TR)</option>-->
                <!--<option value="Ukranian">Ukranian (UK)</option>-->
                <!--<option value="Urdu">Urdu (UR)</option>-->
                <!--<option value="Vietnamese">Vietnamese (VI)</option>-->
            <!--</select>-->

            <select id="sel-language2" style="" onchange="changeLanguage()">
                <option value="en" th:selected="${#strings.equals(#locale, 'en')}">English (EN)</option>
                <option value="es" th:selected="${#strings.equals(#locale, 'es')}">Spanish (ES)</option>
            </select>
            <script type="text/javascript">
                function changeLanguage() {
                    var selectedOption = document.getElementById("sel-language2").value;
                    if (selectedOption != '') {
                        window.location.replace('?lang=' + selectedOption);
                    }
                }
            </script>
        </ul>
    </nav>
</header>
<footer th:fragment="footer" class="footer-distributed" style="clear: both;">

    <div class="footer-left">

        <div>
            <i class="fa fa-map-marker"></i>
            <p class="footer-contact"><span>1510 Corlies Ave, Neptune City, NJ 07753, USA</span></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p class="footer-contact">(800) 574 - 7802</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p class="footer-contact"><a href="mailto:info@lovappy.com">info@lovappy.com</a></p>
        </div>

    </div>

    <div class="footer-center">
        &nbsp;
    </div>

    <div class="footer-right">
        <p class="footer-links" style="text-align: right;">
            <a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i> Our Advertisers </a>
            <a href="#"><i class="fa fa-podcast" aria-hidden="true"></i> All Podcasts </a>
        </p>

        <p class="footer-links">
            <a href="/plans-pricing" th:href="@{/plans-and-pricing}">Plans & Pricing</a>
            ·
            <a href="/features" th:href="@{/features}">Features</a>
            ·
            <a href="/mobile" th:href="@{/mobile}">Mobile</a>
            ·
            <a href="/about-us" th:href="@{/about-us}">About Us</a>
            ·
            <a href="/blog" th:href="@{/blog}">LovBlog</a>
            ·
            <a href="/contact-us" th:href="@{/contact-us}">Contact Us</a>
        </p>

        <p class="footer-app-img">
            <span style="color: #a4a4a4;">Follow Us On</span>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <img class="store-icons-footer" src="../images/appstore.png" th:src="@{/images/appstore.png}" alt="Appstore">
            <img class="store-icons-footer" src="../images/playstore.png" th:src="@{/images/playstore.png}" alt="Playstore">
        </p>

        <p class="footer-company-name">Copyright © LovAppy | 2017 | All Rights Reseved</p>

    </div>

</footer>

</body>
</html>