<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,links,scripts,styles)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title th:replace="${title}">Lovappy | </title>
    <!--/* Per-page placeholder for additional links */-->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="../../static/css/anonymous.css" th:href="@{/css/anonymous.css}" rel="stylesheet" type="text/css">
    <!--<th:block th:each="link : ${links}">-->
    <!--<th:block th:replace="${link}" th:if="${false}"/>-->
    <!--&lt;!&ndash;<th:block th:if="${not #strings.containsIgnoreCase(link, 'style.css')}">&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;<th:block th:text="${not #strings.containsIgnoreCase(link, 'style.css')} + 'test'">&ndash;&gt;-->
    <!--&lt;!&ndash;</th:block>&ndash;&gt;-->
    <!--</th:block>-->
    <th:block th:replace="${links}"/>
    <th:block th:replace="${styles}"/>
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../../static/js/chickendinner.js" th:src="@{/js/chickendinner.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var root = "[(@{/})]";
        /*]]>*/
        var port = window.location.port;
        var baseUrl = window.location.protocol + '//' + window.location.hostname + (port !== 80 ? ':' + port : '') + root;
    </script>
    <th:block th:replace="${scripts}"/>
</head>
<body>
<header th:fragment="header">
    <div class="wrapper">
        <h1 class="logo">
            <a href="/" th:href="@{/}">
                <img src="/images/logo.png" th:src="@{/images/logo.png}" alt="Lovappy" title="Lovappy"/>
            </a>
            <span>Lovappy</span><!-- For SEO purposes -->
        </h1>
        <div class="topnav" id="myTopnav">
            <a href="/plans-and-pricing" th:href="@{/plans-and-pricing}">Plans & Pricing</a>
            <a href="/features" th:href="@{/features}">Features</a>
            <a href="/mobile" th:href="@{/mobile}">Mobile</a>
            <a href="/about-us">About Us</a>
            <a href="/blog" th:href="@{/blog}">LovBlog</a>
            <a href="/contact-us" th:href="@{/contact-us}">Contact Us</a>
            <a href="/login" class="login-link" th:href="@{/login}">LOGIN</a>

            <!--<select id="sel-language" style="width: 150px; border: 1px solid #ec743b; height: 30px; margin-top: 5px;">-->
            <!--<option value="Arabic">Arabic (AR)</option>-->
            <!--<option value="Bengali">Bengali (BN)</option>-->
            <!--<option value="Cantonese">Cantonese (CAN)</option>-->
            <!--<option value="Chinese (WU)">Chinese (WU)</option>-->
            <!--<option value="Deutsch">Deutsch (DE)</option>-->
            <!--<option value="Dutch">Dutch (NL)</option>-->
            <!--<option value="English">English (EN)</option>-->
            <!--<option value="Farsi">Farsi (FA)</option>-->
            <!--<option value="French">French (FR)</option>-->
            <!--<option value="Greek">Greek (EL)</option>-->
            <!--<option value="Gujarati">Gujarati (GU)</option>-->
            <!--<option value="Hindi">Hindi (HI)</option>-->
            <!--<option value="Italian">Italian (IT)</option>-->
            <!--<option value="Japanese">Japanese (JA)</option>-->
            <!--<option value="Javanese">Javanese (JV)</option>-->
            <!--<option value="Korean">Korean (KO)</option>-->
            <!--<option value="Mandarin">Mandarin (MAN)</option>-->
            <!--<option value="Merathi">Merathi (MR)</option>-->
            <!--<option value="Mongolian">Mongolian</option>-->
            <!--<option value="Nepali">Nepali</option>-->
            <!--<option value="Norwegian">Norwegian</option>-->
            <!--<option value="Polish">Polish (PL)</option>-->
            <!--<option value="Portuguese">Portuguese (PT)</option>-->
            <!--<option value="Punjabi">Punjabi (PA)</option>-->
            <!--<option value="Russian">Russian (RU)</option>-->
            <!--<option value="Spanish">Spanish (ES)</option>-->
            <!--<option value="Tamil">Tamil (TA)</option>-->
            <!--<option value="Telugu">Telugu (TE)</option>-->
            <!--<option value="Thai">Thai (TH)</option>-->
            <!--<option value="Turkish">Turkish (TR)</option>-->
            <!--<option value="Ukranian">Ukranian (UK)</option>-->
            <!--<option value="Urdu">Urdu (UR)</option>-->
            <!--<option value="Vietnamese">Vietnamese (VI)</option>-->
            <!--</select>-->


            <select id="sel-language2" style="" onchange="changeLanguage()">
                <option value="en" th:selected="${#strings.equals(#locale, 'en')}">English (EN)</option>
                <option value="es" th:selected="${#strings.equals(#locale, 'es')}">Spanish (ES)</option>
            </select>
            <script type="text/javascript">
                function changeLanguage() {
                    var selectedOption = document.getElementById("sel-language2").value;
                    if (selectedOption != '') {
                        window.location.replace('?lang=' + selectedOption);
                    }
                }
            </script>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </div>
</header>
<footer th:fragment="footer" class="col-12-member">
    <div class="left">
        <div>
            <div class="icon-holder">
                <img src="../../static/images/address.png" th:src="@{/images/address.png}"/>
            </div>
            <label>1510 Corlies Ave, Neptune City, NJ 07753, USA</label>
        </div>
        <div class="number">
            <div class="icon-holder">
                <img src="../../static/images/number.png" th:src="@{/images/number.png}" alt="Number"/>
            </div>
            <label>800-574-7802</label>
        </div>
        <div class="email">
            <div class="icon-holder">
                <img src="../../static/images/email.png" th:src="@{/images/email.png}" alt="Email"/>
            </div>
            <label>info@lovappy.com</label>
        </div>
    </div>
    <div class="right">
        <ul>
            <li>
                <a href="/plans-and-pricing" th:href="@{/plans-and-pricing}">Plans & Pricing</a>
            </li>
            <li>
                <a href="/features" th:href="@{/features}">Features</a>
            </li>
            <li>
                <a href="/mobile" th:href="@{/mobile}">Mobile</a>
            </li>
            <li>
                <a href="/about-us" th:href="@{/about-us}">About Us</a>
            </li>
            <li>
                <a href="/blog" th:href="@{/blog}">LovBlog</a>
            </li>
            <li>
                <a href="/contact-us" th:href="@{/contact-us}">Contact Us</a>
            </li>
        </ul>
        <div class="store-icons">
            <img src="../../static/images/appstore.png" th:src="@{/images/appstore.png}" alt="Appstore"/>
            <img src="../../static/images/playstore.png" th:src="@{/images/playstore.png}" alt="Playstore"/>
        </div>
        <div class="copyright">Copyright &copy; LovAppy | 2017 | All Rights Reseved</div>
    </div>
</footer>
</body>
</html>