<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},~{::style},_,'find_love', false)">
    <meta name="description"
          content="LovAppy comes with two plans, the Lite plan and Prime. You can chose what is better for you to communicate and find your love mate."/>
    <meta name="keywords" content="LovAppy Plans, LovAppy Lite, Lovappy Prime, Free Love, Love Online, Date For Free">

    <title>Lovappy | Plans & Pricing</title>
    <style></style>
    <link th:href="@{/css/web_pages/infographic.css}" href="../static/css/web_pages/infographic.css"
          rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}">
    <link th:href="@{/css/web_pages/message.css}" href="../static/css/web_pages/message.css"
          rel="stylesheet" type="text/css">

</head>
<body class="couples-infographic">

<header th:replace="templates/lovappy-template :: header(1)"></header>

<div class="message-landing">
    <div class="row">
        <div class="col">
            <div class="box box1">

            </div>
            <div class="box box2">

            </div>
        </div>
        <div class="col box3">

        </div>
    </div>
    <div class="message-text">
        <h2>FIND LOVE FOR  <img src="../../static/images/message/1.png" th:src="@{/images/message/1.png}" alt="Informations"></h2>
        <h3>Isn't it <b>AMAZING</b> that you can find love for <b>$1.50</b>? Only with LOVAPPY.COM</h3>
        <div class="register-now">REGISTER NOW!<a  id="registerNow" href="#">Click Here</a> </div>
    </div>
</div>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../../static/js/web_pages/home/home-redirect.js"
        th:src="@{/js/web_pages/home/home-redirect.js}" type="text/javascript"></script>

</body>
</html>