<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/templates/admin_template :: head(~{::title},~{::link},_,_)">
    <title>Lovappy Admin | Profile</title>

    <link th:href="@{/css/adminLTE/admin_profile.css}" rel="stylesheet" type="text/css">
    <!--<script src="../../../static/js/adminLTE/adminprofile.js" th:src="@{/js/adminLTE/adminprofile.js}"></script>-->

</head>

<body class="hold-transition skin-red sidebar-mini" th:if="${#authorization.expression('isAuthenticated()')}">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="admin/templates/admin_template :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="admin/templates/admin_template :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Admin Profile
                <!--<small>Optional description</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <!--<div class="box-header">-->
                    <!--<h3 class="box-title">Hi Admin</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-profile-body">
                    <!--add admin Profile-->

                    <div class="grid-9 main-content">
                        <form method="POST"  enctype="multipart/form-data" th:object="${adminProfile}" th:action="@{/lox/profile/save}">
                            <div class="row">
                                <div class="grid-6">
                                    <label for="email">email</label>
                                    <input type="email" id="email"  th:field="*{email}" required/>
                                </div>

                                <div class="grid-6">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName"  th:field="*{firstName}"/>
                                </div>
                                <div class="grid-6">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName"  th:field="*{lastName}"/>
                                </div>
                            </div>
                            <div class="row">
                                <!--<input id="fileId" type="file" name="file" />-->
                                <!--<img src="" id="prev" />-->
                                <div class="grid-6">
                                        <img id="profilePic" th:src="@{''+*{#strings.defaultString(profileUrl.url,'')}}"
                                             class="img-circle" alt="User Image" width="160" height="160">

                                    <label for="inpImage">File to upload:</label>
                                        <input id="inpImage" type="file" name="file" />
                                </div>

                            </div>
                            <button type=submit class="btn btn-primary btn" style="margin:20px"
                                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> Saving">Save</button>

                        </form>

                        <div class="grid-6">
                            <label for="reset-password-btn">password</label>
                            <button type="button" id="reset-password-btn" class="btn btn-danger" data-toggle="modal"
                                    th:data-target="'#modalChangePassword'">Change Password</button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'modalChangePassword'" aria-labelledby="textLabel" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <form id ="changePasswordForm" th:object="${changePasswordRequest}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="textLabel"><span>Change Password</span></h4>
                                            </div>
                                            <div class="modal-body">

                                                <!--<div class="form-group">-->
                                                    <!--<label>Current Password:</label>-->
                                                    <!--<input class="form-control"  type="password" th:field="*{currentPassword}"-->
                                                           <!--required minlength="6" id="currentPassword"></input>-->
                                                <!--</div>-->
                                                <div class="form-group">
                                                    <label>New Password:</label>
                                                    <input class="form-control" type="password" th:field="*{newPassword}"
                                                           required minlength="6"  id="newPassword"></input>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <button type="submit"  id="changePwdBtn" class="btn btn-primary btn"
                                                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> Saving">Save
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="admin/templates/admin_template :: footer"></footer>

</div>
<!-- ./wrapper -->
<script type="text/javascript" src="../../static/js/adminLTE/utils.js" th:src="@{/js/adminLTE/utils.js}"></script>

<script th:src="@{/js/vendor/jquery/validation/jquery.validate.js}"></script>
<script th:src="@{/js/vendor/jquery/validation/additional-methods.js}"></script>
<script type="text/javascript" src="../../../static/js/adminLTE/adminprofile.js" th:src="@{/js/adminLTE/adminprofile.js}"></script>

</body>


</html>
