<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'careers', false)">

    <title>Lovappy Careers</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/mobile.css"
          th:href="@{/css/web_pages/careers.css}">
</head>

<body>
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="Careers_Landing">
    <h1>LOVAPPY CAREERS</h1>
    <h3>WE NEED YOUR SKILLS - JOIN OUR TEAM</h3>
    <p>Have skills to offer our company but don't see <br /> a position available? You can send your resume to hiring@lovappy.com</p>
</section>

<section class="Careers_Content">
    <form action="#" th:action="@{/careers/apply}" th:object="${user}" method="post">
        <div class="container">
            <input id="vacancyId" type="hidden" name="vacancyId" th:value="${vacancyId}">
            <div class="ui form">
                <h4 class="ui dividing header">About You</h4>
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui form">
                        <div class="fields">
                            <div class="six wide field">
                                <label>First Name <sup class="requiredField">*</sup></label>
                                <input required="required" type="text" th:field="*{firstName}" name="card[number]" maxlength="25" placeholder="Card #">
                            </div>
                            <div class="six wide field">
                                <label>Last Name <sup class="requiredField">*</sup></label>
                                <input required="required" type="text" th:field="*{lastName}" name="card[cvc]" maxlength="25" placeholder="CVC">
                            </div>
                            <div class="six wide field">
                                <label>Phone Number<sup class="requiredField">*</sup></label>
                                <div class="field">
                                    <input type="text" required="required" th:field="*{phoneNumber}" name="card[expire-year]" maxlength="12" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- eight -->
                <div class="four wide column">
                    <div class="ui form">
                        <div class="field">
                            <label>Date of birth <sup class="requiredField">*</sup></label>
                            <div class="three fields">
                                <div class="field">
                                    <select required="required" class="ui fluid search dropdown" default="Date" th:field="*{birthDate}" name="card[expire-month]">
                                        <option value="0">Date</option>
                                        <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select required="required" class="ui fluid search dropdown" default="Month" th:field="*{birthMonth}" name="card[expire-month]">
                                        <option value="0">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="ui fluid search dropdown" th:field="*{birthYear}" default="Year" name="card[expire-month]">
                                        <option value="0">Year</option>
                                        <option th:each="i : ${#numbers.sequence(2000, 1913)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- four -->
                <div class="four wide column">
                    <div class="ui form">
                        <label>Are you authorized to work in US? <sup class="requiredField">*</sup></label>
                        <div class="field">
                            <select class="ui fluid search dropdown" th:field="*{authorizedInUs}" name="card[expire-month]">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div><!-- four -->

            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui form">
                        <div class="fields">
                            <div class="eight wide field">
                                <label>Address <sup class="requiredField">*</sup></label>
                                <input type="text" th:field="*{address1}" name="card[number]" maxlength="150" placeholder="Card #">
                            </div>
                            <div class="eight wide field">
                                <label>Address 2</label>
                                <input type="text" th:field="*{address2}"  name="card[cvc]" maxlength="150" placeholder="CVC">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="eight wide field">
                                <label>City <sup class="requiredField">*</sup></label>
                                <input type="text" name="card[number]" th:field="*{city}"  maxlength="20" placeholder="Card #">
                            </div>
                            <div class="eight wide field">
                                <div class="fields">
                                    <div class="eight wide field">
                                        <label>State <sup class="requiredField">*</sup></label>
                                        <input type="text" th:field="*{state}"  name="card[number]" maxlength="20" placeholder="Card #">
                                    </div>
                                    <div class="eight wide field">
                                        <label>Zip code <sup class="requiredField">*</sup></label>
                                        <input type="text" th:field="*{zipCode}"  name="card[cvc]" maxlength="10" placeholder="CVC">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- eight -->
                <div class="four wide column">
                    <div class="ui form">
                        <label>Gender<sup class="requiredField">*</sup></label>
                        <div class="field">
                            <select th:field="*{gender}"  class="ui fluid search dropdown" name="card[expire-month]">
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </div>
                    </div>
                </div><!-- four -->
                <div class="four wide column">
                    <div class="ui form">
                        <div class="field">
                            <label>Ethnicity<sup class="requiredField">*</sup></label>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="1" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>American Indian or Alaska Native</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="2" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>Asian</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="3" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>Black or African American</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="4" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>Hispanic or Latino</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="5" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>Native Hawaiian or Pacific Islander</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="6" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>White</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" th:value="7" th:field="*{ethnicity}"  tabindex="0" class="">
                                    <label>Prefer Not to Answer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- four -->
            </div>
            <div class="ui form">
                <div class="fields">
                    <div th:with="education_count=1" class="four wide field edication-history">
                        <h4 class="ui dividing header">Education History</h4>
                        <div class="EducationMainForm">
                            <div>
                                <div class="field">
                                    <label>School Type<sup class="requiredField">*</sup></label>
                                    <select class="ui fluid search dropdown" th:field="*{education[0].schoolType}" name="card[expire-month]">
                                        <option value="0">School Type</option>
                                        <option value="1">High School</option>
                                        <option value="2">GED Program</option>
                                        <option value="3">Vocational/Trade School</option>
                                        <option value="4">Associate Degree Program</option>
                                        <option value="5">Bachelors Degree Program</option>
                                        <option value="6">Masters Degree Program</option>
                                        <option value="7">Doctorate</option>
                                        <option value="8">Certification Program</option>
                                        <option value="9">Other Profressional or Training School</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Did you graduate <sup class="requiredField">*</sup></label>
                                    <select class="ui fluid search dropdown" th:field="*{education[0].graduated}" name="card[expire-month]">
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Start Date<sup class="requiredField">*</sup></label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{education[0].startYear}" name="card[expire-month]">
                                                <option value="0">Year</option>
                                                <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                                </option>

                                            </select>
                                        </div>
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{education[0].startMonth}" name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>End Date <sup class="requiredField">*</sup></label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{education[0].endYear}"  name="card[expire-month]">
                                                <option value="0">Year</option>
                                                <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{education[0].endMonth}"  name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="field">-->
                            <!--<div class="ui checkbox">-->
                            <!--<input type="checkbox" id="terms-education" tabindex="0" class="">-->
                            <!--<label for="terms-education">I agree to the Terms and Conditions</label>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="add_new" id="add_education">
                                <input type="hidden" id="education_count" value= 1>
                                <button type="button" onclick="addEducation()">+ Add another school</button>
                            </div>
                        </div>
                        <div class="educationStatus">
                            <ul id="edit_education">
                            </ul>
                        </div>
                    </div>
                    <div class="twelve wide field employment-history">
                        <h4 class="ui dividing header">Employment History</h4>
                        <div class="employmentMain">
                            <div class="fields">
                                <div class="six wide field">
                                    <label>Business name<sup class="requiredField">*</sup></label>
                                    <input type="text" name="card[number]" th:field="*{employment[0].businessName}" maxlength="16" placeholder="Card #">
                                </div>
                                <div class="six wide field">
                                    <label>Job title<sup class="requiredField">*</sup></label>
                                    <input type="text" name="card[cvc]" th:field="*{employment[0].jobTitle}" maxlength="20" placeholder="CVC">
                                </div>
                                <div class="six wide field">
                                    <label>Are you still employed here?</label>
                                    <div class="field">
                                        <select class="ui fluid search dropdown" th:field="*{employment[0].stillWorking}" name="card[expire-month]">
                                            <option value="1">Yes</option>
                                            <option value="2">No</option>
                                        </select>

                                    </div>
                                </div>
                            </div><!-- fields -->
                            <div class="fields">
                                <div class="ten wide field">
                                    <label>Describe your responsibilities<sup class="requiredField">*</sup></label>
                                    <textarea th:field="*{employment[0].resposibilities}"></textarea>
                                </div>
                                <div class="eight wide field">
                                    <label>Start Date<sup class="requiredField">*</sup></label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{employment[0].startYear}" name="card[expire-month]">
                                                <option value="0">Year</option>
                                                <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{employment[0].startMonth}"  name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label>End Date<sup class="requiredField">*</sup></label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{employment[0].endYear}" name="card[expire-month]">
                                                <option value="0">Year</option>
                                                <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <select class="ui fluid search dropdown" th:field="*{employment[0].endMonth}" name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- fields -->
                            <label>Reason(s) for leaving<sup class="requiredField">*</sup></label>
                            <div class="two fields">
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input th:field="*{employment[0].reasonForLeaving}" value="1" type="checkbox" name="example">
                                        <label>Another Job</label>
                                    </div>
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="2" name="example">
                                        <label>Business closed or sold</label>
                                    </div>
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="3" th:field="*{employment[0].reasonForLeaving}" name="example">
                                        <label>Laid off or let go</label>
                                    </div>
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="4" th:field="*{employment[0].reasonForLeaving}" name="example">
                                        <label>Moved</label>
                                    </div>
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="5" th:field="*{employment[0].reasonForLeaving}" name="example">
                                        <label>Not enought hours</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="6" th:field="*{employment[0].reasonForLeaving}" name="example">
                                        <label>Personal Reasons</label>
                                    </div>
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="7" th:field="*{employment[0].reasonForLeaving}" name="example">
                                        <label>School</label>
                                    </div>
                                    <div class="ui checkbox">
                                        <input type="checkbox" value="8" th:field="*{employment[0].reasonForLeaving}" name="example">
                                        <label>Season or temp position</label>
                                    </div>

                                </div>
                            </div>
                            <a href="#"></a>
                            <div class="add_new" id="add_employment">
                                <input type="hidden" id="employment_count" value= 1>
                                <button type="button" onclick="addEmployment()">+ Add another job</button>
                            </div>
                        </div>
                        <div class="educationStatus">
                            <ul id="edit_employment">
                                <!--<li>-->
                                    <!--<h3>School Type <i class="fa fa-pencil" aria-hidden="true"></i></h3>-->
                                    <!--<p>Start Date - End Date</p>-->
                                    <!--<p>Graduated</p>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div><!-- fields -->
                <div class="eightin wide field">
                    <h4 class="ui dividing header">Hobbies & Interests</h4>
                    <div class="field">
                        <label>Please share your hobbies and Interests below, with each separated by a comma</label>
                        <textarea th:field="*{hobbies}"></textarea>
                    </div>

                    <div class="eight wide field">
                        <label>Email<sup class="requiredField">*</sup></label>
                        <input type="text" th:field="*{email}" name="card[number]" maxlength="50" placeholder="Card #">
                    </div>
                </div>


            </div>


        </div>

        <div class="career-apply-submit">
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>


</section>


<div class="ui modal addnew" id="positionModal" data-edit="share-drop">
    <div class="modal-container">
        <div class="header">
            Select additional positions you would like to apply for by checking the box(es) to the left of each title.
        </div>
        <div class="content">
            <div class="box-list">
                <div class="box-list-left">
                    <div class="checkbox">
                        <input type="checkbox" />
                    </div>
                    <div class="box-list-info">
                        <h3>POSITION TITLE</h3>
                        <p>Position description in few short sentences</p>
                    </div>
                </div><!-- box-list-left -->
                <div class="box-list-right">
                    <h4>City, State, Country</h4>
                    <a href="#">More Details</a>
                </div><!-- box-list-right -->
            </div><!-- box-list -->
            <div class="box-list">
                <div class="box-list-left">
                    <div class="checkbox">
                        <input type="checkbox" />
                    </div>
                    <div class="box-list-info">
                        <h3>POSITION TITLE</h3>
                        <p>Position description in few short sentences</p>
                    </div>
                </div><!-- box-list-left -->
                <div class="box-list-right">
                    <h4>City, State, Country</h4>
                    <a href="#">More Details</a>
                </div><!-- box-list-right -->
            </div><!-- box-list -->
            <div class="box-list">
                <div class="box-list-left">
                    <div class="checkbox">
                        <input type="checkbox" />
                    </div>
                    <div class="box-list-info">
                        <h3>POSITION TITLE</h3>
                        <p>Position description in few short sentences</p>
                    </div>
                </div><!-- box-list-left -->
                <div class="box-list-right">
                    <h4>City, State, Country</h4>
                    <a href="#">More Details</a>
                </div><!-- box-list-right -->
            </div><!-- box-list -->
        </div>
        <div class="moreBtn">
            <button class="btn btnCancel">Cancel</button>
            <button class="btn btnSubmit">Submit</button>
        </div>
    </div>
</div>


<div class="ui modal" id="edicationHistory" data-edit="share-drop">
    <div class="modal-container">
        <div class="content">
            <form class="ui form">
                <div class="fields">
                    <div class="sixteen wide field edication-history">
                        <h4 class="ui dividing header">Education History</h4>
                        <div class="field">
                            <label>School Type</label>
                            <select class="ui fluid search dropdown" name="card[expire-month]" id="modal_scl_type">
                                <option value="0">School Type</option>
                                <option value="1">High School</option>
                                <option value="2">GED Program</option>
                                <option value="3">Vocational/Trade School</option>
                                <option value="4">Associate Degree Program</option>
                                <option value="5">Bachelors Degree Program</option>
                                <option value="6">Masters Degree Program</option>
                                <option value="7">Doctorate</option>
                                <option value="8">Certification Program</option>
                                <option value="9">Other Profressional or Training School</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Did you graduate</label>
                            <select class="ui fluid search dropdown" name="card[expire-month]" id="modal_graduated">
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Start Date</label>
                            <div class="two fields">
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]" id="modal_scl_s_year">
                                        <option value="0">Year</option>
                                        <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]" id="modal_scl_s_month">
                                        <option value="">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>End Date</label>
                            <div class="two fields">
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]" id="modal_scl_e_year">
                                        <option value="0">Year</option>
                                        <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]" id="modal_scl_e_month">
                                        <option value="">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="education_entry" value=""/>
                        <!--<div class="field">-->
                        <!--<div class="ui checkbox">-->
                        <!--<input type="checkbox" id="terms-school" tabindex="0" class="">-->
                        <!--<label for="terms-school">I agree to the Terms and Conditions</label>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </form>
        </div>
        <div class="saveBtn">
            <button type="button" onclick="saveEducation()" class="btn btnSave" id="save_education">Save</button>
        </div>
    </div>
</div>

<!-- Employment Education -->

<div class="ui modal" id="employmentEducation" data-edit="share-drop">
    <div class="modal-container">
        <div class="content">
            <form class="ui form">
                <div class="fields">
                    <div class="sixteen wide field employment-history">
                        <h4 class="ui dividing header">Employment History</h4>
                        <div class="fields">
                            <div class="six wide field">
                                <label>Business name</label>
                                <input type="text" id="m_emp_b_name" name="card[number]" maxlength="16" placeholder="Card #">
                            </div>
                            <div class="six wide field">
                                <label>Job title</label>
                                <input type="text" id="m_emp_title" name="card[cvc]" maxlength="20" placeholder="CVC">
                            </div>
                            <div class="six wide field">
                                <label>Are you still employed here?</label>
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]" id="m_emp_status">
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- fields -->
                        <div class="fields">
                            <div class="ten wide field">
                                <label>Describe your responsibilities</label>
                                <textarea id="m_emp_responsibilities"></textarea>
                            </div>
                            <div class="eight wide field">
                                <label>Start Date</label>
                                <div class="two fields">
                                    <div class="field">
                                        <select class="ui fluid search dropdown" id="m_emp_s_month" name="card[expire-month]">
                                            <option value="">Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <select class="ui fluid search dropdown" id="m_emp_s_year" name="card[expire-month]">
                                            <option value="0">Year</option>
                                            <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label>End Date</label>
                                <div class="two fields">
                                    <div class="field">
                                        <select class="ui fluid search dropdown" id="m_emp_e_month" name="card[expire-month]">
                                            <option value="">Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <select class="ui fluid search dropdown" id="m_emp_e_year" name="card[expire-month]">
                                            <option value="0">Year</option>
                                            <option th:each="i : ${#numbers.sequence(2018, 1943)}" th:value="${i}" th:text="${i}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div><!-- fields -->
                        <label>Reason(s) for leaving</label>
                        <div class="two fields">
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="1">
                                    <label>Another Job</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="2">
                                    <label>Business closed or sold</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="3">
                                    <label>Laid off or let go</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="5">
                                    <label>Moved</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="6">
                                    <label>Not enought hours</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="7">
                                    <label>Personal Reasons</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="8">
                                    <label>School</label>
                                </div>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example" value="9">
                                    <label>Season or temp position</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- fields -->
            </form>
        </div>
        <input type="hidden" id="employment_entry" value=""/>
        <div class="saveBtn">
            <button type="button" onclick="saveEmployment()" class="btn btnSave">Save</button>
        </div>
    </div>
</div>


<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>


<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<script>
    // $('#add_education').click(function () {
    //     $('#edicationHistory').modal('show');
    // });
    // $('#save_education').click(function () {
    //     $('#edicationHistory').modal('hide');
    // });

    function addEmployment() {
        console.log("adding the data to employment");
        $('#employmentEducation').modal('show');
        var count = +document.getElementById("employment_count").value;
        document.getElementById("employment_entry").value = count;
        $("#edit_employment").append(
            '                        <div hidden="hidden">' +
            '                            <input type="hidden" name="employment['+ count +'].businessName" id="employment'+ count +'.businessName"/>' +
            '                            <input type="hidden" name="employment['+ count +'].jobTitle" id="employment'+ count +'.jobTitle" />' +
            '                            <input type="hidden" name="employment['+ count +'].stillWorking" id="employment'+ count +'.stillWorking"/>' +
            '                            <input type="hidden" name="employment['+ count +'].reasonForLeaving" id="employment'+ count +'.reasonForLeaving" />' +
            '                            <input type="hidden" name="employment['+ count +'].startYear" id="employment'+ count +'.startYear"/>' +
            '                            <input type="hidden" name="employment['+ count +'].startMonth" id="employment'+ count +'.startMonth"/>' +
            '                            <input type="hidden" name="employment['+ count +'].endYear" id="employment'+ count +'.endYear"/>' +
            '                            <input type="hidden" name="employment['+ count +'].endMonth" id="employment'+ count +'.endMonth"/>' +
            '                            <input type="hidden" name="employment['+ count +'].resposibilities" id="employment'+ count +'.resposibilities"/>' +
            '                        </div>');

        document.getElementById("employment_count").value = +count + 1 ;
    }

    function saveEmployment() {
        console.log("saving the employment data");
        $('#employmentEducation').modal('hide');
        var count = document.getElementById("employment_entry").value;
        var totalEntries = document.getElementById("employment_count").value;
        console.log(count);
        document.getElementById("employment"+ count +".businessName").value =  document.getElementById("m_emp_b_name").value;
        document.getElementById("employment"+ count +".jobTitle").value =  document.getElementById("m_emp_title").value;
        document.getElementById("employment"+ count +".stillWorking").value =  document.getElementById("m_emp_status").value;
        document.getElementById("employment"+ count +".resposibilities").value =  document.getElementById("m_emp_responsibilities").value;
        document.getElementById("employment"+ count +".startMonth").value =  document.getElementById("m_emp_s_month").value;
        document.getElementById("employment"+ count +".startYear").value =  document.getElementById("m_emp_s_year").value;
        document.getElementById("employment"+ count +".endMonth").value =  document.getElementById("m_emp_e_month").value;
        document.getElementById("employment"+ count +".endYear").value =  document.getElementById("m_emp_e_year").value;
        document.getElementById("employment"+ count +".reasonForLeaving").value =  3;
        document.getElementById("employment"+ count +".endYear").value =  document.getElementById("m_emp_e_year").value;
        var title = document.getElementById("m_emp_title").value;
        var dateRange = $("#m_emp_s_year option:selected" ).text() + ' - ' + $("#m_emp_e_year option:selected" ).text();
        var stillWorking = document.getElementById("m_emp_status").value;
        if (stillWorking == '1'){
            stillWorking = 'Still There';
        } else {
            stillWorking = 'Leaved';
        }

        var ele = document.getElementById("edit_employment" + count);
        if(ele == null){
            $("#edit_employment").append(
                '                             <li id="edit_employment'+ count +'"><h3>'+ title +' <i class="fa fa-pencil" aria-hidden="true" onclick="editEmployment('+ count +')"></i></h3>'+
                '                             <p>'+dateRange+'</p>' +
                '                             <p>'+ stillWorking +'</p>'+
                '                              </li>');
        }

    }

    function editEmployment(count) {
        console.log("editing the data");
        $('#employmentEducation').modal('show');
        document.getElementById("m_emp_b_name").value = document.getElementById("employment"+ count +".businessName").value;
        document.getElementById("m_emp_title").value = document.getElementById("employment"+ count +".jobTitle").value;
        document.getElementById("m_emp_status").value = document.getElementById("employment"+ count +".stillWorking").value;
        document.getElementById("m_emp_responsibilities").value = document.getElementById("employment"+ count +".resposibilities").value;
        document.getElementById("m_emp_s_month").value = document.getElementById("employment"+ count +".startMonth").value;
        document.getElementById("m_emp_s_year").value = document.getElementById("employment"+ count +".startYear").value;
        document.getElementById("m_emp_e_month").value = document.getElementById("employment"+ count +".endMonth").value;
        document.getElementById("m_emp_e_year").value = document.getElementById("employment"+ count +".endYear").value;
    }

    function addEducation() {
        console.log("adding the data");
        $('#edicationHistory').modal('show');
        var count = +document.getElementById("education_count").value;
        document.getElementById("education_entry").value = count;
        $("#edit_education").append(
            '                        <div hidden="hidden">' +
            '                            <input type="hidden" name="education['+ count +'].schoolType" id="education'+ count +'.schoolType"/>' +
            '                            <input type="hidden" name="education['+ count +'].graduated" id="education'+ count +'.graduated" />' +
            '                            <input type="hidden" name="education['+ count +'].startYear" id="education'+ count +'.startYear"/>' +
            '                            <input type="hidden" name="education['+ count +'].startMonth" id="education'+ count +'.startMonth"/>' +
            '                            <input type="hidden" name="education['+ count +'].endYear" id="education'+ count +'.endYear"/>' +
            '                            <input type="hidden" name="education['+ count +'].endMonth" id="education'+ count +'.endMonth"/>' +
            '                        </div>');

        document.getElementById("education_count").value = +count + 1 ;
    }

    function saveEducation() {
        console.log("saving the data");

        var count = document.getElementById("education_entry").value;
        var totalEntries = document.getElementById("education_count").value;
        console.log(count);
        document.getElementById("education"+ count +".schoolType").value =  document.getElementById("modal_scl_type").value;
        document.getElementById("education"+ count +".graduated").value =  document.getElementById("modal_graduated").value;
        document.getElementById("education"+ count +".startYear").value =  document.getElementById("modal_scl_s_year").value;
        document.getElementById("education"+ count +".startMonth").value =  document.getElementById("modal_scl_s_month").value;
        document.getElementById("education"+ count +".endYear").value =  document.getElementById("modal_scl_e_year").value;
        document.getElementById("education"+ count +".endMonth").value =  document.getElementById("modal_scl_e_month").value;
        console.log(document.getElementById("education"+ count +".schoolType").value);
        var sclType = $("#modal_scl_type option:selected" ).text();
        var dateRange = $("#modal_scl_s_year option:selected" ).text() + ' - ' + $("#modal_scl_e_year option:selected" ).text();
        var gradStatus = document.getElementById("modal_graduated").value;
        if (gradStatus == '1'){
            gradStatus = 'Graduated';
        } else {
            gradStatus = 'Not Graduated';
        }

        $('#edicationHistory').modal('hide');

        var ele = document.getElementById("edit_education" + count);
        if(ele == null){
            $("#edit_education").append(
                '                             <li id="edit_education'+ count +'"><h3>'+ sclType +' <i class="fa fa-pencil" aria-hidden="true" onclick="editEducation('+ count +')"></i></h3>'+
                '                             <p>'+dateRange+'</p>' +
                '                             <p>'+ gradStatus +'</p>'+
                '                              </li>');
        }

    }

    function editEducation(count) {
        console.log("editing the data");
        $('#edicationHistory').modal('show');
        document.getElementById("education_entry").value = count;
        document.getElementById("modal_scl_type").value = document.getElementById("education"+ count +".schoolType").value ;
        document.getElementById("modal_graduated").value = document.getElementById("education"+ count +".graduated").value ;
        document.getElementById("modal_scl_s_year").value = document.getElementById("education"+ count +".startYear").value ;
        document.getElementById("modal_scl_s_month").value = document.getElementById("education"+ count +".startMonth").value;
        document.getElementById("modal_scl_e_year").value =  document.getElementById("education"+ count +".endYear").value ;
        document.getElementById("modal_scl_e_month").value = document.getElementById("education"+ count +".endMonth").value ;

    }

</script>
</body>
</html>