<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/lovappy-head-template :: headWithMeta(~{::title},~{::link},_,_,'careers', false)">

    <title>Lovappy Careers</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/web_pages/mobile.css"
          th:href="@{/css/web_pages/careers.css}">
</head>

<body>
<header th:replace=" ${#authorization.expression('isAuthenticated()')} ? ~{templates/lovappy-template :: header(3)} : ~{templates/lovappy-template :: header(1)} "></header>

<section class="Careers_Landing">
    <h1>LOVAPPY CAREERS</h1>
    <h3>WE NEED YOUR SKILLS - JOIN OUR TEAM</h3>
    <p>Have skills to offer our company but don't see <br /> a position available? You can send your resume to hiring@lovappy.com</p>
</section>

<section class="Careers_Content Careers_DetailContent">
    <div class="container">
        <h2><span th:text="${vacancy.jobTitle}"></span></h2>
        <p><span th:text="${vacancy.positionDescription}"></span></p>
        <b>Skills Required</b>
        <ul>
            <li><span th:text="${vacancy.skillRequired}"></li>
        </ul>
        <p><span th:text="${vacancy.city +', '+ vacancy.state +', ' + vacancy.country }"></span></p>
        <p><span th:text="${'Compensation:  ' + vacancy.compensation }"></span></p>
    </div>
    <a th:href="@{/careers/apply(vacancyId=${vacancy.id})}"><button class="btn">Apply Now</button>
</section>

<footer th:replace="templates/lovappy-template :: footer"></footer>

<th:block  th:replace="templates/lovappy-template :: script"></th:block>


<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>